
// ----------------------------------------------------------------------------------------------------------
// T Y P O G R A P H Y
// ----------------------------------------------------------------------------------------------------------

h1,
h2,
h4 {
    margin: 0;
}

p {
    margin: 0;
    // font: $font-weight--normal 16px/22px $sans-serif-font-family;
    font: 16px/1.38 $sans-serif-font-family;
}

a {
    color: plt('accent');
}
