
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   1
// ----------------------------------------------------------------------------------------------------------

$cannabis-image-01--dimensions: image-dimensions('/src/img/cannabis-main-image-01.png');

// ----------------------------------------------------------------------------------------------------------

.cannabis {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: #488f4a;
    border-collapse: collapse !important;
  }

  .block-1 {
    padding: 35px 0 0;
    text-align: center;

    p {
      font: 24px/1.2 Arial, sans-serif !important;
      text-transform: uppercase;
    }

    .image {
      width: nth($cannabis-image-01--dimensions, 1) / 1.5;
      height: nth($cannabis-image-01--dimensions, 2) / 1.5;
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .block-2 {
    padding: 30px 60px 10px;
    color: #ffffff;
    text-align: center;

    p {
      font: 16px/1.2 Arial, sans-serif !important;
    }
  }

  .block-3 {
    padding: 14px 135px;
    font-weight: bold !important;

    td {
      padding: 16px 0;
      color: plt('black');
      font-size: 18px !important;
      text-align: center;
    }

    a {
      color: plt('black');
    }

    span {
      font-weight: bold !important;
    }

    .ui-real-text-button {
      width: 320px;
      height: 47px;
      border-radius: 3px;
      background-color: #ffc700;
    }
  }

  .contactus {
    padding: 15px $padding 22px;
    color: #ffffff;

    .phone {

      a {
        color: #ffffff !important;
      }

      span {
        color: #ffffff !important;
      }
    }
  }

  .block-5 {
    padding: 22px $padding 20px;
    border-top: 1px solid #dddddd;
    background-color: #f4f4f4;
    text-align: left;

    p {
      font-size: 14px !important;
      text-align: left;

      a {
        color: #000000;
        font-weight: bold;
      }
    }
  }
}
