
// ----------------------------------------------------------------------------------------------------------
// F R E E   P L A C E M E N T
// ----------------------------------------------------------------------------------------------------------

$free-placement-mainimage--dimensions: image-dimensions('/src/img/free-placement-main-image-01.png');
$free-placement-button-settings: (
  'width': 190px,
  'height': 47px,
  'font-size': 18px
);
$free-placement-button-padding: floor((map-get($free-placement-button-settings, 'height') - map-get($free-placement-button-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.free-placement {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: #ffffff;
    border-collapse: collapse !important;

    td {
      width: 100%;
    }
  }

  .main-image {
    padding: 36px 30px 26px 29px;
    background-color: plt('justia-blue');

    .image {
      width: nth($free-placement-mainimage--dimensions, 1);
      height: nth($free-placement-mainimage--dimensions, 2);
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .intro-text {
    padding: $padding $padding 23px $padding;
    color: plt('black');
    text-align: center;

    strong,
    a {
      color: plt('justia-blue');
    }

    p {
      font-size: 20px !important;
    }
  }

  .benefits {
    padding: 0 $padding 23px;
    background-color: plt('white');
    text-align: left;
    
    p {
      color: plt('black');
      text-align: left;
      line-height: 18px;
      
      strong {
        color: plt('black');
      }
    }
    
    .list-title {
      padding-bottom: 12px;
    }
    
    .item {

      td {
        padding-bottom: 24px;
      }
      
      p {
        
        img {
          display: inline-block;
          margin-top: 5px;
          margin-right: 5px;
          vertical-align: top;
        }
        
        span {
          display: inline-block;
          width: 514px;
        }
      }
      
      &:last-child {

        td {
          padding-bottom: 0;
        }
      }
    }
  }

  .ui-real-text-button {
    float: none;
    width: map-get($free-placement-button-settings, 'width');
    height: map-get($free-placement-button-settings, 'height');
    margin: 0 auto;

    a {
      padding: $free-placement-button-padding 24px;
    }

    .wrapper {
      font-size: map-get($free-placement-button-settings, 'font-size');
    }
  }

  .contactus {
    padding: 34px $padding 21px;

    .phone,
    a,
    strong {
      color: plt('justia-blue') !important;
    }
  }

  .disclaimer {
    padding: 0 30px 34px;
    text-align: center;

    p {
      font-size: 14px !important;
    }
  }

  .highlighted-block {
    padding: 25px 30px;
    border-top: 1px solid #dddddd;
    background-color: #f4f4f4;

    p {
      font-size: 14px !important;
      line-height: 1.7 !important;
    }

    a,
    strong {
      color: plt('black') !important;
    }
  }
}
