
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   2
// ----------------------------------------------------------------------------------------------------------

$goldmembership-mainimage--dimensions: image-dimensions('/src/img/goldmembership-main-image-01.png');

// ----------------------------------------------------------------------------------------------------------

.gold-membership {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: #ffffff;
    border-collapse: collapse !important;

    td {
      width: 100%;
    }

    .image {
      width: nth($goldmembership-mainimage--dimensions, 1);
      height: nth($goldmembership-mainimage--dimensions, 2);
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .intro {
    padding: 35px $padding 32px;

    p {
      font: 18px/1.5 $sans-serif-font-family !important;
    }
  }

  .button {
    text-align: center;
  }

  .ui-real-text-button {
    float: none;
    width: 230px;
    margin: 0 auto;

    a {
      padding: 14px 0 15px;
    }

    .wrapper {
      font-size: 18px;
    }
  }

  .disclaimer {

    em {
      font-size: 14px !important;
    }
  }

  .contactus {
    padding-bottom: 28px;

    a,
    strong,
    .phone {
      color: plt('justia') !important;
      font-size: 16px !important;
    }
  }

  .disclaimer,
  .button {
    padding: 0 $padding 25px;
  }

  .gray-block {
    padding: 30px $padding;
    border-top: 1px solid #dddddd;
    background-color: plt('wild-sand');

    p {
      font-size: 14px !important;
      line-height: 1.6 !important;
    }

    a {
      color: plt('black') !important;
    }
  }
}
