
// ----------------------------------------------------------------------------------------------------------
// J O B S
// ----------------------------------------------------------------------------------------------------------

$jobs-main-image--dimensions: image-dimensions('/src/img/jobs-main-image-01.png');

$button-jobs-settings: (
  'width': 190px,
  'height': 47px,
  'font-size': 18px
);

$button-jobs-padding: floor((map-get($button-jobs-settings, 'height') - map-get($button-jobs-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.jobs {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;
  }

  .main-image {
    padding: 0;
    background-color: #00095d;

    .image {
      width: nth($jobs-main-image--dimensions, 1) / 1.3;
      height: nth($jobs-main-image--dimensions, 2) / 1.3;
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .inner-content {
    width: $max-width;

    p,
    a,
    strong {
      color: plt('white');
    }

    td {
      width: 100%;
      text-align: center;
    }
  }

  .main-content {

    > table > tr > td {
      padding-right: $padding;
      padding-left: $padding;
    }
  }

  .title {
    padding-top: 34px;
    padding-bottom: 30px;
    text-align: center !important;
    
    strong {
      color: plt('justia-blue');
      font-size: 20px;
    }
  }

  .examples-text {
    padding-top: 28px;
  }

  .cta-button {
    padding-top: $padding;
    padding-bottom: 34px;
    text-align: center;
  }

  .ui-real-text-button {
    float: none;
    width: map-get($button-jobs-settings, 'width');
    height: map-get($button-jobs-settings, 'height');
    margin-right: auto;
    margin-left: auto;
  
    a {
      padding: $button-jobs-padding 0;
    }
  
    .wrapper {
      font-size: map-get($button-jobs-settings, 'font-size');
    }
  }

  .contactus {
    padding-bottom: 34px;

    .phone,
    a {
      color: plt('justia-blue') !important;
    }
  }

  .footer {
    padding-top: 25px;
    padding-bottom: 34px;
    border-top: 1px solid #dddddd;
    background-color: plt('wild-sand');
    
    p {
      font-size: 14px !important;
    }

    a {
      color: plt('black');
    }
  }
}
