
// ----------------------------------------------------------------------------------------------------------
// J O B S   L I S T I N G
// ----------------------------------------------------------------------------------------------------------

$jobs-location-pin-dimensions: 10px 14px;

$button-jobs-listing-settings: (
  'width': 109px,
  'height': 35px,
  'font-size': 12px
);

$button-jobs-listing-padding: floor((map-get($button-jobs-listing-settings, 'height') - map-get($button-jobs-listing-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.jobs-listing {
  padding-top: $padding;
  padding-bottom: 10px;

  .location-title {
    padding-bottom: 10px;
    border-bottom: 1px solid plt('justia-blue');

    strong {
      color: plt('justia-blue');
      font-size: 18px !important;
    }

    img {
      display: inline-block;
      width: nth($jobs-location-pin-dimensions, 1);
      height: nth($jobs-location-pin-dimensions, 2);
      margin-right: 10px;
    }
  }

  .location-jobs {

    tr {
      border-bottom: 1px solid #dddddd;
    }
  }

  .job-info {
    width: $inner-max-width - map-get($button-jobs-listing-settings, 'width') - 10px;
    padding-top: $padding;
    padding-bottom: $padding;
    font-size: 16px !important;

    .job-title {
      color: plt('justia-blue');
    }

    .company {
      color: #6d6e6e;
    }
  }

  .job-details-btn {
    width: map-get($button-jobs-listing-settings, 'width') + 10px;

    .ui-real-text-button {
      width: map-get($button-jobs-listing-settings, 'width');
      height: map-get($button-jobs-listing-settings, 'height');
    
      a {
        padding: $button-jobs-listing-padding 0;
      }
    
      .wrapper {
        font-size: map-get($button-jobs-listing-settings, 'font-size') !important;
      }
    }
  }
}
