// ----------------------------------------------------------------------------------------------------------
// M A I N
// ----------------------------------------------------------------------------------------------------------

$fade-background-size: image-dimensions('/src/images/fade-background-01.png');

// ----------------------------------------------------------------------------------------------------------

.main-header {
  border-bottom: 1px solid plt('mail', 'black-haze');
}

.top-container-wrapper {
  background-color: plt('wild-sand');
}

.blocks-wrapper {
  width: $max-width;
  // height: auto;
  padding: 20px $padding;
  background: image-url('fade-background-01.png');
  background-repeat: no-repeat;
  background-size: $fade-background-size;
  vertical-align: top;
}

.widget {
  width: 100%;
  background-color: plt('white');

  a {
    text-decoration: none;
  }
}

.widget-row {
  padding: 0 $padding 20px;

  &.-first {
    padding: 50px $padding 20px;
  }

  &.-last {
    padding: 0 $padding 50px;
  }
}

.widget-gap {
  width: 100%;

  td {
    padding: 20px 0 0;
    font-size: 0;
  }
}

.widget-title {
  padding: 45px $padding 35px;
  color: plt('justia-blue');
  text-align: center;

  @include mail-font($size: 32px, $line-height: 1.2, $weight: '700');
}

.widget-desc {
  padding: 0 $padding 45px;
}

.widget-button {
  padding: 0 $padding 50px;
}

.custom-button {
  padding: 13px 0;
}

.contact-list-desc,
.iconed-list-desc {
  padding: 0 $padding 20px;
}

.contact-list,
.iconed-list {
  padding: 0 $padding 50px;

  .list-item {
    padding: 0 0 30px;
    vertical-align: middle;

    &.-icon {
      width: 50px;
      text-align: left;

      img {
        @include size(30px);
        margin: 0;
      }
    }

    &.-last {
      padding: 0;
    }
  }
}
