
// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$main-image--dimensions: 600px 248px;
$sponsored-logos-config: (
  'lii': 236px 24px,
  'cornell': 168px 36px,
  'justia': 126px 38px,
  'it-chicago': 222px 24px
);

// ----------------------------------------------------------------------------------------------------------

.main-image {
  background-color: plt('white');

  .head-img {
    display: inline-block;
    width: nth($main-image--dimensions, 1);
    max-width: 100%;
    max-height: nth($main-image--dimensions, 2);
    margin: 0;
  }

  .sponsored-logos {
    padding: 13px $padding;

    td {
      width: ($inner-max-width / 2);
      max-width: ($inner-max-width / 2);
      padding: 13px 0;
      text-align: center;
    }

    a {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      width: 100%;
      margin: 0;
    }

    @each $class, $dimensions in $sponsored-logos-config {

      .#{$class} {
        width: nth($dimensions, 1);
        height: nth($dimensions, 2);
      }
    }
  }

  &--message {
    padding: 25px $padding 5px;

    a {
      text-decoration: none;
    }

    p,
    ul {
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 1.3;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      padding-left: 1em;
      font-family: 2px;
    }
  }
}
