
// ----------------------------------------------------------------------------------------------------------
// N O N - C L I E N T
// ----------------------------------------------------------------------------------------------------------

$nonclient-banner--dimensions: image-dimensions('/src/img/newyear-banner-static-01.png');

// ----------------------------------------------------------------------------------------------------------

.template-1 {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;
  }

  .animation-banner {
    width: nth($nonclient-banner--dimensions, 1);
    height: nth($nonclient-banner--dimensions, 2);
    padding: 0;
    background: url('../img/newyear-banner-static-01.png');
    background-color: plt('justia-blue');
    background-repeat: no-repeat !important;
    background-size: $nonclient-banner--dimensions;
    vertical-align: top;
  }

  .banner-gif {
    width: $max-width;

    td {
      width: 100%;
      text-align: center;
    }

    .gif-wrapper {
      padding: 0;

      .image {
        width: nth($nonclient-banner--dimensions, 1);
        height: nth($nonclient-banner--dimensions, 2);
        margin: 0 auto;
        // stylelint-disable-next-line declaration-block-no-duplicate-properties
        Margin: 0 auto;
      }
    }
  }

  .content {
    width: 100%;
    padding: 0 $padding 24px;

    p,
    a,
    strong {
      color: plt('black');
    }
  }

  .text-1 {
    padding: 35px $padding 24px;
  }

  .red-button {
    text-align: center;

    a {
      display: inline-block;
      padding: 12px 20px;
      border: 0;
      border-radius: 4px;
      margin: 0 auto;
      background-color: plt('red');
      color: plt('white') !important;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .contactus {
    padding: 0 $padding 34px;

    .phone {

      a {
        color: plt('justia-blue') !important;
      }
    }
  }
}
