
// ----------------------------------------------------------------------------------------------------------
// P L A T I N U M   P L A C E M E N T S
// ----------------------------------------------------------------------------------------------------------

$platinum-background--dimensions: image-dimensions('/src/img/platinum-background-01.png');
$platinum-mainimage--dimensions: image-dimensions('/src/img/platinum-main-image-01.png');
$platinum-animation--dimensions: image-dimensions('/src/img/platinum-animation-01.gif');
$platinum-button-settings: (
  'width': 340px,
  'height': 47px,
  'font-size': 18px
);
$platinum-button-padding: floor((map-get($platinum-button-settings, 'height') - map-get($platinum-button-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.platinum,
.gold {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;

    td {
      width: 100%;
    }

    p,
    strong,
    a {
      font-size: 21px !important;
    }
  }

  .main-image {
    padding-bottom: 12px;
    padding-left: 25px;
    border-top: 1px solid plt('gainsboro');

    img {
      width: nth($platinum-mainimage--dimensions, 1) / 1.5;
      height: nth($platinum-mainimage--dimensions, 2) / 1.5;
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .main-content {
    width: nth($platinum-background--dimensions, 1);
    height: nth($platinum-background--dimensions, 2) - 90px;
    padding: 0;
    background: url('../img/platinum-background-01.png');
    background-color: #37393a;
    background-repeat: no-repeat !important;
    background-size: $platinum-background--dimensions;
    color: plt('white');
    vertical-align: top;

    a,
    p,
    strong,
    td {
      color: plt('white');
    }
  }

  .block {
    padding: 0 $padding 25px;
    text-align: center;
  }

  .title {
    padding-top: 47px;
    padding-bottom: 17px;
    text-transform: uppercase;

    span {
      font-size: 20px;
      letter-spacing: 0.1em;
    }

    strong {
      font-size: 30px;
    }
  }

  .animation {
    padding: 0 ($max-width - nth($platinum-animation--dimensions, 1)) / 2;

    .image {

      img {
        width: nth($platinum-animation--dimensions, 1);
        height: nth($platinum-animation--dimensions, 2) / 1.5;
        margin: 0 auto;
        // stylelint-disable-next-line declaration-block-no-duplicate-properties
        Margin: 0 auto;
      }
    }

    .dvbg {
      width: nth($platinum-animation--dimensions, 1);
      height: nth($platinum-animation--dimensions, 2);
      padding: 0;
      background: url('../img/platinum-animation-bg-01.png');
      background-repeat: no-repeat !important;
      background-size: $platinum-animation--dimensions;
      vertical-align: top;
    }
  }

  .btn {
    padding-top: $padding;
  }

  .ui-real-text-button {
    float: none;
    width: map-get($platinum-button-settings, 'width');
    height: map-get($platinum-button-settings, 'height');
    margin: 0 auto;
    text-transform: uppercase;

    a {
      padding: $platinum-button-padding 0;
    }

    .wrapper {
      font-size: map-get($platinum-button-settings, 'font-size');
    }
  }

  .contactus {
    padding-bottom: $padding;
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  a[href^=tel] {
    color: plt('white') !important;
  }

  .learn-more {
    padding-top: 25px;
    padding-bottom: 34px;
    border-top: 1px solid #dddddd;
    background-color: plt('wild-sand');
    text-align: left;

    p {
      font-size: 19px !important;
    }

    a {
      color: plt('black');
    }
  }
}
