
// ----------------------------------------------------------------------------------------------------------
// P R E M I U M   P L A C E M E N T S
// ----------------------------------------------------------------------------------------------------------

$premiumplacements-mainimage--dimensions: image-dimensions('/src/img/premiumplacements-main-image-01.png');
$premiumplacements-animation-bg--dimensions: image-dimensions('/src/img/premiumplacements-animation-bg.png');
$premiumplacements-animation--dimensions: image-dimensions('/src/img/premiumplacements-animation-01.gif');
$premiumplacements-button-settings: (
  'width': 380px,
  'height': 47px,
  'font-size': 18px
);
$premiumplacements-padding: floor((map-get($premiumplacements-button-settings, 'height') - map-get($premiumplacements-button-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.premium-placements {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;

    td {
      width: 100%;
    }

    .main-image {
      width: nth($premiumplacements-mainimage--dimensions, 1);
      height: nth($premiumplacements-mainimage--dimensions, 2) + 82px;
      padding: 0;
      background: image-url('premiumplacements-main-image-01.png');
      background-repeat: no-repeat !important;
      background-size: $premiumplacements-mainimage--dimensions;
      vertical-align: top;

      .title {
        padding-top: 75px;
        text-align: center;

        strong {
          color: plt('white');
          font-size: 34px;
          font-weight: tp('weight', 'bold');
          line-height: 1.1;
        }

        a {
          color: plt('white');
          font-weight: tp('weight', 'bold');
        }
      }
    }

    .animation {
      width: 600px;
      height: nth($premiumplacements-animation-bg--dimensions, 2);
      padding: 0;
      background: image-url('premiumplacements-animation-bg.png');
      background-repeat: no-repeat !important;
      background-position: 30px top;
      background-size: $premiumplacements-animation-bg--dimensions;
      vertical-align: top;
    }

    .image {
      width: nth($premiumplacements-animation--dimensions, 1);
      height: nth($premiumplacements-animation--dimensions, 2);
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .intro-text {
    padding: 0 43px 20px;
    text-align: center;

    span {
      display: inline-block;
    }

    a {
      color: plt('black');
    }
  }

  .button {
    padding-bottom: 34px;
  }

  .ui-real-text-button {
    float: none;
    width: map-get($premiumplacements-button-settings, 'width');
    height: map-get($premiumplacements-button-settings, 'height');
    margin: 0 auto;
    // stylelint-disable-next-line declaration-block-no-duplicate-properties
    Margin: 0 auto;
  
    a {
      padding: $button-padding 0;
    }
  
    .wrapper {
      font-size: map-get($premiumplacements-button-settings, 'font-size');
    }
  }

  .contactus {
    padding-bottom: 35px;
  }

  .phone,
  .phone a,
  .phone strong {
    color: plt('justia-blue') !important;
  }

  .footer {
    padding: $padding;
    border-top: 1px solid #dddddd;
    background-color: #f4f4f4;
    
    p {
      font-size: 14px !important;
      line-height: 1.714285714 !important;
    }

    a {
      color: plt('black');
    }
  }
}
