
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   1
// ----------------------------------------------------------------------------------------------------------

$price-increase-background--dimensions: image-dimensions('/src/img/price-increase-background-02.gif');

// ----------------------------------------------------------------------------------------------------------

.price-increase {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;
  }

  .dvbg {
    width: nth($price-increase-background--dimensions, 1);
    height: nth($price-increase-background--dimensions, 2);
    padding: 0;
    background: url('../img/price-increase-background-02.gif');
    background-color: #c7e0eb;
    background-repeat: no-repeat !important;
    background-size: $price-increase-background--dimensions;
    vertical-align: top;
  }

  .inner-content {
    width: $max-width;

    p,
    a,
    strong {
      color: #06357a;
    }

    td {
      width: 100%;
      // text-align: center;
    }
  }

  .block-1 {
    padding: 145px 235px 28px $padding;

    p {
      font: 24px/1.2 Arial, sans-serif !important;
    }

    // .image {
    //   width: nth($price-increase-image-01--dimensions, 1) / 2;
    //   height: nth($price-increase-image-01--dimensions, 2) / 2;
    //   margin: 0 auto;
    //   // stylelint-disable-next-line declaration-block-no-duplicate-properties
    //   Margin: 0 auto;
    // }
  }

  .block-2 {
    padding: 0 210px 140px $padding;
    text-align: left;

    p {
      font: 20px/1.2 Arial, sans-serif !important;
    }
  }

  .block-3,
  .block-5 {
    text-align: center;

    p {
      font: 20px/1.2 Arial, sans-serif !important;
    }

    strong {
      color: #06357a;
    }
  }

  .block-3 {
    padding: 30px 100px 10px;
  }

  .block-5 {
    padding: 20px 50px 10px;
  }

  .block-4 {
    padding: 14px 92px;
    font-weight: bold !important;

    td {
      padding: 16px 0;
      color: plt('white');
      font-size: 18px !important;
      text-align: center;
    }

    a {
      color: plt('white');
    }

    span {
      font-weight: bold !important;
    }

    .ui-real-text-button {
      width: 180px;
      height: 47px;
      border-radius: 3px;
      background-color: #df1f23;
    }
  }

  .block-6 {
    padding: 20px $padding 20px;
    background-color: plt('white');
    text-align: left;

    p {
      font-size: 16px !important;
    }

    tr {
      display: block;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .star-icon {
      // display: inline-block;
      padding-top: 2px !important;
      vertical-align: top;
    }

    .list-text {
      // display: inline-block;
      vertical-align: top;
    }

    img {
      display: inline-block;
      width: image-width('src/img/premium-membership-bullet-01.png') / 1.3;
      height: image-width('src/img/premium-membership-bullet-01.png') / 1.3;
      margin-right: 10px;
      vertical-align: top;
    }

    p {
      color: plt('black');
      font-size: 16px !important;
      text-align: left;
      // line-height: px;

      strong {
        color: plt('black');
      }
    }
  }

  .contactus {
    padding: 15px $padding 22px;

    .phone {

      a {
        color: #06357a !important;
      }
    }
  }

  .block-8 {
    padding: 0 $padding 34px;

    p {
      font-size: 14px !important;
      font-style: italic !important;
    }
  }

  .block-9 {
    padding: 22px $padding 20px;
    border-top: 1px solid #dddddd;
    background-color: #f4f4f4;
    text-align: left;

    p {
      font-size: 14px !important;
      text-align: left;

      a {
        color: #000000;
        font-weight: bold;
      }
    }
  }
}
