
// ----------------------------------------------------------------------------------------------------------
// P R I C E   I N C R E A S E   R E M I N D E R
// ----------------------------------------------------------------------------------------------------------

$price-increase-reminder-background-01--dimensions: image-dimensions('/src/img/price-increase-reminder-background-01.png');
$price-increase-reminder-animation-01--dimensions: image-dimensions('/src/img/price-increase-reminder-animation-01.gif');
$price-increase-reminder-button-settings: (
  'width': 390px,
  'height': 47px,
  'font-size': 18px
);

$price-increase-reminder-button-padding: floor((map-get($price-increase-reminder-button-settings, 'height') - map-get($price-increase-reminder-button-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.price-increase-reminder {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    border-collapse: collapse !important;
  }

  .dvbg {
    width: nth($price-increase-reminder-background-01--dimensions, 1);
    height: nth($price-increase-reminder-background-01--dimensions, 2);
    padding: 0 !important;
    background: url('../img/price-increase-reminder-background-01.png');
    background-color: #083f83;
    background-repeat: no-repeat !important;
    background-size: $price-increase-reminder-background-01--dimensions;
    vertical-align: top;

    .image {
      width: nth($price-increase-reminder-animation-01--dimensions, 1) / 1.3;
      height: nth($price-increase-reminder-animation-01--dimensions, 2) / 1.3;
    }
  }

  .inner-content {
    width: $max-width;

    p,
    a,
    strong {
      color: plt('black');
    }

    td {
      width: 100%;
      text-align: center;
    }

    .image {
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .title {
    padding: 33px $padding;
    font-size: 33px;
    font-weight: tp('weight', 'bold');

    a {
      text-decoration: none;
    }

    strong {
      color: plt('justia-blue');
    }
  }

  .btn {
    padding: 0 105px;

    .ui-real-text-button {
      width: map-get($price-increase-reminder-button-settings, 'width');
      height: map-get($price-increase-reminder-button-settings, 'height');

      a {
        padding: $price-increase-reminder-button-padding 0;
      }

      .wrapper {
        font-size: map-get($price-increase-reminder-button-settings, 'font-size');
      }
    }
  }

  .contactus {
    padding-top: 35px;

    .phone {

      a {
        color: plt('justia-blue') !important;
      }
    }
  }

  .disclaimer {
    padding-top: 2px;
    padding-bottom: 37px;
    font-size: 14px;
  }

  .footer {
    padding: 25px $padding 33px;
    border-top: 1px solid #dddddd;
    background-color: plt('wild-sand');
    
    p {
      font-size: 14px !important;
      text-align: left;
      line-height: 1.7 !important;
    }
  }
}
