
// ----------------------------------------------------------------------------------------------------------
// R E S O L U T I O N   B L A S T
// ----------------------------------------------------------------------------------------------------------

$resolution-background--dimensions: image-dimensions('/src/img/resolution-background-01.png');

// ----------------------------------------------------------------------------------------------------------

.resolution-blast {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;
  }

  .dvbg {
    width: 600px;
    height: 513px;
    padding: 0;
    background: url('../img/resolution-background-01.png');
    background-color: plt('white');
    background-repeat: no-repeat !important;
    background-size: $resolution-background--dimensions;
    vertical-align: top;
  }

  .main-title {
    padding: 31px $padding 0;
    text-align: center;

    p {
      color: plt('justia-blue');
      font: 34px/1.2 'Open Sans' !important;
    }
  }

  .subtitle {
    padding: 0 75px 45px;
    text-align: center;

    p {
      color: plt('justia-blue');
      font: 18px/1.45 $sans-serif-font-family !important;
    }
  }

  .button {
    padding: 40px $padding 33px;
    text-align: center;
  }

  .ui-real-text-button {
    @include size(280px, 47px);
    border: 1px solid #ff8313;
    background-color: #ff8313;
    text-align: center;

    a {
      padding: floor((47px - 18px) / 2) 0;
      color: plt('white');

      span {
        color: plt('white');
        font-weight: tp('weight', 'bold');
      }
    }

    .wrapper {
      color: plt('white');
      font-weight: tp('weight', 'bold');
      font-size: 18px;
    }
  }

  .contactus {
    padding: 0 $padding 34px;

    .phone {

      a {
        color: plt('justia-blue') !important;
      }
    }
  }

  .main-list {
    padding: 0;
    vertical-align: top;

    .wrapper {
      padding: 0 $padding;
    }

    .thumb {
      width: 150px;
      padding: 50px 0;
      text-align: left;
      vertical-align: top;

      img {
        @include size(150px);
        display: block;
      }
    }

    .text {
      width: ($inner-max-width - 150px - 25px);
      padding: 50px 0 50px 25px;
      vertical-align: middle;

      .title {
        padding: 0 0 6px;
        color: plt('justia-blue');

        p {
          font: 18px/1.38 $sans-serif-font-family;
        }
      }
    }

    > table {
      width: 100%;

      &:nth-child(odd) .wrapper {
        background-color: #f6fcff;
      }

      &:nth-child(even) .text {
        padding: 50px 25px 50px 0;
      }
    }
  }

  .last-part {
    padding: 25px $padding 35px;
    border-top: 1px solid #dddddd;
    background-color: plt('wild-sand');

    p {
      font: 14px/1.7 $sans-serif-font-family !important;
    }

    a {
      color: plt('black') !important;
    }
  }
}
