
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   1
// ----------------------------------------------------------------------------------------------------------

$template1-background--dimensions: image-dimensions('/src/img/template1-background-01.png');
$template1-image-01--dimensions: image-dimensions('/src/img/template1-desc-01.png');

// ----------------------------------------------------------------------------------------------------------

.resolution-blast {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: #4c6b97;
    border-collapse: collapse !important;
  }

  .dvbg {
    width: nth($template1-background--dimensions, 1);
    height: nth($template1-background--dimensions, 2);
    padding: 0;
    background: url('../img/template1-background-01.png');
    background-color: #4c6b97;
    background-repeat: no-repeat !important;
    background-size: $template1-background--dimensions;
    vertical-align: top;
  }

  .inner-content {
    width: $max-width;

    p,
    a,
    strong {
      color: plt('white');
    }

    td {
      width: 100%;
      text-align: center;
    }
  }

  .block-1 {
    padding: 50px 67px 295px;

    .image {
      width: nth($template1-image-01--dimensions, 1) / 2;
      height: nth($template1-image-01--dimensions, 2) / 2;
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .block-2 {
    padding: 0 $padding 20px;
    text-align: left;

    p {
      text-align: left;
    }
  }

  .contactus {

    .phone {

      a {
        color: plt('white') !important;
      }
    }
  }
}
