
// ----------------------------------------------------------------------------------------------------------
// U N C L A I M E D
// ----------------------------------------------------------------------------------------------------------

$unclaimed-background--dimensions: image-dimensions('/src/img/unclaimed-background-01.png');

// ----------------------------------------------------------------------------------------------------------

.unclaimed {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: #ffffff;
    border-collapse: collapse !important;

    td {
      width: 100%;
    }

    .dvbg {
      background: url('../img/unclaimed-background-01.png');
      background-color: plt('justia-blue');
      background-repeat: no-repeat !important;
      background-size: $unclaimed-background--dimensions;
      vertical-align: top;
    }

    .main-image {
      padding: 156px 61px 77px 251px;
    }
  }

  .intro-text {
    padding: 45px $padding 23px;

    p {
      font: 16px/1.5 $sans-serif-font-family !important;
    }
  }

  .btn-container {
    padding: 0 186px 50px;

    .ui-real-text-button {
      width: 228px;
    }
  }

  .badge {
    padding: 50px $padding 43px;
    border: 1px solid #dddddd;
    border-width: 1px 0;
    background-color: plt('wild-sand');

    .image {
      width: 147px;
      vertical-align: top;

      img {
        width: 118px;
        height: 128px;
      }
    }

    .text {

      img {
        width: 73px;
        height: 30px;
        margin-bottom: 11px;
      }

      a {
        font-weight: tp('weight', 'bold');
        line-height: 1.5 !important;
      }
    }
  }

  .contactus {
    padding-top: 34px;
    padding-bottom: 44px;

    .phone a {
      color: plt('justia-blue') !important;
    }
  }
}
