
// ----------------------------------------------------------------------------------------------------------
// W E   M I S S   Y O U
// ----------------------------------------------------------------------------------------------------------

$we-miss-you-background--dimensions: image-dimensions('/src/img/we-miss-you-background-01.png');
$we-miss-you-desc-01--dimensions: image-dimensions('/src/img/we-miss-you-desc-01.png');
$we-miss-you-main-image-01--dimensions: image-dimensions('/src/img/we-miss-you-main-image-01.png');

// ----------------------------------------------------------------------------------------------------------

.we-miss-you {
  
  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('justia-blue');
    border-collapse: collapse !important;
  }
  
  .inner-content {
    width: $max-width;
    
    p,
    a,
    strong {
      color: plt('white');
    }
    
    td {
      width: 100%;
      text-align: center;
    }
  }

  .intro {
    padding: 42px 35px 35px 33px;

    .image {
      width: nth($we-miss-you-desc-01--dimensions, 1) / 1.3;
      height: nth($we-miss-you-desc-01--dimensions, 2) / 1.3;
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .main-image {
    padding: 0 30px 40px 28px;

    .image {
      width: nth($we-miss-you-main-image-01--dimensions, 1) / 1.3;
      height: nth($we-miss-you-main-image-01--dimensions, 2) / 1.3;
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .button-container {
    text-align: center;
  }
  
  .button {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    > tr > td {
      padding: 0 86px 40px;
    }

    a {
      display: inline-block;
      width: 362px;
      padding: 23px 33px;
      border: 0;
      border-radius: 50px;
      margin: 0 auto;
      background-color: #edaa00;
      color: #000000 !important;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
  }
  
  .benefits {
    padding: 35px $padding 33px;
    background-color: plt('white');
    text-align: left;
    
    p {
      color: plt('black');
      text-align: left;
      line-height: 18px;
      
      strong {
        color: plt('black');
      }
    }
    
    .list-title {
      padding-bottom: 24px;
    }
    
    .item {

      td {
        padding-bottom: 22px;
      }
      
      p {
        
        img {
          display: inline-block;
          margin-top: 5px;
          margin-right: 5px;
          vertical-align: top;
        }
        
        span {
          display: inline-block;
          width: 514px;
        }
      }
      
      &:last-child {

        td {
          padding-bottom: 0;
        }
      }
    }
  }

  .contactus {
    padding-bottom: 33px;
    background-color: plt('white');

    .phone {
      color: plt('justia-blue') !important;

      a {
        color: plt('justia-blue') !important;
      }
    }
  }
}
