
// ----------------------------------------------------------------------------------------------------------
// W E B S I T E   M A R K E T I N G   ( B A S E D   O N   T E M P L A T E   1 )
// ----------------------------------------------------------------------------------------------------------

$website-marketing-mobile-experience-01--dimensions: image-dimensions('/src/img/website-marketing-mobile-experience-01.png');
$website-marketing-readability-01--dimensions: image-dimensions('/src/img/website-marketing-readability-01.png');
$website-marketing-navigation-01--dimensions: image-dimensions('/src/img/website-marketing-navigation-01.png');
$website-marketing-button-settings: (
  'width': 129px,
  'height': 44px,
  'font-size': 14px
);

$website-marketing-button-padding: floor((map-get($website-marketing-button-settings, 'height') - map-get($website-marketing-button-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.website-marketing {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    border-collapse: collapse !important;
  }

  .inner-content {
    width: $max-width;

    p,
    a,
    strong {
      color: plt('justia-blue');
    }

    td {
      width: 100%;
      text-align: center;
    }

    .image {
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .title {
    padding: 11px $padding 34px;
    font-size: 28px;
    font-weight: tp('weight', 'bold');
  }

  .main-content {
    padding: 0 $padding;
  }

  .box {
    padding: 3px 3px 19px;
    border-radius: 5px;
    background-color: plt('wild-sand');

    .description {
      padding: 17px 0;
      font-size: 17px;
      text-align: center;

      strong {
        display: block;
      }
    }

    .number {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid plt('justia-blue');
      border-radius: 50%;
      line-height: 22px;
    }
  }

  .left {
    width: 265px;
    padding-right: 5px;
  }

  .right {
    width: 265px;
    padding-left: 5px;
  }

  .full {
    width: 540px;
    padding-top: 10px;
  }

  .image-container {
    border-radius: 5px;
  }

  .-mobile-experience {
    padding: 27px 60px;
    background-color: plt('orange');

    .image {
      width: nth($website-marketing-mobile-experience-01--dimensions, 1) / 1.3;
      height: nth($website-marketing-mobile-experience-01--dimensions, 2) / 1.3;
    }
  }

  .-readability {
    padding: 45px 22px;
    background-color: plt('yellow-sun');

    .image {
      width: nth($website-marketing-readability-01--dimensions, 1) / 1.3;
      height: nth($website-marketing-readability-01--dimensions, 2) / 1.3;
    }
  }

  .-navigation {
    padding: 54px 63px 46px 62px;
    background-color: plt('bright-blue');

    .image {
      width: nth($website-marketing-navigation-01--dimensions, 1) / 1.3;
      height: nth($website-marketing-navigation-01--dimensions, 2) / 1.3;
    }
  }

  .btn {
    padding: $padding 206px $padding 205px;

    .ui-real-text-button {
      width: map-get($website-marketing-button-settings, 'width');
      height: map-get($website-marketing-button-settings, 'height');

      a {
        padding: $website-marketing-button-padding 0;
      }

      .wrapper {
        font-size: map-get($website-marketing-button-settings, 'font-size');
      }
    }
  }
}
