
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   1
// ----------------------------------------------------------------------------------------------------------

$template1-background--dimensions: image-dimensions('/src/img/marketing-blue-background-01.png');
$template1-image-01--dimensions: image-dimensions('/src/img/marketing-blue-desc-01.png');

// ----------------------------------------------------------------------------------------------------------

.december-1 {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: #06357a;
    border-collapse: collapse !important;
  }

  .dvbg {
    width: nth($template1-background--dimensions, 1);
    height: nth($template1-background--dimensions, 2);
    padding: 0;
    background: url('../img/marketing-blue-background-01.png');
    background-position: center center;
    background-color: #06357a;
    background-repeat: no-repeat !important;
    background-size: $template1-background--dimensions;
    vertical-align: top;

    img {
      padding: 0 60px;
    }
  }

  .inner-content {
    width: $max-width;

    p,
    a,
    strong {
      color: plt('white');
    }

    td {
      width: 100%;
      text-align: center;
    }
  }

  .block-1 {
    padding: 50px 30px 30px;
    background-color: #06357a;

    .image {
      width: nth($template1-image-01--dimensions, 1) / 1.3;
      height: nth($template1-image-01--dimensions, 2) / 1.3;
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .button-gold-upgrade {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    > tr > td {
      padding: 30px 0;
    }

    a {
      padding: 23px 45px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold;
      display: inline-block;
      font-size: 18px;
      border: 0;
      border-radius: 50px;
      margin: 0 auto;
      background-color: #edaa00;
      color: #000000 !important;
    }
  }

  .block-2 {
    padding: 26px $padding;
    background-color: #06357a;
    text-align: center;

    p {
      text-align: center;
      line-height: 1.3 !important;
    }

    strong {
      font-size: 18px;
    }
  }

  .block-3 {
    padding: 24px $padding 20px;
    background-color: plt('white');
    text-align: left;

    tr {
      display: block;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      color: plt('black');
      text-align: left;
      line-height: 18px;

      strong {
        color: plt('black');
      }

      img {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
      }
    }
  }

  .contactus {
    background-color: plt('white');
    text-align: left !important;

    p {
      color: plt('black');
    }

    .phone {
      font-size: 16px !important;

      a {
        color: #06357a !important;
      }
    }
  }
}
