
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   1
// ----------------------------------------------------------------------------------------------------------

$premium-image-01--dimensions: image-dimensions('/src/img/premium-main-image-01.gif');

// ----------------------------------------------------------------------------------------------------------

.premium {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;
  }

  .block-1 {
    padding: 0;
    text-align: center;

    p {
      font: 24px/1.2 Arial, sans-serif !important;
      text-transform: uppercase;
    }

    .image {
      width: nth($premium-image-01--dimensions, 1);
      height: nth($premium-image-01--dimensions, 2);
      margin: 0 auto;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      Margin: 0 auto;
    }
  }

  .block-2 {
    padding: 30px 35px 0;
    color: plt('black');
    // text-align: center;

    p {
      font: 16px/1.5 Arial, sans-serif !important;
    }
  }

  .block-3 {
    padding: 0 35px 20px;
    color: plt('black');
    text-align: center;

    p {
      font: 16px/1.5 Arial, sans-serif !important;
    }
  }

  .block-4 {
    padding: 14px 136px;
    font-weight: bold !important;

    td {
      padding: 14px 0;
      color: plt('black');
      font-size: 18px !important;
      text-align: center;
    }

    a {
      color: plt('white');
    }

    span {
      font-weight: bold !important;
    }

    .ui-real-text-button {
      width: 320px;
      height: 47px;
      border-radius: 3px;
      background-color: #e2231a;
    }
  }

  .contactus {
    padding: 15px $padding 32px;
    color: plt('black');

    .phone {

      a {
        color: #09347a !important;
      }

      span {
        color: #09347a !important;
      }
    }
  }

  .block-6 {
    padding: 22px $padding 20px;
    border-top: 1px solid #dddddd;
    background-color: #f4f4f4;
    text-align: left;

    p {
      font-size: 14px !important;
      text-align: left;

      a {
        color: #000000;
        font-weight: bold;
      }
    }
  }
}
