
// ----------------------------------------------------------------------------------------------------------
// G L O B A L   R E S E T S
// ----------------------------------------------------------------------------------------------------------

body {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  background-color: plt('concrete');
  font-family: $sans-serif-font-family;
  -webkit-font-smoothing: antialiased;
}

.set-max-width {
  width: 100%;
  max-width: $max-width;
}

h1,
h2,
h4 {
  margin: 0;
  font-family: $sans-serif-font-family;
  font-weight: tp('weight', 'normal');
}

p,
ol,
ul {
  margin: 0;
  font-family: $sans-serif-font-family;
  font-size: 16px;
  font-weight: tp('weight', 'normal');
  line-height: 22px;
}

a {
  color: plt('bright-blue');
}
