
// ----------------------------------------------------------------------------------------------------------
// D I V I D E R S
// ----------------------------------------------------------------------------------------------------------

.label-divider {
  width: 100%;

  .label {
    padding: 20px 0 15px;
  }

  p {
    color: plt('black');
    font-family: $sans-serif-font-family;
    font-size: 22px;
    font-weight: tp('weight', 'bold');
    line-height: 22px;
  }
}
