
// ----------------------------------------------------------------------------------------------------------
// T Y P O G R A P H Y
// ----------------------------------------------------------------------------------------------------------

$font-weight--normal: 400;
$font-weight--bold: 700;

$sans-serif-font-family: Helvetica, Arial, sans-serif, serif;
