
// ----------------------------------------------------------------------------------------------------------
// T Y P O G R A P H Y
// ----------------------------------------------------------------------------------------------------------

$font-weight--normal: 400;
$font-weight--bold: 700;

$sans-serif-font-family: Arial, sans-serif;
$sans-serif-font-family-2: 'Arial Black', Arial, sans-serif;
$serif-font-family: TimesNewRoman, 'Times New Roman', Times, serif;
