/// Set different color schemes for the footer.
///
/// @param {map} $scheme - Color scheme.
///
@mixin set-footer-style($scheme) {
  background-color: get('background-color', $scheme);

  .footer-head {
    border-top: 1px solid get('head.border-top', $scheme);
    border-bottom: 1px solid get('head.border-bottom', $scheme);
    background-color: get('head.background-color', $scheme);
  }

  .footer-nav,
  .footer-disclaimer,
  .footer-address {

    p,
    span,
    a {
      color: get('color', $scheme);
      font: #{get('font-size', $scheme)}/1.38 $sans-serif-font-family;
    }
  }

  .footer-nav {

    p,
    span,
    a {
      color: get('nav.color', $scheme);
    }
  }

  .footer-address {

    p,
    span,
    a {
      font: get('address.font-weight', $scheme) #{get('font-size', $scheme)}/1.38 $sans-serif-font-family;
    }
  }
}

/// Sets the shorthand `font` property.
///
/// @param {number} $size [$mail-global-font-size] - Font-size value.
/// @param {number} $line-height [$mail-global-line-height] - Line-height value.
/// @param {number|string} $weight [''] - Font-weight value.
/// @param {string} $style [''] - Font-style value.
/// @param {string} $variant [''] - Font-variant value, one of `normal` or `small-caps`.
/// @param {string} $stretch [''] - Font-stretch value.
/// @param {string|list} $family [$mail-global-font-family] - Font-family, string or a list with strings.
///
@mixin mail-font($size: $mail-global-font-size, $line-height: $mail-global-line-height, $weight: '', $style: '', $variant: '', $stretch: '', $family: $mail-global-font-family) {
  $config: (
    'style': $style,
    'variant': $variant,
    'weight': $weight,
    'stretch': $stretch,
    'size': $size,
    'lineHeight': $line-height,
    'family': $family
  );

  font: shorthand-font($config);
}
