/// Set different color schemes for the footer.
///
/// @param {map} $scheme - Color scheme.
///
@mixin set-footer-style($scheme) {
  background-color: get('background-color', $scheme);

  .footer-head {
    border-top: 1px solid get('head.border-top', $scheme);
    border-bottom: 1px solid get('head.border-bottom', $scheme);
    background-color: get('head.background-color', $scheme);
  }

  .footer-nav,
  .footer-disclaimer,
  .footer-address {

    p,
    span,
    a {
      color: get('color', $scheme);
      font: #{get('font-size', $scheme)}/1.38 $sans-serif-font-family;
    }
  }

  .footer-nav {

    p,
    span,
    a {
      color: get('nav.color', $scheme);
    }
  }

  .footer-address {

    p,
    span,
    a {
      font: get('address.font-weight', $scheme) #{get('font-size', $scheme)}/1.38 $sans-serif-font-family;
    }
  }
}

/// Set font size, weight, family and line-height in a single property.
///
/// @param {string} $size [$mail-global-font-size] - `font-size`.
/// @param {string} $line-height [$mail-global-line-height] - `line-height`.
/// @param {string} $weight [''] - `font-weight`.
///
@mixin mail-font($size: $mail-global-font-size, $line-height: $mail-global-line-height, $weight: '') {
  font: #{unquote(if($weight != '', $weight, ''))} #{$size}/#{$line-height} $mail-global-font-family;
}
