// ----------------------------------------------------------------------------------------------------------
// M A I L   R E S P O N S I V E
// ----------------------------------------------------------------------------------------------------------

@media only screen and (max-width: $responsive-max-width) {

    // Distribution
    .collapse-one {
        display: block !important;
        width: 100% !important;
    }

    .dark-mode {
        background-color: #0f357b !important;
        background-size: 550px 400px !important;
    }

    // Mobile classes
    .mobile {

        &-reset {

            &-width {
                width: auto !important;
            }

            &-max-width {
                max-width: none !important;
            }

            &-height {
                height: auto !important;
            }

            &-bg-image {
                background-image: none !important;
            }
        }

        // Visual Modifiers
        &-hide {
            display: none !important;
        }

        // Align Modfiers
        &-align {

            &-center {
                margin: 0 auto !important;
                text-align: center !important;
            }

            &-right {
                text-align: right !important;
            }

            &-left {
                text-align: left !important;
            }
        }

        @for $fz from 5 to 41 {

            &-fz-#{$fz} {
                font-size: ($fz * 1px) !important;
            }
        }

        // Padding Modifiers
        &-padding {
            @include set-responsive-reseters('padding', 10px);

            &-20 {
                @include set-responsive-reseters('padding', 20px);
            }

            &-30 {
                @include set-responsive-reseters('padding', 30px);
            }

            &-50 {
                @include set-responsive-reseters('padding', 50px, false, false);
            }
        }

        &-no {

            &-margin {
                margin: 0 !important;
            }

            &-padding {
                padding: 0 !important;

                &-top {
                    padding-top: 0 !important;
                }

                &-bottom {
                    padding-bottom: 0 !important;
                }

                &-horizontal-sides {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                }
            }

            &-float {
                float: none !important;
            }

            &-border {
                border: 0 !important;
            }
        }
    }
}
