
// ----------------------------------------------------------------------------------------------------------
// M A I N   F O O T E R
// ----------------------------------------------------------------------------------------------------------

$settings: set('footer-color-scheme', (
  'v1': (
    'background-color': plt('white'),
    'footer-head': (
      'background-color': plt('justia-blue'),
      'border-top': plt('justia-blue'),
      'border-bottom': plt('justia-blue')
    )
  )
));

$settings: set('mail-footer', (
  'color-scheme': get('footer-color-scheme.v1'),
  'logo': (
    'size': (111px 29px)
  )
));

// ----------------------------------------------------------------------------------------------------------

.main-footer {
  clear: both;
  background-color: get('mail-footer.color-scheme.background-color');

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: none;
  }

  .footer-head {
    $_footer-head: get('mail-footer.color-scheme.footer-head');
    padding: 20px $padding;
    border-top: 1px solid get('border-top', $_footer-head);
    border-bottom: 1px solid get('border-bottom', $_footer-head);
    background-color: get('background-color', $_footer-head);
  }

  .fhead-wrapper {
    width: 100%;
  }

  .fhead-side {
    vertical-align: middle;

    &.-right {
      text-align: right;
    }
  }

  .logo-img {
    @include size(get('mail-footer.logo.size')...);
  }

  .footer-social {
    overflow: hidden;
  }

  .footer-navigation {

    .pipe {
      margin: 0 10px;
    }
  }
}
