{{!-- SOCIAL BELOW --}}
{{> ui-layout-hack tableStart=true }}
  <!-- justia-footer-v3 set-max-width -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="justia-footer-v3 set-max-width">
    <tr>
      <!-- logo-footernav -->
      <td class="logo-footernav" responsive="mobile-padding-horizontal-sides">
        {{> ui-spacer-hack }}
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="set-max-width">
          <tr>
            <!-- logo -->
            <td class="logo" responsive="collapse-one mobile-padding-bottom">
              <img src="{{ default.footer.logo.v3.url }}" alt="{{ default.footer.logo.v3.alt }}" border="0" responsive="mobile-align-center" />
            </td>
            <!-- footernav -->
            <td class="footernav" responsive="collapse-one mobile-align-center">
              <p>
                <a href="https://www.justia.com/marketing/" target="_blank" responsive="collapse-one mobile-padding-vertical-sides">Contact Us</a>
                <!-- vline -->
                <span class="vline" responsive="mobile-hide">|</span>
                <a href="https://www.justia.com/marketing/privacy-policy/" target="_blank" responsive="collapse-one mobile-padding-vertical-sides">Privacy Policy</a>
                <!-- vline -->
                <span class="vline" responsive="mobile-hide">|</span>
                <a href="{{{ default.unsubscribeUrl }}}" responsive="collapse-one mobile-padding-vertical-sides">Unsubscribe</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <!-- social -->
      <td class="social" responsive="mobile-padding-horizontal-sides">
        {{> ui-spacer-hack }}
        {{> social-icons classes='set-max-width' }}
      </td>
    </tr>
    <tr>
      <!-- disclaimer -->
      <td class="disclaimer" responsive="mobile-padding-horizontal-sides">
        <p>You are receiving this email because you are in the lawyer directory.</p>
      </td>
    </tr>
    <tr>
      <!-- address -->
      <td class="address" responsive="mobile-padding-horizontal-sides">
        <p>
          <!-- justia-inline --><a class="justia-inline" href="https://www.justia.com/">Justia</a> <!-- vline --><span class="vline">|</span> <span id="ios-links-black">1380 Pear Ave #2B, Mountain View, CA 94043 {{!-- <!-- vline --><span class="vline">|</span> Tel: (888) 587-8421</span> --}}
        </p>
      </td>
    </tr>
  </table>
{{> ui-layout-hack tableEnd=true }}
