
// ----------------------------------------------------------------------------------------------------------
// J U S T I A   F O O T E R   V 2
// ----------------------------------------------------------------------------------------------------------

$social-icons-v3--size: 32px !default;
$social-icons-v3--gap: 4px !default;

$footer-logo-v3-width: 111px !default;
$footer-logo-v3-height: 29px !default;

$footer-v3-font-size: 14px !default;

$footernav-v3-bg-color: plt('white') !default;
$footernav-v3-text-color: plt('justia-blue') !default;

$footer-v3-address-weight: tp('weight', 'normal') !default;

// ----------------------------------------------------------------------------------------------------------

.justia-footer-v3 {
  clear: both;
  background-color: plt('white');

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: none;
  }

  .logo-footernav {
    padding: 20px $padding;
    border-top: 1px solid plt('justia-blue');
    border-bottom: 1px solid plt('justia-blue');
    background-color: $footernav-v3-bg-color;

    table {
      width: 100%;
    }

    .logo {
      width: 25%;
      vertical-align: middle;

      img {
        display: block;
        width: $footer-logo-v3-width;
        max-width: none;
        height: $footer-logo-v3-height;
      }
    }

    .footernav {
      width: 75%;
      text-align: right;
      vertical-align: middle;

      span,
      a {
        color: $footernav-v3-text-color;
        font: #{$footer-v3-font-size}/1.38 $sans-serif-font-family;
        white-space: nowrap;
      }

      .vline {
        margin: 0 10px;
      }
    }
  }

  .social {
    overflow: hidden;
    padding: 20px $padding 10px;
    text-align: center;

    table {
      width: (($social-icons-v3--size * 4) + ($social-icons-v3--gap * 3));
      margin: 0 auto;

      td {
        width: ($social-icons-v3--size + $social-icons-v3--gap);
        height: $social-icons-v3--size;
        text-align: left;
        vertical-align: top;

        &:last-child {
          width: $social-icons-v3--size;
        }
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;

      img {
        width: $social-icons-v3--size;
        height: $social-icons-v3--size;
      }
    }
  }

  .disclaimer {
    padding: 0 $padding 5px;
    text-align: center;

    p {
      font: #{$footer-v3-font-size}/1.38 $sans-serif-font-family;
    }
  }

  .address {
    padding: 0 $padding floor($padding * 4);
    text-align: center;
    vertical-align: top;

    span,
    a {
      color: plt('black');
      font: $footer-v3-address-weight #{$footer-v3-font-size}/1.38 $sans-serif-font-family;
    }

    .justia-inline {
      font: tp('weight', 'bold') 14px/1.38 $sans-serif-font-family;
      text-transform: uppercase;
    }
  }
}
