
// ----------------------------------------------------------------------------------------------------------
// J U S T I A   H E A D E R   V 2
// ----------------------------------------------------------------------------------------------------------

$header-logo-v2-width: 500px !default;
$header-logo-v2-height: 78px !default;

// ----------------------------------------------------------------------------------------------------------

.justia-header-v2 {
  width: $max-width;
  background: plt('white');

  .logo {
    width: 100%;
    padding: 20px $padding 15px;
    text-align: center;

    .logo-img {
      display: block;
      width: $header-logo-v2-width;
      max-width: none;
      margin: 0 auto;
    }
  }
}
