
// ----------------------------------------------------------------------------------------------------------
// J U S T I A   F O O T E R   V 2
// ----------------------------------------------------------------------------------------------------------

$footer-logo-v3-width: 111px !default;
$footer-logo-v3-height: 29px !default;

$footer-v3-font-size: 14px !default;

$navigation-v3-bg-color: plt('white') !default;
$navigation-v3-text-color: plt('justia-blue') !default;

$footer-v3-address-weight: tp('weight', 'normal') !default;

// ----------------------------------------------------------------------------------------------------------

.justia-footer-v3 {

  .address {

    .justia-inline {
      font: tp('weight', 'bold') 14px/1.38 $sans-serif-font-family;
    }
  }
}
