
// ----------------------------------------------------------------------------------------------------------
// J U S T I A   F O O T E R   V 1
// ----------------------------------------------------------------------------------------------------------

$social-icons-v1--size: 32px !default;
$social-icons-v1--gap: 4px !default;

// ----------------------------------------------------------------------------------------------------------

.justia-footer-v1 {
  clear: both;
  background-color: plt('white');

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: none;
  }

  .logo-social {
    padding: 20px $padding;
    border-bottom: 1px solid plt('bright-blue');

    table {
      width: 100%;
    }

    .logo,
    .social {
      width: percentage(1 / 2);
      vertical-align: middle;
    }

    .logo {

      img {
        display: block;
        width: $header-logo-v1-width;
        max-width: none;
        height: $header-logo-v1-height;
      }
    }

    .social {
      overflow: hidden;

      table {
        width: (($social-icons-v1--size * 5) + ($social-icons-v1--gap * 4)) !important;

        td {
          width: ($social-icons-v1--size + $social-icons-v1--gap);
          height: $social-icons-v1--size;
          text-align: left;
          vertical-align: top;

          &:last-child {
            width: $social-icons-v1--size;
          }
        }
      }

      a {
        display: inline-block !important;
        vertical-align: middle;

        img {
          width: $social-icons-v1--size;
          height: $social-icons-v1--size;
        }
      }
    }
  }

  .disclaimer p,
  .address p,
  .footernav p,
  span,
  a {
    font: 14px/1.38 $sans-serif-font-family;
  }

  .disclaimer {
    padding: 40px $padding 20px;
  }

  .address {
    padding: 0 $padding 10px;
    vertical-align: top;

    span,
    a {
      color: plt('black');
    }
  }

  .footernav {
    padding: 0 $padding floor($padding * 3);
    vertical-align: top;

    span,
    a {
      color: plt('bright-blue');
    }

    .vline {
      margin: 0 10px;
    }
  }
}
