
// ----------------------------------------------------------------------------------------------------------
// J U S T I A   H E A D E R   V 1
// ----------------------------------------------------------------------------------------------------------

$header-logo-v1-width: 235px !default;
$header-logo-v1-height: 33px !default;

// ----------------------------------------------------------------------------------------------------------

.justia-header-v1 {
  background: plt('white');

  .view-in-browser {
    padding: 5px $padding;
    border-bottom: 1px solid plt('mail', 'black-haze');
    vertical-align: top;

    a {
      display: block;
      width: 100%;
      text-decoration: none;
    }
  }

  .logo-date {
    padding: ($padding / 2) $padding;
    vertical-align: middle;

    table {
      table-layout: fixed;
    }
  }

  .logo {
    width: 65%;
  }

  .date {
    width: 35%;
  }

  .logo {

    img {
      width: $header-logo-v1-width;
      max-width: 87%;
      margin: 0;
    }
  }

  .date {

    span {
      display: block;
      color: plt('black');
      font: 16px/1.25 $sans-serif-font-family;
    }
  }
}
