
// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

    a {
        display: block;
    }

    img {
        display: block;
        width: $max-width;
        max-width: 100%;
    }

    td {
        text-align: center;
    }
}

.w-jld-ad-01 {
    background-color: plt('silver');
}

.w-jld-ad-02 {
    background-color: plt('silver');
}
