// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

    &.-jobs-ad {
        border-bottom: 1px solid plt('gallery');
        background-color: #cde2e8;

        .image {

            a {
                color: #cde2e8;
            }
        }
    }
}
