// ----------------------------------------------------------------------------------------------------------
// S I M P L E   T E X T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-simple-text {

  &.-tip-month {
    background-color: plt('bright-green');

    @include change-widget-title-style(plt('white'));

    .desc {

      p,
      a {
        color: plt('white');
      }
    }
  }

  &.-jobs-newsletter {
    border-bottom: 1px solid darken(plt('alabaster'), 10);
    background-color: plt('alabaster');

    @include change-widget-title-style(plt('justia-blue'), $titleFontWeight: tp('weight', 'bold'));
  }
}

.w-did-you-know {
  background-color: plt('orange');

  @include change-widget-title-style(plt('white'));

  .main-title {
    padding: 45px $padding 20px;
  }

  .desc-text {
    padding: 0 $padding 15px;

    p,
    a {
      color: plt('white');
    }

    &.-no-button {
      padding: 0 $padding 45px;
    }
  }

  .button {
    padding: 5px $padding 45px;
  }
}
