// ----------------------------------------------------------------------------------------------------------
// B L A S T   S P E C I F I C
// ----------------------------------------------------------------------------------------------------------

.footer-disclaimer {

    p {
        span {
            display: block;
            margin-bottom: 4px;
        }
    }

    a {
        color: plt('justia-blue');

        b {
            color: plt('justia-blue');
        }
    }
}
