// ----------------------------------------------------------------------------------------------------------
// W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.widget {
    // border-bottom: 1px solid plt('mail', 'clear-gray');
    background-color: plt('white');

    // &:nth-child(odd) {
    //     background-color: plt('mail', 'clear-gray');
    // }

    a {
        color: plt('justia-blue');
    }
}

// ----------------------------------------------------------------------------------------------------------

.widget-header {
    padding: $widget-gap $padding $padding;

    .header-icon-column {
        width: 55px;
        vertical-align: middle;

        img {
            width: 55px;
        }
    }

    .header-text-column {
        padding: 0 0 0 15px;
        vertical-align: middle;
    }

    .type {
        color: plt('black');

        @include mail-font(16px, 1, tp('weight', 'normal'));
    }

    .header {
        color: plt('black');

        @include mail-font(32px, 1.2, tp('weight', 'bold'));

        a {
            color: plt('black');
        }
    }
}

// ----------------------------------------------------------------------------------------------------------

.widget-banner {
    padding: 0 $padding 35px;

    img {
        width: $inner-max-width;
    }
}

// ----------------------------------------------------------------------------------------------------------

.widget-description {
    padding: 0 $padding 25px;

    .content-title {
        @include mail-font(22px, 1.2, tp('weight', 'bold'));
        margin: 0 0 10px;
        color: plt('black');

        a {
            color: plt('justia-blue');
        }

        &.-blue {
            color: plt('justia-blue');

            a {
                color: plt('justia-blue');
            }
        }
    }

    .content-subtitle {
        @include mail-font(18px, 1.3);
        margin: 0 0 15px;
    }

    &.-no-button {
        padding: 0 $padding $widget-gap;
    }
}

// ----------------------------------------------------------------------------------------------------------

.widget-button {
    padding: 0 $padding $widget-gap;
}

// ----------------------------------------------------------------------------------------------------------

.widget-columns {

    > .wrapper {
        padding: 0 $padding 20px;

        &.-last {
            padding: 0 $padding $widget-gap;
        }
    }

    &.-articles {

        .article {

            p,
            .description {
                color: plt('black');

                a {
                    color: plt('black');
                }
            }

            .title {
                margin: 0 0 8px;
                color: plt('justia-blue');

                a {
                    color: plt('justia-blue');
                }
            }
        }
    }

    &.-with-image {

        .block-image,
        .block-image-link {

            + .block-description {
                margin: 25px 0 16px;

                &:last-child {
                    margin: 25px 0 0;
                }
            }
        }

        .block-image {
            width: 250px;
        }

        .block-title {
            @include mail-font(22px, 1.1, tp('weight', 'bold'));
            margin: 15px 0 10px;
            color: plt('black');
            a {
                color: plt('justia-blue')
            }
        }

        .block-subtitle {
            @include mail-font(18px, 1.3);
            margin: 0 0 15px;
        }

        .block-description {

            a {
                color: plt('black');
            }
        }
    }
}

.widget-date-square {
    display: block;
    width: 70px;
    padding: 7px 0;
    border: 1px solid #dddddd;
    margin: 0 20px 0 0;
    text-align: center;
    background-color: plt('white');
    color: plt('justia-blue');
}

.w-inside-justia {

    a b {
        color: plt('justia-blue');
    }
}

.w-tip-month {
    a b {
        color: plt('black');
    }
}

.w-justia-desk {
    .header-icon-column {
        width: 50px;

        img {
            width: 50px;
        }
    }
}

.w-webmaster {
    .header-icon-column {
        width: 45px;

        img {
            width: 45px;
        }
    }
}
