// ----------------------------------------------------------------------------------------------------------
// W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.widget-main-title {
    padding: 35px $padding 25px;

    .first-line {
        margin: 0 0 10px;
        color: plt('black');

        @include mail-font(16px, 1.45);
    }

    h4 {
        margin: 0 0 10px;
        color: plt('black');

        @include mail-font(18px, 1.45, get('font.weight.bold'));
    }
}
