// ----------------------------------------------------------------------------------------------------------
// W I D G E T S
// ----------------------------------------------------------------------------------------------------------

// .widget {
// }

.widget-title {
  padding: $widget-gap $padding $padding;

  .title-icon {
    width: 55px;
    vertical-align: top;

    img {
      width: 55px;
    }
  }

  .title-text {
    padding: 0 0 0 15px;
    vertical-align: top;
  }

  .type {
    color: plt('justia-blue');

    @include mail-font(16px, 1, tp('weight', 'normal'));
  }

  .title {
    color: plt('justia-blue');

    @include mail-font(32px, 1.2, tp('weight', 'bold'));

    a {
      color: plt('justia-blue');
    }
  }
}
