---
layout: responsive.hbs
subject: Legal Jobs Newsletter - <%= dateFormat.stringFull %>
---

{{>preheader text="Employment opportunities for lawyers, law students, and legal professionals. ----- "}}

{{#table class="client-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>welcome}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>content}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>jobs-listing}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>advertisement}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>ending}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
