
////
/// @group api-helpers
////


/// Force the parent container to self-clear its children.
///
/// @name j-clearfix
///
@mixin j-clearfix {
    zoom: 1;

    &::after {
        visibility: hidden;
        clear: both;
        display: block;
        height: 0;
        font-size: 0;
        content: ' ';
    }
}


// ----------------------------------------------------------------------------------------------------------
// O T H E R   M I X I N S
// ----------------------------------------------------------------------------------------------------------

@import
'mixins/mxn-typography';
