<!-- MORE ABOUT JUSTIA -->

{{#table class="about-justia set-max-width"}}
  <tr>
    <td responsive="mobile-padding-horizontal-sides">
      <p>Platinum Placements are sold on a first come first served basis. Platinum Placements may be sold out in your area. Our Marketing Specialists will be able to answer all of your questions.</p>
    </td>
  </tr>
{{/table}}
