<!-- CONTENT -->

{{#table class="w-content set-max-width"}}
  <tr>
    <td class="widget-main-title" responsive="mobile-padding-horizontal-sides">
      <h4>Hello,</h4>
    </td>
  </tr>
  <tr>
    <td class="main-content-text" responsive="mobile-padding-horizontal-sides">
      <p>Welcome to the latest issue of the Justia Legal Jobs newsletter! A couple of notes:</p>
    </td>
  </tr>
  <tr>
    <td class="main-content-list" responsive="mobile-padding-horizontal-sides">
      {{#table class="set-max-width"}}
        <tr>
          <td class="list-item-bullet">
            {{>img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet"}}
          </td>
          <td class="list-item-text">
            <p>If you apply for one of these jobs please indicate that you learned about it via Justia.</p>
          </td>
        </tr>
        <tr>
          <td class="list-item-bullet">
            {{>img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet"}}
          </td>
          <td class="list-item-text">
            <p>If your organization is hiring you can contact us at <a href="mailto:legaljobs@justia.com" target="_blank"><b>legaljobs@justia.com</b></a> for details on how your job can be included in the next issue.</p>
          </td>
        </tr>
        <tr>
          <td class="list-item-bullet">
            {{>img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet"}}
          </td>
          <td class="list-item-text">
            <p>Feel free to share this newsletter. New subscribers can sign-up <a href="https://eepurl.com/dJneqj" target="_blank"><b>here</b></a>.</p>
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
  <tr>
    <td class="main-content-text" responsive="mobile-padding-horizontal-sides">
      <p>This new service is a work in progress and we welcome your feedback at <a href="mailto:legaljobs@justia.com" target="_blank"><b>legaljobs@justia.com</b></a>.</p>
    </td>
  </tr>
  <tr>
    <td class="main-content-text-last" responsive="mobile-padding-horizontal-sides">
      <p>Best, <br>Justia Legal Jobs Team</p>
    </td>
  </tr>
{{/table}}
