<!-- ENDING -->

{{#table class="w-ending set-max-width"}}
  <tr>
    <td class="ending-text" responsive="mobile-padding-horizontal-sides">
      <p>Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="https://www.justia.com/marketing/?utm_medium=email&utm_source=legal-jobs-newsletter&utm_campaign=2018-11-14&utm_content=text-learn-more-1" target="_blank"><b>Learn More »</b></a></p>
    </td>
  </tr>
{{/table}}
