{{! ================================================================================================================= }}
{{! E V E N T S   W E   A T T E N D E D                                                                               }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-events-we-attended set-max-width"}}
  {{>widget-header
    header=eventsWeAttended.widget.header
    icon=eventsWeAttended.widget.icon
  }}

  {{!
  // TODO: Add `singleColumn` to the config when `widget-columns-with-image` is used.
  }}

  {{#if eventsWeAttended.singleColumn}}

    {{#each eventsWeAttended.columns}}

      {{>widget-banner imgSrc=this.image.src imgAlt=this.image.alt}}

      {{!--
      // TODO: Maybe move title and description to a component.
      --}}
      <tr>
        <td class="widget-description -no-button" responsive="mobile-padding-horizontal-sides">
          <h3 class="content-title">
            {{{this.blockTitle}}}
          </h3>
          {{#if this.blockSubtitle}}
            <p class="content-subtitle">
              {{{this.blockSubtitle}}}
            </p>
          {{/if}}
          {{#each this.description}}
            <p>{{{this}}}</p>
          {{/each}}
        </td>
      </tr>
    {{/each}}

  {{else}}
    {{>widget-columns-with-image widgetConfig=eventsWeAttended.columns isLast=true}}
  {{/if}}
{{/table}}
