<!-- MORE GOOGLE PARTNER -->

{{#table class="google-partner set-max-width"}}
  <tr>
    <td class="wrapper" responsive="mobile-padding-horizontal-sides">
        {{#table}}
          <tr>
            <td class="image" responsive="collapse-one">
              {{>img src="../../dist/images/google-partner.png" alt="Google Partner" responsive="mobile-align-center"}}
            </td>
            <td responsive="collapse-one mobile-padding-top">
              <p><strong>Justia is a Google Premier Partner</strong> - a distinction reserved for the <strong>top Pay Per Click agencies</strong> who have achieved a higher level of screening, certification, training and product knowledge.</p>
            </td>
          </tr>
        {{/table}}
    </td>
  </tr>
{{/table}}
