{{! ================================================================================================================= }}
{{! C L I E N T S   I N   T H E   N E W S                                                                             }}
{{! ================================================================================================================= }}

{{#table class="widget w-in-the-news set-max-width"}}
  {{>widget-header
    header=inTheNews.widget.header
    icon=inTheNews.widget.icon
  }}

  {{>widget-columns-with-image widgetConfig=inTheNews.columns}}

  <tr>
    <td class="extra-info" responsive="mobile-padding-horizontal-sides">
      <p class="no-margin">Have you or your firm been mentioned in the news recently?</p>
      <p><b><a href="mailto:newsletter-support@justia.com" target="_blank">Send us your stories!</a></b></p>
    </td>
  </tr>
{{/table}}
