<!-- JURISPRO -->

{{#table class="widget w-stories-list -jurispro set-max-width"}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      {{>widget-header section=jurispro.sectionName title=jurispro.title link=jurispro.link}}
    </td>
  </tr>

  {{>featured-story
    widgetConfig=(toObject
      description=jurispro.description
      imageLink=jurispro.link
      imageSrc=jurispro.image
      imageAlt=(sanitize jurispro.title)
    )
  }}

  <tr>
    <td class="stories-links-title" responsive="mobile-padding-horizontal-sides">
      <p><b>Recent cases involving expert witness testimony:</b></p>
    </td>
  </tr>

  {{>stories-list widgetConfig=(toObject stories=jurispro.cases isLast=false)}}

  <tr>
    <td class="extra-info -last" responsive="mobile-padding-horizontal-sides">
      <p>Learn how to research experts here: <a href="https://www.jurispro.com/ExpertWitnessWhitePaper" target="_blank">JurisPro Expert Witness White Paper</a></p>
    </td>
  </tr>
{{/table}}
