{{! ================================================================================================================= }}
{{! C L I E N T S   I N   T H E   N E W S                                                                             }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}


{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}
{{! ================================================================== }}

{{#table class="widget w-tip-month set-max-width"}}
  {{>widget-header
    header=tipMonth.widget.header
    icon=tipMonth.widget.icon
  }}

  {{>widget-columns-image-text widgetConfig=tipMonth.jld.columns}}

  {{#if @root.widgetWithButton}}
  <tr>
    <td class="widget-description" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">
        {{!
        // TODO: Move to `widget-button` component.
        }}

          <div class="widget-button">
            {{#uiButton presetStyle=widgetConfig.button.style href=widgetConfig.button.link width=widgetConfig.button.width}}
              {{widgetConfig.button.text}}
            {{/uiButton}}
          </div>
      </div>
    </td>
  </tr>
  {{/if}}

{{/table}}
