<!-- LEGAL INDUSTRY NEWS -->

{{#table class="w-stories-list -legal-industry-news set-max-width"}}
  <tr>
    <td class="main-title align-center" responsive="mobile-padding-horizontal-sides">
      {{>widget-header title="Legal Industry News"}}
    </td>
  </tr>

  {{>stories-list widgetConfig=(toObject isLast=true list=legalIndustryNews.articles)}}
{{/table}}
