<!-- DESCRIPTION -->

{{#table class="w-content set-max-width -notice"}}
  <tr>
    <td class="widget-main-title" responsive="mobile-padding-horizontal-sides">
        <h4>Latest Opportunities</h4>
        <p>The job listings are organized as follows:</p>
    </td>
  </tr>
  <tr>
    <td class="bullet-list" responsive="mobile-padding-horizontal-sides">
      {{#table class="set-max-width"}}
        <tr>
          <td class="bullet">
            {{>img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet"}}
          </td>
          <td class="text">
            <p>Jobs that have a flexible/remote location or are available in multiple cities.</p>
          </td>
        </tr>
        <tr>
          <td class="bullet">
            {{>img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet"}}
          </td>
          <td class="text">
            <p>Jobs listed by U.S. state (in alphabetical order by state)</p>
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
{{/table}}
