{{! ================================================================================================================= }}
{{! I N S I D E   J U S T I A                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-inside-justia set-max-width"}}

  {{>widget-columns-with-image widgetConfig=widgetConfig.columns}}
  {{!-- <p>{{widgetConfig.try}}</p> --}}
{{/table}}
