<!-- WELCOME MESSAGE -->

{{#table class="w-welcome set-max-width"}}
  <tr>
    {{>ui-background
      backgroundBehavior="cell"
      backgroundStart=true
      bgCellClasses="head-img"
      bgImage="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-main-image-02.jpg"
      bgColor="#063579"
      bgWidth="600"
      bgHeight="180"
    }}
      {{#table class="set-max-width"}}
        <tr>
          <td class="w-welcome--title">
            <h1>Justia Legal Jobs Newsletter</h1>
          </td>
        </tr>
      {{/table}}
    {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
  </tr>
</table>
