{{! ================================================================================================================= }}
{{! W I D G E T   -   B A N N E R                                                                                     }}
{{! ================================================================================================================= }}

{{!
 * @param {string} description - descreptive text
}}

{{! ================================================================================================================= }}
{{#table class="widget w-welcome-banner set-max-width"}}
  <tr>
    <td class="widget-description" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">
        {{#if widgetConfig.description}}
          <p class="-description"><em>{{{widgetConfig.description}}}</em></p>
        {{/if}}
      </div>
    </td>
  </tr>
{{/table}}
