{{! ================================================================================================================= }}
{{! W I D G E T   -   B A N N E R                                                                                     }}
{{! ================================================================================================================= }}

{{!
 * @param {string} imgSrc - Image path (relative or absolute).
 * @param {string} imgAlt - Image alternative text.
 * @param {string} [link] - Optional link for the banner.
 * @param {string} [widgetClass] - Optional extra CSS classes.
}}

{{! ================================================================================================================= }}

<tr>
  <td class="{{classList "widget-banner" widgetClass}}">
    {{#if link}}<a href="{{{link}}}" target="_blank">{{/if}}
      {{>img src=imgSrc alt=imgAlt}}
    {{#if link}}</a>{{/if}}
  </td>
</tr>
