// ----------------------------------------------------------------------------------------------------------
// F E A T U R E D   S I T E   O F   T H E   M O N T H
// ----------------------------------------------------------------------------------------------------------

.w-featured-site-month {

  .featured-site {

    .client-info {
      padding: 0 $padding $padding;
      text-align: center;

      .name {
        @include mail-font(22px);
        margin: 0 0 10px;

        a {
          color: plt('black');
        }
      }
    }

    .devices {
      padding: 0 $padding 45px;
      text-align: center;

      img {
        width: $featured-site--width;
        margin: 0 auto;
      }
    }
  }
}
