sftp-config.json
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions
.c9revisions
.DS_Store
*.DS_Store
sftp-config*.json
*.psd
*.ftppass
www/*/.sass-cache
www/external/*/.sass-cache
www/*/.gitignore
.bundle
www/*/.vendor
www/*/vendor/
www/*/**/bower_modules/
www/*/**/node_modules/
www/*/temp/
www/*/lib/
www/*/requirejs/vendor
www/*/psd/
www/*/css/guide.css
newsletters/node_modules/
.idea
*.scss-lint.yml
.sass-cache
*.css.map
newsletters/.ftppass