// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   -   C U S T O M   S T Y L E S
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

  // &.-client-ad-01 {}

  // &.-jld-ad-01 {}

  // &.-jld-ad-02 {}
}
