// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   -   C U S T O M   S T Y L E S
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

  &.-book,
  &.-jld-ad {

    .image {
      padding: 0;

      img {
        width: $max-width;
      }
    }
  }

  &.-jld-ad {

    .content {

      p {
        color: plt('white');
      }

      &.-idx-1 {
        padding: 6px $padding 29px;
      }
    }
  }
}
