
<!-- SOCIAL MEDIA NEWS -->

<!-- w-stories-list w-social-media-news -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list w-social-media-news set-max-width">
  <tr>
    <!-- stories-title -->
    <td class="stories-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-main-title -->
      <h2 class="widget-main-title">Social Media News</h2>
    </td>
  </tr>
  {{#forEach social_media_news.articles }}
    <tr>
      <!-- story-item -->
      <td class="story-item" responsive="mobile-padding-horizontal-sides">
        <p><strong><a href="{{ this.link }}" target="_blank">{{{ this.title }}}</a></strong></p>
        <p>{{{ this.description }}}</p>
      </td>
    </tr>
  {{/forEach}}
</table>
