
// ----------------------------------------------------------------------------------------------------------
// R E S P O N S I V E   A N D   M O B I L E   F R I E N D L Y   S T Y L E S
// ----------------------------------------------------------------------------------------------------------

$use-breakpoint: false;

@import
  'image-dimensions',
  'frontend-helpers';

@import
  'modules/functions',
  'modules/settings',
  'modules/mixins';

// ----------------------------------------------------------------------------------------------------------

@page {
  padding: 0;
  margin: 1.5cm 0;
  even-footer-name: html_Footer;
  even-header-name: html_Header;
  odd-footer-name: html_Footer;
  odd-header-name: html_Header;
  size: auto;
}

@page noheader {
  odd-footer-name: _blank;
  odd-header-name: _blank;
}

@page :first {
  even-footer-name: html_Footer;
  even-header-name: html_HeaderFirst;
  // stylelint-disable-next-line
  even-header-name: html_Header;
  odd-header-name: html_HeaderFirst;
}
