
// ----------------------------------------------------------------------------------------------------------
// U I   B U T T O N S
// ----------------------------------------------------------------------------------------------------------

$button-1--dimensions: 240px 64px;

// ----------------------------------------------------------------------------------------------------------

.ui-button {
  display: inline-block;

  img,
  a {
    display: block;
    width: (nth($button-1--dimensions, 1) / 2);
    height: (nth($button-1--dimensions, 2) / 2);
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

