// ----------------------------------------------------------------------------------------------------------
// R E A L   T E X T   B U T T O N
// ----------------------------------------------------------------------------------------------------------

$button-settings: (
  'width': 288px,
  'height': 47px,
  'font-size': 18px
);

$button-padding: floor((map-get($button-settings, 'height') - map-get($button-settings, 'font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.ui-real-text-button {
  width: map-get($button-settings, 'width');
  height: map-get($button-settings, 'height');
  border-radius: 3px;
  background-color: plt('red');

  a {
    display: block;
    padding: $button-padding 0;
    color: plt('white') !important;
    text-align: center !important;
  }

  .wrapper {
    display: inline-block;
    width: 100%;
    color: plt('white') !important;
    font-size: map-get($button-settings, 'font-size') !important;
    font-weight: tp('weight', 'bold');
    text-align: center !important;
    line-height: 1 !important;
    vertical-align: middle;
  }
}
