// ----------------------------------------------------------------------------------------------------------
// A B O U T   J U S T I A
// ----------------------------------------------------------------------------------------------------------

.about-justia {
  border-top: 1px solid plt('alto');
  background-color: plt('wild-sand');

  td {
    padding: $padding;
  }

  a {
    color: plt('black');
  }
}
