// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

    td {
        text-align: center;
    }

    .justia-logo {
        padding: 52px $padding 23px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .title {
        padding: 0 $padding 23px;
        text-transform: uppercase;

        a {
            @include mail-font(34px, 1.1);
        }
    }

    .image {
        padding: 0;

        img {
            width: 100%;
        }
    }

    .content {
        padding: 0 $padding 25px;

        .content-side {
            width: 260px;

            img {
                width: 260px;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        &.-first {
            padding: 28px $padding 20px;
            text-align: left;

            b {
                display: inline-block;
            }

            p {
                max-width: 480px;
                margin: 0 auto 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.-button {
            padding: 20px $padding 18px;
        }

        &.-last {
            padding: 0 $padding $widget-gap;
            font-size: rem-calc(18px);

            a {
                font-weight: get('font.weight.bold');
                color: plt('black');
            }
        }
    }
}
