// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {
   
    td {
        text-align: center;
    }

    .justia-logo {
        padding: 52px $padding 23px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .title {
        padding: 0 $padding 23px;
        text-transform: uppercase;

        a {
            @include mail-font(34px, 1.1);
        }
    }

    .image {
        padding: 0;

        img {
            width: 100%;
        }
    }

    .content {
        padding: 0 50px 25px;

        a strong {
            color: plt('black');
        }

        b {
            color: plt('red');
        }

        p {
            @include mail-font(18px, 1.5);
            // padding: 0 50px;
            // max-width: 500px;
            // margin: 0 auto;
        }

        .red-info {
            color: #e2231a;
            font-size: rem-calc(14px);
            vertical-align: top;
        }

        .heading4 {
            text-align: center;
            @include mail-font(22px, 1.2, 700);
            // font-size: rem-calc(22px);
            // display: block;
            // margin: 0 auto;
        }

        .subheading {
            text-align: center;
            color: plt('justia-blue');
            display: block;
            font-size: rem-calc(18px);
            // padding: 0 0 8px;
            span {
                display: inline-block;
            }
        }

        .source {
            font-size: rem-calc(14px);

            strong {
                color: plt('justia-blue');
            }
        }

        ul {
            padding: 0 0 0 55px;
            margin: 1.5em 0 2em;

            li {
                @include mail-font(18px, 1.5);
            }
        }

        .content-side {
            width: 260px;

            img {
                width: 260px;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        &.-first {
            padding: 15px 45px 28px;
            text-align: left;

            img {
                margin: 0 auto;
            }
        }

        &.-button {
            padding: 0px $padding 28px;
        }

        &.-last {
            padding: 0px 45px 60px;
        }

        b a {
            color: plt('justia-blue')!important;
            display: inline-block;
        }
    }
}

.-jld-ad-02 {
    .content {

        &.-first {
            padding: 45px 45px 28px;
        }

        &.-last {
            text-align: left;
        }
    }
}

