// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {
   
    td {
        text-align: center;
    }

    .justia-logo {
        padding: 52px $padding 23px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .-border-wrapper {
        padding: 24px 48px;

        > table {
            border-collapse: separate !important;
        }

        &.-last-bodered {
            padding: 24px 48px 48px;
        }

        .content {
            border: 1px solid plt('mercury');
            border-radius: 15px;
            padding: 24px;

            &.-last {
                padding: 24px;
            }
        }
    }

    .content {
        padding: 24px 48px;
        text-align: left;

        strong a {
            color: plt('justia-blue');
        }

        ul {
            padding-left: 23px;
            margin-top: 0;
            margin-bottom: 0;

            span {
                padding-right: 12px;
            }

        }

        p,
        ul li {
            @include mail-font(18px, 1.5);
        }

        .red-info {
            color: #e2231a;
            font-size: rem-calc(14px);
            vertical-align: top;
        }

        .heading4 {
            text-align: center;
            @include mail-font(18px, 1.2);
            // font-size: rem-calc(22px);
            display: block;
            margin: 0 auto;
        }

        .subheading {
            text-align: center;
            color: plt('justia-blue');
            display: block;
            font-size: rem-calc(18px);
            // padding: 0 0 8px;
            span {
                display: inline-block;
            }
        }

        .source {
            font-size: rem-calc(14px);

            strong {
                color: plt('justia-blue');
            }
        }

        .content-side {
            display: inline-block;
            // width: 400px;
            text-align: left;
            vertical-align: middle;

            &.-image {
                width: 30px;
                padding: 0 24px 0 0;
            }

            // &.-description p {
            //     // margin-top: 10px;
            // }

            img {
                width: 30px;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        .-inner-image-description {
            
            &:not(:first-child) {
                margin: 24px 0 0;
            }

            .content-side {
                &.-image {
                    float: none;
                    width: 50px;
                    padding: 0 24px 0 0;
                }

                img {
                    width: 50px;
                }

                &.-description {
                    display: table-cell;
                    float: none;
                    max-width: 100%;
                    width: 85%;
                    text-align: left;

                    div {
                        float: none;
                        max-width: 100%;
                    }

                    p {
                        @include mail-font(18px, 1.5);
                        display: block;
                        line-height: 30px;
                    }
                }
            }
        }

        &.-first {
            padding: 48px 48px 24px;
        }

        // &.-image-description-list {
        //     padding: 0 48px 24px;
        // }

        &.-button {
            padding: 24px $padding 15px;
            text-align: center;
        }

        &.-phone {
            padding: 0 $padding 24px;
            text-align: center;

            a {
                color: plt('black');

                b {
                    color: plt('black');
                }
            }
        }

        &.-idx-3 {
            padding: 24px 48px 0;
        }

        &.-idx-5 {
            padding: 0 48px 24px;

            .-inner-image-description td {
                text-align: left;
            }

            .content-side {
                &.-image {
                    float: none;
                    width: 112px;
                    padding: 0;
                }

                img {
                    width: 112px;
                }

                &.-description {
                    display: none;
                }
            }
        }

        a b {
            color: plt('justia-blue');
            display: inline-block;
        }
    }

    .-last-bodered {

        .-idx-8.-last {
            background-color: #efefef;
            padding: 0 5px;
            border: 6px solid #efefef;
            border-radius: 0;
            text-align: center;

            p {
                @include mail-font(14px, 1.45, 700);
            }
        }
    }

    // &.-jld-ad-01 {
    //     .content {

    //         &.-idx-2 {
    //             display: block;
    //             max-width: 235px;
    //             padding: 0 0 24px 45px;
    //             text-align: left;
    //         }
    //     }

    //     ul li {
    //         padding-bottom: 28px;    
    //     }
    // }
}