// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------
$light-gray: #F5F9FF;
// -------------------------------------------------------------------------
.w-advertisement {

    td {
        text-align: center;
    }

    .justia-logo {
        padding: 40px $padding 30px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .title {
        padding: 50px $padding 0;
        color: plt('justia-blue');
        @include mail-font(36px, 1.15, tp('weight', 'bold'));
    }


    .image {
        padding: 50px 0 0;

        img {
            width: $inner-max-width;
            // border-radius: 5px 5px 0 0;
        }
    }

    .-extra-space-above {
        padding-top: 0 !important;
    }

    .-extra-space {
        padding-bottom: 30px;
    }

    .content {
        padding: 0 $padding 25px;

        .content-side {
            width: 260px;

            img {
                width: 260px;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        &.-first {
            padding: 35px $padding 20px;
        }

        &.-button {
            padding: 0 $padding 18px;
        }

        &.-last {
            padding: 0 $padding $widget-gap;
        }
    }

    &.-missed-webinar {
        .image {
            padding: 50px 0 0;

            img {
                width: 500px;
            }
        }

        .-twebinar {
            color: plt('justia-blue');
            text-align: left;
            padding: 20px 50px 0;
            @include mail-font(18px, 1.15, tp('weight', 'bold'));
        }

        .bannerimg {
            padding: 0;

            img {
                width: 100%;
            }
        }

        .content {
            &.-first {
                padding: 10px 50px 20px;
            }

            &.-button {
                padding: 15px 50px 18px;
            }

            &.-last {
                padding: 0 50px ($widget-gap + $padding);
            }

            &.-description p {
                text-align: left;
            }
        }
    }

    &.-light-bg {
        background-color: rgba($light-gray, 1);
    }
}
