// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

    td {
        text-align: center;
    }

    .justia-logo {
        padding: 40px $padding 30px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .title {
        padding: 42px $padding 0;
        background-color: plt('justia-blue');
        color: plt('white');
        @include mail-font(36px, 1.15);

        b {
            display: block;
            @include mail-font(42px, 1.15, 700);
        }

        a {
            color: plt('white');
        }
    }

    .image {
        padding: 0 $padding;

        img {
            width: $inner-max-width;
        }
    }

    .content {
        padding: 0 $padding 25px;
        text-align: left;

        .content-side {
            width: 260px;

            img {
                width: 260px;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        &.-columns {
            padding: 0 50px 25px;
            text-align: center;
            box-shadow: inset 0px 50px 0px 0px plt('justia-blue');

            div {
                height: 200px;
                padding: $padding 15px;
                border-radius: 15px;
                width: 120px;
                float: left;
                background-color: #e2f6ff;
                background: linear-gradient(180deg, rgba(226,246,255,1) 0%, rgba(169,227,248,1) 100%);
    
                img {
                    margin: 0 auto 15px;
                }

                strong {
                    display: block;
                    color: plt('justia-blue');
                }
    
                &:first-child {
                    margin: 0 25px 0 0;
                }
    
                &:last-child {
                    float: right;
                }
            }
        }

        &.-first {
            padding: 15px $padding 34px;
        }

        &.-button {
            padding: 0 $padding 18px;
        }

        &.-last {
            padding: 0 $padding $widget-gap;
        }
    }

    .-idx-1 {
        background-color: plt('justia-blue');
        color: plt('white');

        a {
            color: plt('white');
        }
    }
}
