// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.-bottom-block {
   
    td {
        text-align: center;
    }

    .justia-logo {
        padding: 52px $padding 23px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .title {
        padding: 0 $padding 23px;
        text-transform: uppercase;

        a {
            @include mail-font(34px, 1.1);
        }
    }

    .image {
        padding: 0 0 50px;

        img {
            width: 100%;
        }
    }

    .content-wrapper {
        padding: 0 55px 50px 30px;
    }

    .content {
        padding: 0;
        color: #ffffff;

        &.-image-description > div,
        &.-description > div {
            display: block;
            // border: 1px solid #e6e6e6;
            border-radius: 10px;
            width: 100%;
            float: left;
            // padding: 20px 0 25px;

            // p {
            //     padding: 0 0 0 25px;
            // }
        }

        .blockTitle {
           @include mail-font(16px, 1.5, 700);
           display: block;
           padding-left: 20px;
           color: plt('justia-blue');
           border-left: 3px solid #00b3e3;
           margin-bottom: 18px;
           text-align: left;
        }


        p {
            @include mail-font(16px, 1.5);
            // padding: 32px 25px 50px;
            text-align: left;

            strong {
                color: plt('black');
            }
        }

        strong a {
            color: plt('justia-blue');
        }

        .red-info {
            color: #e2231a;
            font-size: rem-calc(14px);
            vertical-align: top;
        }

        .heading4 {
            text-align: left;
            @include mail-font(39px, 1.2, 700);
            // font-size: rem-calc(22px);
            display: block;
            margin: 0 auto;
        }

        .subheading {
            text-align: left;
            color: plt('justia-blue');
            display: block;
            font-size: rem-calc(18px);
            // padding: 0 0 8px;
            span {
                display: inline-block;
            }
        }

        .source {
            font-size: rem-calc(14px);

            strong {
                color: plt('justia-blue');
            }
        }

        .content-side {
            // display: inline-block;
            width: 295px;
            vertical-align: middle;
            text-align: left;

            p:not(:last-child) {
                margin: 0 0 25px;
            }

            &.-image {
                width: 220px;
                text-align: left;

                a {
                    display: block !important;
                }

                img {
                    width: 177px;
                    margin: 0 auto 0 0;
                }
            }

            &.-description {
                padding: 30px 0 0;
            }

            img.pro-label-image {
                margin: 0 0 15px 20px;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }

            .red-link,
            .red-link b {
                color: plt('red') !important;
            }
        }

        a,
        a b {
            color: plt('justia-blue');
            // display: inline-block;
        }
    }

    &.-email-3 {
        .content {
            color: plt('black');

            p {
                @include mail-font(18px, 1.5);
            }
        }
    }
}
