// ----------------------------------------------------------------------------------------------------------
// C O N T E N T   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-content {
  border-bottom: 1px solid plt('gallery');
  background-color: plt('alabaster');

  .main-content-text {
    padding: 0 $padding 25px;

    &.-last {
      padding: 0 $padding 35px;
    }
  }

  .main-content-list {
    padding: 0 $padding;

    .list-item-bullet {
      width: 25px;
      padding: 3px 0 25px;
      vertical-align: top;

      img {
        @include size(16px);
      }
    }

    .list-item-text {
      padding: 0 0 25px;
    }
  }
}
