// ----------------------------------------------------------------------------------------------------------
// C O V I D
// ----------------------------------------------------------------------------------------------------------

.w-covid-updates {

    .widget-description {
        p + p {
            margin-bottom: 5px;
        }

        p a {
            color: plt('justia-blue');

            b {
                color: plt('justia-blue');
            }
        }
    }
}
