// ----------------------------------------------------------------------------------------------------------
// W I D G E T S   -   C U S T O M   S T Y L E S
// ----------------------------------------------------------------------------------------------------------

.w-did-you-know {
  a {
    color: plt('justia-blue');
    font-weight: get('font.weight.bold');
  }
}

.w-tip-month {
  .text-image-cols {
    .content {
      width: 400px;
      vertical-align: top;
    }

    .image {
      padding-left: 25px;
      width: 125px;
      text-align: center;
    }

    img {
      max-width: 125px;
    }
  }
}
