// ----------------------------------------------------------------------------------------------------------
// W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.blast {

  a[href^=tel] {
    font-size: 18px !important;
  }

  .about-justia p {
    font-size: 14px !important;
    line-height: 1.8;
  }
}

.premium-placements {
  .main-title {
    @include mail-font(38px);
    padding-top: 35px;
    padding-bottom: 18px;
    color: plt('white');

    a {
      color: plt('white');
    }
  }

  // .main-image {
  //   .image {
  //     padding: 0 123px 24px 124px;
  //   }
  // }

  .content {
    text-align: center;

    &.-idx-1 {
      padding-bottom: 0;

      p {
        @include mail-font(20px);
        a {
          color: plt('justia-blue');
        }
      }
    }

    &.-idx-2 {
      padding-top: 5px;
    }

    &.-description {

      p,
      a {
        color: plt('black');
      }
    }
  }
}
