// ----------------------------------------------------------------------------------------------------------
// W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.blast {

    a[href^=tel] {
        font-size: 18px !important;
    }
}

.save-taxes {
    .main-title {

        p {
            @include mail-font(55px, 1.15, 'bold');
        }
    }

    .ui-background {
        background-position: center bottom;
    }

    .content {
        &.-button {
            padding-top: 10px;
        }

        &.-idx-2 {
            padding-top: 0;

            p,
            a {
                color: plt('justia-blue');
            }
        }

        &.-idx-3 {
            text-align: left;

            &.-last {
                p,
                a {
                    color: plt('black');
                }
            }
        }
    }

    &.-save-taxes-02 {

        .main-title {
            padding-bottom: 8px;
        }

        .image {
            padding-right: $padding;
        }

        .content {
            &.-idx-3 {
                background-color: #bdc9d6;
            }
        }
    }
}
