// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.main-header {
    border-bottom: 1px solid #e6e6e6;
}

.widget.w-details {

    border-bottom: 0;
    background-color: plt('white');

    td {
        text-align: center;
    }

    .widget-banner {
        padding: 0 0 grid-unit(0.4);

        img {
            width: 100%;
        }
    }

    .widget-description {
        text-align: center;

        &.-top {
            background-color: #e2ecf9;
            padding: 15px 30px 10px;
        }

        .content-title {
            margin: 10px 0 grid-unit(0.4);
            color: plt('justia-blue');
            @include mail-font(20px, 1.1, tp('weight', 'bold'));

            .display-inlineb {
                display: inline-block;
            }
        }

        > div {
            display: block;
            border: 1px solid #000;
            // border-radius: 10px;
            padding: 25px 24px 15px;
        }

        .-bottomline {
            padding: 0 0 25px;

            p,
            a {
                text-align: center;
                margin: 0;
            }
        }

        p,
        a {
            text-align: left;
        }

        a {
            color: plt('justia-blue');
            font-weight: get('font.weight.bold');
            text-decoration: underline;
        }

        p {
            margin: 0 0 grid-unit(0.5);
            color: plt('black');

            &:last-child {
                margin: 0 0 10px;
            }
        }

        .display-b {
            display: block;
        }

        .subtitle {
            @include mail-font(20px, 1.1, tp('weight', 'bold'));
            text-align: left;
            display: block;
            margin-bottom: grid-unit(0.2);
        }

        span > b {
            color: #E2231A;
        }
    }

    .button1 {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .widget-description {
        padding: 25px 50px 50px;
    }

    .-note p {
        padding: 0;
        letter-spacing: -0.5px;
        margin: 0;
        // @include mail-font(14px, 1.1);
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
    }

    .-list {
        @include mail-font(16px);
        text-align: left;
        color: plt('black');

        ul, ol {
            padding-left: 30px;
        }
    }

    .-message {
        padding: 0;
    }
}
