// ----------------------------------------------------------------------------------------------------------
// E N D I N G   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-ending {
  background-color: plt('white');

  .ending-text {
    padding: 25px $padding;

    a {
      color: plt('black');
    }

    p {
      @include mail-font(14px, 1.7);
    }
  }
}
