// ----------------------------------------------------------------------------------------------------------
// Explore Webinars  W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-explore-webinars {
    .wrapper.-last {
        padding: 0 $padding $widget-gap;
    }
    .header {
        @include mail-font(20px, 1.2, tp('weight', 'bold'));
    }
    .widget-header {
        padding-top: 0;
    }
    .title-wrapper {
        margin-bottom: 10px;
    }
    .header-text-column {
        background-image: display-none;
    }
    .-calendar-link {
        text-align: center;
        padding-top: 20px;
        @include mail-font(18px, 1.2);
    }
}
