// ----------------------------------------------------------------------------------------------------------
// C L I E N T S   I N   T H E   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-justia-deals {
    .-image-text {
        .wrapper {
            padding-bottom: grid-unit(1);
        }

        .content.-image-description {
            padding: 0 0 $padding;

            .content-side {
                &.-description {
                    p {
                        line-height: 1.6;
                    }

                    .title {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .readmore {
        display: inline-block;
    }

    .block-image {
        border: 1px solid #ddd;
    }

    /*     .wrapper {
        padding: 0 30px;

        .widget-wrapper {
            border-bottom: 0;
            border-radius: 0;
        }
    } */
}
