// ----------------------------------------------------------------------------------------------------------
// F E A T U R E D   S I T E   O F   T H E   M O N T H
// ----------------------------------------------------------------------------------------------------------

$featured-site--width: 540px;
$featured-thumb--width: 240px;
$featured-thumb-list--gap: 35px;

// ----------------------------------------------------------------------------------------------------------

// .w-featured-site-month {
// }
