// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-general-title {
    border-bottom: 0;

    .title {
        padding: 48px $padding 0;
        color: plt('justia-blue');
        text-align: center;

        a {
            @include mail-font(22px, 1.25, 700);
            display: block;
            color: plt('justia-blue');
        }

        span {
            display: block;
            font-weight: normal;
        }

        &.-decoration {
            a {

                padding: 0 0 16px;
                background: url('https://justatic.com/v/1/emails/images/newsletters/common/line-decoration-01.jpg') no-repeat center bottom;
            }
        }
    }

    &.-jld-title-02 {

        .title {
            padding: 25px $padding 10px;
            @include mail-font(33px, 1.2, 800);
            background-color: #a0c238;
            color: plt('black');
            text-transform: uppercase;

            a {
                @include mail-font(33px, 1.2, 800);
                color: plt('black');
            }
        }
    }
}
