// ----------------------------------------------------------------------------------------------------------
// C O V I D
// ----------------------------------------------------------------------------------------------------------

.w-important-news {

    .widget-header {
        .header-icon-column {
            width: 70px;

            img {
                width: 70px;
            }
        }

        .header-text-column .header {
            color: #e1221a;
        }
    }
}
