// ----------------------------------------------------------------------------------------------------------
// C L I E N T S   I N   T H E   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-in-the-news {

  .extra-info {
    padding: 0 $padding $widget-gap;
    text-align: center;
  }
}
