// ----------------------------------------------------------------------------------------------------------
// I N T E R N E T   S T A T S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-internet-stats {

    .subtitle {
        padding: 0 $padding $padding;
        text-align: center;

        p {
            @include mail-font(22px, 1.3);
            margin: 0;
        }
    }

    .chart {
        padding: 0 $padding;
        text-align: center;

        img {
            width: 540px;
        }

        &.-last {
            padding: 0 $padding $widget-gap;
        }
    }

    .description {
        padding: 0 $padding $widget-gap;
        text-align: center;

        p {
            @include mail-font(16px, 1.3);
        }

        .source {
            margin: 10px 0 25px;

            &:last-child {
                margin: 0;
            }
        }
    }
}
