// ----------------------------------------------------------------------------------------------------------
// L A W   E V E N T S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-law-events {

  .event {

    .date {
      @include mail-font(18px, 1.1, tp('weight', 'bold'));
      margin: 0 0 3px;
    }

    .type {
      @include mail-font(16px, 1.1, tp('weight', 'bold'));
    }

    .description {
      margin: 0 0 7px;
    }

    a {
      color: plt('black');
    }
  }
}
