// ----------------------------------------------------------------------------------------------------------
// L A W Y E R   Q A   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-lawyer-qa {

    .wrapper {
        padding: 0 $padding $widget-gap;
    }

    .lawyer-info {
        padding: 15px 0 0;

        .name {
            margin: 0 0 5px;
            @include mail-font(16px, 1);
        }

        .location {
            @include mail-font(14px, 1);
        }
    }
}
