// ----------------------------------------------------------------------------------------------------------
// P E O P L E   L I S T
// ----------------------------------------------------------------------------------------------------------

$ranking-number--dimensions: 25px 56px;

// ----------------------------------------------------------------------------------------------------------

.w-ranked-list {
  background-color: plt('alabaster');

  // @include change-widget-title-style(plt('white'));

  .ranking-table {
    padding: 50px $padding 30px;

    .main-title {
      padding: 20px $padding 15px;
    }
  }

  .description {
    padding: 0 $padding 15px;

    &.-no-buttom {
      padding: 0 $padding 45px;
    }
  }

  .button {
    padding: 5px $padding 45px;
  }
}
