// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

    td {
        text-align: center;
    }

    .justia-logo {
        padding: 40px $padding 30px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .title {
        padding: $widget-gap $padding 35px;
        margin: 0 0 grid-unit(0.5);
        background: image-url('title-decoration-01.png') no-repeat;
        background-position: center bottom;
        color: plt('justia-blue');

        @include mail-font(34px, 1.2, 700);

        a {
            color: plt('justia-blue');
        }
    }

    .image {
        padding: 0 $padding $widget-gap;

        img {
            width: $inner-max-width;
        }
    }

    .content {
        padding: 0 $padding-content 25px;
        text-align: left;

        .content-side {
            width: 225px;

            img {
                width: 225px;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        &.-first {
            padding: 0 $padding-content 35px;
        }

        &.-button {
            padding: 0 $padding 18px;
        }

        &.-last {
            padding: 0 $padding 45px;
        }
    }

    .-image-column {

        .content-side {
            width: 225px;

            img {
                width: 225px;
                margin: 0 auto;
            }
        }
    }

    &.-jld-ad-01,
    &.-jld-ad-02 {
        .image {
            padding: $widget-gap 0;
        }
    }

    &.-jld-ad-reminders {

        .ui-background {
            background-position: top left !important;
            padding: 75px $padding 0;
        }

        .content {
            padding: 0 $padding;
            // background-position: top !important;
            // padding: 0 25px;
            background-color: #f6fdfc;
            // background-repeat: no-repeat;
            // background-size: 550px 75px;
            // border: $padding solid plt('white');
            // border-width: 0 25px;

            p {
                color: plt('black');
                // padding: 0 0 0 20px;
                // background: image-url('list-icon-01.png') no-repeat top left;
                // background-position: 0px 6px;

                .side-title {
                    @include mail-font(28px, 1.2, 700);
                    display: none;
                    color: plt('white');
                }
            }

            // &.-first {
            //     padding: 0 $padding 35px;
            // }

            // &.-button {
            //     padding: 0 $padding 18px;
            // }

            &.-last {
                padding: 0 $padding 40px;
                border-radius: 0 0 10px 10px;
            }

            .-description {
                padding: 23px 0 0;

                p:first-child {
                    padding: 0;
                    margin: 0;
                    // background: none;
                }
            }
        }

        .content-side {
            width: 225px;

            &.-image {
                width: 215px;
                margin-top: -40px;
            }

            &.-description p:first-child {
                background-color: plt('justia-blue');
            }

            img {
                width: 215px;
            }

            &:first-child {
                float: right;
            }

            &:last-child {
                float: left;
            }

            p:first-child {
                margin: 0 0 12px;
            }
        }
    }
}
