// ----------------------------------------------------------------------------------------------------------
// S I M P L E   T E X T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-simple-text {

  .main-title {
    padding: 45px $padding 20px;
  }

  .description {
    padding: 0 $padding 45px;

    &.-with-button {

      p:last-of-type {
        margin: 0 0 20px;
      }
    }
  }
}
