// ----------------------------------------------------------------------------------------------------------
// S I M P L E   T E X T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.w-simple-text {

  .main-title {
    padding: 45px $padding 20px;
  }

  .desc {
    padding: 0 $padding 15px;

    &.-last {
      padding: 0 $padding 45px;
    }
  }

  .button {
    padding: 5px $padding 45px;
  }
}
