// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

.-stats-block {
   
    td {
        text-align: center;
    }

    .justia-logo {
        padding: 52px $padding 23px;
        text-align: center;

        img {
            width: 320px;
            margin: 0 auto;
        }
    }

    .title {
        padding: 0 $padding 23px;
        text-transform: uppercase;

        a {
            @include mail-font(34px, 1.1);
        }
    }

    .image {
        padding: 0;

        img {
            width: 100%;
        }
    }

    .content-wrapper {
        padding: 0 50px;

        .content-wrapper-table {
            tr:nth-child(odd) {
                // background-color: plt('wild-sand');

                .-image {
                    float: left;

                    img {
                        margin: 0 auto 0 25px;
                    }
                }
            }
        }

        .-statistics {
            @include mail-font(62px, 1.1, 700);
            display: block;
        }

        .-text {
            @include mail-font(20px, 1.1);
            display: block;
        }
    }

    .content {
        padding: 0 0 25px;

        &.-image-description > div {
            display: block;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            width: 100%;
            float: left;
            padding: 25px 0 25px;

            p {
                padding: 0 0 0 25px;
            }
        }

        .blockTitle {
           @include mail-font(24px, 1.5, 700);
           display: block;
           padding-left: 20px;
           color: plt('justia-blue');
           border-left: 3px solid #00b3e3;
           margin: 0 0 15px;
           text-align: left;
        }


        p {
            @include mail-font(16px, 1.5);
            // padding: 32px 25px 50px;
            text-align: left;

            strong {
                color: plt('black');
            }
        }

        strong a {
            color: plt('justia-blue');
        }

        .red-info {
            color: #e2231a;
            font-size: rem-calc(14px);
            vertical-align: top;
        }

        .heading4 {
            text-align: center;
            @include mail-font(22px, 1.2);
            // font-size: rem-calc(22px);
            display: block;
            margin: 0 auto;
        }

        .subheading {
            text-align: center;
            color: plt('justia-blue');
            display: block;
            font-size: rem-calc(18px);
            // padding: 0 0 8px;
            span {
                display: inline-block;
            }
        }

        .source {
            font-size: rem-calc(14px);

            strong {
                color: plt('justia-blue');
            }
        }

        .content-side {
            // display: inline-block;
            width: 235px;
            vertical-align: middle;
            text-align: center;

            p:not(:last-child) {
                margin: 0 0 25px;
            }

            &.-image {
                float: right;
                width: 215px;
                text-align: left;

                a {
                    display: block !important;
                    // margin: 0 auto;
                }

                img {
                    height: 100%;
                    width: auto;
                    // margin: 0 auto;
                    margin: 0 25px 0 auto;
                }
            }

            img.pro-label-image {
                margin: 0 0 15px 20px;
            }

            &.-description {
                padding: 22px 25px 0;
            }

            &:last-child {
                float: left;
            }

            .red-link,
            .red-link b {
                color: plt('red') !important;
            }
        }

        a,
        a b {
            color: plt('justia-blue');
            // display: inline-block;
        }
    }
}
