// ----------------------------------------------------------------------------------------------------------
// T E C H   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-stories-list {
  border-bottom: 1px solid plt('red');
  background-color: plt('white');

  .main-title {
    padding: 45px $padding 20px;
  }
}
