// ----------------------------------------------------------------------------------------------------------
// T R E N D I N G   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-trending-news {

    .subtitle {
        text-align: left;
        font-weight: get('font.weight.normal');
        margin: 0 0 20px;

        span {
            display: inline-block;
        }
    }
    .section {

        //title decoration with bg image
        // margin: 0 0 20px;
        padding: 0 0 20px;
        margin: 0 0 20px;
        display: block;
        color: plt('justia-blue');
        text-align: center;
        background: url('../dist/images/line-decoration.png') no-repeat center bottom;

        &:last-child {
            padding: 0;
            margin: 0;
            background: none;
        }
    }

    .title {
        @include mail-font(22px, 1.1, tp('weight', 'bold'));
        text-align: left;
        margin: 0 0 20px;
        color: plt('black');

        a {
            color: plt('black');
        }
    }

    .category {
        background-color: plt('dimgray');
        color: plt('white');
        font-weight: get('font.weight.bold');
        display: inline-block;
        padding: 4px 10px;
        border-radius: 25px;
        min-width: 50px;
        text-align: center;

        &.-blue {
            background-color: plt('justia-blue')
        }
        &.-red {
            background-color: plt('red')
        }
        &.-green {
            background-color: #00af41;
        }
        &.-orange {
            background-color: #ff6b00
        }
        &.-yellow {
            background-color:#ffc700
        }
        &.-teal {
            background-color:#3fd5ae
        }

    }

    .news {
        margin: 0 0 20px;
        text-align: left;

        &:last-child {
            margin: 0;
        }

        .via {
            display: block;
            font-style: italic;
            color: plt('black');
            // margin:0 20px;
            // @include mail-font(14px, 1.25);
        }
    }
}
