.w-tip-month {

    .widget-columns {
        &.-image-text {

            .content {
                padding: 0;

                .content-side {
                    width: auto;

                    .block-image {
                        width: 135px;
                        margin: 0 auto;
                    }

                    &:first-child {
                        width: 135px;
                        float: right;
                    }

                    &:last-child {
                        float: left;
                        width: 370px;
                    }
                }
            }
        }
        .wrapper {
            padding-bottom: 10px;
        }
    }

    .title {
        @include mail-font(18px, 1.4);
    }
}
