// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.widget.w-welcome {
    border-bottom: 0;
    background-color: plt('white');

    .widget-banner {
        padding: 0 0 grid-unit(1);

        img {
            width: 100%;
        }
    }

    .widget-description {
        text-align: center;

        &.-top {
            background-color: #e2ecf9;
            padding: 15px 30px 10px;
        }

        .content-title {
            // margin: 10px 0 grid-unit(0.4);
            color: plt('justia-blue');
            @include mail-font(38px, 1.3, tp('weight', 'bold'));

            span {
                display: inline-block;
            }
        }

        // > div {
        //     display: block;
        //     border: 1px solid #e6e6e6;
        //     border-radius: 10px;
        //     padding: 15px 25px 30px;
        // }

        p,
        a {
            text-align: left;
        }

        a {
            color: plt('justia-blue');
            font-weight: get('font.weight.bold');
        }

        p {
            margin: 0 0 grid-unit(0.5);
            color: plt('black');

            &:last-child {
                margin: 0 0;
            }
        }
    }

    .widget-button {
        text-align: center;
        padding: 10px 30px 15px;
    }
}
