// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.widget.w-welcome {
  border-bottom: 0;
  background-color: plt('mail', 'catskill-white');

  .widget-banner {
    padding: $padding $padding grid-unit(0.5);
  }

  .widget-description {
    text-align: center;

    .content-title {
      margin: 0 0 grid-unit(0.5);
      color: plt('justia-blue');

      @include mail-font(26px, 1.1, tp('weight', 'bold'));
    }

    p,
    a {
      color: plt('justia-blue');
    }

    p {
      margin: 0 0 grid-unit(0.5);

      &:last-child {
        margin: 0;
      }
    }
  }

  .widget-button {
    text-align: center;
  }
}
