// ----------------------------------------------------------------------------------------------------------
// R U T H   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-rbg {
    background-color: #0f377a;

    .container {
        padding: 25px $padding;
        height: 195px;
    }

    .title,
    .subtitle,
    .content p,
    .content a,
    .content a strong {
        color: plt('white');
    }

    .content {
        padding-top: 25px;
        padding-right: $padding;

        p {
            @include mail-font(14px);
        }

        a {
            font-weight: tp('weight', 'bold');
        }
    }

    .title {
        @include mail-font(25px, 1.3, tp('weight', 'bold'));
    }

    .subtitle {
        @include mail-font(15px, 1.3, tp('weight', 'normal'));
        font-style: italic;
    }

    .main-content {
        width: 339px;
    }

    .img,
    .img img {
        width: 211px;
    }

    .img {
        vertical-align: top;
        text-align: center;
    }
}
