// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

  td {
    text-align: center;
  }

  .justia-logo-image {
    padding: 45px $padding 30px;
    text-align: center;

    img {
      width: 320px;
      margin: 0 auto;
    }
  }

  .ad-title {
    padding: 0 $padding;

    a {
      @include mail-font(30px);
      color: plt('justia-blue');
    }
  }

  .ad-image {
    padding: 0;

    img {
      display: block;
      width: 100%;
    }
  }

  .ad-desc {
    padding: 0 $padding $padding;

    &.-last {
      padding: 0 $padding 45px;
    }
  }

  .ad-button {
    padding: 0 $padding 15px;
  }
}

.w-advertisement.-jld-ad-01 {
  background-color: plt('justia-blue');

  .ad-desc {

    p,
    a {
      color: plt('white');
    }
  }

  .justia-logo-image {

    a {
      color: plt('justia-blue');
    }
  }
}

.w-advertisement.-jld-ad-02 {
  background-color: #dcf0fe;

  .justia-logo-image {
    padding: 45px $padding 22px;
    background-color: plt('white');
  }

  .ad-title {
    padding: 0 $padding 28px;
    background-color: plt('white');

    a {
      @include mail-font(40px, 1.1);
    }
  }

  .ad-image {
    background-color: plt('white');
  }

  .ad-desc {
    padding: 35px $padding $padding;

    &.-last {
      padding: 0 $padding 45px;
    }

    &.-phone {

      p,
      a {
        color: plt('justia-blue');
      }
    }
  }
}
