// ----------------------------------------------------------------------------------------------------------
// D I D   Y O U   K N O W ?
// ----------------------------------------------------------------------------------------------------------

.w-did-you-know {
  background-color: plt('orange');

  @include change-widget-title-style(plt('white'));

  .main-title {
    padding: 45px $padding 20px;
  }

  .desc-text {
    padding: 0 $padding 15px;

    p,
    a {
      color: plt('white');
    }

    &.-no-button {
      padding: 0 $padding 45px;
    }
  }

  .button {
    padding: 5px $padding 45px;
  }
}
