// ----------------------------------------------------------------------------------------------------------
// C L I E N T S   I N   T H E   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-in-the-news {
  background-color: plt('white');

  .main-title {
    padding: 45px $padding $padding;
    text-align: center;
  }

  .news-list {
    padding: 0 $padding $padding;
    vertical-align: top;

    .logo {
      width: (150px + $padding);
      padding: $padding 0;
      text-align: left;
      vertical-align: top;

      img {
        display: block;
        width: 150px;
        max-width: floor(percentage(150px / (150px + $padding)));
        height: auto;
      }
    }

    .desc {
      width: ($inner-max-width - (150px + $padding));
      padding: $padding 0;
      vertical-align: top;
    }
  }

  .news-item {
    border-bottom: 1px solid plt('mail', 'black-haze');

    &:first-child {

      .logo,
      .desc {
        padding: 0 0 $padding;
      }
    }

    &:last-child {
      border-bottom: 0;

      .logo,
      .desc {
        padding: $padding 0 0;
      }
    }
  }

  .extra-info {
    padding: 0 $padding 45px;
    text-align: center;
  }
}
