// ----------------------------------------------------------------------------------------------------------
// L A W   E V E N T S
// ----------------------------------------------------------------------------------------------------------

.w-law-events {
  background-color: plt('bright-green');

  @include change-widget-title-style(plt('white'));

  .main-title {
    padding: 45px $padding $padding;
    text-align: center;
  }

  .event-date {
    margin: 0;
    color: plt('white');

    @include mail-font(20px, 1, tp('weight', 'bold'));
  }

  .event-desc {
    margin: 0;
    color: plt('white');
  }
}
