// ----------------------------------------------------------------------------------------------------------
// T E C H   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$featured-image--width: 150px;

// ----------------------------------------------------------------------------------------------------------

.w-stories-list {
  background-color: plt('white');

  .main-title {
    padding: 45px $padding 20px;
  }

  .featured-story {
    padding: 0 $padding 45px;

    .description {
      width: ($inner-max-width - $featured-image--width - $padding);
      text-align: left;
      vertical-align: top;

      &.-with-button p:last-of-type {
        margin: 0 0 20px;
      }
    }

    .image {
      width: ($featured-image--width + $padding);
      text-align: right;
      vertical-align: top;

      img {
        display: block;
        width: $featured-image--width;
      }
    }
  }

  .story-links-title {
    padding: 0 $padding 30px;
  }

  .story-link {
    padding: 0 $padding 20px;

    p {
      margin: 0;
    }

    &.-last {
      padding: 0 $padding 45px;
    }
  }

  .extra-info {
    padding: 10px $padding 30px;

    &.-last {
      padding: 10px $padding 45px;
    }
  }
}
