
<!-- TABLE OF CONTENT -->

<!-- widget w-table-contents -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="widget w-about set-max-width">
    <!-- widget-title -->
    <tr class="widget-title">
        <td responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">About Justia Opinion Summaries</h2>
            {{!-- <!-- widget-type-name -->
            <h4 class="widget-type-name"></h4> --}}
        </td>
    </tr>
    <!-- widget-content -->
    <tr class="widget-content">
        <td responsive="mobile-padding-horizontal-sides">
            <p>Lorem ipsum dolor sit amet, in qui reformidans instructior, affert eirmod dissentias duo id. Feugiat facilis usu in. Mea ex mollis virtute, sale velit facete ex usu. In quo natum expetendis. Feugiat facilis usu in. Mea ex mollis virtute, sale velit facete ex usu. In quo natum expetendis.</p>
        </td>
    </tr>
    <!-- widget-title -->
    <tr class="widget-title">
        <td responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">About Justia</h2>
        </td>
    </tr>
    <!-- widget-content -->
    <tr class="widget-content">
        <td responsive="mobile-padding-horizontal-sides">
            <p>Justia is an online platform that provides the community with open access to the law, legal information, and lawyers.</p>
        </td>
    </tr>
</table>