
<!-- ADVERTISEMENT -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement set-max-width">
    <tr>
        {{> background classes="dvbg" responsiveClasses="mobile-reset-width mobile-reset-height mobile-reset-bg-image" image="ad-name-background-01.png" bgcolor="#444444" dimensions="width:600px; height:300px;" bgStart=true content=true }}
            <table cellpadding="0" cellspacing="0" border="0" class="cont" responsive="collapse-one mobile-reset-height mobile-align-center">
                <tr>
                    <td class="cnt1" responsive="mobile-padding-uneven-top mobile-padding-horizontal-sides mobile-align-center">
                        <p>[extra-content]</p>
                    </td>
                </tr>
            </table>
        {{> background bgEnd=true }}
    </tr>
</table>
