{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- ADVERTISEMENT -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-ask-a-lawyer set-max-width">
    <tr>
        {{> background classes="dvbg" responsiveClasses="mobile-reset-width mobile-reset-height mobile-reset-bg-image" image="advertisement-background-01.png" bgcolor="#398ff2" dimensions="width:600px; height:370px;" bgStart=true content=true }}
            <table cellpadding="0" cellspacing="0" border="0" class="inner-table" responsive="collapse-one mobile-reset-height mobile-align-center">
                <tr>
                    <td class="cnt1 ad-title" responsive="mobile-reset-height mobile-padding-uneven-top mobile-padding-horizontal-sides mobile-align-center">
                        <p><strong>Content</strong> is needed&nbsp;<br responsive="mobile-hide"> for a strong site</p>
                    </td>
                </tr>
                <tr>
                    <td class="cnt2" responsive="mobile-reset-height mobile-padding-full">
                        <p>Too busy or prefer not to</p>
                        <p>write content yourself? </p>
                    </td>
                </tr>
                <tr>
                    <td class="cnt3" responsive="mobile-reset-height mobile-padding-full">
                        <p><a href="tel:8885878421"><img class="ad-icon" src="{{default.image_dir_src}}/ad-icon-phone-01.png" alt="Phone" border="0" /></a>&nbsp;&nbsp;Call Us Now <a href="tel:8885878421"><strong>(888) 587-8421</strong></a></p>
                    </td>
                </tr>
            </table>
        {{> background bgEnd=true }}
    </tr>
    <tr>
        <td class="cnt4" responsive="mobile-padding-full mobile-padding-uneven-bottom mobile-align-center">
            <p>We offer à la carte writing services that combine SEO best practices with your firm’s unique voice and approach to legal issues. Rest assured with an experienced legal marketing professional drafting your pages.</p>
        </td>
    </tr>
</table>
