
<!-- ADVERTISEMENT -->

<!-- w-advertisement -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement set-max-width">
    <tr>
        <td>
            <a href="{{ advertisements.clients.ad1.url }}" target="_blank"><img src="{{default.image_dir_src}}/{{ advertisements.clients.ad1.image }}" alt="{{ advertisements.clients.ad1.alt }}" border="0" /></a>
        </td>
    </tr>
</table>