
<!-- ADVERTISEMENT -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-ask-a-lawyer set-max-width">
    <tr>
        {{> background classes="dvbg" responsiveClasses="mobile-reset-width mobile-reset-height mobile-reset-bg-image" image="planning-ad-background-01.jpg" bgcolor="#f3f3f3" dimensions="width:600px; height:336px;" bgStart=true content=true }}
            <a href="mailto:support@justia.com" target="_blank">
                <table cellpadding="0" cellspacing="0" border="0" class="inner-table" responsive="collapse-one mobile-reset-height mobile-align-center mobile-reset-height">
                    <tr>
                        <td class="ad-title" responsive="mobile-reset-height mobile-padding-uneven-full mobile-align-center">
                            <p><strong>Tax Planning for 2016</strong></p>
                        </td>
                    </tr>
                </table>
            </a>
        {{> background bgEnd=true }}
    </tr>
    <tr>
        <td class="cnt-text" responsive="mobile-padding-horizontal-sides mobile-align-center">
            <p><a href="mailto:support@justia.com" target="_blank">Contact us</a> if you wish to advance your payments or purchase additional content before the end of the year as part of your tax planning.</p>
        </td>
    </tr>
</table>
