{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- ASK A LAWYER -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-ask-a-lawyer set-max-width">
    <tr>
        {{> background classes="dvbg" responsiveClasses="mobile-reset-width mobile-reset-height mobile-reset-bg-image" image="ask-a-lawyer-background-01.png" bgcolor="#398ff2" dimensions="width:600px; height:300px;" bgStart=true content=true }}
            <table cellpadding="0" cellspacing="0" border="0" class="cont" responsive="collapse-one mobile-reset-height mobile-align-center">
                <tr>
                    <td class="cnt1 ad-title" responsive="mobile-padding-uneven-top mobile-padding-horizontal-sides mobile-align-center">
                        <p>Be the first to Answer!</p>
                        <p>Get more points!</p>
                    </td>
                </tr>
                <tr>
                    <td class="cnt2" responsive="mobile-padding-uneven-full">
                        <a href="https://answers.justia.com/about-legal-answers#faq-subscriptions" target="_blank">
                            <img class="jld-button" responsive="mobile-align-center" src="{{default.image_dir_src}}/ask-a-lawyer-button-01.png" alt="Get New Questions by Email" border="0" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="cnt3" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
                        <p><strong>Justia Ask a Lawyer</strong> is a forum for consumers to get answers to basic legal questions.</p>
                    </td>
                </tr>
            </table>
        {{> background bgEnd=true }}
    </tr>
</table>
