{{!--
    No version defined becuase this module could change each month.
--}}


<!-- BECOME PREMIUM SHORT AD -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-become-premium-short set-max-width">
    <tr>
        <td class="columns">
            <table border="0" cellpadding="0" cellspacing="0" class="client-1">
                <tr>
                    <td class="image">
                        <a href="https://lawyers.justia.com/premium-placement" target="_blank"><img src="{{default.image_dir_src}}/welcome-premium-people-01.png" alt="" border="0" /></a>
                    </td>
                    <td class="desc">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="title">
                                <p><strong><a href="https://lawyers.justia.com/premium-placement" target="_blank">Get Ahead of the Competition Now!</a></strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cta">
                                    <p>Call <strong><a href="tel:8885878421" target="_blank">888.587.8421</a></strong> or <strong><a href="https://lawyers.justia.com/premium-placement" target="_blank">Click here</a></strong> to learn more about premium membership.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
