<div class="btn {{class}}">
    <a href="{{url}}" target="_blank">
        {{#if buttonWhite}}
        <img src="{{default.image_dir_src}}/white-button-01-a.png" alt="Read More" border="0" />
        {{/if}}
        {{#if buttonBlue}}
        <img src="{{default.image_dir_src}}/blue-button-01-a.png" alt="Read More" border="0" />
        {{/if}}
    </a>
</div>