
<!-- CLIENTS IN THE NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-clients-news set-max-width">
    <tr>
        <td class="clients-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title align-center">Clients in the News</h2>
        </td>
    </tr>
    <tr>
        <td class="clients-list" responsive="mobile-padding-horizontal-sides">
            <table border="0" cellpadding="0" cellspacing="0" class="client-1">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.cbc.ca/news/canada/nova-scotia/halifax-military-lawsuit-sexual-orientation-descrimination-1.3886254" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-01.png" alt="U.S. News and World Report" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p><strong>McKiggan Hebert</strong> Launches Class-Action Lawsuit on Behalf of Homosexual Members of the Canadian Forces and Employees of the Department of National Defence</p> <br>
                        {{> button moreBlue=true url="http://www.cbc.ca/news/canada/nova-scotia/halifax-military-lawsuit-sexual-orientation-descrimination-1.3886254" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-2">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.njlawjournal.com/id=1202774011189/AGs-Bid-for-Special-Master-in-Alcotest-Suits-Met-With-Pushback" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-02.png" alt="The Advertiser" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p><strong>Evan Levow</strong> Makes Front Page of NJ Law Journal, Urging Supreme Court To Scrap The Alcotest</p> <br>
                        {{> button moreBlue=true url="http://www.njlawjournal.com/id=1202774011189/AGs-Bid-for-Special-Master-in-Alcotest-Suits-Met-With-Pushback" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-3">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.attorneyatlawmagazine.com/first-coast/lawrence-law-group/" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-03.png" alt="The Daily Beast" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p><strong>The Lawrence Law Group</strong> Named Law Firm of the Month by Attorney at Law Magazine</p> <br>
                        {{> button moreBlue=true url="http://www.attorneyatlawmagazine.com/first-coast/lawrence-law-group/" }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="clients-desc" responsive="mobile-padding-horizontal-sides">
            <p>Have you or your firm been mentioned in the news recently?</p>
            <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
        </td>
    </tr>
</table>
