
<!-- CLIENTS IN THE NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-clients-news set-max-width">
    <tr>
        <td class="clients-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title align-center">Clients in the News</h2>
        </td>
    </tr>
    <tr>
        <td class="clients-list" responsive="mobile-padding-horizontal-sides">
            <table border="0" cellpadding="0" cellspacing="0" class="client-1">
                <tr>
                    <td class="news-logo">
                        <a href="http://bestlawfirms.usnews.com/profile/pillsbury-winthrop-shaw-pittman-llp/rankings/13448" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-01.png" alt="U.S. News and World Report" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Pillsbury Featured as Best Law Firm of the Year for Construction Litigation + 80 Tier 1 Practice Rankings by U.S. News</p> <br>
                        {{> button moreBlue=true url="http://bestlawfirms.usnews.com/profile/pillsbury-winthrop-shaw-pittman-llp/rankings/13448" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-2">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.theadvertiser.com/story/news/local/acadiana/2016/10/28/jury-awards-rayne-man-paralyzed-18-wheeler-30m/92899112/" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-02.png" alt="The Advertiser" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Broussard & David, LLC Obtain $30M Verdict in 18-Wheeler Accident Case, the Highest in the History of Lafayette Parish</p> <br>
                        {{> button moreBlue=true url="http://www.theadvertiser.com/story/news/local/acadiana/2016/10/28/jury-awards-rayne-man-paralyzed-18-wheeler-30m/92899112/" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-3">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.thedailybeast.com/articles/2016/11/04/jury-rules-rolling-stone-defamed-uva-dean-in-its-jackie-rape-story.html" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-03.png" alt="The Daily Beast" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Virginia Lawyer Lee Berlik Commented on the Jury Verdict in the Defamation Case by a UVA Dean Against Rolling Stone Magazine</p> <br>
                        {{> button moreBlue=true url="http://www.thedailybeast.com/articles/2016/11/04/jury-rules-rolling-stone-defamed-uva-dean-in-its-jackie-rape-story.html" }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="clients-desc" responsive="mobile-padding-horizontal-sides">
            <p>Have you or your firm been mentioned in the news recently?</p>
            <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
        </td>
    </tr>
</table>
