
<!-- CLIENTS IN THE NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-clients-news set-max-width">
    <tr>
        <td class="clients-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title align-center">Clients in the News</h2>
        </td>
    </tr>
    <tr>
        <td class="clients-list" responsive="mobile-padding-horizontal-sides">
            <table border="0" cellpadding="0" cellspacing="0" class="client-1">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.dailyprogress.com/news/local/jackie-expected-to-testify-during-two-week-trial/article_df3e86b6-9400-11e6-ae51-d31d945366df.html" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-01.png" alt="The Daily Progress" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Attorney Lee Berlik comments on the defamation lawsuit against Rolling Stone magazine over their retracted article about an alleged sexual assault at the University of Virginia.</p> <br>
                        {{> button moreBlue=true url="http://www.dailyprogress.com/news/local/jackie-expected-to-testify-during-two-week-trial/article_df3e86b6-9400-11e6-ae51-d31d945366df.html" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-2">
                <tr>
                    <td class="news-logo">
                        <a href="https://www.tapinto.net/towns/westfield/sections/law-and-justice/articles/westfield-law-firm-teams-up-with-chamber-of-comme" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-02.png" alt="TAP into Westfield" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Lindabury, McCormick, Estabrook & Cooper, P.C. became a gold sponsor of the Greater Westfield Area Chamber of Commerce’s Young Entrepreneurs Academy this October. Based in Westfield, New Jersey, the law firm donated money to the program and volunteered to work with its students in a show of support to future generations of young leaders and innovators.</p> <br>
                        {{> button moreBlue=true url="https://www.tapinto.net/towns/westfield/sections/law-and-justice/articles/westfield-law-firm-teams-up-with-chamber-of-comme" }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="clients-desc" responsive="mobile-padding-horizontal-sides">
            <p>Have you or your firm been mentioned in the news recently?</p>
            <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
        </td>
    </tr>
</table>
