
<!-- CLIENTS IN THE NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-clients-news set-max-width">
    <tr>
        <td class="clients-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title align-center">CLIENTS IN THE NEWS</h2>
        </td>
    </tr>
    <tr>
        <td class="clients-list" responsive="mobile-padding-horizontal-sides">
            <table border="0" cellpadding="0" cellspacing="0" class="client-1">
                <tr>
                    <td class="news-logo">
                        <a href="[article-url-1]" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-01.png" alt="[logo-name-1]" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p><strong>[client-name-1]</strong> [more-info-1 (Lorem ipsum dolor sit amet...)]</p> <br>
                        {{> button moreBlue=true url="[article-url-1]" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-2">
                <tr>
                    <td class="news-logo">
                        <a href="[article-url-2]" target="_blank"><img src="{{default.image_dir_src}}/clients-news-logo-02.png" alt="[logo-name-2]" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p><strong>[client-name-2]</strong> [more-info-2 (Lorem ipsum dolor sit amet...)]</p> <br>
                        {{> button moreBlue=true url="[article-url-2]" }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="clients-desc" responsive="mobile-padding-horizontal-sides">
            <p>Have you or your firm been mentioned in the news recently?</p>
            <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
        </td>
    </tr>
</table>
