
<!-- DID YOU KNOW? -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-did-you-know set-max-width">
    <tr>
        <td class="dyk-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Did you know?</h4>
            <h2 class="widget-main-title"><a href="http://law.justia.com/annotations/" target="_blank">The recently founded Abraham H. Pishevar, II, Pro Bono Legal Clinic launches at the LA Mission on Skid Row this Monday, January 9th.</a></h2>
        </td>
    </tr>
    <tr>
        <td class="dyk-desc" responsive="mobile-padding-horizontal-sides">
            <p>If you are a lawyer in the LA area, please consider volunteering on Monday evenings 5-9pm to help handle intake interviews. Additionally, if you or your firm take pro bono cases, please join! Any lawyers interested in volunteering should contact Afshin Pishevar, Esq., who will be managing the coordination of the volunteers, schedules and activities of the clinic.</p>
        </td>
    </tr>
    <tr>
        <td class="dyk-desc -extra" responsive="mobile-padding-horizontal-sides">
            <blockquote>
                <q>Together we can help keep the ripples of hope and love alive for those who reach out for help...</q>
                <p>- Afshin Pishevar</p>
            </blockquote>
        </td>
    </tr>
    <tr>
        <td class="dyk-link" responsive="mobile-padding-horizontal-sides">
            <p>Check out the <a href="https://www.facebook.com/The-Abraham-H-Pishevar-II-Pro-Bono-Clinic-at-the-LA-Mission-1326190580736190/" target="_blank"><strong>Facebook page</strong></a> for more information.</p>
        </td>
    </tr>
</table>
