
<!-- EXTRA INFO -->

<!-- w-extra-info -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-extra-info set-max-width">

    <!-- text-block first-block -->
    <tr class="text-block first-block">
        <td>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <!-- extra-info-title -->
                    <td class="extra-info-title" responsive="mobile-padding-horizontal-sides">
                        <!-- widget-main-title -->
                        <h2 class="widget-main-title">Ask a Lawyer</h2>
                    </td>
                </tr>
                <tr>
                    <!-- extra-info-content -->
                    <td class="extra-info-content" responsive="mobile-padding-horizontal-sides">
                        <p>Participate in the greater legal community — <a href="#" target="_blank"><b>Subscribe to Ask a Lawyer</b></a>.</p>
                        <br>
                        <p>Thousands of lawyers strengthen their reputations by answering legal questions from their local communities. These lawyers also receive points and increase their visibility in the Justia and LII Lawyer Directories. </p>
                        <br>
                        <p>Answering questions is even easier now with new question notifications sent directly to your email inbox. Answer first to receive more points and exposure!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- text-block -->
    <tr class="text-block">
        <td>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <!-- extra-info-title -->
                    <td class="extra-info-title" responsive="mobile-padding-horizontal-sides">
                        <!-- widget-main-title -->
                        <h2 class="widget-main-title">About Justia Blogging Ideas</h2>
                    </td>
                </tr>
                <tr>
                    <!-- extra-info-content -->
                    <td class="extra-info-content" responsive="mobile-padding-horizontal-sides">
                        <p>Justia Blogging Ideas is a newsletter offered exclusively to our Justia blog clients. Each week, we send a list of recent practice area-specific news articles from various online resources that you can write about on your own blog.</p>
                        <br>
                        <p>For additional blogging tips, please email support@justia.com to schedule a time to talk with your blog coach.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- text-block last-block -->
    <tr class="text-block last-block">
        <td>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <!-- extra-info-title -->
                    <td class="extra-info-title" responsive="mobile-padding-horizontal-sides">
                        <!-- widget-main-title -->
                        <h2 class="widget-main-title">About Justia</h2>
                    </td>
                </tr>
                <tr>
                    <!-- extra-info-content -->
                    <td class="extra-info-content" responsive="mobile-padding-horizontal-sides">
                        <p>Justia is an online platform that provides the community with open access to the law, legal information, and lawyers.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
