
<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list set-max-width">

<!-- Main tech news -->
    <tr>
        <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Featured News</h4>
            <h2 class="widget-main-title"><a href="https://onward.justia.com/2017/01/05/2016-changed-online-marketing-2017-will-bring/" target="_blank">How 2016 Changed Online Marketing, and What 2017 Will Bring</a></h2>
        </td>
    </tr>

    <tr>
        <td class="main-story-desc" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="story-desc" responsive="collapse-one">
                        <p>2016 was an eventful year in online marketing, and 2017 promises to introduce even more changes. From Google's spam filter update to the push for increased security through HTTPS, one of Justia’s engineers takes a look back at the landscape of SEO last year and offers thoughts on what to expect in 2017 on our Legal Marketing and Technology Blog.</p>
                        <br>
                        {{> button moreBlue=true url="https://onward.justia.com/2017/01/05/2016-changed-online-marketing-2017-will-bring/" }}
                    </td>
                    <td class="featured-image" responsive="mobile-hide collapse-one">
                        <a href="https://onward.justia.com/2017/01/05/2016-changed-online-marketing-2017-will-bring/" target="_blank"><img src="{{default.image_dir_src}}/tech-news-01.png" alt="How 2016 Changed Online Marketing, and What 2017 Will Bring" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
