
<!-- FEATURED SITE OF THE MONTH -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-feaured-site set-max-width">
    <tr>
        <td class="featured-site-title" responsive="mobile-padding-horizontal-sides">
            <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" responsive="mobile-hide" border="0" />
            <h2 class="widget-main-title">Featured Site of the Month</h2>
        </td>
    </tr>
    <tr>
        <td class="featured-client" responsive="mobile-padding-horizontal-sides">
            <p><a href="https://www.maurerlawpa.com/" target="_blank" class="client-url">Maurer Law</a></p>
        </td>
    </tr>
    <tr>
        <td class="featured-desc" responsive="mobile-padding-horizontal-sides">
            <p>in Raleigh&nbsp;<br responsive="mobile-hide"> just recently launched their Justia website:</p>
            <p><a href="https://www.maurerlawpa.com/" target="_blank">maurerlawpa.com</a></p>
        </td>
    </tr>
    <tr>
        <td class="featured-img" responsive="mobile-padding-horizontal-sides">
            <a href="https://www.maurerlawpa.com/" target="_blank"><img src="{{default.image_dir_src}}/featured-site-01-a.jpg" alt="Maurer Law" border="0" /></a>
        </td>
    </tr>
</table>
