
<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list set-max-width">

<!-- Main tech news -->
    <tr>
        <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Featured News</h4>
            <h2 class="widget-main-title"><a href="https://onward.justia.com/2016/10/04/google-assistant-battle/" target="_blank">Google Assistant Joins Siri, Alexa, and Cortana as Newest Voice-Activated Personal Assistant</a></h2>
        </td>
    </tr>

    <tr>
        <td class="main-story-desc" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="story-desc" responsive="collapse-one">
                        <p>As voice search becomes more prevalent, Google has joined Apple, Amazon, and Microsoft in the race to develop the best voice-activated personal assistant. Featured on Justia’s <a href="https://onward.justia.com/" target="_blank">Onward</a> blog, this post provides an overview of how this new technology works, how it stacks up with competitors, and what it means for your site’s SEO.</p>
                        <br>
                        {{> button moreBlue=true url="https://onward.justia.com/2016/10/04/google-assistant-battle/" }}
                    </td>
                    <td class="featured-image" responsive="mobile-hide collapse-one">
                        <a href="https://onward.justia.com/2016/10/04/google-assistant-battle/" target="_blank"><img src="{{default.image_dir_src}}/tech-news-01.png" alt="Voice Technology and the Evolution of Search" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
