
<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list set-max-width">

<!-- Main tech news -->
    <tr>
        <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Featured News</h4>
            <h2 class="widget-main-title"><a href="https://onward.justia.com/2016/11/01/structured-data/" target="_blank">Teaching the Robots to Read: Structured Data for the Semantic Web</a></h2>
        </td>
    </tr>

    <tr>
        <td class="main-story-desc" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="story-desc" responsive="collapse-one">
                        <p>Since the advent of search engines, machines have evolved from simply indexing the content on your website to actually reading and understanding your content in order to provide more precise answers to user queries. On our <a href="https://onward.justia.com/" target="_blank">Onward</a> blog, one of Justia’s own engineers explains the role of structured data in this process, and how it is critical for your webmaster to understand how it impacts your site’s SEO.</p>
                        <br>
                        {{> button moreBlue=true url="https://onward.justia.com/2016/11/01/structured-data/" }}
                    </td>
                    <td class="featured-image" responsive="mobile-hide collapse-one">
                        <a href="https://onward.justia.com/2016/11/01/structured-data/" target="_blank"><img src="{{default.image_dir_src}}/tech-news-01.png" alt="Voice Technology and the Evolution of Search" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
