{{!--
    Version: 1.0.0
--}}


<!-- widget headline -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="widget set-max-width">
    <tr>
        <td>
            <table class="headline" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="label align-center">
                        <p>{{ text }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
