
<!-- INTERNET STATS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-internet-stats set-max-width">
    <tr>
        <td class="stats-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Internet Stats</h2>
        </td>
    </tr>
    <tr>
        <td class="stats-desc-head align-center" responsive="mobile-padding-horizontal-sides">
            <p class="line1">Search is the most common starting point&nbsp;<br responsive="mobile-hide"> for mobile research</p>
        </td>
    </tr>
    <tr>
        <td class="stats-chart" responsive="mobile-padding-horizontal-sides">
            <a href="http://www.smartinsights.com/mobile-marketing/mobile-marketing-analytics/mobile-marketing-statistics/" target="_blank"><img src="{{default.image_dir_src}}/internet-stats-01.png" alt="Mobile & tablet internet usage exceeds desktop for first time worldwide" /></a>
        </td>
    </tr>
    {{!-- <tr>
        <td class="stats-desc" responsive="mobile-padding-horizontal-sides">
            <p><strong>Search is the most common starting point&nbsp;<br responsive="mobile-hide"> for mobile research</strong></p>
            <!-- <p><em>Source: <a href="http://gs.statcounter.com/" target="_blank">StatCounter Global Stats</a></em></p> -->
        </td>
    </tr> --}}
</table>
