
<!-- INTERNET STATS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-internet-stats set-max-width">
    <tr>
        <td class="stats-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Internet Stats</h2>
        </td>
    </tr>
    <tr>
        <td class="stats-piechart" responsive="mobile-padding-horizontal-sides">
            <a href="http://www.adweek.com/socialtimes/heres-how-many-people-are-on-facebook-instagram-twitter-other-big-social-networks/637205" target="_blank"><img src="{{default.image_dir_src}}/piechart-01.png" alt="How Many People Are on Facebook, Instagram, Twitter and Other Big Social Networks" /></a>
        </td>
    </tr>
    <tr>
        <td class="stats-desc" responsive="mobile-padding-horizontal-sides">
            <p>Social networks by monthly active users</p>
        </td>
    </tr>
</table>
