{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- INTERNET STATS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-internet-stats set-max-width">
    <tr>
        <td class="stats-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Internet Stats</h2>
        </td>
    </tr>
    <tr>
        <td class="stats-piechart" responsive="mobile-padding-horizontal-sides">
            <a href="https://www.statista.com/chart/4112/smartphone-platform-market-share/" target="_blank"><img src="{{default.image_dir_src}}/piechart-01.png" alt="Android, iOS, Windows" /></a>
        </td>
    </tr>
    {{!-- <tr>
        <td class="stats-desc" responsive="mobile-padding-horizontal-sides">
            <p>% Browser Market Share</p>
        </td>
    </tr> --}}
</table>
