
<!-- INTRODUCTION -->

<!-- widget w-introduction -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="widget w-introduction set-max-width">
    <!-- widget-content -->
    <tr class="widget-content">
        <td responsive="mobile-padding-horizontal-sides">
            <!-- content-link-desc -->
            <p class="content-link-desc">The Court will be back in session and start a new term on Monday, October 2, 2017. One much-anticipated case, <a href="https://www.oyez.org/cases/2017/16-1161">Gill v. Whitford</a>, will be argued on Tuesday. It concerns voting rights and gerrymandered districts in Wisconsin, and the Court’s decision could have a broad impact on voting rights in the United States. Read more about the case here: </p><br />

            <p class="content-link-desc">“<a href="https://www.nytimes.com/2017/06/19/us/politics/justices-to-hear-major-challenge-to-partisan-gerrymandering.html?_r=0">Justices to Hear Major Challenge to Partisan Gerrymandering</a>,” New York Times, June 19, 2017.</p><br/ >

            <p class="content-link-desc">Another case, <a href="https://www.oyez.org/cases/2017/16-1436">Trump v. International Refugee Assistance Project</a>, was originally scheduled for oral argument on Tuesday, October 10, but due to the proclamation filed by the administration on September 24, the argument was removed from the schedule, and the parties were instructed to file briefs addressing whether any of the issues presented in that case are now moot.</p><br />

            <p class="content-link-desc">With issues that often evenly divide the Court along conservative and liberal lines, it is likely that Justice <a href="https://www.economist.com/blogs/democracyinamerica/2017/08/swing-time">Anthony Kennedy’s vote</a> may determine the outcome of many of the high-profile cases this term.</p>
        </td>
    </tr>
</table>
