
<!-- ADVERTISEMENT -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-jld-advertisement-01 set-max-width">
    <tr>
        <td>
            <a href="https://marketing.justia.com/contact/audit" target="_blank"><img src="{{default.image_dir_src}}/seo-report-image-01.jpg" alt="SEO Report Analysis" border="0" /></a>
        </td>
        {{!-- {{> background classes="dvbg" responsiveClasses="mobile-reset-width mobile-reset-height mobile-reset-bg-image" image="ask-a-lawyer-background-01.png" bgcolor="#0a56c6" dimensions="width:600px; height:228px;" bgStart=true content=true }}
            <table cellpadding="0" cellspacing="0" border="0" class="cont" responsive="collapse-one mobile-reset-height mobile-align-center">
                <tr>
                    <td class="cnt1 ad-title" responsive="mobile-padding-uneven-top mobile-padding-horizontal-sides mobile-align-center">
                        <p>Be the first to Answer!</p>
                        <p>Get more points!</p>
                    </td>
                </tr>
            </table>
        {{> background bgEnd=true }} --}}
    </tr>
</table>
