
<!-- ADVERTISEMENT -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-jld-advertisement-02 set-max-width">
    <tr>
        <td>
            <a href="https://lawyers.justia.com/premium-placement" target="_blank">
                <table cellpadding="0" cellspacing="0" border="0" class="cont" responsive="collapse-one">
                    <tr>
                        <td class="cnt1" responsive="mobile-padding-uneven-top mobile-padding-horizontal-sides">
                            <p>Become a<br> <strong>Premium Member</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="cnt2" responsive="mobile-padding-uneven-top mobile-padding-horizontal-sides">
                            <img src="{{default.image_dir_src}}/premium-member-icon-01.png" alt="Become a Premium Member" border="0" />
                        </td>
                    </tr>
                    <tr>
                        <td class="cnt3" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
                            <p>With sponsored placements to enhance your visibility and gain access to&nbsp;<br responsive="mobile-hide">your traffic stats on the Justia and LII lawyer directories and legal portals</p>
                        </td>
                    </tr>
                </table>
            </a>
        </td>
    </tr>
</table>
