
<!-- JURISPRO -->

<!-- w-stories-list w-jurispro -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list w-jurispro set-max-width">
    <tr>
        <!-- main-story-title -->
        <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-type-name -->
            <h4 class="widget-type-name">POWERED BY JUSTIA</h4>
            <!-- widget-main-title -->
            <h2 class="widget-main-title"><a href="https://www.jurispro.com/" target="_blank">JurisPro<sup>&#174;</sup> Expert Witness Directory</a></h2>
        </td>
    </tr>
    <tr>
        <!-- main-story-desc -->
        <td class="main-story-desc" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <!-- story-desc -->
                    <td class="story-desc" responsive="collapse-one">
                        <p>JurisPro provides a free directory of expert witnesses in over 10,000 areas of expertise.</p>
                    </td>
                    <!-- featured-image -->
                    <td class="featured-image" responsive="mobile-hide collapse-one">
                        <a href="https://www.jurispro.com/" target="_blank"><img src="{{default.image_dir_src}}/jurispro-01.png" alt="JurisPro Expert Witness Directory" border="0" /></a>
                    </td>
                </tr>
                <tr>
                    <!-- story-extra -->
                    <td colspan="2" class="story-extra" responsive="collapse-one">
                        <p><strong>Recent cases involving expert witness testimony:</strong></p>
                        <br>
                        <p><strong><a href="[jurispro-case-url-1]" target="_blank">Child Psychology Expert Witness on Adult Dyslexia</a></strong></p>
                        <p>Psychology expert was allowed to opine on security guard’s condition in ADA claim though her work was mainly with children.</p>
                        <br>
                        <p><strong><a href="[jurispro-case-url-2]" target="_blank">Internal Medicine Expert Testifies on Life Expectancy Issues</a></strong></p>
                        <p>Experience with geriatrics allowed internal medicine expert witness to testify on life expectancy of plaintiff.</p>
                        <br>
                        <p><strong><a href="[jurispro-case-url-3]" target="_blank">Engineer Expert Testimony on Moral Responsibility Denied</a></strong></p>
                        <p>Civil engineering expert could not testify on fiduciary responsibility of defendant in groundwater contamination case.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="story-extra" responsive="collapse-one">
                        {{> button moreBlue=true url="https://www.jurispro.com/" }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
