
<!-- LAW EVENTS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-law-events columns-grid set-max-width">
    <tr>
        <td class="law-events-title align-center" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Law Events</h2>
        </td>
    </tr>

{{!-- Law events - First row --}}
    <tr>
        <!-- law event list -->
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-1" }}

            <tr>
                <td>
                    <p class="date">November 9-13</p>
                    <p class="desc"><strong>Chicago, IL</strong><br> ABA 10th Annual Section of Labor & Employment Law Conference</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://shop.americanbar.org/ebus/ABAEventsCalendar/EventDetails.aspx?productId=235856846" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-2" }}

            <tr>
                <td>
                    <p class="date">November 15 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> The Good, the Bad, and the Ugly: Navigating the New World of Online Reviews</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://shop.americanbar.org/ebus/ABAEventsCalendar/EventDetails.aspx?productId=255270890" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - Second row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-3" }}

            <tr>
                <td>
                    <p class="date">November 15 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br>Google Cloud Apps Series, Part II: Supercharge Gmail with Advanced Gmail Features, Tasks, and Contacts to Deliver Better Client Service</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M111516" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-4" }}

            <tr>
                <td>
                    <p class="date">November 16 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br>Google Cloud Apps Series, Part III: Supercharge Gmail with Voice, Chat, Talk, and Hangout Services…and Calendar to Deliver Better Client Service</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M111616" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - Third row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list -last" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-5" }}

            <tr>
                <td>
                    <p class="date">November 18</p>
                    <p class="desc"><strong>New York, NY & 9AM ET Webcast</strong><br> Think Like a Lawyer and Talk Like a Geek 2016: Get Fluent in Technology</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://www.pli.edu/Content/Seminar/Think_Like_a_Lawyer_and_Talk_Like_a_Geek/_/N-4kZ1z110wr?No=50&Ns=sort_date%7c0&ID=273911" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-6" }}

            <tr>
                <td></td>
            </tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

</table>
