{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- LAW EVENTS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-law-events columns-grid set-max-width">
    <tr>
        <td class="law-events-title align-center" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Law Events</h2>
        </td>
    </tr>

{{!-- Law events - First row --}}
    <tr>
        {{> columnsGrid
            rowClasses="law-events-list"
            columStart=true
            fullWidth="540"
            cellWidth="270"
            cellAlignment="left"
            cellClasses="event event-1"
        }}

            <tr>
                <td>
                    <p class="date">September 8-9</p>
                    <p class="desc">SEC Reporting Skills Workshop - San Francisco</p>
                </td>
            </tr>
            <tr>
                <td class="button">
                    {{> button moreWhite=true url="http://pli.edu/Content/Seminar/SEC_Reporting_Skills_Workshop_2016/_/N-4kZ1z11c95?ID=262879" }}
                </td>
            </tr>

        {{> columnsGrid
            columnDiv=true
            cellWidth="270"
            cellAlignment="right"
            cellClasses="event event-2"
        }}

            <tr>
                <td>
                    <p class="date">September 8</p>
                    <p class="desc">Nuts & Bolts of Electronic Discovery Law - New York & Webcast</p>
                </td>
            </tr>
            <tr>
                <td class="button">
                    {{> button moreWhite=true url="http://pli.edu/Content/Seminar/Nuts_Bolts_of_Electronic_Discovery_2016/_/N-4kZ1z11i7e" }}
                </td>
            </tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - Second row --}}
    <tr>
        {{> columnsGrid
            rowClasses="law-events-list"
            columStart=true
            fullWidth="540"
            cellWidth="270"
            cellAlignment="left"
            cellClasses="event event-3"
        }}

            <tr>
                <td>
                    <p class="date">September 12</p>
                    <p class="desc">International Tax Issues 2016 - Chicago</p>
                </td>
            </tr>
            <tr>
                <td class="button">
                    {{> button moreWhite=true url="http://pli.edu/Content/Seminar/International_Tax_Issues_2016/_/N-4kZ1z11j97" }}
                </td>
            </tr>

        {{> columnsGrid
            columnDiv=true
            cellWidth="270"
            cellAlignment="right"
            cellClasses="event event-4"
        }}

            <tr>
                <td>
                    <p class="date">September 13-14</p>
                    <p class="desc">PLI 47th Annual Estate Planning Institute - New York & Webcast</p>
                </td>
            </tr>
            <tr>
                <td class="button">
                    {{> button moreWhite=true url="http://pli.edu/Content/Seminar/47th_Annual_Estate_Planning_Institute/_/N-4kZ1z11iz7" }}
                </td>
            </tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - Third row --}}
    <tr>
        {{> columnsGrid
            rowClasses="law-events-list -last"
            columStart=true
            fullWidth="540"
            cellWidth="270"
            cellAlignment="left"
            cellClasses="event event-5"
        }}

            <tr>
                <td>
                    <p class="date">September 19-20</p>
                    <p class="desc">Clio Cloud Conference - Chicago</p>
                </td>
            </tr>
            <tr>
                <td class="button">
                    {{> button moreWhite=true url="http://cliocloudconference.com/" }}
                </td>
            </tr>

        {{> columnsGrid
            columnDiv=true
            cellWidth="270"
            cellAlignment="right"
            cellClasses="event event-6"
        }}

            <tr>
                <td>
                    <p class="date">September 21</p>
                    <p class="desc">Government Contracts 2016 - Washington, DC & Webcast</p>
                </td>
            </tr>
            <tr>
                <td class="button">
                    {{> button moreWhite=true url="http://pli.edu/Content/Seminar/Government_Contracts_2016/_/N-4kZ1z11i2r" }}
                </td>
            </tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

</table>
