
<!-- LAW EVENTS -->

<!-- w-law-events columns-grid -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-law-events columns-grid set-max-width">
    <tr>
        <!-- law-events-title align-center -->
        <td class="law-events-title align-center" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">Law Events</h2>
        </td>
    </tr>

    {{!-- Law events - row --}}
    {{#forEach law_events.events}}

        {{!-- Open row if odd --}}
        {{#ifOdd index}}
            <tr>{{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event" }}
        {{/ifOdd}}

        {{!-- Add the event --}}
        <tr>
            <td>
                <!-- date -->
                <p class="date">{{{ date }}}</p>
                <!-- desc -->
                <p class="desc"><strong>{{{ type_location }}}</strong><br> {{{ description }}}</p>
            </td>
        </tr>
        <tr>
            <!-- button -->
            <td class="button">{{> button moreWhite=true url=url_link }}</td>
        </tr>

        {{!-- Close the first cell of the row if odd --}}
        {{#ifOdd index}}
            {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-2" }}
        {{/ifOdd}}

        {{!-- Close row if even --}}
        {{#ifEven index}}
            {{> columnsGrid columnEnd=true }}</tr>
        {{/ifEven}}
    {{/forEach}}
</table>