
<!-- LAW EVENTS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-law-events columns-grid set-max-width">
    <tr>
        <td class="law-events-title align-center" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Law Events</h2>
        </td>
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-1" }}

            <tr>
                <td>
                    <p class="date">[event-date]</p>
                    <p class="desc"><strong>[event-place/type]</strong><br> [event-description]</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="[event-url]" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-2" }}

            <tr>
                <td>
                    <p class="date">[event-date]</p>
                    <p class="desc"><strong>[event-place/type]</strong><br> [event-description]</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="[event-url]" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-3" }}

            <tr>
                <td>
                    <p class="date">[event-date]</p>
                    <p class="desc"><strong>[event-place/type]</strong><br> [event-description]</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="[event-url]" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-4" }}

            <tr>
                <td>
                    <p class="date">[event-date]</p>
                    <p class="desc"><strong>[event-place/type]</strong><br> [event-description]</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="[event-url]" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list -last" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-5" }}

            <tr>
                <td>
                    <p class="date">[event-date]</p>
                    <p class="desc"><strong>[event-place/type]</strong><br> [event-description]</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="[event-url]" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-6" }}

            {{!-- If you need an empty space, use this --}}
            <tr>&nbsp;</tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

</table>
