
<!-- LAW EVENTS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-law-events columns-grid set-max-width">
    <tr>
        <td class="law-events-title align-center" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Law Events</h2>
        </td>
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-1" }}

            <tr>
                <td>
                    <p class="date">December 9 2PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> Advanced Google Search for Lawyers</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M120916" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-2" }}

            <tr>
                <td>
                    <p class="date">December 13 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> The Case for Practice Management – Why Outlook Isn’t Enough</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M121316" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-3" }}

            <tr>
                <td>
                    <p class="date">December 20 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> The 10 Keys to Building a Hyper-Streamlined Law Firm</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M122016" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-4" }}

            <tr>
                <td>
                    <p class="date">December 21 2PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> Ethical Issues and Implications on Lawyers’ Use of LinkedIn</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M122116" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-3" }}

            <tr>
                <td>
                    <p class="date">December 22 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> A Lawyer’s Guide to Using Professional Coaches</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M122216" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-4" }}

            <tr>
                <td>
                    <p class="date">December 28 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> Moving Your Practice Into the Cloud - Benefits, Drawbacks and Ethical Issues</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M122816" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-3" }}

            <tr>
                <td>
                    <p class="date">December 29 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> Overcoming Procrastination - How to Kick the Habit</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M122916" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-4" }}

            <tr>
                <td>
                    <p class="date">December 29 4PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> Technology: Slave or Servant – Time, Task, Document & Email Management</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M122916b" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

{{!-- Law events - row --}}
    <tr>
        {{> columnsGrid rowClasses="law-events-list -last" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event event-5" }}

            <tr>
                <td>
                    <p class="date">December 30 1PM ET</p>
                    <p class="desc"><strong>Webinar</strong><br> The Ethics of Delegation</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="http://linkon.in/M123016" }}</td></tr>

        {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-6" }}

            <tr>
                <td>
                    <p class="date">January 20-28</p>
                    <p class="desc"><strong>LA & SF livecast sessions</strong><br> CEB’s MCLE Fair</p>
                </td>
            </tr>
            <tr><td class="button">{{> button moreWhite=true url="https://ceb.com/january-mcle-fair-201716?utm_source=pr&utm_medium=of&utm_campaign=4597" }}</td></tr>

        {{> columnsGrid columnEnd=true }}
    </tr>

</table>
