
<!-- LEGAL INDUSTRY NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list legal-industry-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Legal Industry News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.lawtechnologytoday.org/2016/10/six-tips-to-reduce-security-risks/" target="_blank">Six Tips for Law Firms to Reduce Tech Security Risks</a></strong></p>
            <p>Law firm clients are increasingly requesting information about the way their attorneys handle their confidential information. This post provides a summary of six areas on which law firms should focus in order to beef up the security of their client data. These six areas are: two-factor authentication, encryption, data loss prevention, vulnerability scans, backup and disaster recovery, and security awareness training.</p>
        </td>
    </tr>
</table>
