
<!-- LEGAL INDUSTRY NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list legal-industry-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Legal Industry News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.sociallyawareblog.com/2016/12/06/new-copyright-office-rule-creates-potential-gotcha-for-blogs-and-websites-hosting-user-generated-content/" target="_blank">New Copyright Office Rule Creates Potential “Gotcha” for Blogs and Websites Hosting User-Generated Content</a></strong></p>
            <p>A recent change at the U.S. Copyright Office might expose blogs and websites to copyright infringement claims if they do not take certain preventive measures. The Copyright Office recently rolled out a new online system for the designation of agents to receive notifications of copyright infringement, which replaces the old paper-based system. Online service providers must register their copyright agent through the new system by December 31, 2017, in order to continue receiving the benefits of the Section 512(c) safe harbor in connection with its hosting of user-generated content.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://abovethelaw.com/2016/12/lawsuit-against-courts-massively-overcharging-for-documents-moves-forward/" target="_blank">Lawsuit Against Courts for Allegedly Overcharging for Documents Via PACER Moves Forward</a></strong></p>
            <p>A federal judge ruled against the U.S. government in a case alleging that PACER, the federal court system’s electronic records system, charges unreasonable fees for the service it provides. The judge found unpersuasive the government’s arguments supporting its motion to dismiss for failure to state a claim, as well as its argument that the pricing issue was already being raised in another similar lawsuit.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.abajournal.com/news/article/aba_sues_over_feds_disqualifications_of_lawyers_from_public_service_loan_fo" target="_blank">ABA Sues Over Feds’ Disqualification of Lawyers From Public Service Forgiveness Program</a></strong></p>
            <p>Current and former employees of the American Bar Association have filed a lawsuit against the U.S. Department of Education over changes to its Public Service Loan Forgiveness program, which helps lawyers working for certain service organizations repay their education loans. The ABA is one of several organizations that formerly qualified for the PSLF program but was recently denied certification. Other organizations include the American Immigration Lawyers Association and some American Civil Liberties Union offices.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.abajournal.com/news/article/software_issues_lead_to_wrongful_arrests_pd_says_can_fruits_of_computerized" target="_blank">Courthouse Software Issues Have Led to Wrongful Arrests, Public Defender Says</a></strong></p>
            <p>A public defender in Alameda County, California, alleges that the Odyssey Case Manager software, which was recently adopted in that county, led to the wrongful arrests of dozens of people. Apparently the same software is used by 26 court systems throughout California, as well as other courts in other parts of the country. Known to be very cumbersome to use, the software has allegedly caused multiple wrongful arrests and unwarranted, additional jail time.</p>
        </td>
    </tr>
</table>
