
<!-- LEGAL INDUSTRY NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list legal-industry-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Legal Industry News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://onward.justia.com/2016/10/28/california-bar-client-information-available-public-sources-still-confidential/" target="_blank">California Bar: Client Information Available from Public Sources is Still Confidential</a></strong></p>
            <p>The State Bar of California Standing Committee on Professional Responsibility and Conduct reaffirmed a view on lawyers’ duty of confidentiality toward their clients in a recent advisory opinion. Specifically, the Committee reaffirmed past authority, which stated that attorneys may not disclose information that was learned via their representation of a client--particularly information that is embarrassing in nature. This extends to information that can technically be obtained elsewhere due to its public availability, if that information was disclosed to a client’s attorney in confidence.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.abajournal.com/news/article/how_a_trump_victory_and_gop_senate_control_could_shape_the_law" target="_blank">How Trump’s Victory and GOP Senate Control Could Shape the Law</a></strong></p>
            <p>Donald Trump’s election victory signals the potential for stark changes in US law in the coming months and years. A Trump presidency, along with a Republican-controlled Senate, almost certainly guarantees that President Obama’s choice of Judge Merrick Garland for the Supreme Court will not progress beyond his nomination. Beyond this open Supreme Court seat, the court’s oldest justices lean liberal, meaning that Trump’s power to shape the court may extend well beyond a single replacement for Antonin Scalia during his presidency.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.abajournal.com/news/article/court_dockets_will_shrink_as_donald_trump_rescinds_obama_administration_act" target="_blank">Court Dockets Will Shrink as Donald Trump Rescinds Obama Administration Actions</a></strong></p>
            <p>Cases that are on the docket at the Supreme Court could shrink as a result of policy shifts after Donald Trump takes office in January. The same goes for dockets at lower federal courts. These include cases involving immigration matters, the Affordable Care Act, climate change, and LGBT rights, many of which arose from Obama administration executive actions and legal interpretations.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.abajournal.com/news/article/reporters_could_bolster_first_amendment_with_libel_cases_against_trump_libe" target="_blank">Reporters Could Bolster First Amendment with Libel Cases Against Trump, Libel Defense Lawyer Says</a></strong></p>
            <p>A First Amendment attorney has urged other press lawyers to be on the offensive about free speech rights after the election. This line of action involves shoring up the First Amendment by potentially bringing libel cases against Donald Trump in the event that he untruthfully claims that reporters are publishing false material.</p>
        </td>
    </tr>
</table>
