
<!-- MEET OUR TEAM -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-text-image meet-our-team set-max-width">
    <tr>
        <td class="item-list" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0" class="item-1">
                <tr>
                    <td class="item-desc" responsive="collapse-one">
                        <h4 class="widget-type-name">Meet our Team</h4>
                        <h2 class="widget-main-title">Giving Back</h2>
                        <p>Members of our team volunteered at Second Harvest Food Bank this month, prepping food for those in need. With the end of the year holidays approaching there is a greater need for assistance, but donating feels good year round!</p>
                    </td>
                    <td class="item-image align-right" responsive="mobile-hide collapse-one">
                        <img src="{{default.image_dir_src}}/meet-our-team-01.jpg" alt="Giving Back" border="0" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
