
<!-- MEET OUR TEAM -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-meet-our-team set-max-width">
    <tr>
        <td class="events-list" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0" class="team-1">
                <tr>
                    <td class="event-desc" responsive="collapse-one">
                        <h4 class="widget-type-name">Meet our Team</h4>
                        <h2 class="widget-main-title">Justia 2016 Casino Night</h2>
                        <p>Everyone had a shot to tempt Lady Luck at our second annual Casino Night. After a day of hard work, we enjoyed an evening chock-full of fun and games. Congratulations to all of our fortunate high-rolling friends and colleagues!</p>
                    </td>
                    <td class="event-image align-right" responsive="mobile-hide collapse-one">
                        {{!-- <a href="#" style="cursor:default;">
                        </a> --}}
                        <img src="{{default.image_dir_src}}/meet-our-team-01.jpg" alt="Justia 2016 Casino Night" border="0" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
