
<!-- PUG'S TALE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-text-image pugs-tale set-max-width">
    <tr>
        <td class="item-list" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0" class="item-1">
                <tr>
                    <td class="item-desc" responsive="collapse-one">
                        <h4 class="widget-type-name">A Pug's Tale</h4>
                        <h2 class="widget-main-title">Pugs Take the Throne</h2>
                        <p>Justia’s trio of Hug Pugs got their Game of Thrones on this Halloween with costumes inspired by the books and television series. Sheba dressed as a princess, while MaoMao suited up as Sir Barks Alot and Rio Sir Hugs Alot. You can check out more photos of the Hug Pugs <a href="https://www.facebook.com/Hug.Pugs/" target="_blank">here</a>.</p>
                    </td>
                    <td class="item-image align-right" responsive="mobile-hide collapse-one">
                        <a href="https://www.facebook.com/Hug.Pugs/" target="_blank"><img src="{{default.image_dir_src}}/pugs-tale-01.jpg" alt="Pugs Take the Throne" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>