{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- PUG'S TALE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-pugs-tale set-max-width">
    <tr>
        <td class="pugs-list" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0" class="team-1">
                <tr>
                    <td class="pugs-desc" responsive="collapse-one">
                        <h4 class="widget-type-name">A Pug's Tale</h4>
                        <h2 class="widget-main-title">Paint a Pug!</h2>
                        <p>Hug Pugs Sheba, Rio and MaoMao recently starting using their new photo editing tool, <a href="http://prisma-ai.com/" target="_blank">Prisma</a>. Check out some of their <a href="https://www.instagram.com/hugpugs/" target="_blank">cool portraits!</a></p>
                    </td>
                    <td class="pugs-image align-right" responsive="mobile-hide collapse-one">
                        <a href="https://www.instagram.com/hugpugs/" target="_blank"><img src="{{default.image_dir_src}}/pugs-tale-01.jpg" alt="Paint a Pug!" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>