{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- REFERRAL PROGRAM -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-referral-program set-max-width">
    <tr>
        {{> background classes="dvbg" responsiveClasses="mobile-reset-width mobile-reset-height mobile-reset-bg-image" image="referral-program-01.png" bgcolor="#ff7f00" dimensions="width:600px; height:196px;" bgStart=true content=true }}
            <table cellpadding="0" cellspacing="0" border="0" class="cont" responsive="collapse-one mobile-reset-height">
                <tr>
                    <td class="referral-title" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-top">
                        <h2 class="widget-main-title"><a href="mailto:support@justia.com" target="_blank">Refer a friend to Justia and earn a reward for both of you!</a></h2>
                    </td>
                </tr>
                <tr>
                    <td class="referral-desc" responsive="mobile-padding-horizontal-sides">
                        <p>Refer a licensed attorney to Justia and if they purchase a website or blog from us within 60 days, we’ll give YOU a <strong>$200 credit</strong> and your friend a <strong>$100 discount</strong> on their set-up fees. <a href="mailto:support@justia.com"><strong><u>Contact Us</u></strong></a> for more details.</p>
                    </td>
                </tr>
                <tr>
                    <td class="referral-desc -last" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
                        <p class="-phone">Call Us Now <strong><span id="ios-links-white"><a href="tel:8885878421">(888) 587-8421</a></span></strong></p>
                    </td>
                </tr>
            </table>
        {{> background bgEnd=true }}
</table>
