
<!-- SEO NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list seo-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">SEO News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/now-can-search-google-tweeting-emoji/180482/" target="_blank">Now You Can Search Google by Tweeting Emoji At It</a></strong></p>
            <p>Expanding the reach of its local search products, Google will now return local results to users who tweet emoji at it. In response to a tweet of a pizza emoji, for example, Google will return a link with local search results for nearby pizzerias. While this option is not necessarily faster than searching in the app or a browser, it provides a simplified avenue for Twitter users by removing the necessity of typing in a search query.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/amp-results-now-showing-google-image-search-265543" target="_blank">AMP Results Now Showing in Google Image Search</a></strong></p>
            <p>Searching Google Images on your mobile device will now show AMP (Accelerated Mobile Pages) results. AMP is a project backed by Google that is designed as an open standard for any online publisher so pages load quickly on mobile devices. Simply go to Google Image Search on your phone or other mobile device, input a query, and swipe through the resulting images. Some may now show an AMP logo. If the title of such images is clicked on, you will be taken to the AMP version of the page.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/googles-top-search-ranking-factors-2016-according-searchmetrics-study/181157/" target="_blank">Google’s Top Search Ranking Factors of 2016, According to Searchmetrics Study</a></strong></p>
            <p>A recently released Searchmetrics study reveals Google’s top search ranking factors of 2016. Notably, ranking factors have become more personalized. In addition, the relevance of content results is becoming increasingly important. While word count remains a significant ranking factor, the content’s quality is just as important as its length. The study also indicates that technical factors remain paramount. These include fast loading times and mobile-friendliness.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/are-you-optimized-for-voice-search-heres-how-to-do-it/179562/" target="_blank">Are You Optimized for Voice Search? Here’s How to Do It</a></strong></p>
            <p>Voice search has been gaining traction as a viable method to locate information online in recent years and it is estimated that more than half of internet queries will be executed via voice search by 2020. From improving your existing listings to creating content that reflects how people might verbally search for it, this article offers tips on how to optimize your web presence to ensure people will find it while performing voice searches.</p>
        </td>
    </tr>
</table>
