
<!-- SEO NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list seo-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">SEO News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/avoid-outbound-link-penalty-google-262597" target="_blank">How to Avoid an Outbound Link Penalty from Google</a></strong></p>
            <p>This article explains how, similar to inbound links from other sites to yours, outbound links from your site to others can be detrimental if Google determines that the links are “unnatural” or “irrelevant.” In order to avoid penalties, it is critical to avoid linking to low-quality or spammy content, and to monitor outbound links on your site.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.seroundtable.com/google-article-structured-data-docs-update-23016.html" target="_blank">Google Revamps Article Structured Data Documentation for AMP</a></strong></p>
            <p>Google has revised their guidelines related to article markup for AMP pages, such that web developers must now use structured data on those pages in order for them to be eligible for display among rich results rather than simply as blue links along with other Google search results. This article also describes other new requirements that differentiate how AMP versus non-AMP pages are displayed in search results.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/search-save-later-new-bing-update/" target="_blank">Bing Update: Search and Save for Later</a></strong></p>
            <p>Bing has announced a new feature that will allow users to save the results of searches for videos, images, shopping, and locations. Available for both desktop and mobile, this feature allows users who save a search while logged in to review the results later from any device. The service does not currently include the option to save search engine query results.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/boost-exposure-local-website-pages/177195/" target="_blank">How to Boost Exposure for Local Website Pages</a></strong></p>
            <p>This article provides a succinct review of the key components of a successful local SEO campaign. Incorporating critical elements into your website such as unique content, appropriate keyword usage, NAP consistency, and internal linking can help boost SERP rankings and organic traffic, and put your business on the map.</p>
        </td>
    </tr>
</table>
