
<!-- SEO NEWS -->

<!-- w-stories-list w-seo-news -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list w-seo-news set-max-width">
    <tr>
        <!-- stories-title -->
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">SEO News</h2>
        </td>
    </tr>
    {{#forEach seo_news.articles}}
    <tr>
        <!-- story-item -->
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="{{ title_url }}" target="_blank">{{{ title }}}</a></strong></p>
            <p>{{{ description }}}</p>
        </td>
    </tr>
    {{/forEach}}
</table>