
<!-- SEO NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list seo-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">SEO News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/google-home-assistant-260281" target="_blank">With Google Assistant & Google Home, Google Seeks to Win the Hands-Free Generation of Search</a></strong></p>
            <p>After announcing Google Assistant at Google I/O in May 2016, the search company went a step further in October when it unveiled its own line of smartphones featuring the voice-activated personal assistant. The precise impact hands-free search will have on websites and SEO strategy is yet unclear, but given both the advantages and limitations of voice interactions between people and their phones, we can expect to see some changes over the coming months as more people start using Google Assistant to search. Also watch for the responses from Google Assistant’s competitors—Microsoft’s Cortana, Amazon’s Alexa, and Apple’s Siri.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/mobile-impacted-way-search-based-10-years-eye-tracking-studies-260052" target="_blank">How Mobile Has Changed the Way We Search, Based on 10+ Years of Eye-Tracking Studies</a></strong></p>
            <p>Studies that track users’ eye movements while they view a search engine results page (SERP) suggest that the increased use of mobile devices for search has affected how people view search results even on desktop, as compared to ten years ago. Specifically, users tend to do a quick vertical scan of search results, rather than spending much time on any one result.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/google-business-testing-advanced-verification-process-spammy-map-categories-260477" target="_blank">Google My Business Testing Advanced Verification Process for Spammy Map Categories</a></strong></p>
            <p>Google is using a new spam prevention technique to try to reduce the amount of spam in its business listings. Called “advanced verification,” this new process is currently aimed specifically at locksmiths and plumbers (due to the high incidence of spam in local results in these industries), but it is not yet clear whether they will expand the scope to include other industries.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/google-penguin-looks-mostly-link-source-says-google-260902" target="_blank">Google Penguin Looks Mostly at Your Link Source</a></strong></p>
            <p>Google’s Penguin search algorithm reportedly deemphasizes inbound links from low-quality sources instead of penalizing sites receiving those links. This addresses a common concern that many low-quality inbound links—even if they were unsolicited—have negatively affected the performance of a website.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/google-divide-index-giving-mobile-users-better-fresher-content-261037" target="_blank">Google to Divide Its Index, Giving Mobile Users Better & Fresher Content</a></strong></p>
            <p>Google recently announced plans to divide its search index into results for mobile users and results for desktop users, with the mobile index offering the most up-to-date results.This marks a crucial turning point for search, sparked by the significant increase in Google’s mobile users, which now outnumber desktop users.</p>
        </td>
    </tr>
</table>
