
<!-- SOCIAL MEDIA NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list social-media-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Social Media News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.latimes.com/business/technology/la-fi-tn-facebook-workplace-20161010-snap-story.html" target="_blank">Facebook Launches Workplace, a Business Version of Facebook</a></p>
            <p>Facebook has created a separate version of its popular social network. Called Workplace, this communication tool was recently launched for businesses, nonprofits, and other organizations. The platform is not linked to users’ existing Facebook accounts, making it entirely autonomous in that sense, and is ad-free. Fees are based on how many employees an organization has that would be using the platform. Workplace is free for nonprofits and educational institutions, and aims to connect the professional sector of the Internet using features such as group chats, video calls, individual worker profiles, and newsfeeds.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><a href="https://www.cnet.com/news/twitters-moments-can-now-be-made-by-everyone/" target="_blank">Twitter Moments Can Now be Made by Everyone</a></p>
            <p>Twitter’s Moments feature is now available to all users on the website version of the social network, with mobile anticipated to follow shortly. Every Twitter user can now tell stories through a series of linked tweets, videos, and images. Moments can also be used to track events such as news stories, concerts, and sports in real time.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/google-patent-using-social-signals-impact-rankings-259656" target="_blank">Exploring a Newly-Granted Google Patent Around Social Signals</a></p>
            <p>A recently published patent offers clues about how Google views social signals and search results. The patent includes details about how each online searcher has a social graph linked to them, one that is created via their social media connections on sites, blogs, in email, and chat, etc. When Google is able to connect a user between these various web properties, a fuller picture of their social graph and connections is made. Likes and recommendations by the people to whom they are connected socially could ultimately be used to impact their search ranking, as this patent seems to suggest that social interactions may now be used as a factor in search ranking signals.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.adweek.com/socialtimes/webpagefx-marketing-inkedin-infographic/645999" target="_blank">Marketing via LinkedIn (Infographic)</a></p>
            <p>The popular job networking site LinkedIn can also be used as a marketing tool. This infographic provides figures that make a strong argument in favor of advertising on LinkedIn, including its number of monthly visitors, various user demographics, and recent revenue growth. The infographic also includes tips on what to market and LinkedIn’s best practices for posting on its platform.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.adweek.com/socialtimes/linkedin-announces-changes-to-endorsements-feature/646320" target="_blank">LinkedIn Announces Changes to Endorsements Feature</a></p>
            <p>LinkedIn has changed how it presents the endorsement of skills in user profiles. The company now features endorsements from mutual connections first. LinkedIn has also improved how it is targeting suggested endorsements to connections who best know your skills and work.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.adweek.com/socialtimes/facebook-updates-calls-to-action-on-pages-recommendations-local-events/646326" target="_blank">Facebook Updates Calls to Action on Pages, Recommendations, Local Events</a></p>
            <p>Recently, Facebook updated its recommendations, local events, and call-to-action buttons on pages for businesses. Recommendations can now be turned on for status updates where individual users are seeking advice. The events bookmark will also be updated in the coming weeks to allow users to browse recommendations for events by their popularity with friends. Lastly, Facebook has updated its calls to action for local business pages, allowing users the increased flexibility to request appointments, obtain a quote for services, order food from restaurants, and purchase tickets to events directly from a business’ page.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.jeffbullas.com/2016/10/10/21-secrets-behind-viral-infographics/" target="_blank">21 Secrets Behind Viral Infographics</a></p>
            <p>Infographics can play an important role in your marketing strategy—if they’re used effectively. This article covers the best practices for creating infographics, detailing what should be included in the graphic, as well as why each inclusion is recommended.</p>
        </td>
    </tr>
</table>
