
<!-- SOCIAL MEDIA NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list social-media-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Social Media News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://searchengineland.com/70-consumers-will-leave-review-business-asked-262802" target="_blank">70% of Consumers Will Leave a Review for a Business When Asked</a></strong></p>
            <p>BrightLocal reported in its 2016 Local Consumer Review Survey that consumers are increasingly using the Internet to find local businesses and select which business to patronize based on online reviews. Accordingly, businesses must optimize their online presence in their local markets by soliciting online reviews. The survey also revealed that approximately 70% of respondents said they will leave a review for a business if they’ve been asked to do so, making this a useful strategy to raise a business’s online profile.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.socialmediaexaminer.com/how-to-use-twitter-moments-for-business/" target="_blank">How to Use Twitter Moments for Business</a></strong></p>
            <p>Last month, Twitter opened its Moments to all users, allowing them to tell stories through a series of linked tweets, videos, and images. Users can also track events like news stories, concerts, and sports in real-time. In this article, users will learn strategies to create stories and use Twitter Moments specifically for their business.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.adweek.com/socialtimes/linkedin-audience-insights" target="_blank">LinkedIn Rolls Out Audience Insights</a></strong></p>
            <p>LinkedIn is in the process of launching audience insights for its mobile app. This feature will allow users to view real-time insights into who is reading posts they’ve shared, what companies these visitors work for, and their location and job title, as well as how they discovered the shared content.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.convinceandconvert.com/social-media-strategy/promote-social-media-posts/" target="_blank">Awesome Hacks to Promote Your Social Media Posts</a></strong></p>
            <p>Social media can be a great way to expose potential clients to your brand, but frequent changes to each platform necessitate staying ahead of the curve with your outreach efforts. This article offers tips to help ensure that you’re making the most of your business’s social media accounts.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://mashable.com/2016/11/15/twitter-abuse-updates/" target="_blank">Twitter's Biggest Anti-Troll Effort to Date is Finally Here</a></strong></p>
            <p>Twitter is seeking to curtail hateful messages and other problematic content on its service through policy changes and an expanded “mute” feature. This update aims to combat abuse on Twitter by allowing users to filter out notifications that contain user-designated words, phrases, usernames or hashtags.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://techcrunch.com/2016/11/07/jobbook/" target="_blank">Facebook Threatens LinkedIn With Job Opening Features</a></strong></p>
            <p>Facebook may be looking to compete with LinkedIn with the advent of options to list available job opportunities on Facebook Business Pages. Business owners may now see a ‘Jobs’ tab on their Facebook Page, and Facebook has also recently confirmed that it is evaluating the effectiveness of several different recruiting features that may ultimately rival those on LinkedIn.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.forbes.com/sites/kathleenchaykowski/2016/11/11/facebook-to-ban-ethnic-affinity-targeting-for-housing-employment-credit-related-ads/" target="_blank">Facebook to Ban ‘Ethnic Affinity’ Targeting for Housing, Employment, Credit-Related Ads After Criticism from Lawmakers</a></strong></p>
            <p>Facebook recently announced that it will no longer allow advertisers to target employment, housing, and credit-related ads posted on the social network by “ethnic affinity.” The ban comes after widespread pushback from lawmakers, the media, and civil rights leaders in the US over the potential discriminatory effects posed by such restrictions.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://techcrunch.com/2016/11/17/linkedin-is-now-officially-blocked-in-russia/" target="_blank">LinkedIn is Now Officially Blocked in Russia</a></strong></p>
            <p>LinkedIn has run afoul of a Russian law that requires all websites to store Russian users’ personal data on servers located in the country. As a result, Roskomnadzor, Russia’s communications regulator, has begun enforcing a country-wide block of LinkedIn. While Google and Apple have reportedly complied, both Twitter and Facebook still appear to be storing their data associated with Russian users outside of Russia.</p>
        </td>
    </tr>
</table>
