
<!-- SOCIAL MEDIA NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list w-social-media-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Social Media News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="[article-url]" target="_blank">[article-title]</a></strong></p>
            <p>[article-description]</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="[article-url]" target="_blank">[article-title]</a></strong></p>
            <p>[article-description]</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides"> {{!-- Always use the '-verylast' class for the very last item :D --}}
            <p><strong><a href="[article-url]" target="_blank">[article-title]</a></strong></p>
            <p>[article-description]</p>
        </td>
    </tr>
</table>
