
<!-- SOCIAL MEDIA NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list social-media-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Social Media News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.nytimes.com/2016/12/06/technology/instagram-abuse-new-privacy.html" target="_blank">Instagram Introduces New Tools Meant to Curb Abuse and Expand Privacy</a></strong></p>
            <p>In December, Instagram announced that it would be offering more tools for its users to keep themselves protected from online abuse. These include the ability to remove others’ comments from their photo posts and to filter out certain followers. The increased ability to moderate comments also allows users to ‘like’ individual comments going forward. Additionally, users who keep their accounts private will be able to remove users they’ve previously approved, instead of needing to block the user as was required in the past. Instagram has also indicated that removed users will not be notified that they’ve been removed to reduce the prospect of online harassment.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.nytimes.com/2016/12/06/technology/top-tweets-politics-2016.html" target="_blank">The Top Political Tweets and Hashtags of 2016</a></strong></p>
            <p>The New York Times recounts 2016’s most popular tweets and hashtags, most of which were trending topics and shared tweets about news and politics. While it is likely no surprise that the United States presidential election garnered some of these top spots, other popular hashtags centered around identity and safety, such as #InternationalWomensDay and #BlackLivesMatter.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.socialmediaexaminer.com/facebook-page-layout-changes-how-marketers-should-respond/" target="_blank">Facebook Page Layout Changes: How Marketers Should Respond</a></strong></p>
            <p>Facebook has recently launched a variety of new features for the layouts of Facebook pages. One of the biggest differences is the organization of a Facebook page’s timeline, with various sections displayed more prominently based on the order of a page’s left sidebar tab that links to a page’s unique content, such as Videos, Photos, and Posts. This article breaks down how to make changes to your Facebook page and offers strategies for taking advantage of Facebook’s latest changes.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.nytimes.com/2016/12/15/technology/facebook-fake-news.html" target="_blank">Facebook Mounts Effort to Limit Tide of Fake News</a></strong></p>
            <p>Facebook has long regarded itself as a neutral online space where people can post, read, and share content, regardless of accuracy. In light of growing concerns about the spread of fake news, Facebook recently announced it has mounted a concerted effort to address the issue, which includes initiating a series of experiments it hopes will limit the spread of misinformation on the social network.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/golive-now-twitter-launches-live-video/181252/" target="_blank">Live Video Now Available on Twitter</a></strong></p>
            <p>Twitter joins the other social media giants in adding live video to its list of features. From the Twitter app, users can compose a tweet and click the “Live” button to get a pre-broadcast screen and then “Go Live” to start streaming video to their followers.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/instagram-now-600-million-users/181670/" target="_blank">Instagram Now Has 600 Million Users</a></strong></p>
            <p>Instagram recently announced that it had reached 600 million users. The photo-sharing company has expanded beyond its original scope to now offer features such as stories, live video, and disappearing photos and videos à la Snapchat.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://techcrunch.com/2016/12/15/twitter-cuts-dataminr-access-for-law-enforcement-fusion-centers/" target="_blank">Twitter Cuts Dataminr Access for Law Enforcement Fusion Centers</a></strong></p>
            <p>In a time where Americans are increasingly wary of government surveillance, particularly of their online activities, Twitter recently announced that it will be limiting the data access it provides to domestic surveillance hubs, including Dataminr, a social media monitoring firm Twitter partially owns. Dataminr has numerous government contracts—contracts that gave some concern to the ACLU about local and federal governments having unfettered access to Twitter’s data.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://arstechnica.com/tech-policy/2016/12/facebook-fake-news-germany-threatens-new-law-big-fines/" target="_blank">German Law Would Fine Social Media Sites “Publishing” Fake News</a></strong></p>
            <p>After the surprising results of the U.S. election in November, some critics focused on the role of fake news sites disseminating stories on Facebook and other social media sites. A proposed German law would impose fines on Facebook and similar social media sites for “publishing” fake news stories. This sudden interest in penalizing fake news sites could be in anticipation of the country’s elections coming up next year.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.adweek.com/socialtimes/twitter-tweet-search-results-relevance/648648" target="_blank">Twitter Top Tweets Search Results Now Displayed by Relevance Instead of Chronologically</a></strong></p>
            <p>Departing from its traditional method of sorting search results by reverse chronology, Twitter now sorts search results by relevance. According to a statement by a senior software engineer, the company now uses an algorithm to rank relevant tweets within a time range. This change puts Twitter in line with general search engines, who have long sorted search results by relevance, using recency only as one factor in ranking.</p>
        </td>
    </tr>
</table>
