{{!--
    No version defined becuase this module could change each month.
--}}


<!-- BUTTONS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-step-buttons-02 columns-grid set-max-width">

    {{!-- First row --}}
    <tr>
        <td class="single-grid-cell cell-1"><a href="https://lawyers.justia.com/profile/*|PROFILE_ID|*/edit/profile_picture" target="_blank"><img src="{{default.image_dir_src}}/welcome-put-a-face-button-01.png" alt="Add a professional photo to focus attention on your lawyer directory profile" border="0" /></a></td>
    </tr>

    {{!-- Second row --}}
    <tr>
        {{> fixedColumnsGrid rowClasses="-last" columStart=true fullWidth="600" cellWidth="300" cellAlignment="left" cellClasses="cell-2" }}

            <tr>
                <td><a href="https://lawyers.justia.com/profile/*|PROFILE_ID|*/edit/profile_picture" target="_blank"><img src="{{default.image_dir_src}}/welcome-put-a-face-button-02.png" alt="Add a high-resolution photo of 640x640 pixels to appear your sharpest" border="0" /></a></td>
            </tr>

            {{> fixedColumnsGrid columnDiv=true cellWidth="300" cellAlignment="right" cellClasses="cell-3" }}

            <tr>
                <td><a href="https://lawyers.justia.com/profile/*|PROFILE_ID|*/edit/profile_picture" target="_blank"><img src="{{default.image_dir_src}}/welcome-put-a-face-button-03.png" alt="Your photo will appear on your lawyer directory profile and listing pages" border="0" /></a></td>
            </tr>

        {{> fixedColumnsGrid columnEnd=true }}
    </tr>
</table>
