{{!--
    No version defined becuase this module could change each month.
--}}


<!-- BUTTONS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-step-buttons-03 columns-grid set-max-width">

    {{!-- First row --}}
    <tr>
        <td class="single-grid-cell cell-1"><a href="https://answers.justia.com/" target="_blank"><img src="{{default.image_dir_src}}/welcome-connect-clients-button-01.png" alt="Reach more clients by participating in the Justia legal community" border="0" /></a></td>
    </tr>

    {{!-- Second row --}}
    <tr>
        {{> fixedColumnsGrid rowClasses="-last" columStart=true fullWidth="600" cellWidth="300" cellAlignment="left" cellClasses="cell-2" }}

            <tr>
                <td><a href="https://answers.justia.com/" target="_blank"><img src="{{default.image_dir_src}}/welcome-connect-clients-button-02.png" alt="Strengthen your reputation and broaden your exposure by answering legal questions from your local community on Justia" border="0" /></a></td>
            </tr>

            {{> fixedColumnsGrid columnDiv=true cellWidth="300" cellAlignment="right" cellClasses="cell-3" }}

            <tr>
                <td><a href="http://law.justia.com/annotations/" target="_blank"><img src="{{default.image_dir_src}}/welcome-connect-clients-button-03.png" alt="Annotate case law and share your knowledge with other attorneys and legal researchers" border="0" /></a></td>
            </tr>

        {{> fixedColumnsGrid columnEnd=true }}
    </tr>
</table>
