
<!-- TABLE OF CONTENTS -->

<!-- widget w-table-of-contents -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="widget w-table-of-contents set-max-width">
    <!-- widget-title -->
    <tr class="widget-title">
        <td responsive="mobile-padding-horizontal-sides">
            <h3>Last week the Court heard arguments in:</h3>
        </td>
    </tr>
    <!-- widget-content -->
    <tr class="widget-content">
        <td responsive="mobile-padding-horizontal-sides">
            {{#each arguments.items }}
                <a href="#{{{ getID this.link }}}" class="content-link{{#if @last }} -last{{/if}}">{{{ this.title }}}</a>
            {{/each}}
        </td>
    </tr>
</table>
