
<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tech-news set-max-width">

<!-- Main tech news -->
    <tr>
        <td class="main-article-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Tech News</h4>
            <h2 class="widget-main-title"><a href="https://www.searchenginejournal.com/why-voice-is-the-missing-link-in-the-evolution-of-search/171731/" target="_blank">Voice Technology and the Evolution of Search</a></h2>
        </td>
    </tr>

    <tr>
        <td class="main-article-desc" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="article-desc" responsive="collapse-one">
                        <p>Businesses are increasingly adapting to voice technology to drive user searches. For retailers, voice technology offers the most promise since it is often used by users seeking a  local “near me” product or service. This emerging technology presents opportunities for brands to optimize for local SEO. The convenience of searching by voice may also threaten traditional search engines, and pave the way for voice search to prompt new trends, such as a single interface where users can conduct their searches, browse, and make purchases.</p>
                        <br>
                        {{> button moreBlue=true url="https://www.searchenginejournal.com/why-voice-is-the-missing-link-in-the-evolution-of-search/171731/" }}
                    </td>
                    <td class="featured-image" responsive="mobile-hide collapse-one">
                        <a href="https://www.searchenginejournal.com/why-voice-is-the-missing-link-in-the-evolution-of-search/171731/" target="_blank"><img src="{{default.image_dir_src}}/tech-news-01.png" alt="Voice Technology and the Evolution of Search" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

<!-- TECH links list -->
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider color="jade" text="TECH" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/european-court-says-linking-illegal-content-copyright-infringement-258442" target="_blank">European Court Says Linking to Illegal Content is Copyright Infringement</a></p>
            <p>A controversial decision out of the Court of Justice of the European Union (CJEU) offers a win to copyright owners of online content, potentially to the detriment of those who hyperlink to it. The CJEU’s ruling seems to imply that publishers of online content that link to infringing third party sites will also be liable for the infringement.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.bbc.com/news/technology-37275603" target="_blank">Warner Brothers Reports Own Site as Illegal</a></p>
            <p>In an unusual act of self-censorship, and citing a violation of copyright laws, film studio Warner Brothers has requested that Google remove its own website from search results. The request was made on behalf of Warner Brothers by Vobile, a company that generally works at the behest of major film studios to report copies of movies and television programs that have been unlawfully uploaded. Errors of this nature are not uncommon when companies like Vobile submit virtually millions of links for removal, according to Google’s transparency report.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.sociallyawareblog.com/2016/08/31/court-upholds-enforceability-of-clickwrap-employee-agreement/" target="_blank">Court Upholds Enforceability of “Clickwrap” Employee Agreement</a></p>
            <p>A recent decision from a federal district court in New Jersey reinforces the law that governs electronic agreements. For an electronic contract to be deemed enforceable, a best practice is to require the other party to accept the contract by checking a box or clicking a button in the affirmative. In this case, the court did not so much break new ground as it illustrated that the same principles apply regardless of whether a party is seeking to impose terms and conditions on users of their website or enforce restrictive covenants and a forum selection clause in an employment agreement.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://arstechnica.com/tech-policy/2016/09/facebook-napalm-girl-photo-censorship-norway/" target="_blank">Facebook Accused of Censorship After Removal of Iconic “Napalm Girl” Photo</a></p>
            <p>Facebook has reconsidered its removal of posts that contained the iconic photo of the naked girl fleeing a napalm attack during the Vietnam War. Stating that it recognized “the history and global importance of this image in documenting a particular moment in time,” Facebook noted that it had reinstated posts that contained the photo and promised to adjust its review mechanisms to allow for sharing of the image in the future. Facebook initially banned the photo on its website because displaying nudity violated its community standards.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list -last" responsive="mobile-padding-horizontal-sides">
            <p><a href="https://www.whitehouse.gov/blog/2016/09/08/announcing-first-federal-chief-information-security-officer" target="_blank">President Obama Appoints First Federal Chief Information Cybersecurity Officer</a></p>
            <p>The Obama administration recently announced a new position: Chief Information Security Officer (CISO). This individual will drive the policy, planning, and implementation of cybersecurity across the government. The administration has named Grant Schneider, the current Director for Cybersecurity Policy on the National Security Council staff at the White House, to the role of Acting Deputy CISO.</p>
        </td>
    </tr>

<!-- SEO links list -->
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider color="picton-blue" text="SEO" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/google-updates-local-reviews-schema-guidelines-257745" target="_blank">Google Updates Local Reviews Schema Guidelines</a></p>
            <p>Google recently updated its local business reviews guidelines. These updates relate to the use of schema markup on reviews. The most significant change affects third-party syndicated reviews that are not “directly produced by your site.” These reviews should now no longer be marked up with schema. Markup should only be used when the reviews are those that are directly produced by your site, per the new guidelines.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.joyannehawkins.com/interpret-google-business-gmb-insights/" target="_blank">How to Interpret Google My Business (GMB) Insights</a></p>
            <p>Google My Business Insights has been reimagined. The “How Customers Search for your Business” chart has been reformatted to only report impressions rather than clicks. There have also been changes made to the “Where Customers View your Business on Google” and “Customer Actions” graphs.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/google-adds-reviews-web-critic-reviews-local-search-results-258315" target="_blank">Google Adds “Reviews from the Web” to Critic Reviews in Local Search Results</a></p>
            <p>Google has unveiled another update to local search, announcing that “Reviews from the web” will be added to the “critic reviews” that already appear in its desktop knowledge panel and mobile search results. This means that consumer reviews from third-party sites such as Yelp will now be included along with critic reviews and Google’s own reviews in local search results.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="https://www.searchenginejournal.com/seo-guide/understanding-google-rankbrain/" target="_blank">Understanding Google RankBrain</a></p>
            <p>Google’s introduction of RankBrain as the latest component of their search algorithm in 2015 has generated a lot of questions in the SEO community. This article dispels a few common misunderstandings about the update, and explains how it impacts (or doesn’t impact) organic search results.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.socialmediatoday.com/social-business/why-your-business-needs-blog" target="_blank">Why Your Business Needs to Blog</a></p>
            <p>Blogging is a tried and true method for growing your online presence and ultimately your business. This article provides a brief overview of how consistently posting original, keyword-rich blog content over a long period of time serves to establish you as an authority in your field, build trust in your brand, increase site traffic, and generate client leads.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list -last" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/interstitialgeddon-google-warns-will-crack-intrusive-interstitials-next-january-257252" target="_blank">Google Warns it Will Crack Down on “Intrusive Interstitials” in January</a></p>
            <p>Come January, Google has plans to implement a new penalty on some mobile web pages. This penalty will affect ads that Google refers to as “intrusive interstitials” by lowering the rankings of web pages where the content is not as accessible to a user who arrives at the site via mobile search results. The types of interstitials that will be deemed problematic include popups that cover the website’s main content and standalone interstitials that must be dismissed by a user before they can access the main content.</p>
        </td>
    </tr>

<!-- Social Media links list -->
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider color="flush-orange" text="Social Media" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://mashable.com/2016/09/02/facebook-what-friends-are-talking-about/" target="_blank">Facebook is Testing a New Feature to Encourage Conversations</a></p>
            <p>Facebook is seeking to facilitate conversations within your network. By aggregating posts from your friends and highlighting how many comments those posts received, this new feature aims to make it easier for you to be notified of and participate in those exchanges.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.digitalinformationworld.com/2016/09/socialmedia-tips-how-to-create-perfect.html" target="_blank">#SocialMedia Tips: How To Create Perfect Posts on Facebook, Google+, Instagram, Twitter, Snapchat and Pinterest</a></p>
            <p>Ever wonder how to craft effective and engaging posts on platforms such as Facebook, Google+, LinkedIn, and Twitter? This article provides a step-by-step guide to making the most of each article or update you post. Topics include when and how to incorporate links and graphics, interacting with followers, and the best times of day to post to each network.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.adweek.com/socialtimes/linkedin-desktop-publishing-experience-save-articles-for-later/644616" target="_blank">LinkedIn Revamps Desktop Publishing Experience, Adds Other New Features</a></p>
            <p>In the wake of its purchase by Microsoft, LinkedIn has been rolling out a series of new features that will impact both its mobile and desktop user experience. The network has redesigned its desktop publishing interface to facilitate content creation by users, and has also added features that will allow users to save articles for later as well as search for content using keywords and hashtags.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="https://techcrunch.com/2016/09/06/ultimate-guide-to-the-news-feed/" target="_blank">How Facebook News Feed Works</a></p>
            <p>As Facebook marks the 10th anniversary of its News Feed feature, this article breaks down the key factors that determine whether and how your content will reach your intended audience. Quality, timeliness, relevance, and user engagement are some of the primary elements that will determine how likely it is that your posts will appear in your followers’ News Feeds.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list -last" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.businessinsider.com/twitter-140-character-limit-no-longer-includes-media-replies-2016-9" target="_blank">Twitter Just Changed How Tweets Work</a></p>
            <p>Twitter recently announced that it is relaxing its 140-character limit by no longer counting links to media, such as photos and videos, toward the total. This change will give users the ability to communicate more substantive and graphic-rich content to their followers in each tweet.</p>
        </td>
    </tr>

<!-- Law practice/Legal industry links list -->
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider color="pelorous" text="Legal industry" }}
        </td>
    </tr>

    <tr>
        <td class="items-list -verylast" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.abajournal.com/legalrebels/article/jj_prescott_profile/" target="_blank">Online Platform Allows People to go to Court Without Leaving Home</a></p>
            <p>A University of Michigan law professor has helped create an online system for resolving smaller court matters such as civil infractions and misdemeanors, saving users a trip to the courthouse. This new platform helps remove barriers to justice caused by poverty, disability, geography, and other factors that can impede a person’s ability to go to court. It has also drastically reduced case processing time and costs in the courts where it has been implemented. This illustrates the growing role of technology in increasing access to justice and improving efficiency in the legal system.</p>
        </td>
    </tr>
</table>
