
<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list tech-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Tech News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.usatoday.com/story/news/2016/10/14/dot-bans-samsung-galaxy-note-7-flights/92066322/" target="_blank">FAA Bans Samsung Galaxy Note 7 From Flights After Smartphones Recalled, Discontinued</a></strong></p>
            <p>After nearly 100 reports of Galaxy Note 7 smartphones overheating, and in some cases injuring users or damaging property, the FAA has banned the devices from all airlines. This announcement represents only the latest blow to Samsung, which has already issued two recalls of this product and ultimately discontinued it.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://arstechnica.com/tech-policy/2016/10/house-wants-briefing-as-soon-as-possible-to-grok-how-yahoo-spied/" target="_blank">House Wants “Briefing as soon as possible” to Grok How Yahoo Spied</a></strong></p>
            <p>Members of Congress have demanded answers from the Attorney General and Director of National Intelligence regarding reports that Yahoo received and complied with a 2015 government request to conduct warrantless searches of all users’ incoming email. Elected officials have expressed concerns over the constitutionality of such a request, and are calling for increased oversight of government intelligence programs.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://arstechnica.com/tech-policy/2016/10/us-renews-fight-for-the-right-to-seize-content-from-the-worlds-servers/" target="_blank">US Renews Fight for the Right to Seize Content from the World’s Servers</a></strong></p>
            <p>Federal prosecutors have asked the U.S. Court of Appeals for the Second Circuit to reconsider a July 2016 decision by a three-judge panel finding that while federal law permits U.S. authorities to seize information on U.S.-based servers, it does not allow access to content on foreign servers. Closely watched by many in the privacy community, the media, and the business world, this case could potentially move up to the U.S. Supreme Court if the appellate court declines to reconsider its prior ruling.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.nytimes.com/2016/10/19/arts/design/watch-gifs-bring-history-to-life-patriotic-squirrel-included.html" target="_blank">The Federal Government’s Latest Project: Squirrel GIFs</a></strong></p>
            <p>Blending technology and history, the National Archives and Records Administration has created more than 160 GIFs from its collections of historic documents and records. Featured images come from sources such as newsreels, public service announcements, and agency records, and are all <a href="http://giphy.com/usnationalarchives" target="_blank">free for download</a>.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://techcrunch.com/2016/10/13/google-helps-speak-truth-to-power-adds-prominence-to-fact-checks-in-news/" target="_blank">Google Starts Highlighting Fact-Checks in News</a></strong></p>
            <p>Google recently announced that it has created a “fact-checker” tag for use in Google News. Content creators can add the tag themselves before posting stories, and the fact-check tag will be visible to users in the expanded view of new stories in both the desktop and mobile versions of Google News. The company indicated that the recent proliferation of fact-checking sites was one of its motivations in creating this service.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://techcrunch.com/2016/10/04/twitter-microsoft-and-google-say-they-havent-scanned-messages-like-yahoo/" target="_blank">Twitter, Microsoft, Google and Others Say They Haven’t Scanned Messages Like Yahoo</a></strong></p>
            <p>Following recent reports that Yahoo built custom software to scan all incoming user email in response to a secret court order, other tech giants have swiftly distanced themselves from any notion that they participated in similar programs. Companies including Google and Twitter have stated that they have never received such a request from the government, and would oppose it if they did.</p>
        </td>
    </tr>
</table>
