
<!-- TECH NEWS -->

<!-- w-stories-list w-tech-news -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list w-tech-news set-max-width">
    <tr>
        <!-- stories-title -->
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">Tech News</h2>
        </td>
    </tr>
    <tr>
        <!-- story-item -->
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="[article-url-1]" target="_blank">[article-title-1]</a></strong></p>
            <p>[article-description-1]</p>
        </td>
    </tr>
    <tr>
        <!-- story-item -->
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="[article-url-2]" target="_blank">[article-title-2]</a></strong></p>
            <p>[article-description-2]</p>
        </td>
    </tr>
    <tr>
        <!-- story-item -->
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="[article-url-3]" target="_blank">[article-title-3]</a></strong></p>
            <p>[article-description-3]</p>
        </td>
    </tr>
</table>