
<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list tech-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Tech News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.nytimes.com/2016/12/06/technology/samsung-apple-smartphone-patent-supreme-court.html" target="_blank">Justices Hand Samsung a Victory in Patent Fight with Apple</a></strong></p>
            <p>In a relatively favorable ruling for Samsung, the U.S. Supreme court determined that the smartphone giant may not have to turn over the full $399 million in profits that Apple was previously awarded in the patent infringement lawsuit it brought against Samsung for allegedly copying the iPhone’s design. The opinion did not resolve the case, but instead drew a distinction between cases in which the article of manufacture from which profits are derived consists of a finished product, as opposed to those involving only components of that product. The Court did not answer the question of which category this case falls into, but instead sent it back down to the Federal Circuit Court to determine the appropriate amount of damages.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.theguardian.com/science/2016/nov/18/teenage-girls-wish-for-preservation-after-death-agreed-to-by-court" target="_blank">In Novel Family Law Decision, U.K. High Court Allows Dying Girl to be Cryogenically Frozen</a></strong></p>
            <p>In a groundbreaking ruling, a judge in the U.K. determined that a 14-year-old girl who died of cancer should be allowed to be cryogenically frozen after her death. The ruling specifically provided that the girl’s mother, who supported the girl’s wishes to be frozen, should be the only person allowed to make decisions about disposing of her body. She was estranged from her father, who initially opposed these plans. This case posed a novel question in terms of the intersection of law, science, and parental rights. However, the court ultimately had to address the fundamental issue of what was in the best interests of the child, and concluded that putting this decision in her mother’s hands was best for her.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://blogs.wsj.com/law/2016/12/09/court-wife-may-not-use-facebook-to-notify-husband-of-divorce/" target="_blank">Court: Wife May Not Use Facebook to Notify Husband of Divorce</a></strong></p>
            <p>A court in Brooklyn has ruled that a woman cannot use Facebook as the sole means of serving her husband with a divorce summons. The woman argued that she could not find another way to communicate with her husband, who she believes was deported and is living in Saudi Arabia. However, the judge was not comfortable relying exclusively on social media, especially given that the husband’s Facebook page did not appear to have been updated since 2014, and it can be difficult to prove the authenticity of a social media account. This decision represents a growing trend among judges of denying parties’ requests to effect service through Facebook.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.siliconbeat.com/2016/12/08/yahoo-data-breach-class-action-suits-joined-together-in-san-jose-federal-court/" target="_blank">Yahoo Data-Breach Class Action Lawsuits Joined Together in San Jose Federal Court</a></strong></p>
            <p>A panel of federal judges in San Jose, California combined 5 of at least 23 lawsuits that have been filed against Yahoo following its disclosure of a 2014 hack that compromised the data of an estimated 500 million users. The judges indicated that because these cases raise common issues of fact, and the company is located in their Bay Area district, making evidence more easily accessible there, centralizing the actions within the San Jose federal court served the convenience of the parties and witnesses.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.latimes.com/business/technology/la-fi-tn-yahoo-shares-verizon-20161216-story.html" target="_blank">Yahoo’s Latest Data Breach Could Mean An Even Bigger Price Cut For Verizon</a></strong></p>
            <p>Yahoo’s recent admission of an August 2013 hack that involved more than 1 billion user accounts could derail or significantly hinder the proposed deal for Verizon’s purchase of the embattled tech company. This latest data breach, which appears to be unconnected to a previously disclosed 2014 breach affecting over 500 million users, is believed to be the largest in history. Analysts predict that Verizon, which expressed interest in a price reduction after the first breach disclosure, may now demand an even deeper discount, assuming the deal remains in tact. The transaction was originally slated to close in the first quarter of 2017.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.siliconbeat.com/2016/12/06/google-to-be-100-green-powered-by-end-of-2017/" target="_blank">Google to be ‘100% Green-Powered’ by End of 2017</a></strong></p>
            <p>Google has announced that its offices and data centers all over the world will be powered by renewable energy by the end of the year. The tech giant stated that it is the largest corporate buyer of green energy worldwide, purchasing more than many large utilities. Google’s commitment to renewable energy is significant given that data centers have become one of the fastest-growing energy consumers in recent years. The company will still need to pull power off the conventional grid at times, but will offset these cases by investing in renewable energy entities that create green power surpluses.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.abajournal.com/news/article/law_firm_is_ordered_to_pay_nearly_27k_for_suit_over_bad_online_reviews" target="_blank">Law Firm is Ordered to Pay Nearly $27K for Suit Over Bad Online Reviews</a></strong></p>
            <p>A court in Texas has thrown out a law firm’s claim against its former client and sanctioned it to the tune of almost $27,000 in attorney fees for bringing the lawsuit. The firm’s libel case was dismissed under state anti-SLAPP laws. The former client had posted on Yelp and Facebook that the firm’s lawyers were “super unprofessional” and “pushy” after they allegedly came to her home and into her bedroom in order to obtain her business following a car accident. The firm filed suit after she refused to take the posts down in response to their cease and desist letter.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://money.cnn.com/2016/12/21/technology/uber-california-dmv/" target="_blank">Uber Stops California Self-Driving Car Program After DMV Puts the Brakes On</a></strong></p>
            <p>Following some controversial back-and-forth with the DMV, and the subsequent threat of an injunction from the state Attorney General, Uber has ceased operating the 16 self-driving cars it recently deployed in San Francisco. Uber had previously maintained that it did not need the permits the DMV is requiring on the basis that the cars at issue don’t meet the agency’s definition of autonomous vehicles. However, several of Uber’s competitors have cooperated with the DMV before testing self-driving cars on public roads. The DMV ultimately revoked the Uber vehicles’ registrations until the permitting process is complete.</p>
        </td>
    </tr>
</table>
