
<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list tech-news set-max-width">
    <tr>
        <td class="stories-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title">Tech News</h2>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://arstechnica.com/tech-policy/2016/11/trump-will-have-no-shortage-of-options-for-attacking-net-neutrality/" target="_blank">Trump and Net Neutrality: How Republicans Can Make the Rules Go Away</a></strong></p>
            <p>Net neutrality advocates are concerned that the incoming presidential administration and/or Congress will undermine gains made in this area under the Obama administration. Current FCC rules provide that internet service providers may not block lawful Internet traffic or speed up services in exchange for payment, but these rules may be in jeopardy under the new leadership. However, insiders say that change is not a given, and that Republicans may be too divided on the issue of net neutrality to agree on any sweeping revisions to current law.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.nytimes.com/2016/11/15/technology/google-will-ban-websites-that-host-fake-news-from-using-its-ad-service.html" target="_blank">Google and Facebook Take Aim at Fake News Sites</a></strong></p>
            <p>Following criticism that fake news stories disseminated via Google and Facebook influenced the outcome of the recent presidential election, the two tech giants have announced that they are banning fake news sites from using their advertising services. While it is not clear how much of an effect these policies will have on the overall circulation of fake news, this attack on fake news sites’ sources of revenue is a first step toward curbing the reach of these stories. It also represents an acknowledgement by Google and Facebook of the power their services have to sway the American electorate, a notion that Facebook has dismissed repeatedly in the past.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.cnet.com/news/firefox-focus-iphone-browser-blocks-advertiser-tracking/" target="_blank">Firefox's New iPhone Browser Hides You from Advertisers' Eyes</a></strong></p>
            <p>In a move underscoring the tension between advertisers and web users, Firefox has released a new browser for iPhone and iPad that blocks ads from tracking your online activity. In addition to addressing privacy concerns, the new browser offers a performance boost due to the slow-down ads cause on many mobile websites. It also speeds up web browsing by eliminating menus and tabs.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="https://www.searchenginejournal.com/mobile-internet-usage-surpasses-desktop-first-time-ever-worldwide/" target="_blank">Mobile Internet Usage Surpasses Desktop for First Time Ever Worldwide</a></strong></p>
            <p>Last month mobile internet usage surpassed desktop usage worldwide for the first time ever. While users in the US and UK continue to rely more heavily on desktop devices than users in some other countries, this trend highlights the growing importance of mobile friendly website content and design for businesses across all industries.</p>
        </td>
    </tr>
    <tr>
        <td class="story-item -verylast" responsive="mobile-padding-horizontal-sides">
            <p><strong><a href="http://www.businessinsider.com/snapchat-parent-company-snap-inc-files-for-ipo-2016-11" target="_blank">Snapchat Files for $25 Billion IPO</a></strong></p>
            <p>In what is expected to be the largest tech debut in several years, Snapchat’s parent company has confidentially filed paperwork with the SEC for an initial public offering. While the company is seeking valuation of between $20 and $25 billion, reports indicate that it could reach as much as $40 billion. Industry insiders hope that Snapchat’s offering could generate more activity in what has been a sluggish tech IPO market in recent years.</p>
        </td>
    </tr>
</table>
