{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- TIP OF THE MONTH -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tip-month set-max-width">
    <tr>
        <td class="tip-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Tip of the Month</h4>
            <h2 class="widget-main-title"><a href="https://onward.justia.com/2015/08/26/three-ways-to-avoid-copyright-infringement-for-images-on-your-blog" target="_blank">Three Ways to Avoid Copyright Infringement for Images on Your Blog</a></h2>
        </td>
    </tr>
    <tr>
        <td class="tip-desc" responsive="mobile-padding-horizontal-sides">
            <p>Just because an image appears on the Internet does not automatically mean you can use it for your own purposes. The unauthorized use of a copyrighted image, even if you did not know it was copyrighted, can cost you thousands of dollars if the copyright holder discovers it. A copyright holder may also file DMCA requests to have Google and other search engines remove pages with infringing material from its search results. To avoid this situation, use only reputable sources of free and royalty-free and images, and do not rely on generic image searches.</p>
            <br>
            {{> button buttonWhite=true url="https://onward.justia.com/2015/08/26/three-ways-to-avoid-copyright-infringement-for-images-on-your-blog" }}
        </td>
    </tr>
</table>
