
<!-- TIP OF THE MONTH -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tip-month set-max-width">
    <tr>
        <td class="tip-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Tip of the Month</h4>
            <h2 class="widget-main-title"><a href="https://www.justia.com/lawyers" target="_blank">Get more out of your free Justia Lawyer Directory profile by making it more complete!</a></h2>
        </td>
    </tr>
    <tr>
        <td class="tip-desc" responsive="mobile-padding-horizontal-sides">
            <p>Including a list of practice areas, short bio, high quality photo, publications, awards, and links to your website or blog will help you connect with clients and generate more leads. Adding your office location will help you appear in local lawyer directory searches, and listing an updated email address will make it easier for clients to get in touch today!</p>
            {{!--
            <br>
            {{> button mailusWhite=true url="mailto:support@justia.com" }}
            --}}
        </td>
    </tr>
</table>
