
<!-- TIP OF THE MONTH -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tip-month set-max-width">
    <tr>
        <td class="tip-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Tip of the Month</h4>
            <h2 class="widget-main-title">Double Check Your "Google My Business" Updates</h2>
        </td>
    </tr>
    <tr>
        <td class="tip-desc" responsive="mobile-padding-horizontal-sides">
            <p>Be careful when changing your address, phone number, domain name, or firm name in your “Google My Business” listing. Before saving your changes, always double-check your edits to ensure that your key information is the same throughout all your properties. If you need help or advice about changing information in your Google My Business listing, <a href="mailto:support@justia.com" target="_blank">let our team know</a> and we’ll be happy to help!</p>
        </td>
    </tr>
</table>
