
<!-- TIP OF THE MONTH -->

<!-- w-tip-month -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tip-month set-max-width">
    <tr>
        <!-- tip-title -->
        <td class="tip-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-type-name -->
            <h4 class="widget-type-name">TIP OF THE MONTH</h4>
            <!-- widget-main-title -->
            {{#if clientsNewsletter}}
            <h2 class="widget-main-title">{{{ tip_month.clients.title }}}</h2>
            {{/if}}
            {{#if jldNewsletter}}
            <h2 class="widget-main-title">{{{ tip_month.jld.title }}}</h2>
            {{/if}}
        </td>
    </tr>
    <tr>
        <!-- tip-desc -->
        <td class="tip-desc" responsive="mobile-padding-horizontal-sides">
            {{#if clientsNewsletter}}
            <p>{{{ tip_month.clients.description }}}</p>
            {{/if}}
            {{#if jldNewsletter}}
            <p>{{{ tip_month.jld.description }}}</p>
            {{/if}}
        </td>
    </tr>
</table>