
<!-- TODAY ON VERDICT -->

<!-- w-stories-list -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="widget w-verdict set-max-width">
    <tr>
        <!-- widget-title-block -->
        <td class="widget-title-block" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">Today on Verdict</h2>
            <!-- widget-type-name -->
            <h4 class="widget-type-name">Legal Analysis and Commentary</h4>
        </td>
    </tr>
    <tr class="widget-content">
        <td>
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="post">
                <tr>
                    <td class="-title"><p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor exceptur</strong></p></td>
                </tr>
                <tr>
                    <td class="-author"><p>JOHN DOE</p></td>
                </tr>
                <tr>
                    <td class="-image">
                        <img src="{{ default.image_dir_src }}/verdict-post-01.png" alt="verdict post" border="0" />
                    </td>
                </tr>
                <tr>
                    <td class="-desc">
                        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
                    </td>
                </tr>
                <tr>
                    <td class="-more"><p><strong><a href="#" target="_blank">Read More</a></strong></p></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="widget-content">
        <td>
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="post">
                <tr>
                    <td class="-title"><p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor exceptur</strong></p></td>
                </tr>
                <tr>
                    <td class="-author"><p>JOHN DOE</p></td>
                </tr>
                <tr>
                    <td class="-image">
                        <img src="{{ default.image_dir_src }}/verdict-post-01.png" alt="verdict post" border="0" />
                    </td>
                </tr>
                <tr>
                    <td class="-desc">
                        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
                    </td>
                </tr>
                <tr>
                    <td class="-more"><p><strong><a href="#" target="_blank">Read More</a></strong></p></td>
                </tr>
            </table>
        </td>
    </tr>
</table>