{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- WELCOME MESSAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-welcome set-max-width">
    <tr>
        {{> background classes="head-img" image="background-01-a.png" bgcolor="#398ff2" dimensions="width:600px; height:169px;" bgStart=true bgEnd=true }}
    </tr>
    <tr>
        <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
            <h1><span>Welcome to the September 2016 edition of</span>&nbsp;<br responsive="mobile-hide">the <strong>JUSTIA</strong> monthly client newsletter!</h1>
        </td>
    </tr>
    <tr>
        <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
            <p>Learn about recent developments in online marketing, discover new features of social media, and hear about what’s going on in the JUSTIA offices.</p>
        </td>
    </tr>
</table>
