
<!-- WELCOME MESSAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-welcome set-max-width">
    <tr>
        {{> background classes="head-img" image="background-01-a.png" bgcolor="#398ff2" dimensions="width:600px; height:169px;" bgStart=true bgEnd=true }}
    </tr>
    <tr>

        <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
            <h1><span>Welcome to the December 2016 edition of</span>&nbsp;<br responsive="mobile-hide">the Justia monthly client newsletter!</h1>
        </td>
    </tr>
    <tr>
        <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
            <p>Get an inside look at new developments in technology and online marketing, keep up with the latest social media trends, and hear about what’s happening at the Justia offices as we wrap up a great year and celebrate the season!</p>
        </td>
    </tr>
</table>
