
<!-- WELCOME MESSAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-welcome set-max-width">
    <tr>
        {{> background classes="head-img" image="background-01-a.png" bgcolor="#398ff2" dimensions="width:600px; height:169px;" bgStart=true bgEnd=true }}
    </tr>

    {{#if clientsNewsletter}}
    <tr>
        <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
            <h1><span>Welcome to the January 2017 edition of</span>&nbsp;<br responsive="mobile-hide">the Justia monthly client newsletter!</h1>
        </td>
    </tr>
    <tr>
        <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
            <p>Thank you for choosing Justia for your 2016 web design, development, SEO and marketing needs. Our team sincerely appreciates the opportunity to provide you with our services. We look forward to helping you continue to build your online presence in 2017 and beyond.</p>
        </td>
    </tr>
    {{/if}}

    {{#if jldNewsletter}}
    <tr>
        <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
            <h1><span>Welcome to the inaugural edition of</span>&nbsp;<br responsive="mobile-hide">the Justia monthly newsletter!</h1>
        </td>
    </tr>
    <tr>
        <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
            <p>Happy and prosperous 2017 from all of us at JUSTIA! In our first newsletter of the new year, you can learn about recent developments in online marketing, discover new ways to reach your audience, and hear about what’s going on with our team.</p>
        </td>
    </tr>
    {{/if}}

</table>
