
<!-- WELCOME MESSAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-welcome set-max-width">
    <tr>
        {{> background classes="head-img" image="background-01-a.png" bgcolor="#398ff2" dimensions="width:600px; height:169px;" bgStart=true bgEnd=true }}
    </tr>
    <tr>
        <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
            <h1><span>Get an inside look at new developments</span>&nbsp;<br responsive="mobile-hide">in the online marketing world</h1>
        </td>
    </tr>
    <tr>
        <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
            <p>Keep up with the latest social media trends, and hear about what’s happening at the <strong>JUSTIA</strong> offices.</p>
        </td>
    </tr>
</table>
