/// ---------------------------
// 
// Version: 1.0.0
// 
/// ---------------------------


// ----------------------------------------------------------------------------------------------------------
// T Y P O G R A P H Y
// ----------------------------------------------------------------------------------------------------------

// h1,
// h2,
// h4 {
//     display: block;
//     // font-weight: $font-weight--normal;
//     // margin: 0;
// }

h4 {
    font-size: 14pt;
    // font-size: pt-to-px(14);
    margin: 0 0 1em;
}

h2 {
    font-size: 16pt;
    // font-size: pt-to-px(16);
    // margin: 1em 0 0.83em;
}

p {
    margin: 0 0 1em;

    + {

        ul,
        ol,
        dl {
            margin-top: 0;
        }
    }
}

a {
    color: plt('accent');
}

// Break long strings to prevent x-scrolling
// code,
// pre,
// .word-wrap {
//     word-break: break-word;
//     word-wrap: break-word;
//     -webkit-hyphens: auto;
//     -moz-hyphens: auto;
//     hyphens: auto;
// }
