
// ----------------------------------------------------------------------------------------------------------
// T Y P O G R A P H Y
// ----------------------------------------------------------------------------------------------------------

h1,
h2,
h4 {
    margin: 0;
}

p,
ol,
ul {
    margin: 0;
    color: plt('scorpion');
    font: $font-weight--normal 16px/1.5 $sans-serif-font-family;
}

a {
    color: plt('accent');
    text-decoration: none;
}
