// ----------------------------------------------------------------------------------------------------------
// A D   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-ad {
  background-color: plt('alto');

  .ad-wrapper {
    padding: $padding;
  }

  .ad-content {
    width: 390px;
    padding: 0 40px 0 0;

    .text {
      padding: 0 0 10px;
    }

    .title {
      @include mail-font($size: 18px);
      color: plt('justia-blue');
    }
  }

  .ad-image {
    width: 50px;

    img {
      @include size(50px, 116px);
      display: block;
      margin: 0 auto;
    }
  }
}
