
// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

  a {
    text-decoration: none;
  }

  p,
  a {
    color: plt('white');
  }

  img {
    display: block;
    width: $max-width;
    max-width: 100%;
  }

  td {
    text-align: center;
  }

  .ad-image {

    a {
      display: block;
    }
  }

  .ad-desc {
    padding: 0 $padding 12px;
    text-align: center;

    p {
      font: 14px/1.38 $sans-serif-font-family;
    }

    &--first {
      padding: 25px $padding 12px;

      p {
        font: 16px/1.5 $sans-serif-font-family;
      }
    }

    &--last {
      padding: 0 $padding 25px;
    }
  }
}

.w-jld-ad-01,
.w-jld-ad-02 {
  background-color: #ffffff;
  color: plt('black');

  a,
  p,
  strong {
    color: plt('black');
  }

  .ad-header {
    padding: $padding;

    img {
      width: 318px;
      max-width: 100%;
    }
  }

  .ad-title {
    padding: 0 $padding $padding;

    .title {
      color: plt('justia-blue');
      font-size: 32px;
      line-height: 1.1;
    }
  }

  .ad-main {
    padding: 0 $padding $padding;
  }

  .ad-image {
    width: 507px;
    height: 376px;
    padding-left: 29px;
    background: url('../img/jld-adname-image-01.png');
    background-repeat: no-repeat;

    img {
      width: 502px;
      max-width: 100%;
    }
  }

  .ad-desc {
    padding: $padding 0 0;
    text-align: left;
    
    p {
      font-size: 16px !important;
    }
  }

  $button-ad-01-settings: (
    'width': 250px,
    'height': 44px,
    'font-size': 16px
  );
  $button-ad-01-padding: floor((map-get($button-ad-01-settings, 'height') - map-get($button-ad-01-settings, 'font-size')) / 2);

  .ad-button {
    padding: 0 $padding $padding;

    .ui-real-text-button {
      float: none;
      width: map-get($button-ad-01-settings, 'width');
      height: map-get($button-ad-01-settings, 'height');
      margin: 0 auto;

      a {
        padding: $button-ad-01-padding 0;
      }
    }
  }

  .ad-footer {
    padding: 0 $padding $padding;
    color: plt('justia-blue');
    font-size: 18px;
    font-weight: tp('weight', 'bold');
    text-align: center;
    line-height: 1.1;

    a {
      color: plt('justia-blue');
    }
  }
}

.w-jld-ad-01 {
  border-bottom: 1px solid plt('mail', 'black-haze');

  $button-ad-02-settings: (
    'width': 410px,
    'height': 44px,
    'font-size': 16px
  );
  $button-ad-02-padding: floor((map-get($button-ad-02-settings, 'height') - map-get($button-ad-02-settings, 'font-size')) / 2);

  .ad-button {
    padding: 0 $padding 23px;

    .ui-real-text-button {
      float: none;
      width: map-get($button-ad-02-settings, 'width');
      height: map-get($button-ad-02-settings, 'height');
      margin: 0 auto;

      .wrapper {
        font-size: map-get($button-ad-02-settings, 'font-size');
      }

      a {
        padding: $button-ad-02-padding 10px;
      }
    }
  }
}

.w-jld-ad-02 {

  .ad-title {

    .title {
      font-size: 26px;
    }
  }

  .ad-main {
    padding: 0;
  }

  .ad-image {
    width: 600px;
    height: 229px;
    padding-left: 0;
    background: url('../img/jld-adname-image-02.png');
    background-repeat: repeat-x;

    img {
      width: 368px;
      max-width: 100%;
    }
  }

  .ad-desc,
  .ad-button,
  .ad-footer {
    background-color: plt('justia-blue');
    color: plt('white');

    p,
    a {
      color: plt('white');
    }
  }

  .ad-desc {
    padding: $padding;
  }
}
