
// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {
  background-color: plt('justia-blue');

  a {
    text-decoration: none;
  }

  p,
  a {
    color: plt('white');
  }

  img {
    display: block;
    width: $max-width;
    max-width: 100%;
  }

  td {
    text-align: center;
  }

  .justia-logo-image {
    padding: 45px $padding 35px;
    text-align: center;

    img {
      width: 320px;
      margin: 0 auto;
    }
  }

  .ad-title {
    padding: 0 0 20px;

    a {
      color: plt('justia-blue');
      font: 26px/1.38 $sans-serif-font-family;
    }
  }

  .ad-image {
    text-align: center;

    a {
      display: block;
    }
  }

  .ad-desc {
    padding: 0 $padding 12px;
    text-align: center;

    p {
      font: 14px/1.38 $sans-serif-font-family;
    }

    &--first {
      padding: 25px $padding 12px;

      p {
        font: 16px/1.5 $sans-serif-font-family;
      }
    }

    &--last {
      padding: 0 $padding 25px;
    }
  }

  .ad-desc--first {
    padding: 29px $padding 34px;
  }

  .ad-desc--button {
    padding: 0 $padding $padding;
    text-align: center;
  }

  .ui-real-text-button {
    @include size(250px, 44px);
    text-align: center;
  }

  .ad-desc--last {
    padding: 0 $padding 45px;

    p {
      font: 18px/1.38 $sans-serif-font-family;
    }
  }
}

.w-client-ad-01 {

  .justia-logo-image {
    background-color: plt('white');
  }

  .ad-title {
    background-color: plt('white');
  }
}

// .w-jld-ad-01 {
// }

.w-jld-ad-02 {

  .title-bg {
    @include size(600px, 497px);
    padding: 0;
    background: image-url('new-year-res-02.png');
    background-repeat: no-repeat;
    background-position: center top;
    vertical-align: top;
  }

  .ad-title {
    padding: 0 0 15px;

    a {
      font: 30px/1.2 $sans-serif-font-family;
    }
  }

  .ad-image img {
    width: 473px;
    margin: 0 auto;
  }

  .ui-real-text-button {
    @include size(298px, 44px);
  }
}
