// ----------------------------------------------------------------------------------------------------------
// C O L U M N   T E X T - I M A G E
// ----------------------------------------------------------------------------------------------------------

$text-image--image-width: 210px;

// ----------------------------------------------------------------------------------------------------------

.w-text-image {
  background-color: plt('alabaster');

  .rows-items {
    padding: 15px $padding 45px;

    .desc-column {
      width: ($inner-max-width - $text-image--image-width - $padding);
      padding: $padding 0;
      text-align: left;
      vertical-align: top;

      .title {
        padding: 0 0 10px;

        @include mail-font(22px, 1.45);
      }
    }

    .image-column {
      width: ($text-image--image-width + $padding);
      padding: 48px 0 $padding;
      text-align: right;
      vertical-align: top;

      img {
        display: block;
        width: $text-image--image-width;
        // max-width: ceil(percentage($text-image--image-width / ($text-image--image-width + $padding)));
      }
    }

    .row-item {
      border-bottom: 1px solid plt('mail', 'black-haze');

      &:last-child {
        border-bottom: 0;

        .desc-column {
          padding: $padding 0 0;
        }

        .image-column {
          padding: 48px 0 0;
        }
      }
    }
  }

  &.-multiple {

    .main-title {
      padding: 45px $padding 0;
    }

    .rows-items {
      padding: 0 $padding 45px;

      .image-column {
        padding: 35px 0 $padding;
      }

      table {

        &:first-child {

          .desc-column {
            padding: 10px 0 $padding;
          }

          .image-column {
            padding: 15px 0 $padding;
          }
        }

        &:last-child {

          .desc-column {
            padding: $padding 0 0;
          }

          .image-column {
            padding: 35px 0 0;
          }
        }
      }
    }
  }
}
