// ----------------------------------------------------------------------------------------------------------
// C O L U M N   T E X T - I M A G E
// ----------------------------------------------------------------------------------------------------------

$text-image--image-width: 210px;

// ----------------------------------------------------------------------------------------------------------

.w-text-image {
  background-color: plt('alabaster');

  .rows-wrapper {
    padding: 45px $padding;

    .desc-column {
      width: ($inner-max-width - $text-image--image-width - $padding);
      padding: 0;
      text-align: left;
      vertical-align: top;

      .title {
        margin: 5px 0 10px;

        @include mail-font(22px, 1.45);
      }
    }

    .image-column {
      width: ($text-image--image-width + $padding);
      padding: 20px 0 0;
      text-align: right;
      vertical-align: top;

      img {
        display: block;
        width: $text-image--image-width;
      }
    }
  }
}
