
// ----------------------------------------------------------------------------------------------------------
// D I D   Y O U   K N O W ?
// ----------------------------------------------------------------------------------------------------------

$did-you-know-image--width: 150px;

// ----------------------------------------------------------------------------------------------------------

.w-did-you-know {
  background-color: plt('orange');

  &.jld-newsletter {
    border-bottom: 1px solid #dddddd;
    background-color: plt('white');

    .widget-type-name,
    p,
    blockquote,
    q,
    a {
      color: plt('black');
    }

    .widget-main-title {
      color: plt('orange');
    }    
  }

  .dyk {

    &-title {
      padding: 45px $padding 20px;
    }

    &-desc {
      width: ($inner-max-width - $did-you-know-image--width);
      padding: 0 0 15px;
      text-align: left;
      vertical-align: top;

      &--last {
        padding: 0 $padding 45px;
      }
    }
  }

  .featured-image {
    width: ($did-you-know-image--width + ($padding / 2));
    text-align: right;
    vertical-align: top;

    img {
      width: $did-you-know-image--width;
      max-width: floor(percentage($did-you-know-image--width / ($did-you-know-image--width + $padding)));
    }
  }

  .widget-type-name,
  .widget-main-title,
  p,
  blockquote,
  q,
  a {
    color: plt('white');
  }

  blockquote {
    padding: 0 $padding;
    margin: 0;
    font-style: italic;
  }

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}
