// ----------------------------------------------------------------------------------------------------------
// F E A T U R E D   S I T E   O F   T H E   M O N T H
// ----------------------------------------------------------------------------------------------------------

$featured-site--width: 540px;
$featured-thumb--width: 240px;
$featured-thumb-list--gap: 35px;

// ----------------------------------------------------------------------------------------------------------

.w-feaured-site-month {
  background-color: plt('alabaster');

  .main-title {
    padding: 45px $padding 20px;
    text-align: center;
  }

  // F E A T U R E D   S I T E
  // -------------------------
  .featured-site {

    .client-name {
      padding: 0 $padding 10px;
      text-align: center;

      p {
        @include mail-font(22px);
      }

      a {
        color: plt('black');
      }
    }

    .client-info {
      padding: 0 $padding;
      text-align: center;
    }

    .devices {
      padding: $padding $padding 45px;
      text-align: center;

      img {
        display: block;
        width: $featured-site--width;
        margin: 0 auto;
      }
    }
  }

  // L I S T   O F   S I T E S
  // -------------------------
  .sites-list-description {
    padding: 10px $padding $padding;
    text-align: center;
  }

  .sites-list {
    padding: 0 $padding 45px;

    .devices {
      width: ($featured-thumb--width + $padding);
      padding: $featured-thumb-list--gap 0;

      img {
        display: block;
        width: $featured-thumb--width;
        // max-width: ceil(percentage($featured-thumb--width / ($featured-thumb--width + $padding)));
      }
    }

    .client-info {
      width: ($inner-max-width - $featured-thumb--width - $padding);
      padding: $featured-thumb-list--gap 0;
      text-align: left;
      vertical-align: top;

      .name {
        @include mail-font(18px);
      }

      .link {
        padding: 10px 0 0;
      }
    }

    .site-item {
      border-bottom: 1px solid plt('mail', 'black-haze');

      &:first-child {

        .devices,
        .client-info {
          padding: 0 0 $featured-thumb-list--gap;
        }
      }

      &:last-child {
        border-bottom: 0;

        .devices,
        .client-info {
          padding: $featured-thumb-list--gap 0 0;
        }
      }
    }
  }
}
