
// ----------------------------------------------------------------------------------------------------------
// F E A T U R E D   S I T E   O F   T H E   M O N T H
// ----------------------------------------------------------------------------------------------------------

$featured-site--width: 540px;
$featured-thumb--width: 240px;
$featured-thumb-list--gap: 35px;

// ----------------------------------------------------------------------------------------------------------

.w-feaured-site-month {
  background-color: plt('alabaster');

  a {
    text-decoration: none;
  }

  .featured-site-title {
    padding: 45px $padding 20px;
    text-align: center;
  }

  .ft {

    &-single {

      &-client {
        padding: 0 $padding 10px;
        text-align: center;

        p {
          @include mail-font(22px);
        }

        a {
          color: plt('black');
        }
      }

      &-desc {
        padding: 0 $padding;
        text-align: center;
      }

      &-img {
        padding: $padding $padding 45px;
        text-align: center;

        img {
          display: block;
          width: $featured-site--width;
          margin: 0 auto;
        }
      }
    }

    &-list {
      padding: $padding $padding 45px;

      &-description {
        padding: 10px $padding 0;
        text-align: center;
      }

      .ft-list-img {
        width: ($featured-thumb--width + $padding);
        padding: $featured-thumb-list--gap 0;

        img {
          width: $featured-thumb--width;
          max-width: ceil(percentage($featured-thumb--width / ($featured-thumb--width + $padding)));
        }
      }

      .ft-list-desc {
        width: ($inner-max-width - $featured-thumb--width - $padding);
        padding: $featured-thumb-list--gap 0;
        text-align: left;
        vertical-align: top;

        tr:first-child {

          p {
            @include mail-font(18px);
          }
        }

        tr:last-child {

          td {
            padding: 10px 0 0;
          }
        }
      }

      table {
        border-bottom: 1px solid plt('mail', 'black-haze');

        &:first-child {

          .ft-list-desc {
            padding: 0 0 $featured-thumb-list--gap;
          }

          .ft-list-img {
            padding: 0 0 $featured-thumb-list--gap;
          }
        }

        &:last-child {
          border-bottom: 0;

          .ft-list-desc {
            padding: $featured-thumb-list--gap 0 0;
          }

          .ft-list-img {
            padding: $featured-thumb-list--gap 0 0;
          }
        }
      }
    }
  }
}
