
// ----------------------------------------------------------------------------------------------------------
// C L I E N T S   I N   T H E   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-in-the-news {
  background-color: plt('white');

  a {
    text-decoration: none;
  }

  .clients-title {
    padding: 45px $padding 0;
  }

  .clients-list {
    padding: 0 $padding;
    vertical-align: top;

    .news-logo {
      width: (150px + $padding);
      padding: $padding 0;
      text-align: left;
      vertical-align: top;

      img {
        display: block;
        width: 150px;
        max-width: floor(percentage(150px / (150px + $padding)));
        height: auto;
      }
    }

    .news-desc {
      width: ($inner-max-width - (150px + $padding));
      padding: $padding 0;
      vertical-align: top;
    }

    table {
      width: 100%;
      border-bottom: 1px solid plt('mail', 'black-haze');

      &:last-child {
        border-bottom: 0;

        .news-logo,
        .news-desc {
          padding: $padding 0 0;
        }
      }
    }
  }

  .clients-desc {
    padding: $padding $padding 45px;
    text-align: center;
  }
}
