
// ----------------------------------------------------------------------------------------------------------
// J L D   S P E C I F I C
// ----------------------------------------------------------------------------------------------------------

.jld-newsletter {

  .w-tech-news,
  .w-social-media-news,
  .w-meet-our-team {
    border-bottom: 1px solid plt('mail', 'black-haze');
  }

  .w-jld-ad-01 {
    background-color: plt('justia-blue');
  }

  .w-jld-ad-02 {
    background-color: plt('brand','darkest');
  }
}
