// ----------------------------------------------------------------------------------------------------------
// P E O P L E   L I S T
// ----------------------------------------------------------------------------------------------------------

$ranking-number--dimensions: 25px 56px;

// ----------------------------------------------------------------------------------------------------------

.w-people-list {
  border-bottom: 1px solid plt('alabaster');
  background-color: plt('alabaster');

  @include change-widget-title-style(plt('white'));

  .list-table {
    padding: 50px $padding 30px;

    .main-title {
      padding: 20px $padding 15px;
    }
  }

  .list-desc {
    padding: 0 $padding 45px;
  }
}
