// ----------------------------------------------------------------------------------------------------------
// T I P   O F   T H E   M O N T H   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-simple-text {

  .main-title {
    padding: 45px $padding 20px;
  }

  .desc {
    padding: 0 $padding 15px;

    &.-last {
      padding: 0 $padding 45px;
    }
  }

  .button {
    padding: 5px $padding 45px;
  }
}

.w-simple-text {

  &.-tip-month {
    background-color: plt('bright-green');

    @include change-widget-title-style(plt('white'));

    .desc {

      p,
      a {
        color: plt('white');
      }
    }
  }

  &.-jobs-newsletter {
    border-bottom: 1px solid darken(plt('alabaster'), 10);
    background-color: plt('alabaster');

    @include change-widget-title-style(plt('justia-blue'), $titleFontWeight: tp('weight', 'bold'));
  }
}
