
// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.ui-background.photo-profile {

  .bg-wrapper {
    vertical-align: bottom;
  }

  .profile-label td {
    @include mail-font($size: 18px, $line-height: 1);
    height: 35px;
    background-color: plt('metallics', 'gold');
    text-align: center;
    letter-spacing: 3px;
  }
}

.w-welcome {
  background-color: plt('bright-blue');

  &--title {
    padding: 0 $padding;

    h1 {
      color: plt('white');
      font: tp('weight', 'normal') 22px/1.3 $sans-serif-font-family;
    }
  }

  &--message {
    padding: 20px $padding 45px;

    p {
      color: plt('white');
    }
  }
}
