
// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$welcome-image--dimensions: 600px 356px;

// ----------------------------------------------------------------------------------------------------------

.w-welcome {

  .head-img {
    padding-top: 140px;
    background: url('../img/welcome-background-april.png');
    background-color: plt('bright-blue');
    background-repeat: no-repeat !important;
    background-size: $welcome-image--dimensions;
  }

  &--title {
    padding: 0 $padding;

    h1 {
      color: plt('white');
      font: tp('weight', 'normal') 22px/1.3 $sans-serif-font-family;
    }
  }

  &--message {
    padding: 20px $padding 45px;

    p {
      color: plt('white');
    }
  }
}
