
// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$welcome-image-clients--dimensions: 600px 462px;
$welcome-image-jld--dimensions: 600px 608px;

// ----------------------------------------------------------------------------------------------------------

.w-welcome {
  background-color: #031e49;

  p {
    color: plt('white');
  }

  .head-img {
    @include size($welcome-image-clients--dimensions...);
    padding: 0;
    background: image-url('welcome-01-bg.gif');
    background-repeat: no-repeat;
    background-position: center top;
    vertical-align: top;
  }

  &.-jld .head-img {
    @include size($welcome-image-jld--dimensions...);
  }

  &--2019 {
    padding: 81px $padding 0;
    text-align: center;

    img {
      @include size(430px, 136px);
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &--title {
    padding: 75px $padding 0;

    h1 {
      color: plt('white');
      font: tp('weight', 'normal') 22px/1.3 $sans-serif-font-family;
    }
  }

  &--message {
    padding: 13px $padding 0;
  }

  &--message--last {
    padding: 13px $padding 35px;
  }
}
