// ----------------------------------------------------------------------------------------------------------
// Announcement
// ----------------------------------------------------------------------------------------------------------

.w-announcement {
    max-width: 600px;
    height: 68px;
    margin: 0 auto;
    background-color: #e5eaf0;

    img {
        max-width: 56px;
        // float: left;
    }

    p {
        // float: right;
        // width: calc(100% - 80px);
        padding-left: 18px;
    }

    strong {
        color: #000;
    }

    a {
        color: #06357a;
        b {
            display: inline-block;
        }
        strong {
            color: #000;
        }
    }

    .announcement-content {
        display: block;
        max-width: 470px;
        margin: 8px auto 10px;
    }
}