
{{#table class=(concat "main-footer" "-social-on-top" widgetClass "set-max-width" separator=" ") responsive="main-footer"}}
    <tr>
      <td class="footer-head" responsive="mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border">
        {{#table class="fhead-wrapper"}}
          <tr>
            <td class="fhead-side -left footer-logo" responsive="collapse-one footer-logo">
              {{>main-logo widgetConfig=logoConfig}}
            </td>
            <td class="fhead-side -right footer-social" responsive="footer-social collapse-one">
              {{>social-icons socialIconsResponsiveClasses="mobile-align-center mobile-no-float"}}
            </td>
          </tr>
        {{/table}}
      </td>
    </tr>
    <tr>
      <td class="footer-disclaimer" responsive="mobile-padding-horizontal-sides">
        <p responsive="mobile-align-center">{{{widgetConfig.disclaimer}}}</p>
      </td>
    </tr>
    <tr>
      <td class="footer-address" responsive="mobile-padding-horizontal-sides">
        {{>ui-spacer-hack}}
        {{>address widgetConfig=widgetConfig.address widgetResponsive="collapse-one mobile-align-center"}}
      </td>
    </tr>
    <tr>
      <td class="footer-nav" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
        {{>ui-spacer-hack}}
        {{>navigation widgetConfig=widgetConfig.navigation widgetResponsive="mobile-align-center"}}
      </td>
    </tr>
  {{/table}}
