{{!
 * @param {String}   widgetClass
 * @param {Object}   widgetConfig
 * @param {Object[]} widgetConfig.navigation
 * @param {String}   widgetConfig.navigation[].text
 * @param {String}   widgetConfig.navigation[].link
 * @param {String}   widgetConfig.disclaimer
 * @param {Object}   widgetConfig.address
 * @param {Object}   logoConfig
 * @param {String}   logoConfig.src
 * @param {String}   logoConfig.alt
 * @param {String}   logoConfig.link
 * @param {String}   logoConfig.responsive
}}

{{#table class=(classList "main-footer" "-social-insider" widgetClass "set-max-width")}}
  <tr>
    <td class="footer-head" responsive="mobile-padding-horizontal-sides">
      {{>ui-spacer-hack}}
      {{#table class="fhead-wrapper set-max-width"}}
        <tr>
          <td class="fhead-side -center footer-logo" responsive="collapse-one mobile-padding-bottom">
            {{>main-logo widgetConfig=logoConfig}}
          </td>
          <td class="fhead-side -right footer-nav" responsive="collapse-one mobile-align-center">
            {{>navigation widgetConfig=widgetConfig.navigation}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
  <tr>
    <td class="footer-collaborators" responsive="mobile-padding-horizontal-sides">
      <p>{{{widgetConfig.collaborators}}}</p>
    </td>
  </tr>
  <tr>
    <td class="footer-disclaimer" responsive="mobile-padding-horizontal-sides">
      <p>{{{widgetConfig.disclaimer}}}</p>
    </td>
  </tr>
  <tr>
    <td class="footer-social" responsive="mobile-padding-horizontal-sides">
      {{>ui-spacer-hack}}
      {{>social-icons widgetClass="set-max-width"}}
    </td>
  </tr>
  <tr>
    <td class="footer-address" responsive="mobile-padding-horizontal-sides">
      {{>address widgetConfig=widgetConfig.address}}
    </td>
  </tr>
{{/table}}
