<div class="btn {{ class }}">
    <a href="{{ buttonLink }}" target="_blank">
        {{#if moreWhite }}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-more-01-a.png" alt="Read More" border="0" />
        {{/if}}
        {{#if moreBlue }}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-more-01-c.png" alt="Read More" border="0" />
        {{/if}}
        {{#if mailusWhite }}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-mailus-01-a.png" alt="Mail Us" border="0" />
        {{/if}}
        {{#if mailusBlue }}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-mailus-01-c.png" alt="Mail Us" border="0" />
        {{/if}}
    </a>
</div>