
// ----------------------------------------------------------------------------------------------------------
// A B O U T
// ----------------------------------------------------------------------------------------------------------

.w-about {

    .widget-title td {
        padding: 40px $padding 10px;
    }

    .widget-content {

        td {
            padding: 0 $padding 16px;
        }

        + .widget-title {

            td {
                padding: 0 $padding 10px;
            }
        }

        &:last-child {

            > td {
                padding: 0 $padding 40px;
            }
        }
    }
}
