
// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T
// ----------------------------------------------------------------------------------------------------------

$advertisement-background--dimensions: image-dimensions('/src/img/ask-a-lawyer-background-01.png');
$advertisement-button--width: image-width('/src/img/ask-a-lawyer-button-01.png');


// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

    .dvbg {
        // padding: 45px $padding;
        width: nth($advertisement-background--dimensions, 1);
        height: nth($advertisement-background--dimensions, 2);
        background-repeat: no-repeat !important;
        background: url('../img/ask-a-lawyer-background-01.png');
        background-color: plt('picton-blue');
        vertical-align: top;
    }

    .cont {
        width: 100%;
        text-align: left;

        p,
        a,
        strong {
            color: plt('white');
        }

        a {
            text-decoration: none;
        }

        .cnt1 {
            vertical-align: top;
            padding: 25px $padding 0;
        }

        .cnt2 {
            vertical-align: top;
            padding: 30px $padding 90px;
        }

        .cnt3 {
            text-align: center;
            padding: 0 $padding;

            p {
                font-size: 12px;
            }
        }

        .ad-title {

            p {
                font-size: 37px;
                line-height: 45px;
            }
        }

        .jld-button {
            display: block;
            width: ($advertisement-button--width / 2);
            height: auto;
        }
    }
}

.w-jld-advertisement-01 {
    background-color: plt('blue-whale');

    a {
        display: block;
    }

    img {
        display: block;
        width: $max-width;
        max-width: 100%;
    }
}

.w-jld-advertisement-02 {
    background-color: plt('mariner');

    a {
        display: block;
    }

    p,
    a,
    strong {
        color: plt('white');
    }

    a {
        text-decoration: none;
    }

    .cont {
        width: 100%;
        text-align: center;
    }

    .cnt1 {
        text-align: center;
        padding: $padding $padding 0;

        p {
            font-size: 43px;
            line-height: 45px;
        }
    }

    .cnt2 {
        padding: 61px $padding 61px;
        text-align: center;

        img {
            display: block;
            width: image-width('/src/img/premium-member-icon-01.png');
            margin: 0 auto;
        }
    }

    .cnt3 {
        text-align: center;
        padding: 0 $padding 35px;

        p {
            font-size: 15.5px;
        }
    }
}
