
// ----------------------------------------------------------------------------------------------------------
// A D V E R T I S E M E N T
// ----------------------------------------------------------------------------------------------------------

.w-advertisement {

    a {
        text-decoration: none;
    }

    p,
    a {
        color: plt('white');
    }

    img {
        display: block;
        width: $max-width;
        max-width: 100%;
    }

    td {
        text-align: center;
    }

    .ad-image {

        a {
            display: block;
        }
    }

    .ad-desc {
        padding: 10px $padding 12px;
        text-align: center;

        p {
            font: 16px/1.5 $sans-serif-font-family;
        }

        a,
        strong {
            color: plt('catalina-blue');
        }

        &--first {
            padding: 35px $padding 12px;
        }

        &--last {
            padding: 0 $padding 25px;

            p {
                font: 14px/1.38 $sans-serif-font-family;
            }
        }


        .ad-table-icon {
            width: 70px;
            max-width: 13%;
            padding-bottom: 23px;
            vertical-align: top;

            img {
                display: block;
                width: 58px;
                margin: 0 auto;
                Margin: 0 auto;
            }

            &--last {
                padding-bottom: 8px;
            }
        }

        .ad-table-desc {
            width: 470px;
            max-width: 87%;
            padding-bottom: 23px;
            padding-left: 11px;

            &--last {
                padding-bottom: 8px;
            }
        }
    }
}

.w-client-ad-01 {
    background-color: plt('white');

    p,
    a {
        color: plt('black');
    }

    td {
        text-align: left;
    }

    .ad-desc {
        text-align: left;

        &--last {
            padding-bottom: 37px;
            text-align: center;
        }
    }
}

.w-jld-ad-01 {
    background-color: plt('silver');
}

.w-jld-ad-02 {
    background-color: plt('silver');
}
