
// ----------------------------------------------------------------------------------------------------------
// C O N T A C T     F O R M    S U B M I S S I O N
// ----------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------------

.cfsubmission {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #4c6b97;
        border-collapse: collapse !important;
    }

    .inner-content {
        width: $max-width;

        p,
        a,
        strong {
            color: plt('mine-shaft');
        }

        td {
            width: 100%;
            text-align: left;
        }
    }

    .gray {
        border-top: 1px solid #dddddd;
        background-color: #f9f9f9;
    }

    .intro {
        padding: 21px 30px;
        border-bottom: 1px solid #dddddd;
        
        p {
            font: 14px/1.7 $sans-serif-font-family !important;
            text-align: center;
        }

        .client {
            em {
                font: 16px/1.5 $sans-serif-font-family !important;
                font-style: italic !important;
            }
        }

        .link {
            padding-top: 0.3em;

            a {
                color: #06357a;
                font: 18px/1.5 $sans-serif-font-family !important;
            }
        }
    }

    .message {
        padding: 25px 30px 12px;
        background-color: plt('white');

        td {
            padding-bottom: 0.7em;
        }
    }

    .details {
        padding: 25px 30px 20px;

        td {
            padding-bottom: 0.3em;
        }

        p {
            font: 12px/1.7 $sans-serif-font-family !important;

            &:last-child {
                padding-bottom: 0;
            }
        }

        .subtitle {
            strong {
                font: 14px/1.7 $sans-serif-font-family !important;
                font-weight: bold !important;
            }
        }

        .page-name {
            padding-bottom: 0;
        }

        .page-link {
            line-height: 1.35 !important;
        }
    }
}
