
// ----------------------------------------------------------------------------------------------------------
// C L O S E D   W O N 
// ----------------------------------------------------------------------------------------------------------

.closedwon {

    a {
        color: plt('catalina-blue');
        font-weight: $font-weight--bold;
        text-decoration: none;
    }

    .intro-message {
        padding: 43px 0 0;
    }

    .title,
    .subtitle {
        color: #02337c;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 20px;
        line-height: 1.5;
    }

    .subtitle {
        color: #555555;
    }

    .desc {
        color: #555555;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: $font-weight--normal;
        line-height: 1.5;

        &-list {
            padding: 1em 0 1em 48px;
            margin: 0;
        }
    }

    img {
        margin: 0 auto;
    }

    .btn-wrapper {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .btn-real-text {

        a {
            display: inline-block;
            padding: 0.86em 1.4375em;
            border: 0;
            border-radius: 50px;
            margin: 0 auto;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

}
