
// ----------------------------------------------------------------------------------------------------------
// C O M P E T I T O R S
// ----------------------------------------------------------------------------------------------------------
$competitors-background-01--dimensions: image-dimensions('/src/img/competitors-background-01.png');
$competitors-title-01--dimensions: image-dimensions('/src/img/competitors-title-01.png');
$competitors-animation-01--dimensions: image-dimensions('/src/img/competitors-animation-01.gif');
$competitors-button-01--dimensions: image-dimensions('/src/img/competitors-button-01.png');

// ----------------------------------------------------------------------------------------------------------

.competitors {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: plt('white');
        border-collapse: collapse !important;
    }

    .dvbg {
        width: nth($competitors-background-01--dimensions, 1);
        height: nth($competitors-background-01--dimensions, 2);
        padding: 0;
        background: url('../img/competitors-background-01.png');
        background-color: #ffffff;
        background-repeat: no-repeat !important;
        background-size: $competitors-background-01--dimensions;
        vertical-align: top;
    }

    .inner-content {
        width: $max-width;

        p,
        a,
        strong {
            color: plt('black');
        }

        td {
            width: 100%;
            text-align: center;
        }
    }

    .title {
        padding: 49px 80px 32px 79px;

        .image {
            width: nth($competitors-title-01--dimensions, 1) / 1.3;
            height: nth($competitors-title-01--dimensions, 2) / 1.3;
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .animations {
        padding: 0 23px;

        .image {
            width: nth($competitors-animation-01--dimensions, 1);
            height: nth($competitors-animation-01--dimensions, 2);
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .button {
        padding: 41px 121px 34px 122px;

        .image {
            width: nth($competitors-button-01--dimensions, 1) / 1.3;
            height: nth($competitors-button-01--dimensions, 2) / 1.3;
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .desc {
        padding: 0 $padding 28px;

        p {
            text-align: left;
        }
    }

    .contactus {
        padding-bottom: 34px;

        p {
            font-size: 18px !important;
        }

        .phone {

            a {
                color: plt('catalina-blue') !important;
                font-size: 20px !important;
            }
        }
    }
}
