
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   2
// ----------------------------------------------------------------------------------------------------------
$days-mainimage--dimensions: 542px 58px;
// ----------------------------------------------------------------------------------------------------------

.days {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;

        td {
            width: 100%;
        }

        .image {
            width: nth($days-mainimage--dimensions, 1);
            height: nth($days-mainimage--dimensions, 2);
            margin: 0 auto;
            Margin: 0 auto;
        }

        a {
            color: #09347a;
        }
    }

    .block-1 {
        background-color: #00b3e1;
        padding: 30px 28px 19px 30px;
    }

    .block-2 {
        background-color: #00b3e1;
        padding: 0 88px 31px 89px;

        .tagline,
        .tagline-image {
            width: 236px;
            height: 63px;
        }

        .chart,
        .chart-image {
            width: 158px;
            height: 158px;
        }

        .chart {
            padding: 0 0 0 29px;
        }
    }

    .block-3 {
        padding: 24px $padding 23px;
        text-align: center;

        p {
            font-family: $sans-serif-font-family !important;
        }
    }

    .block-5 {
        padding: 35px $padding 24px;
    }

    .block-6 {
        padding: 0 $padding;
    }

    .block-7 {
        padding: 3px 240px 21px $padding;

        ul {
            padding: 8px 0 0 36px; //22px;
            margin: 0;
            Margin: 0;
        }

        li {
            padding-bottom: 6px;
            color: #09347a;
            font-size: 0.9em;

            span {
                color: #000000;
                font-size: 16px;
            }
        }
    }

    .block-8 {
        padding: 0 $padding 8px;
    }

    .block-10 {
        padding: 0 $padding 9px;
    }

    .block-9,
    .block-11 {
        padding: 0 $padding 24px;
    }

    .contactus {
        padding: 3px $padding 35px;

        a {
            color: #09347a !important;
        }
    }
}
