
// ----------------------------------------------------------------------------------------------------------
// E X T R A   I N F O
// ----------------------------------------------------------------------------------------------------------

.w-extra-info {
    background-color: plt('white');

    .extra-info-title {
        padding: 0 $padding 5px;
    }

    .extra-info-content {
        padding: 0 $padding;
    }

    .text-block {

        p {
            font: 14px/1.5 $sans-serif-font-family;
        }

        > td {
            padding: 25px 0;
        }

        &.first-block {

            > td {
                padding: 40px 0 0;
            }
        }

        &.last-block {

            > td {
                padding: 0 0 $padding;
            }
        }
    }
}
