
// ----------------------------------------------------------------------------------------------------------
// F E A T U R E D   S I T E   O F   T H E   M O N T H
// ----------------------------------------------------------------------------------------------------------

$featured-site--width: image-width('/src/img/featured-site-01.jpg');


// ----------------------------------------------------------------------------------------------------------

.w-feaured-site-month {
    background-color: plt('alabaster');

    a {
        text-decoration: none;
    }

    .featured-site-title {
        padding: 45px $padding 20px;
        text-align: center;
    }

    .ft {

        &-single {

            &-client {
                padding: 0 $padding 10px;
                text-align: center;

                p {
                    font: 22px/1.38 $sans-serif-font-family;
                }

                a {
                    color: plt('black');
                }
            }

            &-desc {
                padding: 0 $padding;
                text-align: center;
            }

            &-img {
                padding: $padding $padding 45px;
                text-align: center;

                img {
                    display: block;
                    width: $featured-site--width;
                    margin: 0 auto;
                }
            }
        }

        &-list {
            padding: 25px $padding 45px;

            .ft-list-img {
                width: (240px + $padding);
                padding: 40px 0;

                img {
                    width: 240px;
                    max-width: ceil(percentage(240px / (240px + $padding)));
                }
            }

            .ft-list-desc {
                width: ($inner-max-width - 240px - $padding);
                padding: 40px 0;
                text-align: left;
                vertical-align: top;

                tr:first-child {

                    p {
                        font: 18px/1.38 $sans-serif-font-family;
                    }
                }

                tr:not(:first-child) {

                    td {
                        padding: 10px 0 0;
                    }
                }
            }

            table {
                border-bottom: 1px solid plt('black-haze');

                &:first-child {

                    .ft-list-desc {
                        padding: 0 0 40px;
                    }

                    .ft-list-img {
                        padding: 0 0 40px;
                    }
                }

                &:last-child {
                    border-bottom: 0;

                    .ft-list-desc {
                        padding: 40px 0 0;
                    }

                    .ft-list-img {
                        padding: 40px 0 0;
                    }
                }
            }
        }
    }
}
