
// ----------------------------------------------------------------------------------------------------------
// F L A S H    S A  L E
// ----------------------------------------------------------------------------------------------------------
$flash-background--dimensions: image-dimensions('/src/img/flash-main-image-bg.png');

$flash-image-up--dimensions: image-dimensions('/src/img/flash-main-image-up.png');
$flash-image-middle--dimensions: image-dimensions('/src/img/flash-animated.gif');
$flash-image-down--dimensions: image-dimensions('/src/img/flash-main-image-down.png');


// ----------------------------------------------------------------------------------------------------------

.flash {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;
    }

    .dvbg {
        width: nth($flash-background--dimensions, 1);
        height: nth($flash-background--dimensions, 2);
        padding: 0;
        background: url('../img/flash-main-image-bg.png');
        background-color: #09347a;
        background-repeat: no-repeat !important;
        background-size: nth($flash-background--dimensions, 1) nth($flash-background--dimensions, 2);
        vertical-align: top;
    }

    .inner-content {
        width: $max-width;

        p,
        a,
        strong {
            color: plt('black');
        }

        td {
            width: 100%;
            text-align: center;
        }
    }

    .block-1 {
        padding: 0;

        .image {
            width: nth($flash-image-up--dimensions, 1) / 1.2;
            height: nth($flash-image-up--dimensions, 2) / 1.2;
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .block-2 {
        padding: 0 40px 0 38px;

        .image {
            width: nth($flash-image-middle--dimensions, 1);
            height: nth($flash-image-middle--dimensions, 2);
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .block-3 {
        padding: 0;

        .image {
            width: nth($flash-image-down--dimensions, 1) / 1.2;
            height: nth($flash-image-down--dimensions, 2) / 1.2;
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .title {
        padding: 31px $padding 23px;
        text-align: center;

        p,
        strong {
            color: #09347a;
            font-size: 20px;
        }
    }

    .info {
        padding: 0 $padding 23px;
        text-align: left;

        p {
            text-align: left;
        }

        strong,
        a {
            color: #09347a;
        }
    }

    .contactus {
        padding: 4px $padding 45px;

        .tagline {
            font-size: 18px !important;
            line-height: 1.2 !important;
        }

        .phone {

            a {
                color: #09347a !important;
                font-size: 20px !important;
                line-height: 1.2 !important;
            }
        }
    }

    .expiration {
        padding: 0 $padding 34px;
        text-align: center;

        p,
        em {
            font-size: 14px;
            font-style: italic;
            text-align: center;
        }
    }
}
