
// ----------------------------------------------------------------------------------------------------------
// F L A S H    S A  L E
// ----------------------------------------------------------------------------------------------------------

$flash-background--dimensions: image-dimensions('/src/img/flash-main-image-01.png');
$flash-image-01--dimensions: image-dimensions('/src/img/flash-animated.gif');


// ----------------------------------------------------------------------------------------------------------

.flash {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;
    }

    .dvbg {
        width: nth($flash-background--dimensions, 1) / 1.2;
        height: nth($flash-background--dimensions, 2) / 1.2;
        padding: 0;
        background: url('../img/flash-main-image-01.png');
        background-color: #09347a;
        background-repeat: no-repeat !important;
        background-size: (nth($flash-background--dimensions, 1) / 1.2) (nth($flash-background--dimensions, 2) / 1.2);
        vertical-align: top;
    }

    .inner-content {
        width: $max-width;

        p,
        a,
        strong {
            color: plt('black');
        }

        td {
            width: 100%;
            text-align: center;
        }
    }

    .block-1 {
        padding: 105px 40px 223px 38px;

        .image {
            width: nth($flash-image-01--dimensions, 1);
            height: nth($flash-image-01--dimensions, 2);
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .main-content {
        padding: 0 $padding 20px;
        text-align: left;

        p {
            text-align: left;
        }
    }

    .contactus {

        .phone {

            a {
                color: #09347a !important;
            }
        }
    }
}
