
// ----------------------------------------------------------------------------------------------------------
// G R A D E
// ----------------------------------------------------------------------------------------------------------

.grade {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;

        td {
            width: 100%;
        }

        a {
            color: #09347a;
        }
    }

    .main-image {
        background-color: #00b3e3;
    }

    .block-1 {
        width: 301px;
        padding: 57px 23px 47px 29px;
        background-color: #00b3e3;

        .image {

            &-left {
                width: 249px;
                height: 57px;

                img {
                    width: 249px;
                    height: 57px;
                    margin: 0 auto;
                    Margin: 0 auto;
                }
            }

            &-tagline {
                width: 215px;
                height: 73px;
                padding-top: 44px;

                img {
                    width: 215px;
                    height: 73px;
                    margin: 0 auto;
                    Margin: 0 auto;
                }
            }
        }
    }

    .image-right {
        width: 299px;
        height: 244px;
        padding: 34px 0 0;
        background-color: #00b3e3;

        img {
            width: 299px;
            height: 244px;
            margin: 0;
            Margin: 0;
        }
    }

    .block-3 {
        padding: 35px $padding 34px;
        text-align: center;

        p {
            font-family: $sans-serif-font-family !important;
        }
    }

    .block-5 {
        padding: 35px $padding 24px;
    }

    .block-6 {
        padding: 0 $padding;
    }

    .block-7 {
        padding: 3px 240px 21px $padding;

        ul {
            padding: 0 0 0 36px;
            margin: 8px 0 0;
        }

        li {
            margin-bottom: 6px;
            color: #09347a;
            font-size: 0.9em;

            span {
                color: #000000;
                font-size: 16px;
            }
        }
    }

    .block-8 {
        padding: 0 $padding 8px;
    }

    .block-10 {
        padding: 0 $padding 9px;
    }

    .block-9,
    .block-11 {
        padding: 0 $padding 24px;
    }

    .contactus {
        padding: 3px $padding 35px;

        a {
            color: #09347a !important;
        }
    }
}
