
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   2
// ----------------------------------------------------------------------------------------------------------

.grade {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;

        td {
            width: 100%;
        }

        a {
            color: #09347a;
        }
    }

    .block-1 {
        padding-top: 34px;
        background-color: #00b3e3;
        
        img {
            width: 600px;
            height: 124px;
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .block-2 {
        padding-left: 48px;
        background-color: #00b3e3;

        .main-image-down {
            padding-left: 45px;
        }

        .main-image-down,
        img {
            width: 292px;
            height: 120px;
            margin: 0 auto;
            Margin: 0 auto;
        }

        .tagline {
            padding: 0 0 47px;
        }

        .tagline,
        .tagline img {
            width: 215px;
            height: 73px;
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .block-3 {
        padding: 35px $padding 34px;
        text-align: center;

        p {
            font-family: $sans-serif-font-family !important;
        }
    }

    .block-5 {
        padding: 35px $padding 24px;
    }

    .block-6 {
        padding: 0 $padding;
    }

    .block-7 {
        padding: 3px 240px 21px $padding;

        ul {
            padding: 0 0 0 36px; //22px;
            margin: 8px 0 0;
        }

        li {
            margin-bottom: 6px;
            color: #09347a;
            font-size: 0.9em;

            span {
                // display: inline-block;
                // margin-left: -6px;
                color: #000000;
                font-size: 16px;
            }
        }
    }

    .block-8 {
        padding: 0 $padding 8px;
    }

    .block-10 {
        padding: 0 $padding 9px;
    }

    .block-9,
    .block-11 {
        padding: 0 $padding 24px;
    }

    .contactus {
        padding: 3px $padding 35px;

        a {
            color: #09347a !important;
        }
    }
}
