
// ----------------------------------------------------------------------------------------------------------
// H E A D L I N E S
// ----------------------------------------------------------------------------------------------------------

.headline {
    width: 100%;

    .label {
        width: 100%;
        padding: 0 0 30px;
    }

    p {
        color: plt('catalina-blue');
        font: $font-weight--bold 20px/24px $sans-serif-font-family !important;
    }
}
