
// ----------------------------------------------------------------------------------------------------------
// I N S I D E   J U S T I A
// ----------------------------------------------------------------------------------------------------------

$meet-team-image--width: image-width('/src/img/inside-justia-01.png') / 2;


// ----------------------------------------------------------------------------------------------------------

.w-inside-justia {
    background-color: plt('concrete');

    .inside-list {
        padding: 15px $padding 45px;

        .inside-desc {
            width: ($inner-max-width - $meet-team-image--width - $padding);
            padding: $padding 0;
            text-align: left;
            vertical-align: top;

            .widget-main-title {
                font-size: ft-exist(22px);
                line-height: 32px;
                padding: 0 0 10px;
            }
        }

        .inside-image {
            width: ($meet-team-image--width + $padding);
            padding: $padding 0;
            vertical-align: top;

            img {
                width: $meet-team-image--width;
                max-width: ceil(percentage($meet-team-image--width / ($meet-team-image--width + $padding)));
                height: auto;
            }
        }

        table {
            width: 100%;
            border-bottom: 1px solid plt('mercury');

            &:last-child {
                border-bottom: 0;

                .inside-desc,
                .inside-image {
                    padding: $padding 0 0;
                }
            }
        }
    }
}

