
// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$welcome-image--dimensions: 600px 169px;


// ----------------------------------------------------------------------------------------------------------

.w-intro {
    background-color: plt('white');

    .intro-title {
        padding: 40px $padding 10px;
    }

    .intro-desc {
        padding: 0 $padding $padding;
        border-bottom: 1px solid plt('black-haze');
    }
}
