
// ----------------------------------------------------------------------------------------------------------
// I N T R O D U C T I O N
// ----------------------------------------------------------------------------------------------------------

.w-introduction {

    .widget-title td {
        padding: 0 $padding 10px;
    }

    .widget-content {

        > td {
            padding: 0 $padding 16px;
        }

        &:last-child {

            >td {
                padding: 0 $padding 40px;
            }
        }
    }

    .content-link {

        &-desc {
            margin-bottom: 1em;
            font: 16px/1.2 $sans-serif-font-family;

            &.-last {
                margin-bottom: 0;
            }
        }
    }
}
