
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   2
// ----------------------------------------------------------------------------------------------------------
$jld-new-look-mainimage--dimensions: image-dimensions('/src/img/jld-new-look-main-image-01.png');
$jld-new-look-button--dimensions: image-dimensions('/src/img/jld-new-look-button-01.png');
$jld-new-look-star--dimensions: image-dimensions('/src/img/jld-new-look-star-01.png');
$jld-new-look-look-todos-boxes-background-01--dimensions: image-dimensions('/src/img/jld-new-look-todos-boxes-background-01.png');

// ----------------------------------------------------------------------------------------------------------

.jld-new-look {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;

        td {
            width: 100%;
        }
    }

    .main-image {
        padding: 44px 32px 0 33px;

        .image {
            width: (nth($jld-new-look-mainimage--dimensions, 1) / 1.5);
            height: (nth($jld-new-look-mainimage--dimensions, 2) / 1.5);
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .title {
        padding: 40px $padding 22px;

        strong {
            font-size: 21px;
        }
    }

    .todos {
        padding: 0 $padding 36px;

        table {
            table-layout: fixed;
        }

        td {
            display: inline-block;

            &.todos-boxes {
                width: nth($jld-new-look-look-todos-boxes-background-01--dimensions, 1) !important;
            }

            &.todos-text {
                width: 500px !important;
            }
        }
    }

    .todos-boxes {
        height: nth($jld-new-look-look-todos-boxes-background-01--dimensions, 2);
        padding: 0;
        padding-left: 11px;
        background: url('../img/jld-new-look-todos-boxes-background-01.png');
        background-color: #ffffff;
        background-repeat: no-repeat !important;
        background-size: $jld-new-look-look-todos-boxes-background-01--dimensions;
        vertical-align: top;
    }

    .todo-1 {
        padding-top: 4px;
        padding-bottom: 16px;
    }

    .todo-2 {
        padding-top: 8px;
    }

    .button {
        padding: 0 128px 40px 129px;

        .image {
            width: (nth($jld-new-look-button--dimensions, 1) / 1.5);
            height: (nth($jld-new-look-button--dimensions, 2) / 1.5);
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .separator {
        padding-bottom: 36px;

        hr {
            display: block;
            height: 1px;
            padding: 0;
            border: 0;
            border-top: 1px solid plt('catalina-blue');
            margin: 0; 
        }        
    }

    .placements {
        padding: 0 $padding 13px;

        td {
            padding-bottom: 28px;
        }

        .image {
            display: inline-block;
            width: (nth($jld-new-look-star--dimensions, 1) / 1.5);
            height: (nth($jld-new-look-star--dimensions, 2) / 1.5);
            margin: 0 21px 0 0;
            vertical-align: middle;
            Margin: 0 21px 0 0;
        }
    }

    .contactus {
        padding-bottom: 25px;

        .phone {

            a {
                color: #333333 !important;
            }
        }
    }
}
