
// ----------------------------------------------------------------------------------------------------------
// J U R I S P R O   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$tech-news-image--width: image-width('/src/img/tech-news-01.png');


// ----------------------------------------------------------------------------------------------------------

.w-jurispro {
    background-color: plt('white');

    a {
        text-decoration: none;
    }

    .jurispro-title {
        padding: 38px $padding 13px;
        background-color: plt('jurispro', 'primary');

        // .widget-main-title {

        //     a {
        //         color: plt('black');
        //         text-decoration: none;
        //     }
        // }

        img {
            display: block;
            width: 100%;
            margin: 0;
        }
    }

    .jurispro-desc {
        padding: 20px $padding;
    }

    .jurispro-case-list {

        .case {
            padding: 0 $padding 20px;

            a {
                color: plt('jurispro', 'primary');
            }
        }

        &:last-of-type {

            .case {
                padding: 0 $padding 45px;
            }
        }
    }
}
