
// ----------------------------------------------------------------------------------------------------------
// P E O P L E   L I S T
// ----------------------------------------------------------------------------------------------------------

.w-people-list {
    background-color: plt('concrete');
    border-bottom: 1px solid plt('concrete');

    .list-table {
        padding: 50px $padding;
    }

    .widget-type-name,
    .widget-main-title {
        color: plt('white');

        a {
            color: plt('white');
        }
    }

    a {
        text-decoration: none;
    }

    .list-table-title {
        padding: 20px $padding 15px;
    }

    .people {

        &-table {
            background-color: plt('white');
            table-layout: fixed;


            a {
                color: plt('black');
            }

            tr:not(:last-child) {

                td {
                    border-bottom: 1px solid plt('mercury');
                }
            }
        }

        &-photo {
            // width: percentage(70px / $inner-max-width);
            width: 70px;
            // padding: 10px 0 10px percentage($padding / $inner-max-width);
            padding: 10px 0 10px $padding;
            text-align: right;
            vertical-align: middle;

            img {
                display: block;
                width: 70px;
                // max-width: floor(percentage(70px / 100px));
                max-width: 100%;
                height: auto;
            }
        }

        &-info {
            padding: 10px 25px;
            vertical-align: middle;

            .-name {
                font-size: 25px;
                line-height: 1.1;
            }

            .-location {
                font-size: 12px;
                line-height: 1.1;
            }
        }

        &-ranking {
            width: 25px;
            padding: 10px $padding 10px 0;
            text-align: left;
            vertical-align: middle;

            img {
                display: block;
                width: 25px;
            }
        }
    }
}


.w-featured-annotator {

    .list-table-title {
        background-color: plt('blaze-orange');
    }
}

.w-ask-lawyer-leaderboard {

    .list-table-title {
        background-color: plt('green-haze');
    }
}

