
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   2
// ----------------------------------------------------------------------------------------------------------

$questions-dark-mainimage--dimensions: image-dimensions('/src/img/questions-dark-main-image-01.png');


// ----------------------------------------------------------------------------------------------------------

.questions-dark {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;

        td {
            width: 100%;
        }

        .image {
            width: nth($questions-dark-mainimage--dimensions, 1) / 1.2;
            height: nth($questions-dark-mainimage--dimensions, 2) / 1.2;
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .block-1 {
        padding: 41px 0 0 33px;
        background-color: #09347a;
    }

    .block-2 {
        padding: 33px $padding 26px;
        text-align: left;

        p {
            font: 16px/1.5 $sans-serif-font-family !important;
        }
    }

    .block-3 {
        padding: 0 $padding 33px;
    }
}
