
// ----------------------------------------------------------------------------------------------------------
// Q U E S T I O N S - L I G H T - B L U E
// ----------------------------------------------------------------------------------------------------------

$questions-light-tagline--dimensions: image-dimensions('/src/img/questions-light-tagline-01.png');
$questions-light-button--dimensions: image-dimensions('/src/img/questions-light-button-01.png');
$questions-light-mainimage--dimensions: image-dimensions('/src/img/questions-light-main-image-01.png');


// ----------------------------------------------------------------------------------------------------------

.questions-light {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;

        td {
            width: 100%;
        }

        .image {
            width: nth($questions-light-mainimage--dimensions, 1) / 1.2;
            height: nth($questions-light-mainimage--dimensions, 2) / 1.2;
            margin: 0 auto;
            Margin: 0 auto;

            &.button {
                width: nth($questions-light-button--dimensions, 1) / 1.2;
                height: nth($questions-light-button--dimensions, 2) / 1.2;
            }

            &.tagline {
                width: nth($questions-light-tagline--dimensions, 1) / 1.2;
                height: nth($questions-light-tagline--dimensions, 2) / 1.2;   
            }
        }
    }

    .block-1 {
        padding: 41px 0 0;
        background-color: #01b3e2;

        .right {
            width: (334px - 23px - 33px);
            padding: 47px 23px 85px 33px;
            background-color: #01b3e2;
        }

        .left {
            width: 266px;
            padding: 0;
            background-color: #01b3e2;
        }

        .tagline-container {
            padding: 0 32px 30px 39px;
            background-color: #01b3e2;
        }
    }

    .block-2 {
        padding: 33px $padding 27px;
        text-align: left;

        p {
            font: 16px/1.5 $sans-serif-font-family !important;
        }
    }

    .block-3 {
        padding-bottom: 34px;
    }
}
