
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   2
// ----------------------------------------------------------------------------------------------------------

$questions-dark-tagline--dimensions: image-dimensions('/src/img/questions-dark-tagline-01.png');
$questions-dark-button--dimensions: image-dimensions('/src/img/questions-dark-button-01.png');
$questions-dark-mainimage--dimensions: image-dimensions('/src/img/questions-dark-main-image-01.png');

// ----------------------------------------------------------------------------------------------------------

.questions-dark {

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        background-color: #ffffff;
        border-collapse: collapse !important;

        td {
            width: 100%;
        }

        .image {
            width: nth($questions-dark-mainimage--dimensions, 1) / 1.2;
            height: nth($questions-dark-mainimage--dimensions, 2) / 1.2;
            margin: 0 auto;
            Margin: 0 auto;

            &.button {
                width: nth($questions-dark-button--dimensions, 1) / 1.2;
                height: nth($questions-dark-button--dimensions, 2) / 1.2;
            }

            &.tagline {
                width: nth($questions-dark-tagline--dimensions, 1) / 1.2;
                height: nth($questions-dark-tagline--dimensions, 2) / 1.2;   
            }
        }
    }

    .block-1 {
        padding: 41px 0 0;
        background-color: #09347a;

        .right {
            width: (334px - 23px - 33px);
            padding: 47px 23px 85px 33px;
            background-color: #09347a;
        }

        .left {
            width: 266px;
            padding: 0;
            background-color: #09347a;
        }

        .tagline-container {
            padding: 0 35px 23px 42px;
            background-color: #09347a;
        }
    }

    .block-2 {
        padding: 33px $padding 26px;
        text-align: left;

        p {
            font: 16px/1.5 $sans-serif-font-family !important;
        }
    }

    .block-3 {
        padding: 0 $padding 33px;
    }
}
