
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   1
// ----------------------------------------------------------------------------------------------------------
$stats-v2-main-image--dimensions: image-dimensions('/src/img/stats-v2-main-image.png');
$stats-v2-button--dimensions: image-dimensions('/src/img/stats-v2-button.png');

// ----------------------------------------------------------------------------------------------------------

.stats-v2 {
    text-align: center;

    .description {
        overflow: hidden;
        width: $max-width;
        max-width: $max-width !important;
        border-collapse: collapse !important;

        .image {
            margin: 0 auto;
            Margin: 0 auto;
        }
    }

    .block-1 {
        height: nth($stats-v2-button--dimensions, 2);
        background: url('../img/stats-v2-button.png');
        background-color: #278dcf;
        background-repeat: no-repeat !important;
        background-size: $stats-v2-button--dimensions;
        background-position: center 39px;
        vertical-align: top;
        padding: 44px 30px 33px;

        // .image {
        //     width: nth($stats-v2-button--dimensions, 1);
        //     height: nth($stats-v2-button--dimensions, 2);
        // }
    }

    .block-2 {
        .image {
            width: nth($stats-v2-main-image--dimensions, 1);
            height: nth($stats-v2-main-image--dimensions, 2);
        }
    }

    .block-3 {
        padding: 37px 30px 26px;

        p {
            font-size: 20px;
            color: plt('white');
            line-height: 1.3 !important;
        }

        span {
            color: #ff8f21;
        }
    }

    .block-4 {
        padding: 0 30px 28px;

        p {
            font-size: 18px;
            color: plt('white');
        }
    }

    .contactus {
        padding: 0 30px 29px;

        .tagline {
            color: plt('white');
        }

        .phone {

            a {
                color: plt('white') !important;
                font-size: 18px;
            }
        }
    }

    .expiration {
        padding: 0 30px 34px;

        em {
            font-size: 14px;
            color: plt('white');
        }
    }
}
