
// ----------------------------------------------------------------------------------------------------------
// T E C H   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$tech-news-image-large--width: 200px;
$tech-news-image--width: 150px;


// ----------------------------------------------------------------------------------------------------------

.w-stories-list {
    background-color: plt('white');

    a {
        text-decoration: none;
    }

    .main-story {

        &-title {
            padding: 45px $padding 20px;

            .widget-main-title {

                a {
                    color: plt('black');
                    text-decoration: none;
                }
            }
        }

        &-desc {
            padding: 0 $padding 45px;

            &.last {
                padding-bottom: 10px;
            }

            &.-with-list {
                padding: 0 $padding 20px;
            }

            .story-desc {
                width: ($inner-max-width - $tech-news-image--width - $padding);
                text-align: left;
                vertical-align: top;

                p {
                    margin-bottom: 1em;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .featured-image {
                width: ($tech-news-image--width + $padding);
                text-align: right;
                vertical-align: top;

                img {
                    width: $tech-news-image--width;
                    max-width: floor(percentage($tech-news-image--width / ($tech-news-image--width + $padding)));
                }
            }

            .story-extra {
                padding: 30px 0 0;
            }
        }

        &-list {
            padding: 0 $padding 14px;

            &--last {
                padding: 0 $padding 45px;
            }
        }
    }

    .stories-title {
        padding: 45px $padding 20px;
        text-align: center;
    }

    .story-item {
        padding: 0 $padding 20px;
    }

    tr:last-child {

        .story-item {
            padding: 0 $padding 45px;
        }
    }

    .full-width-desc {
        width: ($inner-max-width - $padding);
        padding: 0 $padding 45px;
    }

    &.jld {

        .main-story {

            &-desc {

                .story-desc {
                    width: ($inner-max-width - $tech-news-image-large--width - $padding);
                }

                .featured-image {
                    width: ($tech-news-image-large--width + $padding);

                    img {
                        width: $tech-news-image-large--width;
                        max-width: floor(percentage($tech-news-image-large--width / ($tech-news-image-large--width + $padding)));
                    }
                }
            }
        }
    }


    &.w-tech-news {

        .story-item a,
        .widget-main-title {
            color: plt('green-haze');
        }
    }

    &.w-seo-news {

        .story-item a,
        .widget-main-title {
            color: plt('cerulean');
        }
    }

    &.w-social-media-news {

        .story-item a,
        .widget-main-title {
            color: plt('blaze-orange');
        }
    }

    &.w-legal-industry-news {

        .story-item a,
        .widget-main-title {
            color: plt('shamrock');
        }
    }

    &.w-jurispro {

        sup {
            font: 16px/1 $sans-serif-font-family;
        }

        .story-desc,
        .featured-image {
            padding: 0 0 30px;
            border-bottom: 1px solid plt('black-haze');
            vertical-align: middle;
        }

        .story-desc {

            p {
                font: 20px/1.38 $sans-serif-font-family;
            }
        }
    }
}
