
// ----------------------------------------------------------------------------------------------------------
// T A B L E   O F   C O N T E N T S
// ----------------------------------------------------------------------------------------------------------

.w-table-contents {

    .widget-title-block {
        padding: 0 $padding 10px;
    }

    .widget-content {

        > td {
            padding: 0 $padding 16px;
        }

        &:last-child {

            >td {
                padding: 0 $padding 35px;
            }
        }
    }

    .content-link {

        &-desc {
            font: 13px/1.2 $sans-serif-font-family;
        }
    }
}
