
// ----------------------------------------------------------------------------------------------------------
// T A B L E   O F   C O N T E N T S
// ----------------------------------------------------------------------------------------------------------

.w-table-of-contents {

    .widget-title td {
        padding: 24px $padding 10px;
    }

    .widget-content {

        > td {
            padding: 0 $padding 16px;
        }

        &:last-child {

            > td {
                padding: 0 $padding 40px;
            }
        }
    }

    .content-link {
        display: block;
        margin-bottom: 0.5em;
        font-weight: $font-weight--bold;

        &.-last {
            margin-bottom: 0;
        }
    }
}
