
// ----------------------------------------------------------------------------------------------------------
// T A B L E   O F   C O N T E N T S
// ----------------------------------------------------------------------------------------------------------

.w-verdict {

    .widget-content {

        > td {
            padding: 0 $padding 16px;
        }

        &:last-child {

            >td {
                padding: 0 $padding 35px;
            }
        }
    }

    .post {
        table-layout: fixed;

        .-title p {
            color: plt('primary');
        }

        .-author p {
            color: plt('primary');
            font: 14px/1.38 $sans-serif-font-family;
        }

        .-image {
            padding: 10px 0 20px;

            img {
                display: block;
                width: 540px;
                max-width: 100%;
                margin: 0;
            }
        }
    }
}
