// ----------------------------------------------------------------------------------------------------------
// C O L U M N   T E X T - I M A G E
// ----------------------------------------------------------------------------------------------------------

.w-text-image {

  &.-multiple {

    .main-title {
      padding: 45px $padding 15px;
    }

    .rows-wrapper {
      padding: 0 $padding 45px;

      .description {
        padding: $padding 0;

        .title {
          margin: 0 0 10px;
        }
      }

      .image {
        padding: ($padding + 5px) 0 $padding;
      }
    }

    .row-item {
      border-bottom: 1px solid plt('mail', 'black-haze');

      &:first-child {

        .description {
          padding: 0 0 $padding;
        }

        .image {
          padding: 5px 0 $padding;
        }
      }

      &:last-child {
        border-bottom: 0;

        .description {
          padding: $padding 0 0;
        }

        .image {
          padding: ($padding + 5px) 0 0;
        }
      }
    }
  }
}
