// ----------------------------------------------------------------------------------------------------------
// M A I N   H E A D E R
// ----------------------------------------------------------------------------------------------------------

$logos-dimensions: (
    'justia': (
        'dims': 879px 231px
    ),
    'insights': (
        'dims': 1120px 196px
    ),
    'lawyer-profile-essentials': (
        'dims': 2248px 158px
    ),
    'legal-jobs': (
        'dims': 1328px 158px
    ),
    'lawyer-directory': (
        'dims': 1762px 158px
    ),
    'marketing': (
        'dims': 1240px 196px
    ),
    'insider': (
        'dims': 1240px 196px
    ),
    'justia-ver2': (
        'dims': 300px 90px
    ),
    'justia-anniversary': (
        'dims': 470px 55px
    ),
    'lii': (
        'dims': 887px 82px
    )
);

$global-mail-logos: ();

@each $name, $config in $logos-dimensions {
    $global-mail-logos: map-extend($global-mail-logos, (
        ($name): (
            'width': nth(map-get($config, 'dims'), 1),
            'height': nth(map-get($config, 'dims'), 2),
            'dims': map-get($config, 'dims')
        )
    ));
}

$settings: set('mail-logos', $global-mail-logos);

$settings: set('mail-header', (
    'background': plt('white'),
    'logos': (
        'logo-only': (
            'justia': 135px,
            'insights': 267px,
            'lawyer-profile-essentials': 470px,
            'legal-jobs': 308px,
            'lawyer-directory': 500px,
            'marketing': 297px,
            'insider': 300px,
            'your-birthday': 380px,
            'new-team-member': 450px,
            'new-intern': 340px,
            'anniversary': 346px,
            'onboarding': 350px,
            'justia-anniversary': 470px
        ),
        'with-date': (
            'justia': 135px,
            'insights': 267px,
            'lawyer-profile-essentials': 270px,
            'legal-jobs': 277px,
            'lawyer-directory': 300px,
            'marketing': 297px,
            'justia-anniversary': 270px
        ),
        'insider-date': (
            'insider': 300px
        ),
        'extended-banner': (
            'oyez': 540px
        ),
        'two-logos': (
            'justia':  160px,
            'lii': 300px
        )
    )
));

// ----------------------------------------------------------------------------------------------------------

.main-header {
    background-color: get('mail-header.background');

    .logo-img {
        display: block;
        max-width: 87%;
        margin: 0;
    }
}

.main-header.-logo-only {

    .wrapper {
        width: 100%;
        padding: 20px $padding;
        text-align: center;
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.logo-only') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}

.main-header.-with-date {

    .wrapper {
        padding: $padding;
        vertical-align: middle;

        > table {
            table-layout: fixed;
        }
    }

    .logo {
        width: 60%;
    }

    .date {
        width: 40%;
        text-align: right;

        span {
            display: block;
            color: plt('justia-blue');

            @include mail-font(22px, 1.25);
        }
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.with-date') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}

.main-header.-insider-date {
    background-color: plt('mail', 'insider-blue');

    .wrapper {
        text-align: center;
        vertical-align: middle;

        > table {
            table-layout: fixed;
        }
    }

    @each $logo-name, $width in get('mail-header.logos.logo-only') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
            margin: 0 auto;
        }
    }

    .logo {
        border-radius: 10px 10px 0 0;
        background-color: get('mail-header.background');
        text-align: center;
    }

    .date {
        width: 100%;
        padding: 15px $padding;
        text-align: right;

        span {
            display: block;
            color: #585858;

            @include mail-font(16px, 1.25);
        }
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.insider-date') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}

.main-header.-extended-banner {

    .wrapper {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    img {
        max-width: 600px;
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.extended-banner') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}

.main-header.-two-logos {

    .wrapper {
        padding: 13px 50px;
        vertical-align: middle;

        > table {
            table-layout: fixed;
        }
    }

    .left-logo {
        width: 40%;
    }

    .right-logo {
        width: 60%;
        text-align: right;
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.two-logos') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}
