// ----------------------------------------------------------------------------------------------------------
// M A I N   F O O T E R
// ----------------------------------------------------------------------------------------------------------

$settings: set('footer-styles', (
    'basic': (
        'font-size': 14px,
        'color': plt('black'),
        'background-color': plt('white'),
        'head': (
            'background-color': plt('justia-blue'),
            'border-top': plt('justia-blue'),
            'border-bottom': plt('justia-blue')
        ),
        'address': (
            'font-weight': 700
        ),
        'nav': (
            'color': plt('white')
        )
    ),
    'light-bright': (
        'font-size': 14px,
        'color': plt('black'),
        'background-color': plt('white'),
        'head': (
            'background-color': plt('white'),
            'border-top': plt('white'),
            'border-bottom': plt('bright-blue')
        ),
        'address': (
            'font-weight': 400
        ),
        'nav': (
            'color': plt('bright-blue')
        )
    ),
    'light-blue': (
        'font-size': 14px,
        'color': plt('black'),
        'background-color': plt('white'),
        'head': (
            'background-color': plt('white'),
            'border-top': plt('justia-blue'),
            'border-bottom': plt('justia-blue')
        ),
        'address': (
            'font-weight': 700
        ),
        'nav': (
            'color': plt('justia-blue')
        )
    ),
    'insider': (
        'font-size': 16px,
        'color': plt('black'),
        'background-color': #f0f7ff,
        'head': (
            'background-color': #f0f7ff,
            'border-top': #f0f7ff,
            'border-bottom': #f0f7ff
        ),
        'address': (
            'font-weight': 700
        ),
        'nav': (
            'color': plt('white')
        )
    )
));

$settings: set('mail-footer', (
    'logos': (
        'social-below': (
            'justia': 111px,
            'insights': 190px,
            'lawyer-profile-essentials': 190px,
            'legal-jobs': 190px,
            'lawyer-directory': 190px
        ),
        'social-on-top': (
            'justia': 126px,
            'insights': 235px,
            'lawyer-profile-essentials': 300px,
            'legal-jobs': 277px,
            'lawyer-directory': 300px
        ),
        'social-insider': (
            'justia': 111px,
            'insights': 190px,
            'lawyer-profile-essentials': 190px,
            'legal-jobs': 190px,
            'lawyer-directory': 190px
        )
    )
));

// ----------------------------------------------------------------------------------------------------------

.main-footer {
    clear: both;

    a {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: none;
    }

    .footer-head {
        padding: 14px $padding;
    }

    .fhead-wrapper {
        width: 100%;
    }

    .fhead-side {
        vertical-align: middle;

        &.-right {
            text-align: right;
        }
    }

    .-center {
        text-align: center;
    }

    .footer-social {
        overflow: hidden;
    }

    .footer-nav {

        .pipe {
            margin: 0 10px;
        }
    }

    .footer-address {
        vertical-align: top;
    }

    &.-insider-style {

        .footer-head {
            padding: 25px $padding;
        }

        img {
            margin: 0 auto;
        }       
    }

    // F O O T E R   S T Y L E S
    // -------------------------
    @each $style-name, $scheme in get('footer-styles') {

        &.-#{$style-name}-style {
            @include set-footer-style($scheme);
        }
    }
}