// ----------------------------------------------------------------------------------------------------------
// M A I N   H E A D E R
// ----------------------------------------------------------------------------------------------------------

$logos-dimensions: (
    'justia': (
        'dims': 334px 100px
    ),
    'amplify': (
        'dims': 576px 100px
    ),
    'anniversary': (
        'dims': 692px 100px
    ),
    'answers': (
        'dims': 596px 100px
    ),
    'argument-summaries': (
        'dims': 980px 100px
    ),
    'ask-a-lawyer': (
        'dims': 746px 100px
    ),
    'blogging': (
        'dims': 778px 100px
    ),
    'cle': (
        'dims': 812px 100px
    ),
    'connect': (
        'dims': 584px 100px
    ),
    'connect-pro': (
        'dims': 698px 100px
    ),
    'daily-summaries': (
        'dims': 1074px 100px
    ),
    'elevate': (
        'dims': 556px 100px
    ),
    'insider': (
        'dims': 668px 100px
    ),
    'insights': (
        'dims': 572px 100px
    ),
    'justia-ver2': (
        'dims': 334px 100px
    ),
    'justia-anniversary': (
        'dims': 692px 100px
    ),
    'law-firm-marketing': (
        'dims': 918px 100px
    ),
    'lawyer-directory': (
        'dims': 842px 100px
    ),
    'lawyer-profile-essentials': (
        'dims': 1058px 100px
    ),
    'legal-jobs': (
        'dims': 660px 100px
    ),
    'marketing': (
        'dims': 632px 100px
    ),
    'new-intern': (
        'dims': 660px 100px
    ),
    'new-team-member': (
        'dims': 902px 100px
    ),
    'onboarding': (
        'dims': 694px 100px
    ),
    'onward': (
        'dims': 576px 100px
    ),
    'opinion-summaries': (
        'dims': 914px 100px
    ),
    'refer': (
        'dims': 502px 100px
    ),
    'webinars': (
        'dims': 622px 100px
    ),
    'website-seo-report': (
        'dims': 944px 100px
    ),
    'weekly-opinion-summaries': (
        'dims': 1100px 100px
    ),
    'your-birthday': (
        'dims': 748px 100px
    )
);

$global-mail-logos: ();

@each $name, $config in $logos-dimensions {
    $global-mail-logos: map-extend($global-mail-logos, (
        ($name): (
            'width': nth(map-get($config, 'dims'), 1),
            'height': nth(map-get($config, 'dims'), 2),
            'dims': map-get($config, 'dims')
        )
    ));
}

$settings: set('mail-logos', $global-mail-logos);

$settings: set('mail-header', (
    'background': plt('white'),
    'logos': (
        'logo-only': (
            'justia': 167px,
            'amplify': 288px,
            'anniversary': 346px,
            'answers': 298px,
            'argument-summaries': 490px,
            'ask-a-lawyer': 373px,
            'blogging': 389px,
            'cle': 406px,
            'connect': 292px,
            'connect-pro': 349px,
            'daily-summaries': 537px,
            'elevate': 278px,
            'insights': 286px,
            'justia-anniversary': 346px,
            'law-firm-marketing': 459px,
            'lawyer-directory': 421px,
            'lawyer-profile-essentials': 529px,
            'legal-jobs': 330px,
            'marketing': 316px,
            'new-intern': 330px,
            'new-team-member': 451px,
            'onboarding': 347px,
            'onward': 288px,
            'opinion-summaries': 457px,
            'refer': 251px,
            'webinars': 311px,
            'website-seo-report': 472px,
            'weekly-opinion-summaries': 550px,
            'your-birthday': 374px
        ),
        'with-date': (
            'justia': 135px,
            'insights': 267px,
            'lawyer-profile-essentials': 270px,
            'legal-jobs': 277px,
            'lawyer-directory': 300px,
            'marketing': 297px,
            'justia-anniversary': 270px
        ),
        'insider-date': (
            'insider': 334px
        )
    )
));

// ----------------------------------------------------------------------------------------------------------

.main-header {
    border-bottom: 1px solid plt('gallery');
    background-color: get('mail-header.background');

    .logo-img {
        display: block;
        max-width: 87%;
        margin: 0;
    }
}

.main-header.-logo-only {

    .wrapper {
        width: 100%;
        padding: 12px $padding;
        text-align: center;
    }

    .logo-img {
        max-width: 92%;
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.logo-only') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}

.main-header.-with-date {

    .wrapper {
        padding: $padding;
        vertical-align: middle;

        > table {
            table-layout: fixed;
        }
    }

    .logo {
        width: 60%;
    }

    .date {
        width: 40%;
        text-align: right;

        span {
            display: block;
            color: plt('justia-blue');

            @include mail-font(22px, 1.25);
        }
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.with-date') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}


.main-header.-insider-date {
    background-color: plt('mail', 'insider-blue');

    .wrapper {
        text-align: center;
        vertical-align: middle;

        > table {
            table-layout: fixed;
        }
    }

    @each $logo-name, $width in get('mail-header.logos.logo-only') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
            margin: 0 auto;
        }
    }

    .logo {
        padding: 12px $padding;
        border-radius: 10px 10px 0 0;
        background-color: get('mail-header.background');
        text-align: center;
    }

    .date {
        width: 100%;
        padding: 15px $padding;
        text-align: right;

        span {
            display: block;
            color: #585858;

            @include mail-font(16px, 1.25);
        }
    }

    // L O G O   S I Z E S
    // -------------------
    @each $logo-name, $width in get('mail-header.logos.insider-date') {

        &.-#{$logo-name}-logo .logo-img {
            width: $width;
        }
    }
}
