{{! ================================================================================================================= }}
{{! M A I N   L O G O                                                                                                 }}
{{! ================================================================================================================= }}

{{!
 * Defines the logo image path and the alt text if the image does not load.
 *
 * @param {Object} widgetConfig - Configuration for the widget.
 * @param {string} [widgetConfig.src] - Defines the URL (absolute or relative) of the logo.
 * @param {string} [widgetConfig.alt] - Defines an alternative text for the logo.
 * @param {string} [widgetConfig.link] - Contains a URL or a URL fragment that the hyperlink of the logo points to.
 * @param {string} [widgetConfig.class] - CSS classes to add to the current logo.
 * @param {string} [widgetConfig.responsive] - CSS classes to define responsive behavior for the logo.
}}

{{! ================================================================================================================= }}

{{#if widgetConfig.link}}<a href="{{{widgetConfig.link}}}" target="_blank">{{/if}}
  {{>img
    src=(default widgetConfig.src logos.justia.path.blue)
    alt=(default widgetConfig.alt logos.justia.alt)
    class=(classList "logo-img" widgetConfig.class)
    responsive=widgetConfig.responsive
  }}
{{#if widgetConfig.link}}</a>{{/if}}
