{{!
 * @param {String} link
 * @param {Object} utmVars
 * @param {String} source
 * @param {String} alt
 * @param {String} logoClasses
 * @param {String} logoResponsiveClasses
}}

{{#if link}}<a href="{{{link}}}{{#if utmVars}}{{{utmVariables utmVars}}}{{/if}}" target="_blank">{{/if}}
  {{>img
    imgSrc=(default source logos.justia.path.blue)
    imgAlt=(default alt logos.justia.alt)
    imgClass=(concat "logo-img" logoClasses separator=" ")
    imgResponsive=logoResponsiveClasses
  }}
{{#if link}}</a>{{/if}}
