{{!
 * @param {String} text
}}

<div id="preheader" style="height: 0; overflow: hidden; opacity: 0; display: none; width: 0; max-width: 0; visibility: hidden; max-height: 0; color: #f3f3f3; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-size: 1px; line-height: 1px; mso-hide: all;">{{{text}}}</div>
