*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff; }

#mail-template-builder {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: #333333;
  font: normal 14px/1.4 Helvetica, Arial, sans-serif; }

.preview-interface-view a {
  color: #000000;
  text-decoration: none; }
  .preview-interface-view a:hover {
    color: #348eda; }

.preview-interface-view iframe {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(6, 53, 122, 0);
  transition: border-color 200ms ease-out; }

.preview-interface-view .preview-header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: #fafafa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .preview-interface-view .preview-header > .head,
  .preview-interface-view .preview-header > .view-buttons {
    display: flex;
    height: 50px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center; }
  .preview-interface-view .preview-header > .head > .brand {
    font-size: 22px; }
  .preview-interface-view .preview-header > .head > .select {
    text-align: right; }
  .preview-interface-view .preview-header > .view-buttons {
    position: relative;
    border-top: 1px solid #bdbdbd;
    justify-content: center; }
    .preview-interface-view .preview-header > .view-buttons > .button {
      z-index: 1;
      display: block;
      padding: 0 20px;
      border: 1px solid #bdbdbd;
      background-color: #ffffff;
      color: #000000;
      font-weight: 700;
      line-height: 36px;
      transition-property: background-color, border-color;
      transition-duration: 200ms;
      transition-timing-function: linear; }
      .preview-interface-view .preview-header > .view-buttons > .button:not(:first-child) {
        margin-left: -1px; }
      .preview-interface-view .preview-header > .view-buttons > .button:first-child {
        border-radius: 2px 0 0 2px; }
      .preview-interface-view .preview-header > .view-buttons > .button:last-child {
        border-radius: 0 2px 2px 0; }
      .preview-interface-view .preview-header > .view-buttons > .button:hover {
        background-color: rgba(0, 179, 227, 0.1); }
      .preview-interface-view .preview-header > .view-buttons > .button.-active {
        z-index: 2;
        border-color: #06357a;
        background-color: rgba(0, 179, 227, 0.2); }

.preview-interface-view .preview-ui {
  position: relative;
  z-index: 1;
  top: 97px;
  display: flex;
  width: calc(100% + 6px);
  height: calc(100vh - 94px);
  margin: 0 -3px -3px;
  background-color: #ffffff; }
  .preview-interface-view .preview-ui > .wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }
  .preview-interface-view .preview-ui .viewer-phone-mask {
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(6, 53, 122, 0);
    transition-property: width, height, border-radius, border-color, padding;
    transition-duration: 200ms;
    transition-timing-function: ease-out; }

.set-view-desktop .preview-ui .viewer-phone-mask {
  width: 100%;
  height: 100%;
  padding: 0;
  border-color: rgba(6, 53, 122, 0);
  border-radius: 0; }
  .set-view-desktop .preview-ui .viewer-phone-mask iframe {
    border-color: rgba(6, 53, 122, 0); }

.set-view-mobile .preview-ui .viewer-phone-mask {
  width: 350px;
  height: 620px;
  padding: 54px 12px 76px;
  border-color: #06357a;
  border-radius: 35px; }
  .set-view-mobile .preview-ui .viewer-phone-mask iframe {
    border-color: #06357a; }

.welcome-view,
.welcome-view body {
  height: 100%; }

.welcome-view body {
  color: #666666;
  font: normal 16px/1.4 Helvetica, Arial, sans-serif; }

.welcome-view h1 {
  padding: 0;
  margin: 20px 0 10px;
  color: #333333;
  font-size: 24px; }

.welcome-view p {
  padding: 0;
  margin: 0; }

.welcome-view .wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%; }

.welcome-view .wrapper--inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.welcome-view .animation {
  position: relative;
  height: 70px; }

.welcome-view .animation--stem {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 2px;
  height: 50px;
  margin-left: -1px;
  background: #348eda; }
  .welcome-view .animation--stem::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-top: -3px;
    margin-left: -3px;
    background: #348eda;
    content: ''; }

.welcome-view .animation--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px; }
  .welcome-view .animation--icon span {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: rgba(52, 142, 218, 0);
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    -webkit-animation-name: wilkomen;
            animation-name: wilkomen;
    -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .welcome-view .animation--icon + .animation--icon span {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }

@-webkit-keyframes wilkomen {
  0% { }
  25% {
    background: #348eda; }
  50% {
    background: transparent;
    box-shadow: inset 0 0 2px #348eda; }
  100% {
    box-shadow: inset 0 0 2px rgba(52, 142, 218, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes wilkomen {
  0% { }
  25% {
    background: #348eda; }
  50% {
    background: transparent;
    box-shadow: inset 0 0 2px #348eda; }
  100% {
    box-shadow: inset 0 0 2px rgba(52, 142, 218, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

.mockup-mask {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 0;
  opacity: 0.3;
  width: 100vw;
  height: calc(100vh - 100px);
  transition: opacity 200ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none; }
  .mockup-mask.-hide {
    opacity: 0; }
  .mockup-mask img {
    display: block;
    margin: 0 auto; }
