---
layout: blast.hbs
subject: BLAST
---

<tr class="template-3">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <!-- main-image -->
        <td class="block-1 main-image">
          <a href="#" target="_blank">
            <img alt="[placeholder]" src="{{default.imageDirSrc}}/template3-main-image-01.png" tabindex="0" border="0" class="image">
          </a>
        </td>
      </tr>
      <tr>
        <!-- main-content -->
        {{> ui-background
          classes="main-content"
          image="template3-background-01.png"
          bgColor="#292d32"
          dimensions="width:600px; height:785px;"
          bgStart=true
          content=true
        }}
          <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <!-- title -->
              <td class="block block-2 title">
                <a href="#" target="_blank">
                  <span>Lorem</span>
                  <br />
                  <strong>Lorem Ipsum</strong>
                </a>
              </td>
            </tr>
            <tr>
              <!-- intro-text -->
              <td class="block block-3 intro-text">
                <p>
                  <a href="#" target="_blank">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, fugit alias? <strong></strong>, ea odit distinctio vero doloremque animi! Atque provident veritatis distinctio vitae totam accusamus, hic vero molestias impedit!
                  </a>
                </p>
              </td>
            </tr>
            <tr>
              <!-- animation -->
              <td class="block block-4 animation">
                <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                    <!-- dvbg -->
                    {{> ui-background
                      classes="dvbg"
                      image="template3-animation-bg-01.png"
                      bgColor="#323437"
                      dimensions="width:414px; height:386px;"
                      bgStart=true
                      content=true
                    }}
                      <a href="#" target="_blank">
                        <img alt="[placeholder]" src="{{default.imageDirSrc}}/template3-animation-01.gif" tabindex="0" border="0" class="image">
                      </a>
                    {{> ui-background bgEnd=true }}
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <!-- btn -red -large -->
              <td class="block block-5 btn -red -large">
                {{> ui-real-text-button buttonLink="#" buttonText="Click Me, I'm a button!" }}
              </td>
            </tr>
            <tr>
              <!-- contactus -->
              <td class="block block-6 contactus">
                <p class="tagline">Justia Lawyer Directory Team</p>
                <p class="phone">
                  <strong>
                    <a href="tel:8885878421" target="_blank">(888) 587-8421</a>
                  </strong>
                </p>
              </td>
            </tr>
          </table>
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <!-- learn-more -->
        <td class="block block-7 learn-more">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, minima ipsum? Officiis architecto voluptatum cumque provident maxime fuga, totam explicabo eveniet repellat incidunt laboriosam ipsam laudantium neque? Odit, eius facere. <a href="#" target="_blank"><strong>Learn More »</strong></a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
