// ----------------------------------------------------------------------------------------------------------
// L A W   E V E N T S
// ----------------------------------------------------------------------------------------------------------

$event-table-width: (($inner-max-width / 2) - ($padding / 2));

// ----------------------------------------------------------------------------------------------------------

.w-law-events {

  .law-events-list {
    padding: 0 $padding;

    .event-button {
      padding: 20px 0 40px;
    }
  }

  .last-event-row {

    .law-events-list .event-button {
      padding: 20px 0 45px;
    }
  }

  .grid-column {
    width: ($inner-max-width / 2);
    max-width: ($inner-max-width / 2);
  }

  .grid-cell {

    width: $event-table-width;


    td {
      text-align: left;
      vertical-align: top;
    }
  }
}
