// ----------------------------------------------------------------------------------------------------------
// L A W   E V E N T S
// ----------------------------------------------------------------------------------------------------------

.w-law-events {

  .featured-event {
    padding: 0 $padding 40px;

    .wrapper {
      border: 1px solid plt('white');
    }

    .event-info {
      padding: 25px 24px 20px;
    }

    .event-button {
      padding: 0 24px 25px;
    }
  }
}
