
// ----------------------------------------------------------------------------------------------------------
// T E M P L A T E   3
// ----------------------------------------------------------------------------------------------------------

$settings: set('template-3', (
  'background': (
    'width': nth(image-dimensions('/src/img/template3-background-01.png'), 1),
    'height': nth(image-dimensions('/src/img/template3-background-01.png'), 2)
  ),
  'main-image': (
    'width': nth(image-dimensions('/src/img/template3-main-image-01.png'), 1) / 1.5,
    'height': nth(image-dimensions('/src/img/template3-main-image-01.png'), 2) / 1.5
  ),
  'animation': (
    'width': nth(image-dimensions('/src/img/template3-animation-01.gif'), 1),
    'height': nth(image-dimensions('/src/img/template3-animation-01.gif'), 2)
  ),
  'button': (
    'width': 340px,
    'height': 47px,
    'font-size': 18px
  )
));

$template3-button-padding: floor((get('template-3.button.height') - get('template-3.button.font-size')) / 2);

// ----------------------------------------------------------------------------------------------------------

.template-3 {

  .description {
    overflow: hidden;
    width: $max-width;
    max-width: $max-width !important;
    background-color: plt('white');
    border-collapse: collapse !important;

    td {
      width: 100%;
    }
  }

  .image img {
    margin: 0 auto;
    // stylelint-disable-next-line declaration-block-no-duplicate-properties
    Margin: 0 auto;
  }

  .main-image {
    border-top: 1px solid plt('gainsboro');

    img {
      width: get('template-3.main-image.width');
      height: get('template-3.main-image.height');
    }
  }

  .main-content {
    width: get('template-3.background.width');
    height: get('template-3.background.height');
    padding: 0;
    background: url('../img/template3-background-01.png');
    background-color: #37393a;
    background-repeat: no-repeat !important;
    background-size: get('template-3.background.width') get('template-3.background.height');
    color: plt('white');
    vertical-align: top;

    a,
    p,
    strong,
    td {
      color: plt('white');
    }
  }

  .block {
    padding: 0 $padding 25px;
    text-align: center;
  }

  .title {
    padding-top: 25px;
    text-transform: uppercase;

    span {
      font-size: 20px;
    }

    strong {
      font-size: 30px;
    }
  }

  .animation {
    padding: 0 ($max-width - get('template-3.animation.width')) / 2;
    @debug get('template-3.animation.width');

    .image img {
      width: get('template-3.animation.width');
      height: get('template-3.animation.height');
    }

    .dvbg {
      width: get('template-3.animation.width');
      height: get('template-3.animation.height');
      padding: 0;
      background: url('../img/template3-animation-bg-01.png');
      background-repeat: no-repeat !important;
      background-size: get('template-3.animation.width') get('template-3.animation.height');
      vertical-align: top;
    }
  }

  .btn {
    padding-top: $padding;
  }

  .ui-real-text-button {
    float: none;
    width: get('template-3.button.width');
    height: get('template-3.button.height');
    margin: 0 auto;
    text-transform: uppercase;

    a {
      padding: $template3-button-padding 0;
    }

    .wrapper {
      font-size: get('template-3.button.font-size');
    }
  }

  .contactus {
    padding-bottom: $padding;
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  a[href^=tel] {
    color: plt('white') !important;
  }

  .learn-more {
    padding-top: 25px;
    padding-bottom: 34px;
    border-top: 1px solid #dddddd;
    background-color: plt('wild-sand');
    text-align: left;

    p {
      font-size: 14px !important;
    }

    a {
      color: plt('black');
    }
  }
}
