{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- CLIENTS IN THE NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-clients-news set-max-width">
    <tr>
        <td class="clients-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title align-center">Clients in the News</h2>
        </td>
    </tr>
    <tr>
        <td class="clients-list" responsive="mobile-padding-horizontal-sides">
            <table border="0" cellpadding="0" cellspacing="0" class="client-1">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.cosmopolitan.com/entertainment/celebs/news/a61522/taylor-swift-lawsuit-kanye-west-kim-kardashian/"><img src="{{default.image_dir_src}}/clients-news-logo-01.png" alt="Cosmopolitan" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        {{!-- <p><strong>The White Sandal Elite</strong></p> --}}
                        <p>Cosmopolitan asks media law attorney William Hochberg of <strong>Greenberg Glusker Fields Claman & Machtinger</strong> whether Taylor Swift has a case against Kim Kardashian and Kanye West for secretly recording their phone conversation.</p> <br>
                        {{> button buttonBlue=true url="http://www.cosmopolitan.com/entertainment/celebs/news/a61522/taylor-swift-lawsuit-kanye-west-kim-kardashian/" }}
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" class="client-2">
                <tr>
                    <td class="news-logo">
                        <a href="https://www.washingtonpost.com/news/arts-and-entertainment/wp/2016/07/13/jennifer-anistons-many-faux-pregnancies-how-do-tabloids-get-away-with-this/"><img src="{{default.image_dir_src}}/clients-news-logo-02.png" alt="The Washington Post" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        {{!-- <p><strong>Best in the Region</strong></p> --}}
                        <p>The Washington Post quoted Virginia defamation lawyer <strong>Lee Berlik</strong> in an article on the challenges that celebrities face in establishing libel claims against tabloids.</p> <br>
                        {{> button buttonBlue=true url="https://www.washingtonpost.com/news/arts-and-entertainment/wp/2016/07/13/jennifer-anistons-many-faux-pregnancies-how-do-tabloids-get-away-with-this/" }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="clients-desc" responsive="mobile-padding-horizontal-sides">
            <p>Have you or your firm been mentioned in the news recently?</p>
            <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
        </td>
    </tr>
</table>
