{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- DID YOU KNOW? -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-did-you-know set-max-width">
    <tr>
        <td class="dyk-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Did you know?</h4>
            <h2 class="widget-main-title"><a href="http://law.justia.com/annotations/" target="_blank">Share your insights and establish yourself as a legal authority with Justia Annotations</a></h2>
        </td>
    </tr>
    <tr>
        <td class="dyk-desc" responsive="mobile-padding-horizontal-sides">
            <p>When reviewing any federal or state appellate case on <a href="https://www.justia.com/" target="_blank">Justia.com</a>, click the “Annotate this Case” button to contribute your analysis of the opinion. Any case you annotate will feature your name as a contributor, thereby increasing your visibility, and helping you attract new clients!</p>
        </td>
    </tr>
    <tr>
        <td class="dyk-link" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://law.justia.com/annotations/" target="_blank"><strong>Click here for more information.</strong></a></p>
        </td>
    </tr>
</table>
