<!-- Decisions -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-main-article set-max-width">
    <tr>
        <td class="article--title">
            <h2>Congress Includes Many Statements of Environmental Policy and Preferences in Omnibus Appropriations Act</h2>
        </td>
    </tr>
    <tr>
        <td class="article--date-author">
            <p>Posted May 10, 2017 by <a href="#" target="_blank">Anthony B. Cavender</a></p>
        </td>
    </tr>
    <tr>
        <td class="article--content">
            <p>The <a href="#" traget="_blank">Consolidated Appropriations Act of 2017</a> authorized appropriations for the Fiscal Year 2017. This large and copious bill provides funding for all Federal agencies for this fiscal year. The Congressional committees included many environmental policy statements and directives to these agencies.</p>
            <br>
            <p><b>Section II, Division G—The Departments of the Interior, the Environment and Related Agencies</b></p>
            <br>
            <p>Within 60 days, the Department of Interior (Interior), Environmental Protection Agency (EPA) and U.S. Forest Service (Service) are directed to provide the House and Senate Committees on Appropriations with a detailed Equal Access to Justice report which will make their litigation costs transparent.</p>
            <br>
            <p>Regarding new <a href="#" traget="_blank">Executive Order 13783</a>, the Committees expect Interior and EPA to keep the committees fully appraised of any actions taken to comply with this new Order affecting domestic energy resources.</p>
            <br>
            <p>The Committees expect the departments and agencies to provide their Inspectors General with timely access to all appropriate agency records as needed.</p>
            <br>
            <p>The departments and agencies are reminded that there can be no lobbying of Congress with appropriated funds.</p>
            <br>
            <p><b>Title I—Department of the Interior</b></p>
            <br>
            <p>The Bureau of Land Management (BLM) is provided with $68,900,000 for the conservation efforts affecting the Greater Sage Grouse species: “conservation is most successful when all parties trust and work cooperatively together.”</p>
            <br>
            <p>The BLM is encouraged to employ internet oil and gas leasing procedures, and to share standardized pipeline safety data when appropriate. $31,416,000 is provided for BLM land acquisitions.</p>
            <br>
            <p>The Service is urged to complete all Endangered Species Act (ESA) status reviews within the five-year period required by law, and the Service is also urged to prioritize an ESA status review of the American Burying Beetle.</p>
            <br>
            <p>The U.S. Geological Survey is provided with $214,000,000 for water resources.</p>
            <br>
            <p>Interior’s Bureau of Ocean Energy Management’s proposed financial assurance rules are under consideration, and the Committees understand that the implementation timeline has been extended to allow for continued stakeholder input. <br>The Bureau of Safety and Environmental Enforcement’s (BSEE) study of blowout preventer systems used in offshore drilling is underway, and the BSEE is encouraged to evaluate the information provided through additional stakeholder input, and to make revisions if needed.</p>
            <br>
            <p>The sum of $14,899,000 is provided for Oil Spill Research.</p>
            <br>
            <p>The Office of Surface Mining’s Abandoned Mine Reclamation Fund is provided with $132,163,000.</p>
            <br>
            <p>The Office of the Secretary is directed to “work collaboratively” with interested parties, including Congress, States and local communities, and others before making national monument designations.</p>
            <br>
            <p><b>Title II—Environmental Protection Agency</b></p>
            <br>
            <p>EPA is provided with $8,058,488,000 in funds for Fiscal Year 2017.</p>
            <br>
            <p>Regarding the Accidental Release Prevention Requirements of the Clean Air Act (CAA), the Committees expect EPA to work with State regulators, facility managers, small businesses, and other stakeholders as it reevaluates the rule.</p>
            <br>
            <p>Regarding the recent judicial determination that some animal or crop waste is subject to regulation under the Solid Waste Disposal Act (SWDA), the Committees note that Congress never intended the SWDA to govern these wastes, which includes manure, fertilizer or constituents derived therefrom, and EPA’s longstanding regulations generally exempting these wastes accurately reflects the Congressional intent. The Committees support legislative efforts to clarify and codify the treatment of agricultural byproducts under the SWDA.</p>
            <br>
            <p>Some courts have ruled that the CAA requires EPA to conduct a continuing evaluation of potential losses or shifts in employment resulting from new regulations, and the Committees expect EPA to keep them appraised of efforts to comply with recent court orders.</p>
            <br>
            <p>The Committees note that the SWDA was recently amended to authorize EPA to review and approve state permitting programs regulating the management of coal combustion residuals, and they urge EPA to streamline the permitting process.</p>
            <br>
            <p>EPA is urged to work expeditiously to process exempt aquifer applications from California.</p>
            <br>
            <p>Noting that EPA has issued potentially overlapping ozone National Ambient Air Quality Standards (NAAQS) for 2008 and 2015, the Committees urge EPA to grant States the flexibility to implement these programs and to develop a plan to do so.</p>
            <br>
            <p>EPA is urged to provide Small Refineries with hardship relief as they struggle to comply with the Renewable Fuel Standards. <br>EPA is urged to provide oil spill reporting and prevention flexibility to farmers and ranchers subject to the Spill Prevention, Control, and Countermeasure (SPCC) rules.</p>
            <br>
            <p>$3,178,000 is provided to EPA’s Hazardous Waste Electronic Manifest Fund.</p>
            <br>
            <p>Regarding EPA’s development of a Superfund hard rock financial assurance rule, the Committees note that the time to file comments has been extended, and EPA is expected to take these additional comments into consideration in recommending a course of action.</p>
        </td>
    </tr>

    <tr>
        <td class="article--recent-posts-wrapper">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="recent-posts--title">
                        <h4>RECENT POSTS</h4>
                    </td>
                </tr>
                <tr>
                    <td class="recent-posts--content">
                        <ul>
                            <li><b><a href="#" target="_blank">Mauris facilisis fringilla enim quis feugiat. Vestibulum et sodales ligula. Class aptent taciti sociosqu ad litora.</a></b></li>
                            <li><b><a href="#" target="_blank">Duis a mi nec odio suscipit commodo.</a></b></li>
                            <li><b><a href="#" target="_blank">Morbi nec ante nec turpis interdum dictum consequat sed.</a></b></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
