<!-- Decisions -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-main-article set-max-width">
    <tr>
        <td class="article--title">
            <h2>Bloomberg Law Adds New Labor and Employment Tools and Analytics</h2>
        </td>
    </tr>
    <tr>
        <td class="article--date-author">
            <p>Posted April 13, 2017 by <a href="#" target="_blank">Robert Ambrogi</a></p>
        </td>
    </tr>
    <tr>
        <td class="article--content">
            <p>The folks at <b><a href="#" target="_blank">Bloomberg Law</a></b> are keeping busy. Last week, I wrote about the legal research platform’s <b><a href="#" target="_blank">rollout of a major redesign</a></b> of its user interface and search experience. This week, it is announcing expansion of its labor and employment resources and content.</p>
            <br>
            <p>The new resources — all of which are available within Bloomberg Law’s Labor & Employment Practice Center — are:</p>
            <br>
            <ul>
                <li>Practical Guidance, a tool that provides step-by-step assistance in completing routine tasks such as drafting a non-compete agreement or designing a whistleblower policy.</li>
                <li>Labor Arbitration Awards Tracker, providing analytics that track trends in arbitrators’ rulings.</li>
                <li>State & Local Law Activity Heat Map, a tool to help legal professionals stay current with the latest developments by providing a visual depiction of the real-time state of labor and employment legislation, showing where new state and local laws are being introduced and where existing laws are changing.</li>
            </ul>
            <br>
            <p>Labor and employment lawyers can also use the Litigation Analytics tool that Bloomberg Law <b><a href="#" target="_blank">introduced last October</a></b>. The tool draws on court opinions and docket information to help attorneys gain insights into questions such as how long federal judges typically take to resolve cases, how they rule on dispositive motions, and how often they are overturned on appeal.</p>
            <br>
            <p>To illustrate the use of Litigation Analytics in the labor and employment field, Bloomberg Law released an <b><a href="#" target="_blank">analysis of trends in employment and ERISA litigation</a></b>. It examines activity for five judges over the past five years, showing the percentage of cases in which each judge granted or denied summary judgment motions and the average days it takes each judge to decide a case.</p>
        </td>
    </tr>

    <tr>
        <td class="article--recent-posts-wrapper">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="recent-posts--title">
                        <h4>RECENT POSTS</h4>
                    </td>
                </tr>
                <tr>
                    <td class="recent-posts--content">
                        <ul>
                            <li><b><a href="#" target="_blank">QuickLegal’s Counsel Responds To My Recent Reports About Startups LawTova and Text to Ticket</a></b></li>
                            <li><b><a href="#" target="_blank">Microsoft Releases Advanced Data Governance Within Office 365</a></b></li>
                            <li><b><a href="#" target="_blank">Public Resource Loses Copyright Fight to Publish Georgia Code</a></b></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
