{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- Decisions -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tech-news set-max-width">    
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Arguments" }}
        </td>
    </tr>
     
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/16-149">
                <i>
                Coventry Health Care of Missouri v. Nevils</i></a> (3/1/17)
            </p>
            <ol>
                <li>
                    Does the Federal Employee Health Benefits Act (FEHBA) preempt state laws that prohibit insurance companies from claiming the proceeds of personal injury settlements pursuant to their contracts?
                </li>
                <li>
                    Does the express preemption clause of the Federal Employee Health Benefits Act (FEHBA) violate the Supremacy Clause of the U.S. Constitution?
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-214">
            <i>
                Murr v. Wisconsin</i></a>
        (3/20/17)
            <br/>
                In a regulatory taking case, should two legally distinct but commonly owned contiguous parcels be combined for takings analysis purposes?
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-1031">
            <i>
                Howell v. Howell</i></a>
        (3/20/17)
            <br/>
                Does the Uniformed Services Former Spouses’ Protection Act preempt a state court’s order directing a veteran to pay a former spouse that spouse’s full portion of the veteran’s military retirement pay despite a reduction, when that reduction results from the veteran’s post-divorce waiver of retirement pay in order to receive compensation for a service-connected disability?
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-457">
            <i>
                Microsoft Corp. v. Baker</i></a>
        (3/21/17)
            <br/>
                Does a federal court of appeals have the jurisdiction to review a class action suit for certification after the plaintiffs voluntarily dismiss their individual claims with prejudice?
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1189"><i>
                    Impression Products v. Lexmark International</i></a> (3/21/17)
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/16-369">
            <i>
                County of Los Angeles v. Mendez</i></a>
        (3/22/17)
        </p>
            <ol>
                <li>
                    May an officer be found liable under the Ninth Circuit’s provocation rule where it is determined that the officer’s use of force was reasonable and not excessive
                </li>
                <li>
                    Does an incident which leads to a reasonable use of force negate a prior Fourth Amendment unlawful entry violation?
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/16-254">
            <i>
                Water Splash v. Menon</i></a>
        (3/22/17)
            <br/>
                Does the Hague Service Convention authorize service of process by mail? 
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-74"><i>Advocate Health Care Network v. Stapleton</i></a> (3/27/17)
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/16-341">
            <i>
                TC Heartland v. Kraft Food Brands Group</i></a>
        (3/27/17)
            <br/>
                Does the subsection of the general venue statute that allows a corporation to reside in many jurisdictions for the purpose of establishing jurisdiction apply to the patent venue statute?
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/16-327">
            <i>
                Lee v. United States</i></a>
        (3/28/17)
            <br/>
                For the purpose of analyzing an ineffective assistance of counsel claim under Strickland v. Washington, should courts consider it always irrational for a longtime legal resident of the United States to reject a plea offer in the face of strong evidence of guilt when the plea will result in mandatory deportation?
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-1503">
            <i>
                Turner v. United States</i></a>
        (3/29/17)
            <br/>
                Does Brady v. Maryland, which established that it was a violation of the defendant’s due process for the prosecution to suppress or withhold evidence that is favorable to the defendant and is material to guilt or punishment, require that the convictions in this case be overturned?
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/16-142">
            <i>
                Honeycutt v. United States</i></a>
        (3/29/17)
            <br/>
                Does the federal forfeiture statute, which requires any person convicted under federal drug law to forfeit any proceeds obtained from that crime, require joint and several liability among co-conspirators for the forfeiture of any reasonably foreseeable proceeds of the conspiracy?
            </p>
        </td>
    </tr>


    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Cert Granted" }}
        </td>
    </tr>
    
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <i>
                    <b>
                        2017 Term</b></i>
           <br/>
                <i>
                    U.S. Bank National Assn. v. Village at Lakeridge
                </i>
                (3/27/17)
            <br/>
                <i>
                    Leidos, Inc. v. Indiana Public Retirement Sys.
                </i>
                (3/27/17)
            </p>
        </td>
    </tr>

    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Decisions" }}
        </td>
    </tr>    

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-680">
            <i>
                Bethune-Hill v. Virginia State Board of Elections</i></a>
        (3/1/17)
            <br/>
                Race can still be shown to be the predominant factor in redistricting even when traditional principles are respected, and district courts must engage in a holistic analysis of alleged racial gerrymanders. Justice Anthony M. Kennedy delivered the opinion for the six-justice majority. 
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-680/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-680/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-8544">
            <i>
                Beckles v. United States</i></a>
        (3/6/17)
            <br/>
                The Court’s holding in 
            <a href="https://supreme.justia.com/cases/federal/us/576/13-7120/">
                Johnson v. US</a>
            does not apply to the Sentencing Guidelines. Justice Clarence Thomas delivered the opinion for the 7-0 majority. 
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-8544/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-8544/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-606">
            <i>
                Pena-Rodriguez v. Colorado</i></a>
        (3/6/17)
            <br/>
                Rule 606(b) of Colorado’s Rules of Evidence may not bar evidence of racial bias which is offered to prove a violation of the Sixth Amendment right to an impartial jury. Justice Anthony M. Kennedy delivered the opinion for the 5-3 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-606/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-606/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-927">
            <i>
                SCA Hygiene Products Aktiebolag v. First Quality Baby Products, LLC</i></a>
        (3/21/17)
            <br/>
                An unreasonable delay in litigation is not a defense against a claim for damages brought within the six-year statutory period of limitations in a patent infringement case. Justice Samuel A. Alito, Jr., delivered the opinion of the 7-1 majority. 
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-927/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-927/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-1251">
            <i>
                National Labor Relations Board v. SW General, Inc</i></a>(3/21/17)
            <br/>
                The limitation on nominees to vacant positions serving in an acting capacity under the Federal Vacancies Reform Act (FVRA) apply equally to all nominees. Chief Justice John G. Roberts, Jr., delivered the opinion for the 6-2 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-1251/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-1251/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/14-9496">
            <i>
                Manuel v. City of Joliet</i></a>
        (3/21/17)
            <br/>
                An individual’s Fourth Amendment right to be free from unreasonable search and seizure continues throughout the legal process of a criminal case. Justice Elena Kagan delivered the opinion for the 6-2 majority. 
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/14-9496/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/14-9496/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-866">
            <i>
                Star Athletica, L.L.C. v. Varsity Brands, Inc.</i></a>
        (3/22/17)
        <br/>
                A feature of a useful article is copyrightable if it can be perceived as a two- or three-dimensional artwork that is separable from the useful article and if it would be a protectable pictorial, graphical, or sculptural work on its own (or if applied to another medium, such as a canvas). Justice Clarence Thomas delivered the opinion of the 6-2 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-866/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-866/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-827">
            <i>
                Endrew F. v. Douglas County School District RE–1</i></a>
        (3/22/17)
        <br/>
                In order to provide children with disabilities the free appropriate public education guaranteed by under the Individuals with Disabilities Education Act (IDEA), school districts must offer children an Individualized Education Plan (IEP) that is reasonably calculated to enable each child to make progress appropriate for that child’s circumstances. Chief Justice John G. Roberts, Jr., delivered the opinion for the unanimous Court, which held that the inquiry into whether an IEP is reasonably calculated to allow a child to make progress is necessarily an intensive, fact-specific one and therefore neither the Court nor the statute could create a substantive standard.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-827/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-827/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-649">
            <i>
                Czyzewski v. Jevic Holding Corp.</i></a> (3/22/17)
                <br/>
                Bankruptcy courts cannot authorize distributions of settlement proceeds that do not follow the priority distribution scheme established in the Bankruptcy Code without the consent of the affected creditors. Justice Stephen G. Breyer delivered the opinion of the 6-2 majority. 
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/580/15-649/opinion3.html">
                https://supreme.justia.com/cases/federal/us/580/15-649/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-797">
            <i>Moore v. Texas</i></a> (3/28/17)
            <br/>
                The use of an outdated medical definition of intellectual disability violated the Eighth Amendment’s prohibition against cruel and unusual punishment as well as Supreme Court precedent. Justice Ruth Bader Ginsburg delivered the opinion for the 5-3 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/581/15-797/opinion3.html">
                https://supreme.justia.com/cases/federal/us/581/15-797/opinion3.html</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
            <a href="https://www.oyez.org/cases/2016/15-1391">
            <i>
                Expressions Hair Design v. Schneiderman</i></a>
        (3/29/17)
            <br/>
                The New York General Business Law’s prohibition of credit card surcharges regulates speech and therefore implicates the First Amendment, but it is not unconstitutionally vague under the Due Process Clause of the Fourteenth Amendment. Chief Justice John G. Roberts, Jr., delivered the opinion of the 8-0 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: 
            <a href="https://supreme.justia.com/cases/federal/us/581/15-1391/opinion3.html">
                https://supreme.justia.com/cases/federal/us/581/15-1391/opinion3.html</a>
            </p>
        </td>
    </tr>


    <tr>
        <td style="height:30px; font-size:0;">&nbsp;</td>
    </tr>
</table>
