{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- Decisions -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tech-news set-max-width">    
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Arguments" }}
        </td>
    </tr>
     
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                There were no oral arguments at the Court this month.
            </p>
        </td>
    </tr>
     <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Cert Granted" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <i><b>2017 Term</b></i>
                <br/>
                <br/>
                <i>
                    <a href="https://www.oyez.org/cases/2017/16-498">Patchak v. Zinke</a>
                </i> (5/1/17)
            </p>
            <ol>
                <li>Does a statute that directs the federal courts to “promptly dismiss” a pending lawsuit but that does not amend
                    the underlying substantive or procedural laws violate the Constitution’s separation of powers principles?</li>
                <li>Does a statute that does not amend any generally applicable substantive or procedural laws but deprives an individual
                    of the right to pursue a pending lawsuit violate the Due Process Clause of the Fifth Amendment?</li>
            </ol>
            <br/>
            <p>
                <i>
                    <a href="https://www.oyez.org/cases/2017/16-784">Merit Management Group v. FTI Consulting, Inc.</a>
                </i> (5/1/17)
                <br>
                Does the safe harbor of Section 546(e) of the Bankruptcy Code prohibit avoidance of a transfer made by or to a financial
        institution, regardless of whether the institution benefits from the transfer?
                <br/>
                <br/>
                <i>
                    <a href="https://www.oyez.org/cases/2017/16-969">SAS Institute Inc. v. Lee</a>
                </i> (5/22/17)
                <br />
                Under 35 U.S.C. § 318(a), must the Patent Trial and Appeal Board in its final written decision address every claim that is challenged in the petition, or may said decision merely address a subset of those claims?
                <br />
                <br />
                <i>
                    <a href="https://www.oyez.org/cases/2017/16-980">Husted v. A. Philip Randolph Institute</a>
                </i> (5/30/17)
                <br />
                Is Ohio’s list-maintenance process permissible under 52 U.S.C. § 20507, given that it relies on the inactivity of a registered voter as a “trigger” to send a confirmation notice to that voter under National Voter Registration Act of 1993 (NVRA) and the Help America Vote Act of 2002 (HAVA)?
            </p>
        </td>
    </tr>
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Decisions" }}
        </td>
    </tr>    

    
    <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
        <p>
            <a href="https://www.oyez.org/cases/2016/15-423"><i>Venezuela v. Helmerich &amp; Payne International Drilling Company</i></a> (5/1/17)
            <br/> The “frivolous or insubstantial” standard is not consistent with the text and purpose of the Foreign Sovereign Immunities Act (FSIA). Justice Stephen G. Breyer delivered the opinion of the unanimous Court, which held that the expropriation exception to the FSIA was a threshold question of jurisdiction that did not require the court to delve into the merits of the case to determine whether the claim was frivolous or insubstantial.
        </p>
    </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-423/">https://supreme.justia.com/cases/federal/us/581/15-423/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1111"><i>Bank of America Corp. v. City of Miami</i></a> (5/1/17) <br/>
                The “aggrieved persons” language of the Fair Housing Act (FHA) does not impose a more narrow standing standard than Article III does and allows a city to sue, but the proximate cause standard requires the plaintiffs to show more than the possibility that a defendant could have foreseen the harm. Justice Stephen G. Breyer delivered the opinion of the 5-3 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1111/">https://supreme.justia.com/cases/federal/us/581/15-1111/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1031"><i>Howell v. Howell</i></a> (5/15/17)
                <br/> The Uniformed Services Former Spouses’ Protection Act preempts a state court’s order for a veteran to pay a former spouse that spouse’s full portion of the veteran’s military retirement pay despite the veteran’s post-divorce waiver of the retirement pay in order to receive service-related disability benefits. Justice Stephen G. Breyer delivered the opinion for the 8-0 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1031/">https://supreme.justia.com/cases/federal/us/581/15-1031/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-348"><i>Midland Funding, LLC v. Johnson</i></a> (5/15/17) 
                <br/> The Fair Debt Collection Practices Act (FDCPA) does not prevent a creditor from filing a proof of claim on an unpaid debt in a Chapter 13 bankruptcy proceeding even after the statute of limitations on that debt has run. Justice Stephen G. Breyer delivered the opinion for the 5-3 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-348/">https://supreme.justia.com/cases/federal/us/581/16-348/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-32"><i>Kindred Nursing Centers Limited Partnership v. Clark</i></a> (5/15/17)
                <br/> The Federal Arbitration Act (FAA) preempts Kentucky state-law precedent that requires a clear statement in the power of attorney agreement in order to grant an attorney-in-fact the power to bind her principal to an arbitration agreement. Justice Elena Kagan delivered the opinion for the 7-1 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-32/">https://supreme.justia.com/cases/federal/us/581/16-32/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-341"><i>TC Heartland LLC v. Kraft Food Brands Group LLC</i></a> (5/22/17)
                <br/> The subsection of the general venue statute that allows a corporation to reside in many jurisdictions for the purpose of establishing jurisdiction does not apply to the patent venue statute. Justice Clarence Thomas delivered the opinion of the unanimous Court, which held that its interpretation of the patent venue statute in Fourco Glass Co. v. Transmirra Products Corp. was still controlling precedent.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-341/">https://supreme.justia.com/cases/federal/us/581/16-341/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-254"><i>Water Splash, Inc. v. Menon</i></a> (5/22/17)
                <br/> The Hague Service Convention does not prohibit service of process by mail. Justice Samuel A. Alito, Jr. delivered the opinion of the unanimous Court, which held that the Hague Service Convention allows for different methods of service, and Article 10(a) specifically mentions postal channels as a method of sending judicial documents as long as the receiving nation does not object.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-254/">https://supreme.justia.com/cases/federal/us/581/16-254/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1262"><i>Cooper v. Harris</i></a> (5/22/17)
                <br/> The district court did not err in determining that North Carolina’s new districting plan constituted an unconstitutional racial gerrymander, and neither claim nor issue preclusion based on the state court case dictate the outcome of this case. Justice Elena Kagan delivered the opinion for the 5-3 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1262/">https://supreme.justia.com/cases/federal/us/581/15-1262/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-369"><i>County of Los Angeles v. Mendez</i></a> (5/30/17)
                <br/> There is no constitutional basis for the rule in the Ninth Circuit—known as the provocation rule—which imposes liability on law enforcement officers for injuries caused by reasonable use of force, if the use of force arose due to an earlier and separate Fourth Amendment violation. Justice Samuel Alito delivered the opinion for the 8-0 unanimous court.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-369/">https://supreme.justia.com/cases/federal/us/581/16-369/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-405"><i>BNSF Railway Co. v. Tyrrell</i></a> (5/30/17)
                <br/> The Montana Supreme Court erred in holding that 45 U.S.C. 56 grants state courts personal jurisdiction over a railroad company that merely “does business” in and is “found within” that state. For a state court to exercise general jurisdiction over an out-of-state corporation, the corporation must have such “continuous and systematic” ties to the state as to render it essentially at home in that state. Justice Ruth Bader Ginsburg delivered the opinion for the 8-1 majority, with Justice Sonia Sotomayor writing separately to concur in part and dissent in part.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-405/">https://supreme.justia.com/cases/federal/us/581/16-405/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-54"><i>Esquivel-Quintana v. Sessions</i></a> (5/30/17)
                <br/> Determining whether a conviction qualifies as an aggravated felony for deportation purposes requires evaluating whether the least of the acts criminalized by the state statute meets the generic federal definition of the corresponding aggravated felony, regardless of the facts of the specific case. Justice Clarence Thomas delivered the opinion for the 8-0 unanimous court.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-54/">https://supreme.justia.com/cases/federal/us/581/16-54/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1189"><i>Impression Products, Inc. v. Lexmark International, Inc.</i></a> (5/30/17)
                <br/> Selling a patented product exhausts all of the patent holder’s rights in the product, whether or not it imposes any restrictions on the purchaser, since the restrictions may be enforced only through contract law rather than a patent infringement claim. Thus Lexmark’s selling of its patented product exhausted its patent rights in the ink cartridges, so any attempt to enforce restrictions on the use of the product by the purchaser must be done as a matter of contract law, not through a patent infringement lawsuit. Chief Justice John Roberts delivered the 7-1 majority opinion, with Justice Ruth Bader Ginsburg writing separately to concur in part and dissent in part.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1189/">https://supreme.justia.com/cases/federal/us/581/15-1189/</a>
            </p>
            <hr class="hr-separator"/>
        </td>
    </tr>



    <tr>
        <td style="height:30px; font-size:0;">&nbsp;</td>
    </tr>
</table>
