{{!-- No version defined becuase this module cuold change each month. --}}


<!-- Decisions -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tech-news set-max-width">
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Arguments" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-399"><i>Perry v. Merit Systems Protection Bd.</a></i> (4/17/17)<br>                Is a Merit Systems Protection Board decision disposing of an employment discrimination case on jurisdictional
                grounds subject to judicial review in district court or in the U.S. Court of Appeals for the Federal Circuit?
            </p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-605"><i>Town of Chester v. Laroe Estates</a></i> (4/17/17)<br>                According to Article III of the U.S. Constitution, must intervenors to a lawsuit establish standing on their
                own, or may they join so long as there is a valid case or controversy between the named parties?
            </p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-373"><i>California Public Employees’ Retirement System v. ANZ Securities</a></i>
                (4/17/17)
            </p>
            <ol>
                <li>Does the filing of a putative class action lawsuit serve to satisfy the three-year time limit in Section
                    13 of the Securities Act with respect to the individual claims of other class members?</li>
                <li>May a member of a timely filed putative class action suit file an individual suit on the same causes of action
                    before class certification is decided, as long as all time limits are met?</li>
            </ol>
        </td>
    </tr>



    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-529"><i>Kokesh v. SEC</a></i> (4/18/17)<br> Does the five-year
                statute of limitations of 28 U.S.C. §2462 apply to claims brought by the Securities and Exchange Commission
                seeking repayment of illegally obtained funds?
            </p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-349"><i>Henson v. Santander Consumer USA</a></i> (4/18/17)<br>                Is a company that regularly attempts to collect debts it purchased after the debts had fallen into default
                is a “debt collector” subject to the Fair Debt Collection Practices Act?
            </p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-577"><i>Trinity Lutheran Church v. Comer</a></i> (4/19/17) <br>                Does the exclusion of churches from an otherwise neutral and secular aid program violate the First Amendment’s
                guarantee of free exercise of religion and the Fourteenth Amendment&#8217;s Equal Protection Clause?
            </p>
        </td>
    </tr>


    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-240"><i>Weaver v. Massachusetts</a></i> (4/19/17)<br> Must a
                defendant who asserts a claim of ineffective assistance of counsel demonstrate prejudice when the alleged
                ineffective assistance resulted in a structural error?
            </p>
        </td>
    </tr>


    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-5294"><i>McWilliams v. Dunn</a></i> (4/24/17)<br> Does the Supreme
                Court’s decision in Ake v. Oklahoma, which established that an indigent defendant is entitled to meaningful
                expert assistance, require that the expert be independent of the prosecution?
            </p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-6219"><i>Davila v. Davis</a></i> (4/24/17)<br> Should the Supreme
                Court’s precedent that ineffective state habeas counsel can overcome the procedural default of an ineffective
                assistance of trial claim also apply to the procedural default of claims of ineffective assistance of appellate
                counsel?
            </p>
        </td>
    </tr>


    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-466"><i>Bristol-Myers Squibb Co. v. Superior Court of California</a></i>
                (4/25/17)<br> Do a plaintiff’s claims sufficiently arise out of or relate to a defendant’s forum activities
                to create specific jurisdiction when the plaintiff’s claims would be exactly the same even if the defendant
                had no forum contacts?
            </p>
        </td>
    </tr>


    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-405"><i>BNSF Railway Co. v. Tyrrell</a></i> (4/25/17)<br> In
                a suit filed under the Federal Employers’ Liability Act,can a state court decline to follow the U.S. Supreme
                Court precedent of Daimler AG v. Bauman, which held that a state court cannot exercise personal jurisdiction
                over a defendant that is not “at home” in the forum state?
            </p>
        </td>
    </tr>


    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1039"><i>Sandoz Inc. v. Amgen Inc.</a></i> (4/26/17)
            </p>
            <ol>
                <li>Under the Biologics Price Competition and Innovation Act of 2009, can notice of commercial marketing of a
                    “biosimilar product” be effective if given prior to approval by the Food and Drug Administration?</li>
                <li>Does the notice requirement delay sale of biosimilar products by 180 days after notice?</li>
                <li>Does the Act only permit a remedy for a claim of patent infringement?</li>
            </ol>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-309"><i>Maslenjak v. United States</a></i> (4/26/17)<br> May
                a naturalized American citizen be stripped of her citizenship in a criminal proceeding based on an immaterial
                false statement?
            </p>
        </td>
    </tr>


    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Cert Granted" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <i>
                    <b>
                        2017 Term
                    </b>
                </i>
                <br/>
                <i>
                    <a href="https://www.oyez.org/cases/2017/16-499">Jenser v. Arab Bank</a>
                </i> (4/3/17)
                <br/>
                <br/>
                <i>
                    <a href="https://www.oyez.org/cases/2017/16-6795">Ayestes v. Davis</a>
                </i> (4/3/17)
            </p>
        </td>
    </tr>

    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider text="Decisions" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/16-149"><i>Coventry Health Care of Missouri, Inc. v. Nevils</a></i>
                (4/18/17)
                <br> The Federal Employees Health Benefits Act (FEHBA) preempts state laws that prohibit insurance companies
                from claiming the proceeds of personal injury settlements pursuant to their contracts, and the express preemption
                clause of the FEHBA does not violate the Supremacy Clause. Justice Ruth Bader Ginsburg delivered the opinion
                of the 8-0 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/16-149/opinion3.html">https://supreme.justia.com/cases/federal/us/581/16-149/opinion3.html</a>
            </p>
            <hr class="hr-separator" />
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-9260"><i>Dean v. United States</a></i> (4/3/17)<br> A sentencing
                court may use its discretion when calculating an appropriate sentence for a felony serving as the basis for
                a conviction under 18 U.S.C. §924(c). Chief Justice John G. Roberts, Jr., delivered the opinion for the unanimous
                Court, which held that §924(c) did not prevent sentencing courts from exercising the discretion that they
                have traditionally enjoyed when tasked with evaluating factors of a case.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-9260/opinion3.html">https://supreme.justia.com/cases/federal/us/581/15-9260/opinion3.html</a>
            </p>
            <hr class="hr-separator" />
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1406"><i>Goodyear Tire &#038; Rubber Co. v. Haeger</a></i> (4/18/17)<br>                An unreasonable delay in litigation is not a defense against a claim for damages brought within the six-year
                statutory period of limitations in a patent infringement case. Justice Samuel A. Alito, Jr., delivered the
                opinion of the 7-1 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1406/opinion3.html">https://supreme.justia.com/cases/federal/us/581/15-1406/opinion3.html</a>
            </p>
            <hr class="hr-separator" />
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1500"><i>Lewis v. Clarke</a></i> (4/25/17)<br> Tribal sovereign
                immunity is not implicated in a suit against a tribal employee in his individual capacity, and an indemnification
                provision cannot extend tribal sovereign immunity to conduct that it would not otherwise cover. Justice Sonia
                Sotomayor delivered the opinion of the 8-0 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1500/opinion3.html">https://supreme.justia.com/cases/federal/us/581/15-1500/opinion3.html</a>
            </p>
            <hr class="hr-separator" />
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1248"><i>McLane Co. v. Equal Employment Opportunity Commission</a></i>
                (4/3/17)<br> A district court’s determination on whether to enforce an Equal Employment Opportunity Commission
                (EEOC) subpoena should be reviewed for abuse of discretion, which gives deference to the lower court’s determination.
                Justice Sonia Sotomayor delivered the opinion for the 7-1 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1248/opinion3.html">https://supreme.justia.com/cases/federal/us/581/15-1248/opinion3.html</a>
            </p>
            <hr class="hr-separator" />
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-7250"><i>Manrique v. United States</a></i> (4/19/17) <br> Appellate
                courts may not review a restitution award where the amended judgment of the lower court granting restitution
                is entered after notice of appeal was filed. Justice Clarence Thomas delivered the opinion for the 6-2 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-7250/opinion3.html">https://supreme.justia.com/cases/federal/us/581/15-7250/opinion3.html</a>
            </p>
            <hr class="hr-separator" />
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                <a href="https://www.oyez.org/cases/2016/15-1256"><i>Nelson v. Colorado</a></i> (4/19/17)<br> Colorado’s
                Exoneration Act, which requires exonerated persons to “prove, by clear and convincing evidence, that they
                were ‘actually innocent’” in order to refund their money, is invalid under the Due Process Clause of the
                Fourteenth Amendment. Justice Ruth Bader Ginsburg delivered the opinion for the 7-1 majority.
            </p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p>
                Decision: <a href="https://supreme.justia.com/cases/federal/us/581/15-1256/opinion3.html">https://supreme.justia.com/cases/federal/us/581/15-1256/opinion3.html</a>
            </p>
        </td>
    </tr>


    <tr>
        <td style="height:30px; font-size:0;">&nbsp;</td>
    </tr>
</table>