{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- TECH NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tech-news set-max-width">

<!-- Main tech news -->
    <tr>
        <td class="main-article-title" responsive="mobile-padding-horizontal-sides">
            <h4 class="widget-type-name">Tech News</h4>
            <h2 class="widget-main-title"><a href="http://searchengineland.com/buying-yahoo-nearly-5-billion-verizon-search-business-254410" target="_blank">After Buying Yahoo! for Nearly $5 Billion, Verizon Is Now in the Search Business</a></h2>
        </td>
    </tr>
    <tr>
        <td class="main-article-desc" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="article-desc" responsive="collapse-one">
                        <p>Verizon recently announced its acquisition of Yahoo! for roughly $4.8 billion. Already one of the largest wireless providers and Internet service providers, Verizon may now become a major player in digital content distribution and advertising. They will be combining Yahoo! with AOL, which they purchased in 2015.</p>
                        <br>
                        {{> button buttonBlue=true url="http://searchengineland.com/buying-yahoo-nearly-5-billion-verizon-search-business-254410" }}
                    </td>
                    <td class="featured-image" responsive="mobile-hide collapse-one">
                        <a href="http://searchengineland.com/buying-yahoo-nearly-5-billion-verizon-search-business-254410" target="_blank"><img src="{{default.image_dir_src}}/tech-news-01.png" alt="Verizon recently announced its acquisition of Yahoo" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

<!-- TECH links list -->
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider color="green" text="TECH" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://fortune.com/2016/06/22/google-link-supreme-court-citation/" target="_blank">Google Link in Supreme Court Case Shows Struggle on Citation</a></p>
            <p>A recent U.S. Supreme Court opinion includes a citation to a link shortened by Google’s URL shortener. The use of URLs and shortened URLs in judicial opinions has led to some controversy. In the words of one commenter, “Google can decide whether the citation works—and what it points to.” This illustrates the ongoing struggle over how legal citations might keep up with technology.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://arstechnica.com/tech-policy/2016/07/paris-court-snep-torrent-search/" target="_blank">Google, Microsoft Can’t Be Forced to Censor “Torrent” Searches</a></p>
            <p>The High Court of Paris ruled recently that Google and Microsoft do not have to censor their search engines to remove all results involving the word "torrent" used in conjunction with the names of three French musicians who brought the lawsuit. While the court’s ruling as to Google was apparently based on a technical argument, its ruling as to Microsoft was much broader. The court condemned the plaintiff’s characterization of the word “torrent” as necessarily associated with infringing content, citing other legitimate uses of the word.</p>
        </td>
    </tr>
    <tr>
        <td class="items-list -last" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.usatoday.com/story/tech/news/2016/07/14/fcc-approves-spectrum-5g-advances/87081242/" target="_blank">FCC Approves Spectrum for 5G Advances</a></p>
            <p>The Federal Communications Commission recently approved opening spectrum for next-generation wireless broadband services, paving the way for speeds of up to 100 times faster than today's 4G and LTE networks can deliver. The Commission’s decision received praise from a number of consumer technology advocates.</p>
        </td>
    </tr>

<!-- SEO links list -->
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider color="blue" text="SEO" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/smx-advanced-recap-advanced-seos-know-google-raters-guidelines-253262" target="_blank">What Advanced SEOs Should Know From the Google Raters Guidelines (SMX Advanced Recap)</a></p>
            <p>Search Engine Land provides these 21 takeaway points from the SMX Advanced Conference. These points include: pages are judged across three rating categories—expertise, authoritativeness, and trustworthiness; if your site isn’t mobile friendly, it doesn’t meet your users’ needs; and high-quality content should be able to be read aloud without sounding unnatural or strange. The full guidelines are <a href="http://static.googleusercontent.com/media/www.google.com/en//insidesearch/howsearchworks/assets/searchqualityevaluatorguidelines.pdf" target="_blank">here</a>.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/search-ad-labeling-history-google-bing-254332" target="_blank">Color Fade: A Visual History of Google Ad Labeling in Search Results</a></p>
            <p>See how Google has changed the appearance of ads in search results over the past decade. This side-by-side comparison of ads over the years highlights the growing importance of online marketing, and the ever more subtle disclosures that certain search results are paid ads.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="https://techcrunch.com/2016/07/25/google-maps-gets-a-cleaner-look-and-starts-highlighting-areas-of-interest/" target="_blank">Google Maps Gets a Cleaner Look and Starts Highlighting Areas of Interest</a></p>
            <p>Google recently announced that Google Maps on iOS, Android, and the web will be getting a new and cleaner look. The redesign is intended to improve readability, remove clutter, and use color to highlight areas of interest.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list -last" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://searchengineland.com/google-no-pagerank-dilution-using-301-302-30x-redirects-anymore-254608" target="_blank">Google: There Is No PageRank Dilution When Using 301, 302, or 30x Redirects Anymore</a></p>
            <p>Google has confirmed that using HTTP redirects such as 301, 302, or 30x does not result in a loss of PageRank. This announcement clarifies and expands upon statements the search engine company made previously that 301 redirects do not dilute PageRank.</p>
        </td>
    </tr>

<!-- Social Media links list -->
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> labelDivider color="orange" text="Social Media" }}
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://mashable.com/2016/07/19/twitter-application-for-verified-accounts/" target="_blank">Twitter Just Made It a Lot Easier to Get Verified</a></p>
            <p>Twitter has introduced an official way to request a verified account&#8212;indicated by a blue checkmark next to your name. Verified accounts are intended to identify accounts that are of “public interest”&#8212;that is, the genuine accounts of public figures.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.adweek.com/news/technology/snapchat-just-revealed-new-feature-called-memories-saves-snaps-172400" target="_blank">Snapchat Just Revealed a New Feature Called “Memories” That Saves Snaps</a></p>
            <p>The app known for its “disappearing” messages and photos has announced a new feature called “Memories” that does just the opposite; now you can save posts, including photos and videos, and edit them to create a collage.</p>
        </td>
    </tr>

    <tr>
        <td class="items-list -verylast" responsive="mobile-padding-horizontal-sides">
            <p><a href="http://www.nytimes.com/2016/07/20/technology/twitter-bars-milo-yiannopoulos-in-crackdown-on-abusive-comments.html" target="_blank">Twitter Bars Milo Yiannopoulos in Wake of Leslie Jones’s Reports of Abuse</a></p>
            <p>Though Twitter is a popular medium for users to anonymously insult, complain, or harass other users, the company is increasingly cracking down on abuse and other major violations of its terms. Recently, the company notably barred Milo Yiannopoulos, a technology editor at the conservative news site Breitbart, for engaging in, and inciting others to engage in, racial and sexual harassment against actress Leslie Jones.</p>
        </td>
    </tr>
</table>
