---
subject: Happy Justia Anniversary, [Full Name]!
---

{{>preheader text="Please join us in congratulating [Full Name]! ---- "}}

{{#table align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.anniversary}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{#table class="widget set-max-width"}}
          <tr>
            <td class="wrapper" responsive="mobile-padding-horizontal-sides">
              {{#table class="w-anniversary set-max-width"}}
                <tr>
                  <td class="title -first align-center" responsive="mobile-padding-horizontal-sides">
                    <p class="line-1"><strong>Hi [Name]</strong></p>
                    <p class="line-2">[Team]</p>
                  </td>
                </tr>
                <tr>
                  <td class="image align-center" responsive="mobile-padding-horizontal-sides">
                    {{>img src="https://justatic.com/v/1/emails/images/events/anniversaries/output/seo/ana-hidalgo-generic.png" alt="Anniversary" class="generic"}}
                  </td>
                </tr>
                <tr>
                  <td class="anniversary-text align-center" responsive="mobile-padding-horizontal-sides">
                    <p class="count"><strong>Happy 3rd Anniversary</strong></p>
                    <p class="thanks">
                      Thank you for your contributions and dedication!
                      <br>
                      They are greatly appreciated.
                      <br>
                      <br>
                      <strong>The Justia Team</strong>
                    </p>
                  </td>
                </tr>
              {{/table}}
            </td>
          </tr>
        {{/table}}
      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
{{/table}}
