---
subject: Happy Justia Anniversary, [NAME]!
---

{{>preheader text="Please join us in congratulating [NAME]! ---- "}}

{{#table align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.workAnniversary}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{#table class="widget set-max-width"}}
          <tr>
            <td class="wrapper" responsive="mobile-padding-horizontal-sides">
              {{#table class="w-work-anniversary set-max-width"}}
                <tr>
                  <td class="title -first align-center" responsive="mobile-padding-horizontal-sides">
                    <p>
                      <strong>
                        Hi [NAME]
                        <br>
                        Happy Anniversary!
                      </strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="image align-center" responsive="mobile-padding-horizontal-sides">
                    {{>img src="happy-anniversary-5.png" alt="5th year badge"}}
                  </td>
                </tr>
                <tr>
                  <td class="text -last align-center" responsive="mobile-padding-horizontal-sides">
                    <p>
                      We all appreciate your work and dedication! We wish you continued success for many years to come.
                      <br>
                      <br>
                      The Justia Team
                    </p>
                  </td>
                </tr>
              {{/table}}
            </td>
          </tr>
        {{/table}}
      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
{{/table}}
