// ----------------------------------------------------------------------------------------------------------
// U T I L I T Y   C L A S S E S
// ----------------------------------------------------------------------------------------------------------

.full-size {
  @include size(100%);
}

.align {

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }
}

.valign {

  &-top {
    vertical-align: top;
  }

  &-middle {
    vertical-align: middle;
  }

  &-bottom {
    vertical-align: bottom;
  }
}

.no {

  &-padding {
    padding: 0;
  }

  &-margin {
    margin: 0;
  }
}
