
<!-- FEATURED SITE OF THE MONTH -->

<!-- w-feaured-site -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-feaured-site set-max-width">
    <tr>
        <!-- featured-site-title -->
        <td class="featured-site-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">Featured Site of the Month</h2>
        </td>
    </tr>
    <tr>
        <!-- featured-client -->
        <td class="featured-client" responsive="mobile-padding-horizontal-sides">
            <!-- client-url -->
            <p><a href="[client-website]" target="_blank" class="client-url">[client-name]</a></p>
        </td>
    </tr>
    <tr>
        <!-- featured-desc -->
        <td class="featured-desc" responsive="mobile-padding-horizontal-sides">
            <p>in [place]&nbsp;<br responsive="mobile-hide"> just recently launched their Justia website:</p>
            <p><a href="[client-website]" target="_blank">[client-website-simple (only name and extension)]</a></p>
        </td>
    </tr>
    <tr>
        <!-- featured-img -->
        <td class="featured-img" responsive="mobile-padding-horizontal-sides">
            <a href="[client-website]" target="_blank"><img src="{{default.image_dir_src}}/featured-site-01.jpg" alt="[client-name]" border="0" /></a>
        </td>
    </tr>
</table>