
<!-- PUG'S TALE -->

<!-- w-text-image w-pugs-tale -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-text-image w-pugs-tale set-max-width">
    <tr>
        <!-- item-list -->
        <td class="item-list" responsive="mobile-padding-horizontal-sides">
            <!-- item-1 -->
            <table cellpadding="0" cellspacing="0" border="0" class="item-1">
                <tr>
                    <!-- item-desc -->
                    <td class="item-desc" responsive="collapse-one">
                        <!-- widget-type-name -->
                        <h4 class="widget-type-name">A PUG'S TALE</h4>
                        <!-- widget-main-title -->
                        <h2 class="widget-main-title">[pugs-title]</h2>
                        <p>[pugs-description]</p>
                    </td>
                    <!-- item-image -->
                    <td class="item-image" responsive="mobile-hide collapse-one">
                        <a href="[pugs-url]" target="_blank"><img src="{{default.image_dir_src}}/pugs-tale-01.jpg" alt="[pugs-title]" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>