
// ----------------------------------------------------------------------------------------------------------
// M A I N   F O O T E R :   S O C I A L   P L A C E D   I N   T O P   B A R
// ----------------------------------------------------------------------------------------------------------

// v1 (will be v2)
.main-footer.-social-on-top {

  .fhead-side {
    width: percentage(1 / 2);
  }

  .footer-social {

    .social-icons {
      text-align: right;
    }
  }

  .footer-disclaimer {
    padding: 40px $padding 20px;
  }

  .footer-address {
    padding: 0 $padding 10px;
  }

  .footer-nav {
    padding: 0 $padding floor($padding * 3);
    vertical-align: top;
  }
}
