
// ----------------------------------------------------------------------------------------------------------
// M A I N   F O O T E R :   S O C I A L   P L A C E D   I N   C O N T E N T
// ----------------------------------------------------------------------------------------------------------

// v3 (will be v1)
.main-footer.-social-below {

  .fhead-side {

    &.-left {
      width: 25%;
    }

    &.-right {
      width: 75%;
    }
  }

  .footer-social {
    padding: 20px $padding 10px;
    text-align: center;

    .social-icons {
      margin: 0 auto;
      text-align: center;
    }
  }
}
