<!-- social-icons {{ classes }} -->
<table border="0" cellpadding="0" cellspacing="0" class="social-icons {{ classes }}" responsive="{{ responsiveClasses }}">
  <tr>
    <!-- icon -->
    <td class="icon">
      <a href="https://www.facebook.com/justia" target="_blank">
        <img src="https://lawyers.justia.com/s/facebook-flat-64.png" alt="Facebook" border="0" />
      </a>
    </td>
    <!-- icon -->
    <td class="icon">
      <a href="https://twitter.com/justiacom" target="_blank">
        <img src="https://lawyers.justia.com/s/twitter-flat-64.png" alt="Twitter" border="0" />
      </a>
    </td>
    <!-- icon -->
    <td class="icon">
      <a href="https://www.linkedin.com/company/justia" target="_blank">
        <img src="https://lawyers.justia.com/s/linkedin-flat-64.png" alt="LinkedIn" border="0" />
      </a>
    </td>
    <!-- icon -->
    <td class="icon">
      <a href="https://lawyers.justia.com/organization/justia-inc-16302" target="_blank">
        <img src="https://lawyers.justia.com/s/justia-flat-64.png" alt="Justia" border="0" />
      </a>
    </td>
  </tr>
</table>
