<!DOCTYPE html>
<html lang="en" class="preview-interface-view">
<head>
  <meta charset="UTF-8">
  <title>Email Template Builder :: (Preview)</title>
  <link rel="stylesheet" href="/css/preview.css">
</head>
<body id="mail-template-builder" class="set-view-desktop">
  <div id="header" class="preview-header">
    <div class="head">
      <div class="brand">
        <a href="https://github.com/leemunroe/grunt-email-workflow" target="_blank">Email Template Builder</a>
      </div>
      <div class="select">
        Preview:&nbsp;
        <select id="template-select">
          <option value="_blank.html">Select a Template</option>
          <% templates.forEach(function(template) { %>
            <option
              value="<%= template.filename %>"
              data-mockup-name="<%= template.filename.replace('.html', '') %>"
              data-subject="<%= template.subject %>"
            >
              <%= template.filename %>
            </option>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="view-buttons">
      <a href="#" class="button -desktop -active" data-view-type="desktop">Desktop</a>
      <a href="#" class="button -mobile" data-view-type="mobile">Mobile</a>
      <div class="mockup-position">
        <input class="position" type="range" min="-100" max="100" step="1" value="0" style="width:400px;" />
        <input class="opacity" type="range" min="0" max="1" step="0.1" value="0.3" />
      </div>
    </div>
  </div>
  <div class="mockup-mask">
    <img src="https://via.placeholder.com/600x1503">
  </div>
  <section class="preview-ui">
    <article class="wrapper">
      <div class="viewer-phone-mask">
        <iframe src="_blank.html"></iframe>
      </div>
    </article>
  </section>
  <script src="https://unpkg.com/domready@1.0.8/ready.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="module" src="/js/index.js"></script>
</body>
</html>
