{{!--
    Version: 1.0.0
--}}


{{!
    Notification Block
    Params:
        tagline:    (string) unescaped Tagline
}}
{{> ieLayoutHack tableStart=true }}

    <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-header set-max-width">
        <tr>
            <td class="tagline-wrapper" responsive="mobile-no-padding-horizontal-sides">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="tagline" responsive="collapse-one mobile-align-center mobile-padding-top">
                            {{ tagline }}
                        </td>

                        <td class="view-in-browser align-right" responsive="collapse-one mobile-align-center mobile-padding-top">
                            <a href="*|ARCHIVE|*" target="_blank">View this email in your browser</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

{{> ieLayoutHack tableEnd=true }}

