{{!--
    No version defined becuase this module cuold change each month.
--}}

<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="intro set-max-width">
    <tr>
        {{> background classes="head-img" image="main-image-01.jpg" bgcolor="#ffffff" dimensions="width:600px; height:450px;" bgStart=true bgEnd=true }}
    </tr>
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> headline text="News From the Court" }}
        </td>
    </tr>    
    <tr>
        <td class="intro--message" responsive="mobile-padding-horizontal-sides">
            <p>
                The Senate confirmation hearings for Supreme Court nominee Neil M. Gorsuch took place over four days this month. Cornell Law School professor and Verdict columnist Michael Dorf writes on 
            <a href="https://verdict.justia.com/2017/03/22/educational-function-kabuki-confirmation-hearings">
                The Educational Function of Kabuki Confirmation Hearings</a> and how these hearings offer a much-needed opportunity to reaffirm shared commitments to the rule of law. 
            </p>
            <p>
                The Court handed down over ten opinions in March. You’ll find summaries and links to the full text of the opinions below. 
            </p>
        </td>
    </tr>
</table>

