---
subject: "JUSTIA Lawyer Directory"
---

{{>preheader text="Justia Lawyer Directory"}}

{{#table class="blast exclusive-placements" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>blast-content widgetConfig=exclusivePlacements
       }}

      {{>ui-layout-hack tableEnd=true}}
      {{>ui-layout-hack tableStart=true}}
        {{>about-justia }}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
