// ----------------------------------------------------------------------------------------------------------
// L A W   E V E N T S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-law-events {

    .wrapper.-last {
        padding: 0 $padding $widget-gap;
    }

    .event {

        td {
            vertical-align: top;
        }

        &:not(.first-row) > td {
            padding: 30px 0 0;
        }

        .event-month {
            @include mail-font(18px, 1, tp('weight', 'bold'));
            margin: 0;
        }

        .event-day {
            @include mail-font(24px, 1, tp('weight', 'bold'));
            margin: 0;
        }

        .title {
            @include mail-font(16px, 1.4);
            margin: 0;
            color: plt('justia-blue');

            a {
                color: plt('justia-blue');
            }
        }

        .description {
            @include mail-font(16px, 1.4);
            margin: 0;
        }

        .read-more {
            margin: 7px 0 0;
        }

        a {
            color: plt('black');
        }
    }
}
