// ----------------------------------------------------------------------------------------------------------
// T R E N D I N G   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-trending-news {


    .widget-description {
        padding: 10px 30px 35px;
    }

    .subtitle {
        text-align: left;
        font-weight: get('font.weight.normal');
        span {
            display: inline-block;
        }
    }

    .category {
        text-transform: uppercase;
        background-color: plt('dimgray');
        color: plt('white');
        font-weight: get('font.weight.bold');
        display: inline-block;
        padding: 4px 10px;
        border-radius: 5px;

        &.-blue {
            background-color: plt('justia-blue')
        }
        &.-red {
            background-color: plt('red')
        }
        &.-green {
            background-color: #00af41;
        }
        &.-orange {
            background-color: #ff6b00
        }
        &.-yellow {
            background-color:#e8ae00
        }
        &.-teal {
            background-color:#3fd5ae
        }

    }
}
