// ----------------------------------------------------------------------------------------------------------
// F E A T U R E D   S I T E   O F   T H E   M O N T H
// ----------------------------------------------------------------------------------------------------------

.w-featured-site-month {

  .sites-list-description {
    padding: 0 $padding 25px;
    text-align: center;
  }

  .sites-list {
    padding: 0 $padding $widget-gap;

    .devices {
      width: 230px;
      padding: 0 $padding $padding 20px;

      &.-last {
        padding: 0 $padding 0 20px;
      }

      img {
        width: 230px;
      }
    }

    .client-info {
      padding: 0 0 ($padding + 20px);
      vertical-align: middle;

      &.-last {
        padding: 0 0 20px;
      }

      .name {
        @include mail-font(22px, 1.15);
        margin: 0 0 10px;
      }

      .location,
      .website {
        margin: 0;
      }
    }
  }
}
