// ----------------------------------------------------------------------------------------------------------
// T E C H   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$featured-image--width: 150px;

// ----------------------------------------------------------------------------------------------------------

.w-stories-list {

  .featured-story {
    padding: 0 $padding 45px;

    .description {
      width: ($inner-max-width - $featured-image--width - $padding);
      text-align: left;
      vertical-align: top;

      &.-with-button p:last-of-type {
        margin: 0 0 20px;
      }
    }

    .image {
      width: ($featured-image--width + $padding);
      text-align: right;
      vertical-align: top;

      img {
        width: $featured-image--width;
      }
    }
  }
}
