<!-- AD -->

{{#table class="widget w-ad"}}
  <tr>
    <td class="ad-wrapper" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        <tr>
          <td class="ad-content" responsive="collapse-one mobile-no-padding-horizontal-sides mobile-padding-uneven-bottom">

            {{#table}}
              <tr>
                <td class="text">
                  <p class="title"><strong>Boost new costumer growth by up to 30%</strong></p>
                  <p>A premium placement in the Justia Lawyer Directory can give you the boost you need.</p>
                </td>
              </tr>
              <tr>
                <td class="button">
                  {{#uiButton
                    class="custom-button"
                    href="https://www.justia.com/"
                    presetStyle="red"
                    width="280"
                    height="50"
                    lineHeight="1.4"
                  }}
                    I WANT TO GROW MY BUSINESS
                  {{/uiButton}}
                </td>
              </tr>
            {{/table}}

          </td>
          <td class="ad-image" responsive="collapse-one">
            {{>img src="boost-costumers.png" alt="Boost"}}
          </td>
        </tr>
      {{/table}}

    </td>
  </tr>
{{/table}}
