
<!-- ADVERTISEMENT -->

<!-- w-advertisement w-client-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-client-ad-01 set-max-width">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- ad-image -->
          <td class="ad-image" responsive="mobile-hide">
            <a href="{{{ advertisements.clients.ad1.link }}}" target="_blank">
              <img src="{{ default.imageDirSrc }}/{{ advertisements.clients.ad1.image }}" alt="{{ advertisements.clients.ad1.alt }}" border="0" />
            </a>
          </td>
          <td class="ad-content" responsive="mobile-reset-width">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="ad-logo">
                  <img src="https://justatic.com/v/20180731/branding/logos/emails/justia-marketing-blue.png" alt="Justia Marketing" border="0" width="270">
                </td>
              </tr>
              <tr>
                <td class="ad-title" responsive="mobile-fz-25">
                  How Complete <br class="mobile-hide">Is Your Profile?
                </td>
              </tr>
              <tr>
                <td class="ad-text">
                  <p>Our data analysis shows lawyers with complete profiles in Justia’s Lawyer Directory receive 76 times more client contacts than those with incomplete profiles.</p>
                </td>
              </tr>
              <tr>
                <td class="ad-button -red -large">
                  {{> ui-real-text-button buttonText="Update Profile Now" buttonLink="#" }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
