
<!-- ADVERTISEMENT -->

<!-- w-advertisement w-client-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement set-max-width">
    <tr>
        <!-- ad-image -->
        <td class="ad-image">
          <a href="https://www.justia.com/marketing/lawyer-directory/?utm_medium=email&utm_source=legal-jobs-newsletter&utm_campaign=2018-11-14&utm_content=banner-want-to-view-your-traffic-stats-v1" target="_blank">
            <img alt="Want to view your traffic stats? Become a Premium Member Now!" src="{{default.imageDirSrc}}/jobs-premium-01.png" tabindex="0" border="0">
          </a>
        </td>
    </tr>
</table>
