
<!-- ADVERTISEMENT -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-ask-a-lawyer set-max-width">
    <tr>
        {{> background classes="dvbg" responsiveClasses="mobile-reset-width mobile-reset-height mobile-reset-bg-image" image="pumpkin-ad-background-01.jpg" bgcolor="#ff7f00" dimensions="width:600px; height:239px;" bgStart=true content=true }}
            <table cellpadding="0" cellspacing="0" border="0" class="inner-table" responsive="collapse-one mobile-reset-height mobile-align-center mobile-reset-height">
                <tr>
                    <td class="ad-title" responsive="mobile-reset-height mobile-padding-uneven-full mobile-align-center">
                        <p><strong>Justia is <br responsive="mobile-hide">Giving Thanks <br responsive="mobile-hide">for Your <br responsive="mobile-hide">Kind Referrals!</strong></p>
                    </td>
                </tr>
            </table>
        {{> background bgEnd=true }}
    </tr>
    <tr>
        <td class="cnt-text" responsive="mobile-no-padding-top mobile-padding-horizontal-sides mobile-padding-uneven-bottom mobile-align-center">
            <p>Rest assured that any attorney you refer to Justia will receive excellent service. To show our appreciation, we'll give you a <strong>$200 credit</strong> and your friend a <strong>$100 discount</strong> on their set-up fees if they purchase a website or blog from us within 60 days of the referral.</p>
            <p>Call Us Now <strong><a href="tel:8885878421">(888) 587-8421</a></strong></p>
        </td>
    </tr>
</table>
