{{#table class="widget w-announcement"}}
  <tr>
    <td class="announcement-wrapper" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        <tr>
          <td class="announcement-content" responsive="collapse-one mobile-padding-uneven-bottom">

            {{#table}}
              <tr>
                <td>
                    <img src="../dist/images/megaphone.png" alt="Announcement">
                </td>
                <td>
                    <p>Introducing Our New <a href="" target=""><strong>Dashboard</strong></a> and Enhanced <a href="" target="_blank"><strong>Editor</strong></a> for Your Justia Lawyer Directory Profile. <a href="" target="_blank"><b>Learn More.</b></a></p>
                </td>
              </tr>
 
            {{/table}}

          </td>
       
        </tr>
      {{/table}}

    </td>
  </tr>
{{/table}}


