{{#table class="widget w-announcement"}}
  <tr>
    <td class="announcement-wrapper" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        <tr>
          <td class="announcement-content" responsive="collapse-one mobile-padding-uneven-bottom">

            {{#table}}
              <tr>
                <td>
                    <img src="../dist/images/watchvideo.png" alt="Watch Now">
                </td>
                <td>
                    <p><b>Tomorrow:</b> Fundamentals of Citation & Link Building for SEO with Tim Stanley, CEO of Justia. Aug. 3, 11 am PT. Limited Seats Available.
                      <a href="/" target="_blank"><b>Register Now ››</b></a>
                    </p>
                </td>
              </tr>

            {{/table}}

          </td>

        </tr>
      {{/table}}

    </td>
  </tr>
{{/table}}


