{{#table class="widget w-announcement"}}
  <tr>
    <td class="announcement-wrapper" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        <tr>
          <td class="announcement-content" responsive="collapse-one mobile-padding-uneven-bottom">

            {{#table}}
              <tr>
                <td>
                    <img src="../dist/images/megaphone.png" alt="Announcement">
                </td>
                <td>
                    <p><strong>NEW!</strong> Make the most of the recently released services-filtering feature. Find out more <b><a target="_blank" href="/">here</a></b>.</p>
                </td>
              </tr>
 
            {{/table}}

          </td>
       
        </tr>
      {{/table}}

    </td>
  </tr>
{{/table}}


