{{#table class="widget w-announcement"}}
  <tr>
    <td class="announcement-wrapper" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        <tr>
          <td class="announcement-content" responsive="collapse-one mobile-padding-uneven-bottom">

            {{#table}}
              <tr>
                <td>
                    <img src="../dist/images/watchvideo.png" alt="Watch Now">
                </td>
                <td>
                    <p><b>New On-Demand Webinar:</b> The recording of our recent Justia Webinar on content SEO is now available.
                      <a href="/" target="_blank"><b>Watch Now ›</b></a>
                    </p>
                </td>
              </tr>

            {{/table}}

          </td>

        </tr>
      {{/table}}

    </td>
  </tr>
{{/table}}


