
<!-- CONTENT -->

<!-- w-content -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-content set-max-width">
  <tr>
    <!-- widget-main-title -->
    <td class="widget-main-title" responsive="mobile-padding-horizontal-sides">
      <h4>Legal jobs delivered to you!</h4>
    </td>
  </tr>
  <tr>
    <!-- main-content-text -->
    <td class="main-content-text" responsive="mobile-padding-horizontal-sides">
      <p>The Justia Legal Jobs newsletter will feature job postings from across the U.S. for lawyers, law students, and other legal professionals. This newsletter is free for job seekers!</p>
    </td>
  </tr>

  <tr>
    <!-- main-content-text -->
    <td class="main-content-text-last" responsive="mobile-padding-horizontal-sides">
      <p><a href="https://eepurl.com/dJneqj" target="_blank">Subscribe</a> to receive more jobs like the ones below:</p>
    </td>
  </tr>
</table>
