
<!-- CONTENT -->

<!-- w-content -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-content set-max-width">
  <tr>
    <!-- widget-main-title -->
    <td class="widget-main-title" responsive="mobile-padding-horizontal-sides">
      <h4>Justia Launches Newsletter</h4>
    </td>
  </tr>
  <tr>
    <!-- main-content-text -->
    <td class="main-content-text" responsive="mobile-padding-horizontal-sides">
      <p>Welcome to the first issue of the Justia Legal Jobs newsletter. With so many law jobs on offer, choosing the right career for you can seem overwhelming. To make things easier, this newsletter contains a list of available jobs in the legal sector. A couple of notes:</p>
    </td>
  </tr>
  <tr>
    <!-- main-content-list -->
    <td class="main-content-list" responsive="mobile-padding-horizontal-sides">
      <table align="center" border="0" cellpadding="0" cellspacing="0" class="set-max-width">
        <tr>
          <!-- list-item-bullet -->
          <td class="list-item-bullet">
            <img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet">
          </td>
          <!-- list-item-text -->
          <td class="list-item-text">
            <p>If you apply for one of these jobs, please indicate that you learned about it from Justia.</p>
          </td>
        <tr>
          <!-- list-item-bullet -->
          <td class="list-item-bullet">
            <img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet">
          </td>
          <!-- list-item-text -->
          <td class="list-item-text">
            <p>If your organization, is hiring you can contact us at <a href="mailto:jobs@justia.com" target="_blank"><strong>jobs@justia.com</strong></a> for details on how your job can be included in the next issue.</p>
          </td>
        <tr>
          <!-- list-item-bullet -->
          <td class="list-item-bullet">
            <img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-bullet-01.png" alt="bullet">
          </td>
          <!-- list-item-text -->
          <td class="list-item-text">
            <p>Feel free to share this newsletter. New subscribers can sign-up at <a href="#" target="_blank"><strong>jobs.justia.com</strong></a></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <!-- main-content-text -->
    <td class="main-content-text" responsive="mobile-padding-horizontal-sides">
      <p>This new service is a work in progress and your feedback is welcome. You may send suggestions to us at <a href="mailto:jobs@justia.com" target="_blank"><strong>jobs@justia.com</strong></a></p>
    </td>
  </tr>
  <tr>
    <!-- main-content-text -->
    <td class="main-content-text-last" responsive="mobile-padding-horizontal-sides">
      <p>Best, <br>Justia Legal Jobs Team</p>
    </td>
  </tr>
</table>
