<!-- DID YOU KNOW? -->

{{#table class='w-did-you-know set-max-width'}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      {{>widget-title type='Did You Know?' title=didYouKnow.title link=didYouKnow.link}}
    </td>
  </tr>

  {{#each didYouKnow.description}}
    <tr>
      <td class="desc-text{{#if @last}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
        <p>{{{this}}}</p>
      </td>
    </tr>
  {{/each}}
{{/table}}
