<!-- DID YOU KNOW? -->

{{#table class='w-did-you-know set-max-width'}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      <h4 class="widget-type-name">DID YOU KNOW?</h4>
      {{#if didYouKnow.title}}
        <h2 class="widget-main-title">
          <a href="{{didYouKnow.link}}" target="_blank">{{{didYouKnow.title}}}</a>
        </h2>
      {{/if}}
    </td>
  </tr>

  {{#each didYouKnow.description}}
    <tr>
      <td class="desc-text{{#if @last}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
        <p>{{{this}}}</p>
      </td>
    </tr>
  {{/each}}
{{/table}}
