
<!-- DID YOU KNOW? -->

<!-- w-did-you-know -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-did-you-know set-max-width">
  <tr>
    <!-- dyk-title -->
    <td class="dyk-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-type-name -->
      <h4 class="widget-type-name">DID YOU KNOW?</h4>
      {{#if didYouKnow.title }}
        <!-- widget-main-title -->
        <h2 class="widget-main-title"><a href="{{ didYouKnow.link }}" target="_blank">{{{ didYouKnow.title }}}</a></h2>
      {{/if}}
    </td>
  </tr>

  {{#each didYouKnow.description }}
    <tr>
      <!-- dyk-desc -->
      <td class="dyk-desc" responsive="mobile-padding-horizontal-sides">
        <p>{{{ this }}}</p>
      </td>
    </tr>
  {{/each}}
  <tr>
    <!-- dyk-button dyk-desc--last -->
    <td class="dyk-button dyk-desc--last" responsive="mobile-padding-horizontal-sides">
      {{> ui-button rootPath=default.imageDirSrc imagePath="didknow-button-w-01.png" imageAlt="Contact Us Now" custom=true buttonLink=didYouKnow.link }}
    </td>
  </tr>
</table>
