{{> ieLayoutHack tableStart=true }}
    <!-- main-footer -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-footer set-max-width">
        <tr>
            <!-- logo-footernav -->
            <td class="logo-footernav">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <!-- logo -->
                        <td class="logo">
                            <img src="{{ default.image_dir_src }}/footer-logo.png" alt="LawSites" border="0" />
                        </td>
                        <!-- footernav align-right -->
                        <td class="footernav align-right">
                            <p>
                                <a href="#" target="_blank"><b>Contact</b></a>
                                <!-- vline -->
                                <span class="vline">|</span>
                                <a href="{{{ default.unsubscribe_url }}}"><b>Unsubscribe</b></a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <!-- social -->
            <td class="social">
                <!-- spacer -->
                <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" border="0">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><a href="https://www.facebook.com/robert.ambrogi" target="_blank"><img src="https://lawyers.justia.com/s/facebook-flat-64.png" alt="Facebook" border="0" /></a></td>
                        <td><a href="https://twitter.com/bobambrogi" target="_blank"><img src="https://lawyers.justia.com/s/twitter-flat-64.png" alt="Twitter" border="0" /></a></td>
                        <td><a href="https://www.linkedin.com/in/robertambrogi" target="_blank"><img src="https://lawyers.justia.com/s/linkedin-flat-64.png" alt="LinkedIn" border="0" /></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <!-- disclaimer -->
            <td class="disclaimer align-center">
                <p> You are receiving this email because you opted in at <b><a href="http://www.lawsitesblog.com/" target="_blank">lawsitesblog.com</a></b></p>
            </td>
        </tr>
    </table>
{{> ieLayoutHack tableEnd=true }}
