{{> layoutHack tableStart=true }}
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-footer set-max-width" responsive="main-footer">
    <tr>
      <td class="logo-social" responsive="mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border">
        <table align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="right" valign="middle" width="24">
              <a href="http://www.twitter.com/oyez" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" height="24" width="24" class=""></a>
            </td>
            <td align="center" valign="middle" width="24">
              <a href="http://www.facebook.com/oyezproject" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" height="24" width="24" class=""></a>
            </td>
            <td align="left" valign="middle" width="24">
              <a href="http://oyez.org" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" height="24" width="24" class=""></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="disclaimer" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
        <p responsive="mobile-align-center">Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, <em>All rights reserved.</em></p>
        <p responsive="mobile-align-center">
          *|IFNOT:ARCHIVE_PAGE|*
            You are receiving this email because you subscribed on our website.<br><br>
            <strong>Our mailing address is:</strong><br>
            <span>1380 Pear Ave #2B<br> Mountain View, CA 94043</span>
          *|END:IF|*
        </p>
      </td>
    </tr>
    <tr>
      <td class="preferences" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
        <p responsive="mobile-align-center">
          *|IFNOT:ARCHIVE_PAGE|*
            Want to change how you receive these emails?<br>
            You can <a class="underlined" href="*|UPDATE_PROFILE|*">update your preferences</a> or <a class="underlined" href="*|UNSUB|*">unsubscribe from this list</a>.<br><br>
            *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
          *|END:IF|*
        </p>
      </td>
    </tr>
  </table>
{{> layoutHack tableEnd=true }}
