{{> fixedLayoutHack tableStart=true }}
  <!-- main-footer-v2 set-max-width -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-footer-v2 set-max-width">
    <tr>
      <!-- logo-footernav -->
      <td class="logo-footernav">
        <!-- spacer -->
        <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" border="0">
        <table align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <!-- logo -->
            <td class="logo">
              <img src="{{ default.footer.logo.v2.url }}" alt="{{ default.footer.logo.v2.alt }}" border="0" />
            </td>
            <!-- footernav -->
            <td class="footernav">
              <p>
                <a href="https://www.justia.com/marketing/" target="_blank">Contact Us</a>
                <!-- vline -->
                <span class="vline">|</span>
                <a href="https://www.justia.com/marketing/privacy-policy/" target="_blank">Privacy Policy</a>
                <!-- vline -->
                <span class="vline">|</span>
                <a href="{{{ default.unsubscribe_url }}}">Unsubscribe</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <!-- social -->
      <td class="social">
        <!-- spacer -->
        <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" border="0">
        <table align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a href="https://www.facebook.com/justia" target="_blank"><img src="https://lawyers.justia.com/s/facebook-flat-64.png" alt="Facebook" border="0" /></a></td>
            <td><a href="https://twitter.com/justiacom" target="_blank"><img src="https://lawyers.justia.com/s/twitter-flat-64.png" alt="Twitter" border="0" /></a></td>
            <td><a href="https://www.linkedin.com/company/justia" target="_blank"><img src="https://lawyers.justia.com/s/linkedin-flat-64.png" alt="LinkedIn" border="0" /></a></td>
            <td><a href="https://lawyers.justia.com/organization/justia-inc-16302" target="_blank"><img src="https://lawyers.justia.com/s/justia-flat-64.png" alt="Justia" border="0" /></a></td>
            <td><a href="https://plus.google.com/+justia" target="_blank" rel="publisher"><img src="https://lawyers.justia.com/s/google-plus-flat-64.png" alt="Google+" border="0" /></a></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <!-- disclaimer -->
      <td class="disclaimer">
        <p>You are receiving this email because you are in the lawyer directory.</p>
      </td>
    </tr>
    <tr>
      <!-- address -->
      <td class="address">
        <p>
          <!-- justia-inline --><a class="justia-inline" href="https://www.justia.com/">Justia</a> <!-- vline --><span class="vline">|</span> <span id="ios-links-black">1380 Pear Ave #2B, Mountain View, CA 94043
        </p>
      </td>
    </tr>
  </table>
{{> fixedLayoutHack tableEnd=true }}
