<!-- CLIENTS IN THE NEWS -->

{{#table class='w-in-the-news set-max-width'}}
  <tr>
    <td class="clients-title" responsive="mobile-padding-horizontal-sides">
      <h2 class="widget-main-title align-center">Clients in the News</h2>
    </td>
  </tr>
  <tr>
    <td class="clients-list" responsive="mobile-padding-horizontal-sides">
      {{#forEach inTheNews.news}}
        {{#table align='' class=(concat 'client-block client-' index)}}
          <tr>
            <td class="news-logo">
              <a href="{{this.button.link}}" target="_blank">
                <img src="{{resolveFilePath (concat 'clients-news-logo-0' index '.png')}}" alt="{{this.logoName}}" border="0" />
              </a>
            </td>
            <td class="news-desc">
              <p>{{{this.description}}}</p>
              <br>
              {{>ui-real-text-button buttonText=this.button.text buttonLink=this.button.link}}
            </td>
          </tr>
        {{/table}}
      {{/forEach}}
    </td>
  </tr>
  <tr>
    <td class="clients-desc" responsive="mobile-padding-horizontal-sides">
      <p>Have you or your firm been mentioned in the news recently?</p>
      <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
    </td>
  </tr>
{{/table}}
