<!-- JLD ADVERTISEMENT -->

{{#table class='w-advertisement w-jld-ad-01 set-max-width'}}
  <tr>
    <td class="ad-image">
      <a href="{{{advertisements.jld.ad1.link}}}" target="_blank">
        <img src="{{resolveFilePath advertisements.jld.ad1.image}}" alt="{{advertisements.jld.ad1.alt}}" border="0" />
      </a>
    </td>
  </tr>

  {{#if advertisements.jld.ad1.description}}
    {{#each advertisements.jld.ad1.description}}
      <tr>
        <td class="ad-desc{{#if @first}} -first{{/if}}{{#if @last}} -last{{/if}}" responsive="mobile-padding-top mobile-padding-horizontal-sides">
          <p>{{{this}}}</p>
        </td>
      </tr>
    {{/each}}
  {{/if}}
{{/table}}
