<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-01 set-max-width">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- ad-logo -->
          <td class="ad-logo" responsive="mobile-padding-horizontal-sides">
            <a href="https://www.justia.com/marketing/law-firm-websites/?utm_medium=email&utm_campaign=2019-02&utm_source=directory-newsletter&utm_content=banner-website-marketing-generic-v14" target="_blank">
              <img src="https://justatic.com/v/20180731/branding/logos/emails/justia-marketing-blue.png" alt="Justia Marketing" border="0" width="318">
            </a>
          </td>
        </tr>
        <tr>
          <!-- ad-title -->
          <td class="ad-title" responsive="mobile-fz-20">
            <a href="https://www.justia.com/marketing/law-firm-websites/?utm_medium=email&utm_campaign=2019-02&utm_source=directory-newsletter&utm_content=banner-website-marketing-generic-v14" target="_blank">
              <strong responsive="mobile-fz-20">Is Your Website Fully Optimized?</strong>
              <span responsive="mobile-fz-18">
                Find Out With A Free Audit Report
              </span>
            </a>
          </td>
        </tr>
        <tr>
          {{> ui-background classes="ad-image" image="/src/img/jld-adname-image-02-bg.png" absolutePath=true bgColor="#ffffff" dimensions="width:600px; height:287px;" bgStart=true content=true responsiveClasses="mobile-reset-bg-image mobile-reset-width mobile-reset-height mobile-padding-full" }}
            <a href="https://www.justia.com/marketing/law-firm-websites/?utm_medium=email&utm_campaign=2019-02&utm_source=directory-newsletter&utm_content=banner-website-marketing-generic-v14" target="_blank">
              <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad2.image }}" alt="{{ advertisements.jld.ad1.alt }}" responsive="mobile-reset-width mobile-reset-height" border="0" />
            </a>
          {{> ui-background bgEnd=true}}
        </tr>
        <tr>
          <!-- ad-text -->
          <td class="ad-text">
            <a href="https://www.justia.com/marketing/law-firm-websites/?utm_medium=email&utm_campaign=2019-02&utm_source=directory-newsletter&utm_content=banner-website-marketing-generic-v14" target="_blank">
              Is your site up to today’s marketing and SEO standards?<br/>
              <strong>Get a free audit report</strong> of your website from Justia that provides you an in-depth review of analytical factors that influence the search engine ranking of your current site.
            </a>
          </td>
        </tr>
        <tr>
            <td class="button -large -red">
              {{> ui-real-text-button buttonLink="https://www.justia.com/marketing/law-firm-websites/?utm_medium=email&utm_campaign=2019-02&utm_source=directory-newsletter&utm_content=banner-website-marketing-generic-v14" buttonText="Get Your FREE Audit Report Today" responsiveClasses="mobile-reset-width mobile-padding-horizontal-sides mobile-fz-16" responsiveClassesForWrapper="mobile-fz-16" }}
            </td>
          </tr>
          <tr>
            <!-- ad-contacts -->
            <td class="ad-contacts">
              <a href="https://www.justia.com/marketing/law-firm-websites/?utm_medium=email&utm_campaign=2019-02&utm_source=directory-newsletter&utm_content=banner-website-marketing-generic-v14" target="_blank">
                Or call us at <strong>(888) 587-8421</strong>
              </a>
            </td>
          </tr>
      </table>
    </td>
  </tr>
</table>
