
<!-- w-jobs-newsletter -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-jobs-newsletter set-max-width">
  <tr>
    <!-- jobs-title -->
    <td class="jobs-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-main-title -->
      <h2 class="widget-main-title">
        <a href="#" target="_blank">
          Justia Legal Jobs Newsletter
        </a>
      </h2>
    </td>
  </tr>

  <tr>
    <!-- jobs-desc -->
    <td class="jobs-desc" responsive="mobile-padding-horizontal-sides">
      <p>The Justia Legal Jobs newsletter features job listings from across the US for lawyers, law students, and other legal professionals. This newsletter is free for job seekers!</p>
    </td>
  </tr>

  <tr>
    <td class="jobs-desc--last button -red" responsive="mobile-padding-horizontal-sides">
      {{> ui-real-text-button buttonText="Subscribe" buttonLink="#" }}
    </td>
  </tr>
</table>
