{{#table class='w-simple-text -jobs-newsletter set-max-width'}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      {{>widget-title title='Justia Legal Jobs Newsletter'}}
    </td>
  </tr>
  <tr>
    <td class="desc" responsive="mobile-padding-horizontal-sides">
      <p>The Justia Legal Jobs newsletter features job listings from across the US for lawyers, law students, and other legal professionals. This newsletter is free for job seekers!</p>
    </td>
  </tr>
  <tr>
    <td class="button" responsive="mobile-padding-horizontal-sides">
      {{#uiButton presetStyle='red' href='http://eepurl.com/dJneqj'}}
        Subscribe
      {{/uiButton}}
    </td>
  </tr>
{{/table}}
