<!-- LEGAL INDUSTRY NEWS -->

{{#table class='w-stories-list -legal-industry-news set-max-width'}}
  <tr>
    <td class="main-title align-center" responsive="mobile-padding-horizontal-sides">
      {{>widget-title title='Legal Industry News'}}
    </td>
  </tr>
  {{#forEach legalIndustryNews.articles}}
    <tr>
      <td class="story-link{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
        <p><strong><a href="{{this.link}}" target="_blank">{{{this.title}}}</a></strong></p>
        <p>{{{this.description}}}</p>
      </td>
    </tr>
  {{/forEach}}
{{/table}}
