{{!--
    No version defined becuase this module cuold change each month.
--}}

<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="intro set-max-width">
    <tr>
        <td>
            <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/main-image-01.png" alt="Oyez" class="head-img">
        </td>
    </tr>
    <tr>
        <td class="sponsored-logos">
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="set-max-width">
                <tr>
                    <td>
                        <a href="https://www.law.cornell.edu/" target="_blank" class="lii">
                            <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/lii.png" alt="Legal Information Institute">
                        </a>
                    </td>
                    <td>
                        <a href="http://www.lawschool.cornell.edu/" target="_blank" class="cornell">
                            <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/cornell.png" alt="Cornell Law School">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.justia.com/" target="_blank" class="justia">
                            <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/justia.png" alt="Justia">
                        </a>
                    </td>
                    <td>
                        <a href="http://www.kentlaw.iit.edu/" target="_blank" class="it-chicago">
                            <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/it-chicago.png" alt="Illinois Institute of Technology">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> headline text="US Supreme Court" }}
        </td>
    </tr>
</table>

