<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="main-image set-max-width">
  <tr>
      <td>
          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/main-image-01.png" alt="Oyez" class="head-img">
      </td>
  </tr>
  <tr>
      <td class="sponsored-logos">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="set-max-width">
              <tr>
                  <td>
                      <a href="https://www.law.cornell.edu/" target="_blank" class="lii">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/lii.png" alt="Legal Information Institute">
                      </a>
                  </td>
                  <td>
                      <a href="http://www.lawschool.cornell.edu/" target="_blank" class="cornell">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/cornell.png" alt="Cornell Law School">
                      </a>
                  </td>
              </tr>
              <tr>
                  <td>
                      <a href="https://www.justia.com/" target="_blank" class="justia">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/justia.png" alt="Justia">
                      </a>
                  </td>
                  <td>
                      <a href="http://www.kentlaw.iit.edu/" target="_blank" class="it-chicago">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/it-chicago.png" alt="Illinois Institute of Technology">
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> headline text="News From the Court" }}
    </td>
  </tr>
  <tr>
    <td class="main-image--message" responsive="mobile-padding-horizontal-sides">
      <p>
        The new term began on Monday, October 2, and the Court got right to it, hearing arguments the next day in an important voting rights case, <a href="https://www.oyez.org/cases/2017/16-1161">Gill v. Whitford</a>. Read more analysis on the day’s events here: 
      </p>
      <p>“Kennedy’s Vote Is in Play on Voting Maps Warped by Politics” <a href="https://www.nytimes.com/2017/10/03/us/politics/gerrymandering-supreme-court-wisconsin.html?_r=0">https://www.nytimes.com/2017/10/03/us/politics/gerrymandering-supreme-court-wisconsin.html?_r=0</a></p>
      <p>
        Several more arguments were also heard this month, summarized below with links to hear the arguments on Oyez.
      </p>
      <p>
        In addition, Oyez has now posted the audio of <a href="https://www.oyez.org/cases/2016">opinion announcements from last year’s term</a>, which includes Justice Gorsuch reading his first opinion from the bench, <a href="https://www.oyez.org/cases/2016/16-349">Henson v. Santander Consumer USA</a>, and dissents read from the bench in <a href="https://www.oyez.org/cases/2016/15-577">Trinity Lutheran Church of Columbia v. Comer</a> (Justice Sotomayor) and <a href="https://www.oyez.org/cases/2016/15-1358">Ziglar v. Abassi</a> (Justice Breyer).
      </p>
    </td>
  </tr>
</table>
