<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="intro set-max-width">
    <tr>
        {{> background classes="head-img" image="main-image-01.jpg" bgcolor="#094a84" dimensions="width:600px; height:193px;" bgStart=true bgEnd=true }}
    </tr>
</table>
