<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="intro set-max-width">
    <tr>
        <img src="{{ default.image_dir_src }}/main-image-01.jpg" alt="LawSites by Robert Ambrogi. Tracking new and intriguing websites and products for the legal profession." border="0" />
    </tr>
</table>
