{{!-- No version defined becuase this module cuold change each month. --}}

<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="intro set-max-width">
    <tr>
        {{> background classes="head-img" image="main-image-01.jpg" bgcolor="#ffffff" dimensions="width:600px; height:450px;" bgStart=true
        bgEnd=true }}
    </tr>
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> headline text="News From the Court" }}
        </td>
    </tr>
    <tr>
        <td class="intro--message" responsive="mobile-padding-horizontal-sides">
            <p>Neil Gorsuch took two oaths of office in April to become a Supreme Court Justice, as covered in an <a href="http://www.abajournal.com/news/article/gorsuch_takes_constitutional_oath_of_office#When:14:07:00Z">article</a> by
                the ABA Journal. The Associated Press also <a href="http://bigstory.ap.org/article/0ff4ed7e426d42bf92ccba288309c274/gorsuch-asks-his-first-questions-supreme-court-bench">reported</a> on
                Gorsuch’s first days on the bench, discussing the cases he heard and the questions he asked during oral arguments.</p>

            <p>Clash of the Titans: Supreme Court heavyweights Tom Goldstein argued against Paul Clement on April 17th in <a href="https://www.oyez.org/cases/2016/16-373">California Public Employees’ Retirement System v. ANZ Securities</a> &#8211; listen to the oral argument <a href="https://www.oyez.org/cases/2016/16-373">here</a>.</p>

            <p>“Oh come on,” a shocked Chief Justice Roberts exclaimed during questioning of Robert A. Parker, a Justice Department lawyer in <a href="https://www.oyez.org/cases/2016/16-309">Maslenjak v. United States</a>. The exchange was among several moments of indignation and incredulity during oral argument over the Government’s unyielding position that American citizenship may be revoked over trivial misstatements made in naturalization proceedings. Listen to the oral argument <a href="https://www.oyez.org/cases/2016/16-309">here</a>.</p>

            <p>Justia columnist and Cornell Law professor Sherry F. Colb writes about <a href="https://www.oyez.org/cases/2016/15-797"><i>Moore v. Texas</a></i>,
                in which the Supreme Court endorsed a standard because it was factually more accurate than a prior standard
                (which is, perhaps surprisingly, not the norm). Read her column <a href="https://verdict.justia.com/2017/04/06/supreme-court-rejects-fake-facts-capital-cases">here</a>.</p>


            <p>Michael C. Dorf, another Justia columnist and Cornell Law professor, writes about a recent Supreme Court decision,
                <a href="https://www.oyez.org/cases/2016/15-1391"><i>Expressions Hair Design v. Schneiderman</a></i>, regarding
                New York credit card surcharge laws as free speech. Read his column <a href="https://verdict.justia.com/2017/04/05/credit-cards-disturbingly-widening-gyre-free-speech">here</a>.</p>

            <p>Constitutional law scholar Erwin Chemerinsky discusses <a href="https://www.oyez.org/cases/2016/16-466"><i>Bristol-Myers Squibb Co. v. Superior Court of California</a></i>,
                a case in which the Court must decide when state courts can assert jurisdiction over out-of-state parties.
                Read the article <a href="http://www.abajournal.com/news/article/clarifying_personal_jurisdiction_chemerinsky_supreme_court#When:11:54:00Z">here</a>.</p>

            <p><a href="https://www.forbes.com/sites/danielfisher/2017/04/25/supreme-court-refuses-to-extend-tribal-immunity-to-casino-limo-driver/#25c98c075a42">Forbes</a>                reports on the Supreme Court’s recent decision in <a href="https://www.oyez.org/cases/2016/15-1500"><i>Lewis v. Clarke</a></i>,
                refusing to extend tribal immunity to a casino limo driver.</p>


            <p>The Supreme Court majority opinion in <a href="https://www.oyez.org/cases/2016/15-1256"><i>Nelson v. Colorado</a></i>
                held that the state of Colorado must return fines and costs assessed against criminal defendants whose convictions
                have been reversed. Read the analysis from Forbes <a href="https://www.forbes.com/sites/danielfisher/2017/04/19/colorado-must-return-fines-to-exonerated-defendants-supreme-court-rules/#281d15523c1d">here</a>.</p>


            <p>ABA Journal <a href="http://www.abajournal.com/news/article/supreme_court_overturns_2.7m_sanction_for_discovery_misconduct">reports</a>                on the Supreme Court’s decision in <a href="https://www.oyez.org/cases/2016/15-1406"><i>Goodyear Tire &#038; Rubber Co. v. Haeger</a></i>,
                overturning a $2.7 million sanction for discovery misconduct. The sanction was originally imposed by a federal
                judge in Arizona for Goodyear’s failure to disclose the results of tire tests during discovery in a suit
                involving a motor home crash.</p>
        </td>
    </tr>
</table>