{{!--
    No version defined becuase this module cuold change each month.
--}}

<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="intro set-max-width">
    <tr>
        {{> background classes="head-img" image="main-image-01.jpg" bgcolor="#ffffff" dimensions="width:600px; height:450px;" bgStart=true bgEnd=true }}
    </tr>
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> headline text="News From the Court" }}
        </td>
    </tr>    
    <tr>
        <td class="intro--message" responsive="mobile-padding-horizontal-sides">
            <p>
                <i>School’s Out for Summer</i>
            </p>
            <p>
                The Court wrapped up the 2016-2017 term in June and handed down several opinions, including <a href="https://www.oyez.org/cases/2016/16-309">Maslenjak v. United States</a> in which the Court rejected the government’s position that it can revoke the citizenship of Americans who make even trivial misstatements in their naturalization proceedings.  Another noteworthy opinion, <a href="https://www.oyez.org/cases/2016/15-577">Trinity Lutheran Church of Columbia, Inc. v. Comer</a>, held that the exclusion of churches from an otherwise neutral and secular aid program violates the First Amendment’s guarantee of free exercise of religion.
            </p>

            <p>In other news, the Court granted cert in <a href="https://www.oyez.org/cases/2017/16-1436">Trump vs. International Refugee Assistance Project</a> and at the same time granted in part the Administration’s application to stay lower court injunctions regarding the executive order limiting entry to the United States by nationals of six majority-Muslim countries. Verdict columnist Michael Dorf <a href="https://verdict.justia.com/2017/06/27/trumps-travel-ban-heads-supreme-court">discusses</a> some possible readings of the Court’s preliminary ruling in that case.</p>

            <p>Another notable case granted cert for the 2017-2018 term is <a href="https://www.oyez.org/cases/2017/16-111">Masterpiece Cakeshop v. Colorado Civil Rights Commission</a> in which the Court will hear an appeal from a Colorado baker with religious objections to same-sex marriage. Also on the topic of same-sex marriage, Verdict columnist Joanna Grossman <a href="https://verdict.justia.com/2017/06/29/summarily-reversed-arkansass-attempt-flout-obergefell-v-hodges-blocked">explains</a> the significance of the Court’s per curiam opinion in <a href="https://www.oyez.org/cases/2016/16-992">Pavan v. Smith</a>, in which the Court summarily reversed the Arkansas Supreme Court’s ruling that the state could deny married women the right to have a spouse listed as a child’s second parent on the birth certificate.</p>
            <p>Finally, both Michael Dorf and Joanna Grossman discuss the Court’s decision in <a href="https://www.oyez.org/cases/2016/15-1191">Sessions v. Morales-Santana</a>, in which the Court held unconstitutional a federal law imposing different physical presence requirements on mothers as compared to fathers. Grossman <a href="https://verdict.justia.com/2017/06/20/policing-sexism-border-supreme-courts-decision-sessions-v-morales-santana">analyzes the decision</a> from a sex discrimination perspective, while Dorf <a href="https://verdict.justia.com/2017/06/14/supreme-court-rules-citizenship-must-equally-heritable-fathers-mothers">considers</a> how the ruling might foreshadow how the Court will rule on subsequent immigration issues.</p>
        </td>
    </tr>
</table>

