<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="main-image set-max-width">
  <tr>
      <td>
          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/main-image-01.png" alt="Oyez" class="head-img">
      </td>
  </tr>
  <tr>
      <td class="sponsored-logos">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="set-max-width">
              <tr>
                  <td>
                      <a href="https://www.law.cornell.edu/" target="_blank" class="lii">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/lii.png" alt="Legal Information Institute">
                      </a>
                  </td>
                  <td>
                      <a href="http://www.lawschool.cornell.edu/" target="_blank" class="cornell">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/cornell.png" alt="Cornell Law School">
                      </a>
                  </td>
              </tr>
              <tr>
                  <td>
                      <a href="https://www.justia.com/" target="_blank" class="justia">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/justia.png" alt="Justia">
                      </a>
                  </td>
                  <td>
                      <a href="http://www.kentlaw.iit.edu/" target="_blank" class="it-chicago">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/it-chicago.png" alt="Illinois Institute of Technology">
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> headline text="News From the Court" }}
    </td>
  </tr>
  <tr>
    <td class="main-image--message" responsive="mobile-padding-horizontal-sides">
      <p>The Court heard oral arguments this month in <a href="https://www.oyez.org/cases/2017/16-402">Carpenter v. United States</a>, a digital privacy case which could have a major impact on the government’s ability to track cell phone location data. Read more about the case from the <a href="https://www.nytimes.com/2017/11/27/us/politics/supreme-court-fourth-amendment-privacy-cellphones.html?_r=0">New York Times</a>.</p>

      <p>The FiveThirtyEight blog has also been analyzing <a href="https://fivethirtyeight.com/features/is-chief-justice-roberts-a-secret-liberal/">Chief Justice Roberts</a> this month and it appears he may be drifting to the left. While 538 makes note that the Chief is still relatively early in his career, “he is beginning to fit the historical pattern, at least quantitatively, of an ideological defector.”</p>

      <p>On the other side of the spectrum, <a href="http://www.sfchronicle.com/news/politics/article/Gorsuch-s-early-reviews-What-right-hoped-for-12382845.php">Justice Gorsuch</a> continues to establish his conservative cred.</p>
    </td>
  </tr>
</table>
