<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="main-image set-max-width">
  <tr>
      <td>
          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/main-image-01.png" alt="Oyez" class="head-img">
      </td>
  </tr>
  <tr>
      <td class="sponsored-logos">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="set-max-width">
              <tr>
                  <td>
                      <a href="https://www.law.cornell.edu/" target="_blank" class="lii">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/lii.png" alt="Legal Information Institute">
                      </a>
                  </td>
                  <td>
                      <a href="http://www.lawschool.cornell.edu/" target="_blank" class="cornell">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/cornell.png" alt="Cornell Law School">
                      </a>
                  </td>
              </tr>
              <tr>
                  <td>
                      <a href="https://www.justia.com/" target="_blank" class="justia">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/justia.png" alt="Justia">
                      </a>
                  </td>
                  <td>
                      <a href="http://www.kentlaw.iit.edu/" target="_blank" class="it-chicago">
                          <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/oyez/newsletter/default/it-chicago.png" alt="Illinois Institute of Technology">
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> headline text="News From the Court" }}
    </td>
  </tr>
  <tr>
    <td class="main-image--message" responsive="mobile-padding-horizontal-sides">
      <p>
        Although the Court heard arguments during only one week this month, the cases garnered quite a bit of attention. In particular, <i>Masterpiece Cakeshop Ltd. v. Colorado Civil Rights Commission</i> has sparked significant debate about the intersection (and potential conflict) between anti-discrimination laws and the freedoms of speech and religion enshrined in the First Amendment. On <i>Verdict</i>, several authors weighed in on that case and what the oral arguments might suggest about the justices’ thinking:
      </p>
      <ul>
        <li>
          <a href="https://verdict.justia.com/2017/12/12/liberty-equality-sometimes-require-tragic-choices-just-not-masterpiece-cakeshop">
          Liberty and Equality Sometimes Require Tragic Choices, Just Not in <i>Masterpiece Cakeshop</i></a>, by Michael C. Dorf
        </li>
        <li>
          <a href="https://verdict.justia.com/2017/12/07/masterpiece-cakeshop-oral-argument-fatal-flaw-bakers-free-speech-argument">
            The <i>Masterpiece Cakeshop</i> Oral Argument and the Fatal Flaw in the Bakers’ Free Speech Argument</a>, by Marci A. Hamilton
        </li>
      </ul>
      <p>
        For other commentary on the controversial case, see also George Will’s piece in the<i>National Review</i>,<a href="http://www.nationalreview.com/article/454291/masterpiece-cakeshop-supreme-court-case-decides-whether-cake-baking-constitutionally">Baking a Cake Is Not Constitutionally Protected Speech</a>.
      </p>
      <p>
        The Court also issued a per curiam opinion vacating a judgment by the Ninth Circuit that would have required the government to complete the administrative record in a lawsuit challenging the Trump administration’s repeal of the Deferred Action in Childhood Arrivals (DACA) program.
      </p>
      <p>
        As Herb Jackson <a href="https://www.usatoday.com/story/news/politics/2017/12/26/new-jersey-sports-betting-case-supreme-court-could-affect-wide-array-issues/977955001/">explains</a> in <i>USA Today</i>, the Supreme Court’s impending ruling in <i>Christie v. NCAA</i>, New Jersey’s case to allow sports betting at racetracks and casinos, could have widespread implications for numerous potential 10th Amendment issues including gun control, immigration, and marijuana use.
      </p>
      <p>
        Finally, amidst ongoing lower court challenges, the Court has granted the Trump administration’s request to enforce the third iteration of its immigration travel ban, which now includes North Korea and Venezuela in addition to six mostly Muslim countries. Robert Barnes has <a href="https://www.washingtonpost.com/politics/courts_law/supreme-court-allows-full-enforcement-of-trump-travel-ban-while-legal-challenges-continue/2017/12/04/486549c0-d5fc-11e7-a986-d0a9770d9a3e_story.html">this analysis</a> for the <i>Washington Post</i>.
      </p>
    </td>
  </tr>
</table>
