{{!--
    No version defined becuase this module cuold change each month.
--}}

<!-- MAIN IMAGE -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="intro set-max-width">
    <tr>
        {{> background classes="head-img" image="main-image-01.jpg" bgcolor="#ffffff" dimensions="width:600px; height:450px;" bgStart=true bgEnd=true }}
    </tr>
    <tr>
        <td class="article-div" responsive="mobile-padding-horizontal-sides">
            {{> headline text="News From the Court" }}
        </td>
    </tr>    
    <tr>
        <td class="intro--message" responsive="mobile-padding-horizontal-sides">
            <p>Two voting rights cases were in the news this month at the Court. First, a decision was handed down in <a href="https://www.oyez.org/cases/2016/15-1262">Cooper v. Harris</a>, in which the Court upheld a North Carolina district court decision that determined the state’s new districting plan constituted an unconstitutional racial gerrymander. Justice Elena Kagan delivered the opinion for the 5-3 majority. Second, the Court granted cert in <a href="https://www.oyez.org/cases/2017/16-980">Husted v. A. Philip Randolph Institute</a> which will examine a challenge to Ohio’s policy of removing inactive voters from registration rolls.</p>
        </td>
    </tr>
</table>

