
<!-- w-stories-list -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list w-new set-max-width">
  <tr>
    <!-- main-story-title -->
    <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-main-title -->
      <h2 class="widget-main-title">New Practice Area in JLD!</h2>
  </tr>
  <tr>
    <td class="main-story-desc -with-list" responsive="mobile-padding-horizontal-sides">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <!-- story-desc -->
          <td class="story-desc" responsive="collapse-one">
            <p>We're excited to announce that the Justia Lawyer Directory now recognizes a new practice area, <b><a href="https://www.justia.com/lawyers/cannabis-marijuana-law/alabama">Cannabis & Marijuana Law</a></b>.</p><br/>
            <p>We have also made minor changes to the names of several other practice areas to better reflect how users are searching
            in those areas and how attorneys identify their practices.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  <tr>
    <td class="main-story-button -large-x3 -red" responsive="mobile-padding-horizontal-sides">
      {{> ui-real-text-button buttonText="CHECK OUT THE UPDATED PRACTICE AREAS" buttonLink="https://www.justia.com/lawyers" responsiveClasses="mobile-reset-width mobile-padding-horizontal-sides" }}
    </td>
  </tr>
</table>