
<!-- DECISIONS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tech-news set-max-width">    
  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> label-divider text="Arguments" }}
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-476">
          <i>Christie v. National Collegiate Athletic Association</i>
        </a> (12/4/17) <br/> Does a federal statute that prohibits modification or repeal of state-law prohibitions on private conduct impermissibly commandeer the regulatory power of states in contravention of <a href="https://supreme.justia.com/cases/federal/us/505/144/"> <i>New York v. United States</i> </a>?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-534">
          <i>Rubin v. Islamic Republic of Iran</i>
        </a> (12/4/17) <br/> Does 28 U.S.C. § 1610(g) provide a freestanding attachment immunity exception that allows terror victim judgment creditors to attach and execute upon assets of foreign state sponsors of terrorism regardless of whether assets are otherwise subject to execution under Section 1610?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-111">
          <i>Masterpiece Cakeshop, Ltd. v. Colorado Civil Rights Commission</i>
        </a> (12/5/17)
        <br/> Does the application of Colorado’s public accommodations law to compel a cake maker to design and make a cake that violates his sincerely held religious beliefs about same-sex marriage violate the Free Speech or Free Exercise Clauses of the First Amendment?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-1067">
          <i>Murphy v. Smith</i>
        </a> (12/6/17)
        <br/> Does the parenthetical phrase “not to exceed 25 percent,” as used in 42 U.S.C. § 1997e(d)(2), mean any amount up to 25 percent (as four circuits hold), or exactly 25 percent (as the Seventh Circuit holds)?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-1144">
          <i>Marinello v. United States</i>
        </a> (12/6/17)
        <br/> Does a conviction under 26 U.S.C. 7212(a) for corruptly endeavoring to obstruct or impede the due administration of the tax laws require that the government prove the defendant acted with knowledge of a pending Internal Revenue Service action?
      </p>
    </td>
  </tr>


  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> label-divider text="Cert Granted" }}
    </td>
  </tr>
  
  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/17-333">
          <i>Benisek v. Lamone</i>
        </a> (12/8/17)
        <br/> A case in which the Court will decide (1) whether a plaintiff alleging a First Amendment retaliation challenge to a partisan gerrymander must prove that the gerrymander has dictated and will continue to dictate the outcome of every election held in the district under the gerrymandered map, (2) whether the Mt. Healthy burden-shifting framework applies to First Amendment retaliation challenges to partisan gerrymanders, and (3) whether the record permits a finding that the 2011 gerrymander was a but-for cause of the Democratic victories in the district in 2012, 2014, or 2016.
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/17-432">
          <i>China Agritech Inc. v. Resh</i>
        </a> (12/8/17)
        <br/> A case in which the Court will decide whether the American Pipe tolling rule allows a previously unnamed plaintiff to bring a subsequent class action after the applicable limitations period has passed.
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/17-155">
          <i>Hughes v. United States</i>
        </a> (12/8/17)
        <br/> A case in which the Court will decide whether an inmate who enters into a plea bargain under Federal Rule of Criminal Procedure 11(c)(1)(C) (which specifies that an attorney for the government will agree that a specific sentence is appropriate) is eligible for a sentence reduction if the sentencing guidelines are changed subsequent to his sentencing.
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/17-5716">
          <i>Koons v. United States</i>
        </a> (12/8/17)
        <br/> A case in which the Court will resolve a circuit split as to whether a criminal defendant is eligible for a further sentence reduction under 18 U.S.C. § 3582(c)(2), where his sentence is based on a mandatory minimum sentence statute and already reduced for providing substantial assistance to the government, and where the Sentencing Commission retroactively lowered the advisory sentencing guidelines range that would have applied in the absence of the statutory mandatory minimum.
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-1432">
          <i>Sveen v. Melin</i>
        </a> (12/8/17)
        <br/> A case in which the Court will decide whether the application of a revocation-upon-divorce statute to a contract signed before the law was enacted violates the Contract Clause of the Constitution.
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/17-312">
          <i>United States v. Sanchez-Gomez</i>
        </a> (12/8/17)
        <br/> A case in which the Court will decide whether the court of appeal erred in considering respondents’ interlocutory challenge to the use of pretrial physical restraints, and in ruling on that challenge despite its recognition that respondents’ individual claims were moot.
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/17-387">
          <i>Upper Skagit Indian Tribe v. Lundgren</i>
        </a> (12/8/17)
        <br/> A case in which the Court will decide whether the court of appeal erred in considering respondents’ interlocutory challenge to the use of pretrial physical restraints, and in ruling on that challenge despite its recognition that respondents’ individual claims were moot.
      </p>
    </td>
  </tr>


  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> label-divider text="Decisions" }}
    </td>
  </tr>    

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://supreme.justia.com/cases/federal/us/583/17-801/">
          <i>In re United States</i>
        </a>
        (12/20/17)
        <br/> In a per curiam opinion without oral argument, the Court vacated a judgment by the Ninth Circuit upholding a district court order that required the federal government to complete the administrative record filed in a proceeding brought to prevent the repeal of the Deferred Action in Childhood Arrivals (DACA) program.
      </p>
    </td>
  </tr>
  <tr>
    <td style="height:30px; font-size:0;">&nbsp;</td>
  </tr>
</table>
