
<!-- DECISIONS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tech-news set-max-width">    
  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> label-divider text="Arguments" }}
    </td>
  </tr>
   
  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-285">
          <i>
            Epic Systems Corporation v. Lewis
          </i>
        </a> (10/2/17)
        <br/> Does the National Labor Relations Act prohibit enforcement of an agreement requiring employees to resolve disputes with the employer through individual arbitration under the Federal Arbitration Act?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/15-1498">
          <i>
            Sessions v. Dimaya
          </i>
        </a> (10/2/17)
        <br/> Is the Immigration and Nationality Act’s “crime of violence” provision unconstitutionally vague under the Due Process Clause of the Fifth Amendment?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-1161">
          <i>
            Gill v. Whitford
          </i>
        </a> (10/3/17)
      </p>
      <ol><li>Did the district court err in holding that it had the authority to hear a statewide challenge to Wisconsin’s redistricting plan, rather than requiring a district-by-district analysis?</li><li>Did the district court err in holding that the redistricting plan was an unconstitutional gerrymander?</li><li>Did the district court use an incorrect test for a gerrymander?</li><li>Are defendants entitled to present evidence that they would have prevailed under the gerrymander test actually used by the district court?</li><li>Are partisan gerrymandering claims justiciable?</li></ol>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/15-1485">
          <i>
            District of Columbia v. Wesby
          </i>
        </a> (10/4/17)
      </p>
      <ol><li>Do officers have probable cause to arrest for unlawful entry under D.C. law despite a claim of good-faith entry?</li><li>Was the law sufficiently clearly established to justify the denial of immunity to the officers?</li></ol>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-424">
          <i>
            Class v. United States
          </i>
        </a> (10/4/17)
        <br/> Does a guilty plea inherently waive a defendant’s right to challenge the constitutionality of his conviction?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-658">
          <i>
            Hamer v. Neighborhood Housing Services of Chicago
          </i>
        </a> (10/10/17)
        <br/> Does Federal Rule of Appellate Procedure 4(a)(5)(C) deprive a court of appeals of jurisdiction over an appeal that is statutorily timely, or is the Rule merely a claim-processing rule subject to considerations such as forfeiture, waiver, and the unique circumstances doctrine?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-299">
          <i>
            National Association of Manufacturers v. Department of Defense
          </i>
        </a> (10/11/17)
        <br/> Does the Clean Water Act grant federal courts of appeals jurisdiction to review the Environmental Protection Agency’s rule that defines the scope of United States waters?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-499">
          <i>
            Jesner v. Arab Bank
          </i>
        </a> (10/17/17)
        <br/> Does the Alien Tort Statute prohibit corporate liability?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-460">
          <i>
            Artis v. District of Columbia
          </i>
        </a> (10/30/17)
        <br /> Does the tolling provision in 28 U.S.C. § 1367(d) suspend the limitations period for the state-law claims while the claim is pending and for 30 days after the claim is dismissed, or does it merely provide 30 days beyond the dismissal for the plaintiff to refile?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-6795">
          <i>
            Ayestas v. Davis
          </i>
        </a> (10/30/17)
        <br /> Are investigative services under 18 U.S.C. § 3599(f) only “reasonably necessary” when the habeas petitioner requesting the services can meet the burden of proof for the underlying claim for habeas relief at the time of the request for the investigative services?
      </p>
    </td>
  </tr>

  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/15-1509">
          <i>
            U.S. Bank National Association v. Village at Lakeridge
          </i>
        </a> (10/31/17)
        <br /> Is a designation of non-statutory insider status reviewable under the standard of clear error?
      </p>
    </td>
  </tr>


  <tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
      {{> label-divider text="Cert Granted" }}
    </td>
  </tr>
  
  <tr>
    <td class="items-list" responsive="mobile-padding-horizontal-sides">
      <p>
        <a href="https://www.oyez.org/cases/2017/16-1067"><i>Murphy v. Smith</i></a> (8/25/17)<br>
        A case in which the Court will decide whether the parenthetical phrase “not to exceed 25 percent,” as used in 42 U.S.C. § 1997e(d)(2), means any amount up to 25 percent (as four circuits hold), or whether it means exactly 25 percent (as the Seventh Circuit holds).
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1371"><i>Byrd v. United States</i></a> (9/28/17)<br>
        A case in which the Court will resolve a circuit split as to whether a driver of a rental car who has permission to drive the car but is not listed as an authorized driver on the rental agreement has a reasonable expectation of privacy in the rental car.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1495"><i>City of Hays, Kansas v. Vogt</i></a> (9/28/17)<br>
        A case in which the Court will clarify the scope of the Fifth Amendment right against self-incrimination in a “criminal case”—specifically whether the Fifth Amendment is violated when a criminal defendant is compelled to incriminate himself and the incriminating statement is used in a probable cause hearing.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1027"><i>Collins v. Virginia</i></a> (9/28/17)<br>
        A case in which the Court will decide whether the Fourth Amendment’s automobile exception permit a police officer without a warrant to enter private property in order to search a vehicle parked a few feet from the house.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-961"><i>Dalmazzi v. United States</i></a> (9/28/17)<br>
        A case in which the Court will determine (1) whether it has jurisdiction to review two of the consolidated cases under 28 U.S.C. § 1259(3); (2) whether Judge Martin T. Mitchell’s simultaneous service on the US Court of Military Commission Review (CMCR) and the US Air Force Court of Criminal Appeals (AFCCA) violated the Appointments Clause; (3) whether Judge Mitchell’s service on the CMCR disqualified him from continuing to serve on the AFCCA; and (4) whether the US Court of Appeals for the Armed Forces erred in holding Petitioner’s claims moot.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1362"><i>Encino Motorcars v. Navarro</i></a> (9/28/17)<br>
        A case in which the Court will decide whether service advisors at car dealerships are exempt under 29 U.S.C. § 213(b)(10)(A) from the Fair Labor Standards Act’s overtime-pay requirements.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1150"><i>Hall v. Hall</i></a> (9/28/17)<br>
        A case in which the Court will decide whether its precedent regarding jurisdiction in multidistrict cases should be extended to single district consolidated cases, such that the entry of a final judgment in only one case makes that case immediately appealable despite pending claims in another related case.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1466"><i>Janus v. American Federation of State, County, and Municipal Employees, Council 31</i></a> (9/28/17)<br>
        A case in which the Court will decide whether to overturn its prior decision in <i>Abood v. Detroit Board of Education</i>, where it held that public employees who do not belong to a union can be required to pay a fee to cover the union’s costs to negotiate a contract that applies to all public employees, including those who are not union members.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-8255"><i>McCoy v. Louisiana</i></a> (9/28/17)<br>
        A case in which the Court will decide whether a criminal defendant’s Sixth Amendment right to assistance of counsel is denied if defense counsel concedes the defendant’s guilt over the defendant’s express objection.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-9493"><i>Rosales-Mireles v. United States</i></a> (9/28/17)<br>
        A case in which the Court will decide whether the Fifth Circuit applied the appropriate standard for plain error review when it required that the error be one that “would shock the conscience of the common man, serve as a powerful indictment against our system of justice, or seriously call into question the competence or integrity of the district judge.”
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/22o142"><i>Florida v. Georgia</i></a> (10/10/17)<br>
        A case in which the Court will decide whether Florida is entitled to equitable apportionment of the waters of the Apalachicola-Chattahoochee-Flint River Basin (ACF Basin) and appropriate injunctive relief against Georgia to sustain an adequate flow of fresh water into the Apalachicola Region.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/22o141"><i>Texas v. New Mexico and Colorado</i></a> (10/10/17)<br>
        A case in which the Court will decide whether New Mexico's pumping of groundwater that is hydrologically connected to the Rio Grande violates the Rio Grande Compact and the Rio Grande Project Act, which apportion water to Rio Grande Project beneficiaries, including Texas.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1348"><i>Currier v. Virginia</i></a> (10/16/17)<br>
        A case in which the Court will decide whether a defendant who consents to the severance of multiple charges into sequential trials loses his right under the Double Jeopardy Clause to the issue-preclusive effect of an acquittal.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/17-43"><i>Dahda v. United States</i></a> (10/16/17)<br>
        A case in which the Court will decide whether evidence obtained pursuant to a wiretap order that exceeds the judge’s territorial jurisdiction must be suppressed at trial under Title III of the Omnibus Crime Control and Safe Streets Act of 1968.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/16-1454"><i>Ohio v. American Express Company</i></a> (10/16/17)<br>
        A case in which the Court will decide whether, under the “rule of reason,” the government’s showing that American Express’s anti-steering provisions stifled price competition on the merchant side of the credit-card platform was sufficient to prove anti-competitive effects, thereby shifting to American Express the burden of establishing pro-competitive benefits from the provisions.
        <br />
        <br />
        <a href="https://www.oyez.org/cases/2017/17-2"><i>United States v. Microsoft Corp.</i></a> (10/16/17)<br>
        A case in which the Court will decide whether a provision of the Stored Communications Act, 18 U.S.C. § 2703, requires that an email provider who has been served with a warrant provide the federal government with emails, even when the email records are stored exclusively outside the United States. 
      </p>
    </td>
  </tr>

  <tr>
    <td style="height:30px; font-size:0;">&nbsp;</td>
  </tr>
</table>
