
<!-- YOUR LAWYER RATING -->

<!-- widget w-rating -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="widget w-rating">
  <tr>
    <!-- widget-title -->
    <td class="widget-title" responsive="mobile-padding-horizontal-sides mobile-fz-24">
      Your Lawyer Rating
    </td>
  </tr>
  <tr>
    <!-- profile-badge -->
    <td class="profile-badge" responsive="mobile-padding-horizontal-sides">
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- badge-img -->
          <td class="badge-img" responsive="collapse-one mobile-padding-bottom">
            <img src="{{default.imageDirSrc}}/justia-badge-img.png" alt="Justia Lawyer Rating" border="0" />
          </td>
          <!-- badge-text -->
          <td class="badge-text" responsive="collapse-one mobile-no-padding-horizontal-sides mobile-padding-top">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <!-- title -->
                <td class="title">
                  <p>
                    <strong>Congratulations! You have a perfect 10.</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <!-- desc -->
                <td class="desc">
                  <p>But don’t stop there. The more reviews you receive, the more that rating means to prospective clients.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <!-- iconed-list-desc -->
    <td class="iconed-list-desc" responsive="mobile-padding-horizontal-sides">
      <p><strong>Your profile was reviewed 100 times this month.</strong></p>
    </td>
  </tr>
  <tr>
    <!-- iconed-list -->
    <td class="iconed-list" responsive="mobile-padding-horizontal-sides">
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- list-item -icon -last -->
          <td class="list-item -icon -last">
            <img src="{{default.imageDirSrc}}/profile-icon-05.png" alt="icon 4" border="0" />
          </td>
          <!-- list-item -desc -last -->
          <td class="list-item -desc -last">
            <p>Ask your colleagues to <strong><a href="#" target="_blank">Leave a Review</a></strong> on your profile.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <!-- widget-button custom-button -center -->
    <td class="widget-button custom-button -center" responsive="mobile-padding-horizontal-sides">
      {{> ui-real-text-button buttonText='Read All Reviews' buttonLink='#' }}
    </td>
  </tr>
</table>
