<tr>
  <td class="steps" responsive="mobile-padding-horizontal-sides">
    {{#table}}
      {{#forEach steps}}
        <tr>
          <td class="step -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}">
            {{#table}}
              <tr>
                <td class="title">
                  <p>{{{title}}}</p>
                </td>
              </tr>
              <tr>
                <td class="image">
                  {{>img src=image alt=alt}}
                </td>
              </tr>
              <tr>
                <td class="text">
                  {{#each text}}
                    <p>{{{this}}}</p>
                  {{/each}}
                </td>
              </tr>
            {{/table}}
          </td>
        </tr>
      {{/forEach}}
    {{/table}}
  </td>
</tr>
