{{!
 * @param {Object[]} widgetConfig
 * @param {Object[]} widgetConfig.list
 * @param {String}   widgetConfig.list[].title
 * @param {String}   widgetConfig.list[].link
 * @param {String}   widgetConfig.list[].description
 * @param {Boolean}  widgetConfig.isLast
}}

<tr>
  <td class="stories-links{{#if widgetConfig.isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
    {{#forEach widgetConfig.list}}
      <p class="title">
        {{#and this.link (compare this.link "!==" "")}}<a href="{{{this.link}}}" target="_blank">{{/and}}
          <b>{{{this.title}}}</b>
        {{#and this.link (compare this.link "!==" "")}}</a>{{/and}}
      </p>
      <p class="description{{#if isLast}} -last{{/if}}">
        {{{this.description}}}
      </p>
    {{/forEach}}
  </td>
</tr>
