<!-- TIP OF THE MONTH -->

{{!
 * @param {Object} tipMonthConfig
}}

{{#table class='w-tip-month set-max-width'}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      {{>widget-title type='Tip of the Month' title=tipMonthConfig.title link=tipMonthConfig.link}}
    </td>
  </tr>

  {{#each tipMonthConfig.description}}
    <tr>
      <td class="tip-desc{{#if @last}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
        <p>{{{this}}}</p>
      </td>
    </tr>
  {{/each}}
{{/table}}
