<!-- WELCOME -->

{{#table class="widget w-welcome"}}
  <tr>
    <td class="main-title -line-1" responsive="mobile-padding-horizontal-sides mobile-fz-20">
      Welcome To Your
    </td>
  </tr>
  <tr>
    <td class="main-title -line-2" responsive="mobile-padding-horizontal-sides mobile-fz-24">
      <strong>Monthly Report</strong>
    </td>
  </tr>
  <tr>
    <td class="atty-picture">
      {{>ui-background
        backgroundBehavior="table"
        backgroundStart=true
        backgroundEnd=(isFalsey premium)
        bgImage="attorney-picture.jpg"
        bgColor="#dbdbdb"
        bgWidth="150"
        bgHeight="150"
        bgTableClasses="picture"
        bgCellClasses="yaw"
      }}
      {{#if premium}}
          {{#table class="premium-label"}}
            <tr>
              <td>P R E M I U M</td>
            </tr>
          {{/table}}
        {{>ui-background backgroundBehavior="table" backgroundEnd=true}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <td class="atty-name" responsive="mobile-padding-horizontal-sides mobile-fz-24">
      <strong>John Doe</strong>
    </td>
  </tr>
  <tr>
    <td class="atty-info" responsive="mobile-padding-horizontal-sides">
      <p>Senior Attorney at ABC Law Firm</p>
      <p class="mod-time"><em>Last Update: 8 months ago</em></p>
      {{#unless premium}}
        <p class="claim-link"><strong><a href="https://www.justia.com/">Click Here to Claim Your Profile!</a></strong></p>
      {{/unless}}
    </td>
  </tr>
  <tr>
    <td class="small-divider" responsive="mobile-padding-horizontal-sides">
      {{#table}}<tr><td>&nbsp;</td></tr>{{/table}}
    </td>
  </tr>
  <tr>
    <td class="atty-data" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        <tr>
          <td class="column -views -top">
            {{#if premium}}
              <strong>600K+</strong>
            {{else}}
              {{>img src="lock-icon.png" alt="Lock icon"}}
            {{/if}}
          </td>
          <td class="column -reviews -top">
            <strong>125</strong>
          </td>
        </tr>
        <tr>
          <td class="column -views -desc">
            Profile Views
          </td>
          <td class="column -reviews -desc">
            Reviews
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
{{/table}}
