<!-- WELCOME MESSAGE -->

{{!
 * @param {Object} welcomeConfig
}}

{{#table class='w-welcome set-max-width'}}
  <tr>
    {{>ui-background
      backgroundBehavior='cell'
      backgroundStart=true
      backgroundEnd=true
      bgImage='https://justatic.com/v/1/emails/images/newsletters/common/welcome-background-01-b.png'
      bgColor='#00b3e3'
      bgWidth='600'
      bgHeight='169'
    }}
  </tr>
  <tr>
    <td class="banner-title" responsive="mobile-padding-horizontal-sides">
      <h1><span>{{{welcomeConfig.title.line1}}}</span>&nbsp;<br responsive="mobile-hide">{{{welcomeConfig.title.line2}}}</h1>
    </td>
  </tr>

  {{#each welcomeConfig.message}}
    <tr>
      <td class="banner-message{{#if @last}}{{#not ../welcomeConfig.button}} -last{{/not}}{{/if}}" responsive="mobile-padding-horizontal-sides">
        <p>{{{this}}}</p>
      </td>
    </tr>
  {{/each}}

  {{#if welcomeConfig.button}}
    <tr>
      <td class="banner-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle='white' href=welcomeConfig.button.link}}
          {{welcomeConfig.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
