
<!-- WELCOME MESSAGE -->

<!-- w-welcome -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-welcome set-max-width">
  <tr>
    <!-- head-img -->
    {{> ui-background classes="head-img" image="jobs-main-image-01.jpg" bgColor="#063579" dimensions="width:600px; height:260px;" bgStart=true content=true }}
      <table align="center" border="0" cellpadding="0" cellspacing="0" class="set-max-width">
        <tr>
          <td class="w-welcome--ribbon">
            <img alt="New" src="{{default.imageDirSrc}}/welcome-ribbon-01.png" tabindex="0" border="0">
          </td>
        </tr>
        <tr>
          <!-- w-welcome--title -->
          <td class="w-welcome--title">
            <h1 responsive="mobile-fz-24"><span>Introducing the</span>&nbsp;<br><span class="ln-2" responsive="mobile-fz-30">Justia Legal Jobs Newsletter</span></h1>
          </td>
        </tr>
      </table>
    {{> ui-background bgEnd=true }}
  </tr>
</table>
