{{! ================================================================================================================= }}
{{! W I D G E T   -   D A T E   S Q U A R E                                                                                     }}
{{! ================================================================================================================= }}

{{!
 * @param {string} eventMonth
 * @param {string} eventDay
}}

{{! ================================================================================================================= }}
{{#table}}
    <tr>
      <td class="{{classList "widget-date-square" widgetClass}}" responsive="mobile-no-padding-horizontal-sides">
          <p class="event-month">{{eventMonth}}</p>
          <p class="event-day">{{eventDay}}</p>
      </td>
    </tr>
{{/table}}
