{{!
 * @param {String} title
 * @param {String} type
 * @param {String} icon
 * @param {String} link
}}

{{assign "widgetTitleIcon" (concat "https://justatic.com/v/1/emails/images/newsletters/common/redesign/icons/" icon ".png")}}

<tr>
  <td class="widget-title" responsive="mobile-padding-horizontal-sides">
    {{#table class="wrapper"}}
      <tr>
        <td class="title-icon">
          {{>img src=@root.widgetTitleIcon alt="Icon"}}
        </td>
        <td class="title-text">
          {{#if type}}<h4 class="type">{{type}}</h4>{{/if}}
          {{#if title}}
            <h2 class="title" responsive="mobile-fz-24">
              {{#if link}}<a href="{{{link}}}" target="_blank">{{/if}}{{{title}}}{{#if link}}</a>{{/if}}
            </h2>
          {{/if}}
        </td>
      </tr>
    {{/table}}
  </td>
</tr>
