{{!
 * @param {String} section
 * @param {String} title
 * @param {String} link
}}

{{#if section}}<h4 class="widget-section-name">{{uppercase section}}</h4>{{/if}}
{{#if title}}
  <h2 class="widget-main-title{{#unless section}} no-margin{{/unless}}">
    {{#if link}}<a href="{{{link}}}" target="_blank">{{/if}}{{{title}}}{{#if link}}</a>{{/if}}
  </h2>
{{/if}}
