
// ----------------------------------------------------------------------------------------------------------
// O P I N I O N S   W I D G E T
// ----------------------------------------------------------------------------------------------------------


.w-main-article {
    background-color: plt('white');
    color: plt('scorpion');

    .article--title {
        padding: $padding $padding 10px;
        text-align: left;

        h2 {
            color: plt('blumine');
            font: $font-weight--bold 24px/1.2 $sans-serif-font-family;
        }
    }

    .article--date-author {
        padding: 0 $padding $padding;
        text-align: left;

        p {
            font: 14px/1.3 $sans-serif-font-family;
        }
    }

    .article--content {
        padding: 0 $padding $padding;

        ul {
            padding: 0 0 0 20px;
        }
    }

    .article--recent-posts-wrapper {
        padding: 0 $padding $padding;

        table {
            border-top: 1px solid plt('mercury');
        }

        .recent-posts--title {
            padding: 35px 0 5px;

            h4 {
                color: plt('blumine');
                font: $font-weight--bold 16px/1.5 $sans-serif-font-family;
            }
        }

        .recent-posts--content {

            ul {
                padding: 0 0 0 20px;
            }
        }
    }
}
