
// ----------------------------------------------------------------------------------------------------------
// W E L C O M E   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$main-image--dimensions: image-dimensions('/src/img/main-image-01.jpg');

// ----------------------------------------------------------------------------------------------------------

.intro {
    background-color: plt('white');

    img {
        display: block;
        width: nth($main-image--dimensions, 1);
        margin: 0;
    }
}
