body {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table td {
  text-align: left;
}

h1,
h2,
h4 {
  margin: 0;
}

p {
  margin: 0;
  font: 16px/1.5 Arial, sans-serif;
}

a {
  color: #0a56c6;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

.set-max-width {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contactus {
  padding: 0 30px 20px;
  text-align: center;
}

.contactus .phone {
  font: 18px/1.3 Arial, sans-serif !important;
}

.expiration {
  padding: 0 30px 25px;
  text-align: center;
}

.expiration p {
  font: 12px/1.5 Arial, sans-serif !important;
}

body {
  background-color: #e7e8e8;
}

.body {
  width: 100%;
  background-color: #e7e8e8;
}

.container {
  width: 600px;
  max-width: 600px;
  margin: 0 auto !important;
  /* makes it centered */
  Margin: 0 auto !important;
  /* makes it centered */
}

.content {
  width: 100%;
  background-color: #ffffff;
}

.spacer {
  display: block;
  opacity: 0;
  width: 540px;
  height: 1px !important;
  margin: 0;
  font-size: 0 !important;
}

.widget-type-name {
  padding: 0 0 5px;
  color: #7b7d7d;
  font: 700 14px/1.1 Arial, sans-serif;
}

.widget-main-title {
  color: #000000;
  font: 400 29px/1.27 Arial, sans-serif;
}

.main-header-v2 {
  width: 600px;
  background: #ffffff;
}

.main-header-v2 .logo {
  width: 100%;
  padding: 20px 30px 15px;
  text-align: center;
}

.main-header-v2 .logo .logo-img {
  display: block;
  width: 500px;
  max-width: none;
  margin: 0 auto;
}

.main-footer-v3 {
  clear: both;
  width: 600px;
  background-color: #ffffff;
}

.main-footer-v3 a {
  text-decoration: none;
}

.main-footer-v3 img {
  display: block;
  max-width: none;
}

.main-footer-v3 .logo-footernav {
  padding: 20px 30px;
  background-color: #06357a;
}

.main-footer-v3 .logo-footernav table {
  width: 100%;
}

.main-footer-v3 .logo-footernav .logo {
  width: 25%;
  vertical-align: middle;
}

.main-footer-v3 .logo-footernav .logo img {
  display: block;
  width: 102px;
  max-width: none;
  height: 20px;
}

.main-footer-v3 .logo-footernav .footernav {
  width: 75%;
  text-align: right;
  vertical-align: middle;
}

.main-footer-v3 .logo-footernav .footernav span,
.main-footer-v3 .logo-footernav .footernav a {
  color: #ffffff;
}

.main-footer-v3 .logo-footernav .footernav .vline {
  margin: 0 10px;
}

.main-footer-v3 .disclaimer p,
.main-footer-v3 .address p,
.main-footer-v3 .footernav p,
.main-footer-v3 span,
.main-footer-v3 a {
  font: 14px/1.38 Arial, sans-serif !important;
  white-space: nowrap;
}

.main-footer-v3 .social {
  overflow: hidden;
  width: 600px;
  padding: 20px 30px 15px;
  text-align: center;
}

.main-footer-v3 .social table {
  width: 180px;
  margin: 0 auto;
}

.main-footer-v3 .social table td {
  width: 37px;
  height: 32px;
  text-align: left;
  vertical-align: top;
}

.main-footer-v3 .social table td:last-child {
  width: 32px;
}

.main-footer-v3 .social a {
  display: inline-block !important;
  vertical-align: middle;
}

.main-footer-v3 .social a img {
  width: 32px;
  height: 32px;
}

.main-footer-v3 .disclaimer {
  padding: 0 30px 5px;
  text-align: center;
}

.main-footer-v3 .address {
  padding: 0 30px 120px;
  text-align: center;
  vertical-align: top;
}

.main-footer-v3 .address .justia-inline {
  font: 14px/1.38 Arial, sans-serif !important;
  font-weight: bold !important;
  text-transform: uppercase;
}

.main-footer-v3 .address span,
.main-footer-v3 .address a {
  font-weight: bold !important;
  color: #000000;
}

.cfsubmission .description {
  overflow: hidden;
  width: 600px;
  max-width: 600px !important;
  background-color: #4c6b97;
  border-collapse: collapse !important;
}

.cfsubmission .inner-content {
  width: 600px;
}

.cfsubmission .inner-content p,
.cfsubmission .inner-content a,
.cfsubmission .inner-content strong {
  color: #333333;
}

.cfsubmission .inner-content td {
  width: 100%;
  text-align: left;
}

.cfsubmission .gray {
  border-top: 1px solid #dddddd;
  background-color: #f9f9f9;
}

.cfsubmission .intro {
  padding: 21px 30px;
  border-bottom: 1px solid #dddddd;
}

.cfsubmission .intro p {
  font: 14px/1.7 Arial, sans-serif !important;
  text-align: center;
}

.cfsubmission .intro .client em {
  font: 16px/1.5 Arial, sans-serif !important;
  font-style: italic !important;
}

.cfsubmission .intro .link {
  padding-top: 0.3em;
}

.cfsubmission .intro .link a {
  color: #06357a;
  font: 18px/1.5 Arial, sans-serif !important;
}

.cfsubmission .message {
  padding: 25px 30px 12px;
  background-color: #ffffff;
}

.cfsubmission .message td {
  padding-bottom: 0.7em;
}

.cfsubmission .details {
  padding: 25px 30px 20px;
}

.cfsubmission .details td {
  padding-bottom: 0.3em;
}

.cfsubmission .details p {
  font: 12px/1.7 Arial, sans-serif !important;
}

.cfsubmission .details p:last-child {
  padding-bottom: 0;
}

.cfsubmission .details .subtitle strong {
  font: 14px/1.7 Arial, sans-serif !important;
  font-weight: bold !important;
}

.cfsubmission .details .page-name {
  padding-bottom: 0;
}

.cfsubmission .details .page-link {
  line-height: 1.35 !important;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}

.last {
  padding-bottom: 0;
  margin-bottom: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0;
}
