body {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  background-color: #e7e8e8;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

table td {
  text-align: left;
}

h1,
h2,
h4 {
  margin: 0;
}

p {
  margin: 0 0 16px;
  font: 16px/1.38 Arial, sans-serif;
}

p:last-child {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #06357a;
  text-decoration: none;
}

.set-max-width {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.main-header {
  background-color: #ffffff;
}

.main-header .logo-img {
  display: block;
  max-width: 87%;
  margin: 0;
}

.main-header.-logo-only .wrapper {
  width: 100%;
  padding: 20px 30px 15px;
  text-align: center;
}

.main-header.-logo-only.-justia-logo .logo-img {
  width: 135px;
}

.main-header.-logo-only.-insights-logo .logo-img {
  width: 250px;
}

.main-header.-logo-only.-lawyer-profile-essentials-logo .logo-img {
  width: 470px;
}

.main-header.-logo-only.-legal-jobs-logo .logo-img {
  width: 308px;
}

.main-header.-logo-only.-lawyer-directory-logo .logo-img {
  width: 500px;
}

.main-header.-with-date .wrapper {
  padding: 15px 30px;
  vertical-align: middle;
}

.main-header.-with-date .wrapper > table {
  table-layout: fixed;
}

.main-header.-with-date .logo {
  width: 65%;
}

.main-header.-with-date .date {
  width: 35%;
  text-align: right;
}

.main-header.-with-date .date span {
  display: block;
  color: #000000;
  font: 16px/1.25 Arial, sans-serif;
}

.main-header.-with-date.-justia-logo .logo-img {
  width: 135px;
}

.main-header.-with-date.-insights-logo .logo-img {
  width: 235px;
}

.main-header.-with-date.-lawyer-profile-essentials-logo .logo-img {
  width: 270px;
}

.main-header.-with-date.-legal-jobs-logo .logo-img {
  width: 277px;
}

.main-header.-with-date.-lawyer-directory-logo .logo-img {
  width: 300px;
}

.main-footer {
  clear: both;
}

.main-footer a {
  text-decoration: none;
}

.main-footer img {
  display: block;
  max-width: none;
}

.main-footer .footer-head {
  padding: 20px 30px;
}

.main-footer .fhead-wrapper {
  width: 100%;
}

.main-footer .fhead-side {
  vertical-align: middle;
}

.main-footer .fhead-side.-right {
  text-align: right;
}

.main-footer .footer-social {
  overflow: hidden;
}

.main-footer .footer-nav .pipe {
  margin: 0 10px;
}

.main-footer .footer-address {
  vertical-align: top;
}

.main-footer.-basic-style {
  background-color: #ffffff;
}

.main-footer.-basic-style .footer-head {
  border-top: 1px solid #06357a;
  border-bottom: 1px solid #06357a;
  background-color: #06357a;
}

.main-footer.-basic-style .footer-nav p,
.main-footer.-basic-style .footer-nav span,
.main-footer.-basic-style .footer-nav a,
.main-footer.-basic-style .footer-disclaimer p,
.main-footer.-basic-style .footer-disclaimer span,
.main-footer.-basic-style .footer-disclaimer a,
.main-footer.-basic-style .footer-address p,
.main-footer.-basic-style .footer-address span,
.main-footer.-basic-style .footer-address a {
  color: #000000;
  font: 14px/1.38 Arial, sans-serif;
}

.main-footer.-basic-style .footer-nav p,
.main-footer.-basic-style .footer-nav span,
.main-footer.-basic-style .footer-nav a {
  color: #ffffff;
}

.main-footer.-basic-style .footer-address p,
.main-footer.-basic-style .footer-address span,
.main-footer.-basic-style .footer-address a {
  font: 700 14px/1.38 Arial, sans-serif;
}

.main-footer.-light-bright-style {
  background-color: #ffffff;
}

.main-footer.-light-bright-style .footer-head {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #00b3e3;
  background-color: #ffffff;
}

.main-footer.-light-bright-style .footer-nav p,
.main-footer.-light-bright-style .footer-nav span,
.main-footer.-light-bright-style .footer-nav a,
.main-footer.-light-bright-style .footer-disclaimer p,
.main-footer.-light-bright-style .footer-disclaimer span,
.main-footer.-light-bright-style .footer-disclaimer a,
.main-footer.-light-bright-style .footer-address p,
.main-footer.-light-bright-style .footer-address span,
.main-footer.-light-bright-style .footer-address a {
  color: #000000;
  font: 14px/1.38 Arial, sans-serif;
}

.main-footer.-light-bright-style .footer-nav p,
.main-footer.-light-bright-style .footer-nav span,
.main-footer.-light-bright-style .footer-nav a {
  color: #00b3e3;
}

.main-footer.-light-bright-style .footer-address p,
.main-footer.-light-bright-style .footer-address span,
.main-footer.-light-bright-style .footer-address a {
  font: 400 14px/1.38 Arial, sans-serif;
}

.main-footer.-light-blue-style {
  background-color: #ffffff;
}

.main-footer.-light-blue-style .footer-head {
  border-top: 1px solid #06357a;
  border-bottom: 1px solid #06357a;
  background-color: #ffffff;
}

.main-footer.-light-blue-style .footer-nav p,
.main-footer.-light-blue-style .footer-nav span,
.main-footer.-light-blue-style .footer-nav a,
.main-footer.-light-blue-style .footer-disclaimer p,
.main-footer.-light-blue-style .footer-disclaimer span,
.main-footer.-light-blue-style .footer-disclaimer a,
.main-footer.-light-blue-style .footer-address p,
.main-footer.-light-blue-style .footer-address span,
.main-footer.-light-blue-style .footer-address a {
  color: #000000;
  font: 14px/1.38 Arial, sans-serif;
}

.main-footer.-light-blue-style .footer-nav p,
.main-footer.-light-blue-style .footer-nav span,
.main-footer.-light-blue-style .footer-nav a {
  color: #06357a;
}

.main-footer.-light-blue-style .footer-address p,
.main-footer.-light-blue-style .footer-address span,
.main-footer.-light-blue-style .footer-address a {
  font: 700 14px/1.38 Arial, sans-serif;
}

.social-icons {
  width: 140px;
}

.social-icons .icon {
  width: 36px;
  height: 32px;
  text-align: left;
  vertical-align: top;
}

.social-icons .icon:last-child {
  width: 32px;
}

.social-icons a {
  display: inline-block;
  vertical-align: middle;
}

.social-icons a img {
  width: 32px;
  height: 32px;
}

.main-footer.-social-below .fhead-side.-left {
  width: 40%;
}

.main-footer.-social-below .fhead-side.-right {
  width: 60%;
}

.main-footer.-social-below .footer-nav a {
  white-space: nowrap;
}

.main-footer.-social-below .footer-social {
  padding: 20px 30px 10px;
  text-align: center;
}

.main-footer.-social-below .footer-social .social-icons {
  margin: 0 auto;
  text-align: center;
}

.main-footer.-social-below .footer-disclaimer {
  padding: 0 30px 5px;
  text-align: center;
}

.main-footer.-social-below .footer-address {
  padding: 0 30px 120px;
  text-align: center;
}

.main-footer.-social-below .footer-address .justia-inline {
  text-transform: uppercase;
}

.main-footer.-social-below.-justia-logo .logo-img {
  width: 111px;
  height: 29px;
}

.main-footer.-social-below.-insights-logo .logo-img {
  width: 190px;
  height: 27px;
}

.main-footer.-social-below.-lawyer-profile-essentials-logo .logo-img {
  width: 190px;
  height: 13px;
}

.main-footer.-social-below.-legal-jobs-logo .logo-img {
  width: 190px;
  height: 23px;
}

.main-footer.-social-below.-lawyer-directory-logo .logo-img {
  width: 190px;
  height: 17px;
}

.main-footer.-social-on-top .fhead-side.-left {
  width: 65%;
}

.main-footer.-social-on-top .fhead-side.-right {
  width: 35%;
}

.main-footer.-social-on-top .footer-social .social-icons {
  text-align: right;
}

.main-footer.-social-on-top .footer-disclaimer {
  padding: 40px 30px 20px;
}

.main-footer.-social-on-top .footer-address {
  padding: 0 30px 10px;
}

.main-footer.-social-on-top .footer-nav {
  padding: 0 30px 90px;
  vertical-align: top;
}

.main-footer.-social-on-top.-justia-logo .logo-img {
  width: 126px;
  height: 33px;
}

.main-footer.-social-on-top.-insights-logo .logo-img {
  width: 235px;
  height: 33px;
}

.main-footer.-social-on-top.-lawyer-profile-essentials-logo .logo-img {
  width: 300px;
  height: 21px;
}

.main-footer.-social-on-top.-legal-jobs-logo .logo-img {
  width: 277px;
  height: 33px;
}

.main-footer.-social-on-top.-lawyer-directory-logo .logo-img {
  width: 300px;
  height: 27px;
}

.ui-background.-cell {
  vertical-align: top;
}

.ui-background.-table .bg-wrapper {
  vertical-align: top;
}

.ui-columns-grid .grid-row {
  padding: 0;
  font-size: 0;
  text-align: center;
  vertical-align: top;
}

.ui-columns-grid .grid-column {
  display: inline-block;
  width: 300px;
  max-width: 300px;
  vertical-align: top;
}

.ui-columns-grid .single-grid-cell {
  width: 600px;
  text-align: left;
  vertical-align: top;
}

.ui-columns-grid .grid-cell {
  width: 300px;
  text-align: center;
}

.ui-spacer-hack {
  display: block;
  opacity: 0;
  width: 540px;
  height: 1px;
  margin: 0;
  font-size: 0;
}

.blast-content td {
  background-color: #ffffff;
}

.blast-content .main-title {
  padding: 35px 30px 30px;
  border-top: 1px solid #dbdbdb;
  background-color: #f8fcff;
  text-align: center;
}

.blast-content .main-title p {
  font: 35px/1.2 Arial, sans-serif;
  color: #06357a;
}

.blast-content .main-image {
  background-color: #f8fcff;
}

.blast-content .main-image img {
  width: 600px;
  max-width: 100%;
}

.blast-content .content {
  padding: 40px 30px 25px;
}

.blast-content .content.-button {
  padding: 0 30px 25px;
  text-align: center;
}

.blast-content .content.-last {
  padding: 0 30px 35px;
  text-align: center;
}

.blast-content .content.-last p {
  margin: 0;
}

.blast-content .content.-last p:last-child {
  color: #06357a;
}

.view-stats.-v1 .blast-content .content.-first a {
  color: #000000;
}

.about-justia {
  border-top: 1px solid #dbdbdb;
  background-color: #f4f4f4;
}

.about-justia td {
  padding: 30px;
}

.about-justia a {
  color: #000000;
}

.full-size {
  width: 100%;
  height: 100%;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}
