a,
body,
table,
td {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table,
td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  -ms-interpolation-mode: bicubic;
}

img {
  max-width: 100%;
  border: 0;
  outline: none;
  line-height: 100%;
  text-decoration: none;
}

table {
  border-collapse: collapse !important;
}

body {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-family: inherit !important;
  text-decoration: none !important;
}

.ios-links-black a {
  color: #000000 !important;
  text-decoration: none !important;
}

.ios-links-white a {
  color: #ffffff !important;
  text-decoration: none !important;
}

a[href^=tel] {
  color: currentColor !important;
  text-decoration: none !important;
}

div[style*='margin: 16px 0;'] {
  margin: 0 !important;
}

.ExternalClass {
  width: 100%;
  line-height: 100%;
}

.ExternalClass div,
.ExternalClass font,
.ExternalClass p,
.ExternalClass span,
.ExternalClass td {
  line-height: 100%;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'OpenSans';
  src: url("https://justatic.com/v/1/shared/fonts//OpenSans-Regular.woff2") format("woff2"), url("https://justatic.com/v/1/shared/fonts//OpenSans-Regular.woff") format("woff"), url("https://justatic.com/v/1/shared/fonts//OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'OpenSans';
  src: url("https://justatic.com/v/1/shared/fonts//OpenSans-Bold.woff2") format("woff2"), url("https://justatic.com/v/1/shared/fonts//OpenSans-Bold.woff") format("woff"), url("https://justatic.com/v/1/shared/fonts//OpenSans-Bold.ttf") format("truetype");
}

@media screen {
  [style*='font'] {
    font-family: 'OpenSans', Arial, sans-serif !important;
  }
}

@media only screen and (max-width: 640px) {
  .collapse-one {
    display: block !important;
    width: 100% !important;
  }
  .mobile-reset-width {
    width: auto !important;
  }
  .mobile-reset-height {
    height: auto !important;
  }
  .mobile-reset-bg-image {
    background-image: none !important;
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-align-center {
    margin: 0 auto !important;
    text-align: center !important;
  }
  .mobile-align-right {
    text-align: right !important;
  }
  .mobile-align-left {
    text-align: left !important;
  }
  .mobile-fz-5 {
    font-size: 5px !important;
  }
  .mobile-fz-6 {
    font-size: 6px !important;
  }
  .mobile-fz-7 {
    font-size: 7px !important;
  }
  .mobile-fz-8 {
    font-size: 8px !important;
  }
  .mobile-fz-9 {
    font-size: 9px !important;
  }
  .mobile-fz-10 {
    font-size: 10px !important;
  }
  .mobile-fz-11 {
    font-size: 11px !important;
  }
  .mobile-fz-12 {
    font-size: 12px !important;
  }
  .mobile-fz-13 {
    font-size: 13px !important;
  }
  .mobile-fz-14 {
    font-size: 14px !important;
  }
  .mobile-fz-15 {
    font-size: 15px !important;
  }
  .mobile-fz-16 {
    font-size: 16px !important;
  }
  .mobile-fz-17 {
    font-size: 17px !important;
  }
  .mobile-fz-18 {
    font-size: 18px !important;
  }
  .mobile-fz-19 {
    font-size: 19px !important;
  }
  .mobile-fz-20 {
    font-size: 20px !important;
  }
  .mobile-fz-21 {
    font-size: 21px !important;
  }
  .mobile-fz-22 {
    font-size: 22px !important;
  }
  .mobile-fz-23 {
    font-size: 23px !important;
  }
  .mobile-fz-24 {
    font-size: 24px !important;
  }
  .mobile-fz-25 {
    font-size: 25px !important;
  }
  .mobile-fz-26 {
    font-size: 26px !important;
  }
  .mobile-fz-27 {
    font-size: 27px !important;
  }
  .mobile-fz-28 {
    font-size: 28px !important;
  }
  .mobile-fz-29 {
    font-size: 29px !important;
  }
  .mobile-fz-30 {
    font-size: 30px !important;
  }
  .mobile-fz-31 {
    font-size: 31px !important;
  }
  .mobile-fz-32 {
    font-size: 32px !important;
  }
  .mobile-fz-33 {
    font-size: 33px !important;
  }
  .mobile-fz-34 {
    font-size: 34px !important;
  }
  .mobile-fz-35 {
    font-size: 35px !important;
  }
  .mobile-fz-36 {
    font-size: 36px !important;
  }
  .mobile-fz-37 {
    font-size: 37px !important;
  }
  .mobile-fz-38 {
    font-size: 38px !important;
  }
  .mobile-fz-39 {
    font-size: 39px !important;
  }
  .mobile-fz-40 {
    font-size: 40px !important;
  }
  .mobile-padding-top {
    padding-top: 10px !important;
  }
  .mobile-padding-right {
    padding-right: 10px !important;
  }
  .mobile-padding-bottom {
    padding-bottom: 10px !important;
  }
  .mobile-padding-left {
    padding-left: 10px !important;
  }
  .mobile-padding-horizontal-sides {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .mobile-padding-vertical-sides {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .mobile-padding-full {
    padding: 10px !important;
  }
  .mobile-padding-medium-top {
    padding-top: 20px !important;
  }
  .mobile-padding-medium-bottom {
    padding-bottom: 20px !important;
  }
  .mobile-padding-medium-full {
    padding: 20px 10px !important;
  }
  .mobile-padding-uneven-top {
    padding-top: 45px !important;
  }
  .mobile-padding-uneven-bottom {
    padding-bottom: 45px !important;
  }
  .mobile-padding-uneven-full {
    padding: 45px 10px !important;
  }
  .mobile-no-padding-top {
    padding-top: 0 !important;
  }
  .mobile-no-padding-bottom {
    padding-bottom: 0 !important;
  }
  .mobile-no-padding-horizontal-sides {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .mobile-no-float {
    float: none !important;
  }
  .mobile-no-border {
    border: 0 !important;
  }
}

@media only screen and (max-width: 640px) {
  .main-footer .footer-logo {
    padding-bottom: 20px !important;
    border-bottom: 1px solid #00b3e3;
  }
  .main-footer .footer-social {
    padding-top: 20px !important;
  }
  .responsive-button {
    width: auto !important;
    padding: 6px 20px !important;
    line-height: 1.2 !important;
  }
}
