// ----------------------------------------------------------------------------------------------------------
// T E C H   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

.w-stories-list {

  &.-tech-news {
    @include change-widget-title-style(plt('bright-green'), false);

    a {
      color: plt('bright-green');
    }
  }

  &.-seo-news {
    @include change-widget-title-style(plt('bright-blue'), false);

    a {
      color: plt('bright-blue');
    }
  }

  &.-social-media-news {
    @include change-widget-title-style(plt('orange'), false);

    a {
      color: plt('orange');
    }
  }

  &.-legal-industry-news {
    @include change-widget-title-style(plt('mail', 'shamrock'), false);

    a {
      color: plt('mail', 'shamrock');
    }
  }

  &.-jurispro {

    sup {
      @include mail-font($line-height: 1);
    }

    .featured-story {
      padding: 0 $padding 45px;

      .desc,
      .image {
        padding: 0 0 45px;
        border-bottom: 1px solid plt('mail', 'black-haze');
        vertical-align: middle;
      }

      .desc p {
        @include mail-font(20px);
      }
    }
  }
}
