body {
  -webkit-font-smoothing: antialiased;
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif, serif;
  background-color: #f3f3f3;
}

.set-max-width {
  width: 100%;
  max-width: 600px;
}

h1,
h2,
h4 {
  font-family: Helvetica, Arial, sans-serif, serif;
  font-weight: 400;
  margin: 0;
}

p, ol, ul {
  font-family: Helvetica, Arial, sans-serif, serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

a {
  color: #008abb;
}

code,
pre,
.word-wrap {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

body {
  background-color: #e3e3e3;
}

.body {
  width: 100%;
  background-color: #e3e3e3;
}

.container {
  display: block;
  width: auto !important;
  width: 600px;
  max-width: 600px;
  padding: 10px 0;
  Margin: 0 auto !important;
  /* makes it centered */
}

.content {
  display: block;
  max-width: 600px;
  padding: 0;
  margin: 0 auto;
  Margin: 0 auto !important;
  background-color: #ffffff;
}

.widget-type-name {
  color: #5f646e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
  padding: 0 0 5px;
}

.widget-main-title {
  color: #000000;
  font-size: 29px;
  font-weight: 400;
  line-height: 37px;
}

.content-block {
  padding: 45px 30px;
}

.main-header {
  background: #f3f3f3;
  color: #404040;
  font-size: 13px;
}

.main-header .tagline-wrapper {
  width: auto;
  padding: 15px 30px;
  vertical-align: middle;
}

.main-header .tagline-wrapper table {
  width: 100%;
}

.main-header .tagline {
  display: block;
}

.main-header .view-in-browser {
  width: 33.3333333333%;
  font-family: Helvetica, Arial, sans-serif, serif;
}

.main-header .view-in-browser a {
  display: block;
  color: #404040;
  text-decoration: underline;
  font-family: Helvetica, Arial, sans-serif, serif;
}

.main-footer {
  clear: both;
  background-color: #f3f3f3;
  text-align: center;
  color: #404040;
}

.main-footer a {
  text-decoration: none;
  color: #404040;
}

.main-footer a.underlined {
  text-decoration: underline;
}

.main-footer img {
  display: block;
  max-width: none;
}

.main-footer .spacer {
  width: 540px;
  height: 1px;
  opacity: 0;
  display: block;
  font-size: 0;
}

.main-footer .logo-social {
  padding: 20px 30px;
  border-bottom: 1px solid #e3e3e3;
}

.main-footer .logo-social table {
  width: 100%;
}

.main-footer .logo-social .social {
  overflow: hidden;
}

.main-footer .logo-social .social table {
  width: 176px !important;
}

.main-footer .logo-social .social table td {
  width: 36px;
  height: 32px;
  text-align: left;
  vertical-align: top;
}

.main-footer .logo-social .social table td:last-child {
  width: 32px;
}

.main-footer .logo-social .social a {
  display: inline-block !important;
  vertical-align: middle;
}

.main-footer .logo-social .social a img {
  width: 32px;
  height: 32px;
}

.main-footer .underlined {
  color: #404040;
}

.main-footer .underlined a {
  color: #404040;
}

.main-footer .disclaimer p,
.main-footer .address p,
.main-footer .preferences p,
.main-footer span,
.main-footer a {
  font-size: 14px;
}

.main-footer .disclaimer {
  padding: 20px 30px 0;
}

.main-footer .preferences {
  padding: 20px 30px 90px;
}

.intro {
  background-color: #ffffff;
}

.intro .head-img {
  width: 600px;
  height: 450px;
  vertical-align: middle;
  background: url("../img/main-image-01.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

.intro--message {
  padding: 25px 30px 5px;
}

.intro--message p {
  font-size: 18px;
  line-height: 1.3;
}

.w-tech-news {
  background-color: #ffffff;
}

.w-tech-news .main-article-title {
  padding: 45px 30px 20px;
}

.w-tech-news .main-article-title .widget-main-title a {
  color: #000000;
  text-decoration: none;
}

.w-tech-news .article-div {
  padding: 0 30px;
  vertical-align: top;
}

.w-tech-news .items-list {
  padding: 0 30px 20px;
}

.w-tech-news .items-list.-last {
  padding: 0 30px;
}

.w-tech-news .items-list.-verylast {
  padding: 0 30px 45px;
}

.w-tech-news .items-list a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif, serif;
  font-size: 16px;
  line-height: 22px;
}

.w-tech-news .items-list ul, .w-tech-news .items-list ol {
  padding-left: 18px;
}

.w-tech-news .hr-separator {
  height: 1px;
  color: #ccc;
  background: #ccc;
  font-size: 0;
  border: 0;
  margin-top: 25px;
}

.label-divider {
  width: 100%;
}

.label-divider .label {
  padding: 20px 0 15px;
}

.label-divider p {
  font-family: Helvetica, Arial, sans-serif, serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #000000;
}

.headline {
  width: 100%;
}

.headline .label {
  width: 100%;
  padding: 30px 0 5px;
}

.headline p {
  font-family: Helvetica, Arial, sans-serif, serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #404040;
}

.intro--message a {
  text-decoration: none;
}

.intro--message p {
  margin-bottom: 30px;
}

.intro--message p:last-child {
  margin-bottom: 0;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.last {
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0;
  Margin: 0;
}
