// ----------------------------------------------------------------------------------------------------------
// U I   B A C K G R O U N D
// ----------------------------------------------------------------------------------------------------------

.ui-background.-cell {
  background-repeat: no-repeat;
  vertical-align: top;
}

.ui-background.-table {

  .bg-wrapper {
    background-repeat: no-repeat;
    vertical-align: top;
  }
}
