// ----------------------------------------------------------------------------------------------------------
// U I   D I V I D E R S
// ----------------------------------------------------------------------------------------------------------

$divider-colors: (
  'catalina-blue': plt('justia-blue'),
  'science-blue': plt('legacy', 'science-blue'),
  'cobalt': plt('legacy', 'cobalt'),
  'kashmir-blue': plt('legacy', 'kashmir-blue'),
  'deep-sapphire': plt('legacy', 'deep-sapphire'),
  'blue-whale': plt('legacy', 'blue-whale'),
  'guardsman-red': plt('legacy', 'guardsman-red'),
  'vivid-red': plt('legacy', 'vivid-red'),
  'astronaut': plt('legacy', 'astronaut'),
  'supernova': plt('yellow-sun'),
  'sunset-orange': plt('legacy', 'sunset-orange'),
  'green': plt('mail', 'green'),
  'curious-blue': plt('mail', 'curious-blue'),
  'flush-orange': plt('mail', 'flush-orange'),
  'purple-heart': plt('mail', 'purple-heart'),
  'pelorous': plt('mail', 'pelorous'),
  'shuttle-gray': plt('mail', 'shuttle-gray'),
  'picton-blue': plt('mail', 'picton-blue'),
  'cape-cod': plt('mail', 'cape-cod'),
  'jade': plt('mail', 'jade')
);

// ----------------------------------------------------------------------------------------------------------

.ui-label-divider {
  width: 100%;
  margin: 0 auto;

  td {
    padding: 4px 0;
    margin: 0;
    color: plt('white');
    font: tp('weight', 'bold') 14px/1 $sans-serif-font-family;
    text-transform: uppercase;
  }

  span {
    color: plt('white');
  }

  .label {
    width: 140px;
  }

  .empty-space {
    border-top: 1px solid plt('mail', 'black-haze');
  }

  @each $name, $color in $divider-colors {

    &.divider-#{$name} {

      .label {
        background-color: $color;
      }
    }
  }

  &.full {
    width: $max-width;
  }
}
