// ----------------------------------------------------------------------------------------------------------
// U I   S P A C E R   H A C K
// ----------------------------------------------------------------------------------------------------------

.ui-spacer-hack {
  display: block;
  opacity: 0;
  width: $inner-max-width;
  height: 1px !important;
  margin: 0;
  font-size: 0 !important;
}
