{{!
 * @param {String} buttonLink
 * @param {String} buttonText
 * @param {String} buttonResponsiveClasses
}}

<!-- ui-real-text-button -->
{{#table class='ui-real-text-button' responsive=buttonResponsiveClasses}}
  <tr>
    <td>
      <a href="{{{buttonLink}}}" target="_blank">
        <!-- wrapper -->
        <span class="wrapper">
          {{buttonText}}
        </span>
      </a>
    </td>
  </tr>
{{/table}}
