---
subject: <%= dateFormat.string %>
---

{{>preheader text=""}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-ad widgetClass="-recording-available" widgetConfig=advertisements.recording-blast-pro}}

        {{>webinar-details widgetConfig=webinar-details.recording-blast-pro}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.pro}}
    </td>
  </tr>
{{/table}}
