---
layout: blast.hbs
subject: BLAST
---

<tr class="template-2">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="block-1">
          <img alt="[placeholder]" src="{{default.imageDirSrc}}/a2a-review-main-image-01.png" tabindex="0" border="0" class="image">
        </td>
      </tr>
      <tr>
        <td class="block-2">
          <p>Hi [FIRST].</p>
        </td>
      </tr>
      <tr>
        <td class="block-3">
          <p>Thank you for being a valued Justia client. We are excited to announce that the Justia Lawyer Directory now supports attorney-to-attorney reviews! Lawyers who have received reviews will now have a badge on their profile showing their Justia Lawyer Rating, a numerical representation of the reviews they have received. You can also post a version of your badge to your websites and blogs to showcase your reputation to prospective clients and other visitors.</p>
        </td>
      </tr>
      <tr>
        <td class="block-4">
          <p>To review an attorney, the reviewer must (1) have a claimed profile in the Justia Lawyer Directory and (2) be personally familiar with the attorney’s work.</p>
        </td>
      </tr>
      <tr>
        <td class="block-5">
          <p>Here’s a sample email you might use to encourage your colleagues and peers to write reviews for you:</p>
        </td>
      </tr>
      <tr>
        {{> ui-background classes="dvbg" image="a2a-review-background-01.png" bgColor="#4c6b97" dimensions="width:600px; height:736px;" bgStart=true content=true }}
          <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
            <tr>
              <td class="inner-block-1">
                <p>Hey friend,</p>
              </td>
            </tr>
            <tr>
              <td class="inner-block-2">
                <p>The Justia Lawyer Directory now supports attorney-to-attorney reviews. I’d be honored if you would take a couple minutes to write a review on my <a href="#" target="_blank"><strong>profile</strong></a>.</p>
              </td>
            </tr>
            <tr>
              <td class="inner-block-3">
                <p>Sincerely,</p>
                <p>[Attorney Name]</p>
              </td>
            </tr>
          </table>
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <td class="block-6">
          <p><strong>Be the first lawyer in your area</strong></p>
          <p><strong>to get a perfect 10!</strong></p>
        </td>
      </tr>
      <tr>
        <td class="block-7">
          <a href="#">
          <table border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td class="button">
                <strong>Learn more about the Justia Lawyer Rating</strong>
              </td>
            </tr>
          </table>
          </a>
        </td>
      </tr>
      <tr>
        <td class="block-8 contactus">
          <p class="tagline">The Justia Team</p>
          <p class="phone"><a href="tel:8885878421" target="_blank"><strong>(888) 587-8421</strong></a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
