---
subject: 
---

{{>preheader text=""}}

{{#table class="connect-series-pro" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.askLawyer}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-block-first widgetClass="-first-block -email-3" widgetConfig=blockFirst.ad3}}

        {{!-- {{>widget-ad widgetClass="-email-3" widgetConfig=advertisements.ad3}} --}}

        {{>widget-ad widgetClass="-assistance" widgetConfig=advertisements.ad3-questions}}

        {{!-- {{>widget-stats-block widgetClass="-email-2" widgetConfig=statsBlocks}} --}}

        {{>widget-block-bottom widgetClass="-email-3" widgetConfig=blockBottom.ad3}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jaal1}}
    </td>
  </tr>
{{/table}}
