---
subject: Happy Birthday [NAME]!
---

{{>preheader text="Let the celebrations begin! ---- "}}

{{#table align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.birthday}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{#table class="widget set-max-width"}}
          <tr>
            <td class="wrapper" responsive="mobile-padding-horizontal-sides">

              {{#table class="w-birthday set-max-width"}}
                <tr>
                  <td class="title -first align-center" responsive="mobile-padding-horizontal-sides">
                    <p><strong>Happy Birthday <br>[NAME]!</strong></p>
                  </td>
                </tr>
                <tr>
                  <td class="image align-center" responsive="mobile-padding-horizontal-sides">
                    {{>img src="happy-birthday.png" alt="Happy Birthday!"}}
                  </td>
                </tr>
                <tr>
                  <td class="text -last align-center" responsive="mobile-padding-horizontal-sides">
                    <p>
                      Wishing you a wonderful and happy day! <br>
                      <br>
                      The Justia Team
                    </p>
                  </td>
                </tr>
              {{/table}}

            </td>
          </tr>
        {{/table}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
{{/table}}
