---
layout: default.hbs
subject: Closed Won
---


<tr class="closedwon claimed-bronze">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" width="600" class="align-center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
            <tr>
                <td width="100%" class="align-center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="align-center" style="background:#00b3e3; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
                        <tr>
                            <td width="100%" class="align-center" valign="top" style="padding: 30px 106px 27px 50px;">
                                <a href="#">
                                    <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-main-image-01.png" tabindex="0" width="494" height="170" border="0">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" class="button-wrapper align-center" valign="top" style="padding: 0 0 32px;">
                                {{> button-real-text link="#" color="#ffffff" bgColor="#e2231a" text="TIMOTHY, VIEW YOUR LAWYER PROFILE" }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="intro-message align-center">
                    <p><strong class="title">YOUR PROFILE IS IMPORTANT TO YOUR SUCCESS</strong></p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="no-margin align-left" valign="top" bgcolor="#ffffff" style="padding:34px 30px 14px;">
                    <p class="subtitle no-margin"><strong>1. PROFILE PHOTO</strong></p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px 25px;">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-01.png" tabindex="0" width="545" height="621" border="0">
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 15px;">
                    <p class="desc">Add a high-resolution photo of at least 640x640 pixels to build trust and confidence in your profile.</p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:42px 30px 15px;">
                    <p class="subtitle no-margin"><strong>2. BIOGRAPHY</strong></p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px 25px;">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-02.png" tabindex="0" width="545" height="621" border="0">
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 15px;">
                    <p class="desc">Include a short biography to introduce yourself to potential clients. A well-written biography highlights your practice and shows off your passion for the law.</p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:42px 30px 12px;">
                    <p class="subtitle no-margin"><strong>3. SOCIAL MEDIA</strong></p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 9px 97px 15px 92px;">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-social-media-01.png" tabindex="0" width="411" height="60" border="0">
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                    <p class="desc">Connect your profile to your website, blog, and social media accounts. Professional connections are an important part of your profile. Don't just tell people you practice law, show them.</p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 30px;">
                    {{> button-real-text link="#" color="#ffffff" bgColor="#e2231a" text="EMAIL US YOUR INFORMATION" }}
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:63px 30px 6px;">
                    <p class="subtitle no-margin"><strong>TIMOTHY'S CURRENT PREMIUM PLACEMENTS</strong></p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                    <p class="desc">1. Business Law in the San Jose Metro Area</p>
                    <p class="desc">2. Communications & Internet Law in the San Jose Metro Area</p>
                    <p class="desc">3. Intellectual Property in the San Jose Metro Area</p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:42px 30px 6px;">
                    <p class="subtitle no-margin"><strong>COMPLETE YOUR PROFILE</strong></p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 17px;">
                    <p class="desc">Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles. We suggest adding a short biography, updating contact information, participating in <a href="#" target="_blank"><strong>Ask a Lawyer</strong></a>, and adding your social media profiles, etc.</p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 6px 30px 24px;">
                    <p class="desc">Thank You!</p>
                </td>
            </tr>
            <tr>
                <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 0 30px 42px;">
                    <p class="desc">Justia & LII Lawyer Directory Team</p>
                    <p class="desc"><a target="_blank" href="#"><strong>(650) 810-1990</strong></a> Office</p>
                    <p class="desc"><a target="_blank" href="#"><strong>directory@justia.com</strong></a></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
