---
layout: blast.hbs
subject: BLAST
---

<tr class="template-2">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="banner">
          <img alt="2018 Happy New Year - Thank you for being a loyal member of the Justia Lawyer Directory" src="{{default.imageDirSrc}}/loyalmember-banner-01.jpg" tabindex="0" border="0" class="image">
        </td>
      </tr>

      <tr>
        <td class="content text-1">
          <p><strong>Here are Some Helpful Tips for More Exposure</strong></p>
        </td>
      </tr>
      <tr>
        <td class="content text-2">
          <p><strong>Participate in the legal community</strong></p>
          <p>Answer questions in <strong><a href="https://answers.justia.com/" target="_blank">Ask a Lawyer</a></strong> — Earn points and badges while gaining exposure to potential clients.</p>
        </td>
      </tr>
      <tr>
        <td class="content text-3">
          <p><strong>Focus your marketing efforts</strong></p>
          <p><strong><a href="https://www.justia.com/marketing/lawyer-directory/" target="_blank">Additional Premium Placements</a></strong> can increase visibility. We offer different levels of placements tailored to your specific marketing goals.</p>
        </td>
      </tr>
      <tr>
        <td class="content text-4">
          <p>If you have any questions, please feel free to call us or fill out <strong><a href="#" target="_blank">this form</a></strong>.</p>
        </td>
      </tr>
      <tr>
        <td class="content contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
