---
layout: default.hbs
subject: BLAST
---


<tr class="competitors">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td>
                    {{!-- <a href="#" target="_blank">
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                            <tr>
                                <td class="block-1">
                                    
                                </td>
                            </tr>
                        </table>
                    </a> --}}
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                        <tr>
                            <td class="block-1 title">
                                <img alt="[placeholder]" src="{{default.image_dir_src}}/competitors-title-01.png" tabindex="0" border="0" class="image">
                            </td>
                        </tr>
                        <tr>
                            <td class="block-2 animations">
                                <table border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tr>
                                        <td>
                                            <img alt="[placeholder]" src="{{default.image_dir_src}}/competitors-animation-01.gif" tabindex="0" border="0" class="image">
                                        </td>
                                        <td>
                                            <img alt="[placeholder]" src="{{default.image_dir_src}}/competitors-animation-02.gif" tabindex="0" border="0" class="image">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-3 button">
                                <img alt="[placeholder]" src="{{default.image_dir_src}}/competitors-button-01.png" tabindex="0" border="0" class="image">
                            </td>
                        </tr>
                        <tr>
                            <td class="block-4 desc">
                                <p>Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-5 contactus">
                                <p class="tagline">Justia Lawyer Directory Team</p>
                                <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
