---
subject: 
---

{{>preheader text=""}}

{{#table class="connect-series-pro" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.connectpro}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-block-first widgetClass="-first-block" widgetConfig=blockFirst.welcome.email06}}

        {{>widget-stats-block widgetClass="-email-2" widgetConfig=statsBlocks.june.communityTips}}

        {{>widget-stats-block widgetClass="-email-2" widgetConfig=statsBlocks.june.justiaDeals}}

        {{>welcome-columns widgetConfig=welcomeColumns.email1}}

        {{>widget-block-bottom widgetClass="-email-1" widgetConfig=blockBottom.welcome.email1}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.june}}
    </td>
  </tr>
{{/table}}
