---
layout: default.hbs
subject: BLAST
---


<tr class="cfsubmission">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description inner-content">
            <tr>
                <td class="intro gray">
                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr class="client">
                            <td>
                                <p>
                                    <em>Miller & Zois, LLC,</em>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    You have received a <strong>new message</strong> from your website
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="link">
                                <p>
                                    <a href="#" target="_blank">www.mississippifamilylawmediationandcounselingblog.com</a>
                                <p/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="message">
                    <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td>
                                <p><strong>Name:</strong> Susan Lumpp</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Email:</strong> <a href="#" target="_blank">slumpp@hotmail.com</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Phone:</strong> <a href="#" target="_blank">619-666-0202</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>What Happened:</strong> 1.2.2016 ER visit, no sensation in saddle region. Back fusion was scheduled before ER visit. They did not admit me and sent me home. Surgery was not performed until days later. Cauda Equina Syndrome diagnosis. More info -</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="details gray">
                    <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td class="subtitle">
                                <p><strong>Additional Details</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="page-name">
                                <p><strong>From Page: </strong>Lawsuit Information Center</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="page-link"><a href="#">https://www.accidentinjurylawyerblog.com/cauda-equina-syndrome-settlements.html</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>IP Address:</strong> 98.156.75.172</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>IP Location:</strong> Shawnee, KS, 66226</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Sent by:</strong> Mobile User</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>