---
layout: blast.hbs
subject: BLAST
---

<tr class="exclusive-placement">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="block-1 main-image">
          <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.imageDirSrc}}/exclusive-placements-main-image-01.png" tabindex="0" border="0" class="image"></a>
        </td>
      </tr>
      <tr>
        <td class="text">
          <p><a href="#" target="_blank">Here at Justia, we have been working hard to provide you with the best value on the market. We are excited to let you know Justia is now offering limited inventory platinum placements for certain practice areas in the Justia & LII Directories.</a></p>
        </td>
      </tr>
      <tr>
        <td class="text">
          <p><a href="#" target="_blank">What does this mean for you? Since you are a loyal client, we wanted to check in with you first and see if you would be interested in this new product.</a></p>
        </td>
      </tr>
      <tr>
        <td class="button -red">
          {{>ui-real-text-button buttonLink="#" buttonText="Yes, I’m interested. Tell me more!" }}
        </td>
      </tr>
      <tr>
        <td class="contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
