---
layout: blast.hbs
subject: BLAST
---

<tr class="fireworks">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        {{> ui-background classes="dvbg" image="fireworks-background-01.gif" bgColor="#ffffff" dimensions="width:600px; height:653px;" bgStart=true content=true }}
          <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
            <tr>
              <td class="block-1">
                <p>The fireworks may be over,</p>
                <p>but the summer savings are just beginning!</p>
              </td>
            </tr>
            <tr>
              <td class="block-2">
                <p>Become a Premium Member now to lock in your best rate.</p>
              </td>
            </tr>
            <tr>
              <td class="block-3">
                {{> ui-real-text-button classes="contact-button" buttonText="Contact Us Now and Save 15%" buttonLink="#" }}
              </td>
            </tr>
            <tr>
              <td class="block-4 contactus">
                <p class="tagline">Justia Lawyer Directory Team</p>
                <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
              </td>
            </tr>
            <tr>
              <td class="block-5">
                <p><em>*Discount valid on any new yearly or three year premium placement subscriptions.</em></p>
              </td>
            </tr>
          </table>
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <td class="block-6">
          <p>Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="#" target="_blank">Learn More »</a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
