---
layout: default.hbs
subject: BLAST
---


<tr class="flash">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                {{> background classes="dvbg" image="flash-main-image-bg.png" bgcolor="#09347a" dimensions="width:600px; height:431px;" bgStart=true content=true }}
                    <a href="#image-main-flash-1#" target="_blank">
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                            <tr>
                                <td class="block-1">
                                    <img alt="[placeholder]" src="{{default.image_dir_src}}/flash-main-image-up.png" tabindex="0" border="0" class="image">
                                </td>
                            </tr>
                            <tr>
                                <td class="block-2">
                                    <img alt="[placeholder]" src="{{default.image_dir_src}}/flash-animated.gif" tabindex="0" border="0" class="image">
                                </td>
                            </tr>
                            <tr>
                                <td class="block-3">
                                    <img alt="[placeholder]" src="{{default.image_dir_src}}/flash-main-image-down.png" tabindex="0" border="0" class="image">
                                </td>
                            </tr>
                        </table>
                    </a>
                {{> background bgEnd=true }}
            </tr>
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                        <tr>
                            <td class="title">
                                <p><strong>Premium Membership offers multiple benefits:</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="info">
                                <p><a href="#text-exposure-1#" target="_blank"><strong>Increased Exposure</strong></a>. Premium Placements enhance your visibility for your practice area(s) across an entire metro area on the Justia & LII lawyer directories.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="info">
                                <p><a href="#text-interaction-1#" target="_blank"><strong>Increased Interaction with Potential Clients</strong></a>. Premium Profiles feature contact forms. Competitor ads are also removed from your profile.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="info">
                                <p><a href="#text-access-statistics-1#" target="_blank"><strong>Access to Traffic Statistics</strong></a>. View traffic stats of your visibility on the Justia & LII lawyer directories and legal portals.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-center contactus">
                                <p class="tagline">Justia Lawyer Directory Team</p>
                                <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-center expiration">
                                <p><em>*Discount valid on any new yearly or three year premium placement subscriptions.</em></p>
                                <p><em>This offer expires 24 hours from receipt of this email.</em></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
