---
layout: blast.hbs
subject: BLAST
---

<tr class="free-placement">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="main-image">
          <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.imageDirSrc}}/free-placement-main-image-01.png" tabindex="0" border="0" class="image"></a>
        </td>
      </tr>
      <tr>
        <td class="intro-text">
          <p>Upgrade your profile and for a <strong>limited time</strong>, <br/>receive a <strong>free placement</strong> for every two purchased.  </p>
        </td>
      </tr>
      <tr>
        <td class="benefits">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="list-title">
                <p>Premium Membership offers multiple benefits:</p>
              </td>
            </tr>
            <tr class="item">
              <td>
                <p>
                  <img alt="[placeholder]" src="http://justatic.com/v/20180805/emails/images/lawyer-directory/common/list-bullet.png" tabindex="0" border="0" class="image">
                  <span class="text">
                    <strong>Increased Exposure.</strong> Premium Placements enhance your visibility for your practice area(s) across an entire metro area on the Justia & LII lawyer directories.
                  </span>
                </p>
              </td>
            </tr>
            <tr class="item">
              <td>
                <p>
                  <img alt="[placeholder]" src="http://justatic.com/v/20180805/emails/images/lawyer-directory/common/list-bullet.png" tabindex="0" border="0" class="image">
                  <span class="text">
                    <strong>Increased Interaction with Potential Clients.</strong> Premium Profiles feature contact forms. Competitor ads are also removed from your profile.
                  </span>
                </p>
              </td>
            </tr>
            <tr class="item">
              <td>
                <p>
                  <img alt="[placeholder]" src="http://justatic.com/v/20180805/emails/images/lawyer-directory/common/list-bullet.png" tabindex="0" border="0" class="image">
                  <span class="text">
                    <strong>Access to Traffic Statistics.</strong> View traffic stats of your visibility on the Justia & LII lawyer directories and legal portals.
                  </span>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="button -red">
          {{> ui-real-text-button buttonLink="#" buttonText="Contact Us Now" }}
        </td>
      </tr>
      <tr>
        <td class="contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
      <tr>
        <td class="disclaimer">
          <p><em>* Discount valid on any new yearly or three year premium placement subscriptions.</em></p>
          <p><em>Discount applied to equal or lesser value placement.</em></p>
          <p><em>This offer expires 30 days from receipt of this email.</em></p>
        </td>
      </tr>
      <tr>
        <td class="highlighted-block">
          <p>
            Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <strong><a href="#" target="_blank">Learn More »</a></strong>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
