---
layout: blast.hbs
subject: BLAST
---

<tr class="gold">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="block-1 main-image">
          <a href="#" target="_blank">
            <img alt="[placeholder]" src="{{default.imageDirSrc}}/gold-main-image-01.png" tabindex="0" border="0" class="image">
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td class="block block-2 intro-text">
                <p>
                  <a href="#" target="_blank">
                    <strong>Gold members appear above the general listings.</strong> Other benefits include a contact form rather than competitor listings in the sidebar of your profile page and access to your profile stats. Stand out as one of the first few gold members in your practice area and location.
                  </a>
                </p>
              </td>
            </tr>
            <tr>
              <td class="block block-3 large-text">
                <a href="#" target="_blank">
                  <strong class="large">Don't miss this opportunity to get ahead!</strong>
                </a>
              </td>
            </tr>
            <tr>
              <td class="block block-4 btn -red -large">
                {{> ui-real-text-button buttonLink="#" buttonText="Become a Gold Member Today" }}
              </td>
            </tr>
            <tr>
              <td class="block block-5 contactus">
                <p class="tagline">Justia Lawyer Directory Team</p>
                <p class="phone">
                  <strong>
                    <a class="phone-link" href="tel:8885878421" target="_blank">(888) 587-8421</a>
                  </strong>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block block-6 learn-more">
          <p>Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="#" target="_blank"><strong>Learn More »</strong></a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
