---
layout: blast.hbs
subject: BLAST
---

<tr class="gold-membership">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="main-image">
          <a href="#" target="_blank">
            <img alt="[placeholder]" src="{{default.imageDirSrc}}/goldmembership-main-image-01.png" tabindex="0" border="0" class="image">
          </a>
        </td>
      </tr>
      <tr>
        <td class="intro">
          <p>A <b>Gold level Premium Membership</b> in the Justia & LII Lawyer Directories places you in front of more potential clients who are actively searching for a lawyer just like you.</p>
        </td>
      </tr>
      <tr>
        <td class="button -red">
          {{> ui-real-text-button buttonLink="#" buttonText="Click here to save 15%" }}
        </td>
      </tr>
      <tr>
        <td class="disclaimer">
          <p><em>* Discount valid on any new yearly or three year premium placement subscriptions. This offer expires 30 days from receipt of this email.</em></p>
        </td>
      </tr>
      <tr>
        <td class="contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
      <tr>
        <td class="gray-block">
          <p>
            Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="https://www.justia.com/marketing/" target="_blank"><b>Learn More »</b></a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
