---
layout: default.hbs
subject: BLAST
---


<tr class="gposts">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td class="main-image">
                    <img alt="[placeholder]" src="{{default.image_dir_src}}/gposts-main-image-01.png" tabindex="0" border="0" class="image">
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                        <tr>
                            <td class="block-1 greetings">
                                <p>Hi [name],</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-2 introduction">
                                <p>
                                    We want you to be among the first to hear about a new feature on Google My Business that can help you reach more clients! Google My Business now allows you to create content that will appear in Google mobile and desktop search results alongside your business listing.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-3 title">
                                <p><strong>What is it?</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-4 explanation">
                                <p>
                                    Called "Google Posts," this new feature allows you to add content, such as text (including links), images or videos, that will appear with your business listing in Google search results for both mobile and desktop.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-5 middle-image">
                                <img alt="[placeholder]" src="{{default.image_dir_src}}/gposts-phones-01.png" tabindex="0" border="0" class="image">
                            </td>
                        </tr>
                        <tr>
                            <td class="block-6 title">
                                <p><strong>Why should I do it?</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-7 explanation">
                                <p>
                                    The fewer clicks it takes for visitors to find what they are looking for on your website, the more likely you are to retain them. Having carefully crafted posts adjacent to your business listing in Google search results themselves means you can attract clients before they even land on your website and quickly direct them to content relevant to them
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-8 title">
                                <p><strong>How can I get started?</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-9 explanation">
                                <p>To use this feature, you must have an active business listing. Contact us if you need help with this or are unsure of the status of your listing.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-10 list">
                                <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                                    <tr><td>
                                        <p>1. Sign into your account at <strong><a href="http://www.google.com/business" target="_blank">www.google.com/business</a></strong></p>
                                    </td></tr>
                                    <tr><td><p>2. Go to the "Posts" tab</p></td></tr>
                                    <tr><td><p>3. Create your post and select a call to action for your potential customers.</p></td></tr>
                                    <tr><td><p>4. Publish it - and it's live on Google!</p></td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-11 explanation">
                                <p>
                                    Although this is a brand new feature and may evolve quickly, we are happy to answer any questions you might have based on currently available 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" target="_blank">
                                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                                        <tr>
                                            <td class="block-12">
                                                <img alt="[placeholder]" src="{{default.image_dir_src}}/gposts-button-01.png" tabindex="0" border="0" class="image button">
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-13 account-manager">
                                <p>Thanks,</p>
                                <p>[Account Manager]</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
