---
layout: default.hbs
subject: BLAST
---


<tr class="grade">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td class="block-1">
                    <a href="#" target="_blank">
                        <img alt="[placeholder]" src="{{default.image_dir_src}}/grade-main-image-01.png" tabindex="0" border="0" class="image">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="block-2 align-center">
                    <p><strong class="title">We want your profile to get an A+.</strong></p>
                    <p><strong class="title">Update now to receive a special discount!</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-3 btn align-center">
                    <a href="#" target="_blank">
                        <img alt="[placeholder]" src="{{default.image_dir_src}}/grade-button-01.png" tabindex="0" border="0">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="block-4">
                    <p><strong class="title">Tips For Completing Your Profile</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-5">
                    <p><strong class="subtitle">1. Include Any Missing Details of Your Professional Expertise:</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-6">
                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                            <td>
                                <ul>
                                    <li><span>Biography</span></li>
                                    <li><span>Academics</span></li>
                                    <li><span>Jurisdiction</span></li>
                                    <li><span>Practice Area</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Fees</span></li>
                                    <li><span>Affiliations</span></li>
                                    <li><span>Awards</span></li>
                                    <li><span>Languages</span></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="block-7">
                    <p><strong class="subtitle">2. Market Your Practice All in One Place:</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-8">
                    <p>Promote your websites, social media profiles, professional profiles and publications. Be sure to include links to Google Plus, LinkedIn, Twitter, and Facebook.</p>
                </td>
            </tr>
            <tr>
                <td class="block-9">
                    <p><strong class="subtitle">3. Answer Questions in Ask a Lawyer:</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-10">
                    <p>Earn points and badges while gaining exposure to potential clients. <a href="#" target="blank">Ask a Lawyer</a> is also a great way to participate in the legal community.</p>
                </td>
            </tr>
            <tr>
                <td class="block-11 contactus">
                    <p class="tagline">Justia Lawyer Directory Team</p>
                    <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
