---
subject: "[Team] The Justia Insider - <%= dateFormat.string %> edition"
---

{{>preheader text="Our monthly employee newsletter with company updates and announcements ----- "}}

{{#table class="internal-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.internal}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>welcome widgetConfig=welcome}}
        
        {{>milestones widgetConfig=milestones}}
        
        {{>portal-news widgetConfig=portalNews}}

        {{>our-blog}}
        
        {{>birthday widgetConfig=birthday}}

        {{>widget-ad widgetClass="-jld-ad-quote" widgetConfig=advertisements.quote}}

        {{!-- 2 columns, for 2 people --}}
        {{>new-people-2 widgetConfig=newPeople2}}

        {{!-- image and text aside, can be use for one to + 2 people --}}
        {{!-- {{>new-people-2 widgetConfig=newPeople2}} --}}

        {{!-- supports image on top or/and bottom delete the one not needed --}}
        {{>blast-past widgetConfig=blastPast}}
        
        {{!-- 2 columns, for 2 people --}}
        {{!-- {{>holidays widgetConfig=holidays}} --}}
        
        {{!-- image and text aside, can be use for one to + 2 holidays --}}
        {{>holidays widgetConfig=holidays}}

        {{!-- supports image on top or/and bottom delete the one not needed --}}
        {{>team-activity widgetConfig=teamActivity}}

        {{!-- image and text aside --}}
        {{!-- {{>team-activity-2 widgetConfig=teamActivity2}} --}}

        {{!-- Same layout as Milestones --}}
        {{!-- {{>wellness-items widgetConfig=wellnessItems}} --}}
        
        {{>reviews widgetConfig=reviews}}

        {{!-- E X T R A S --}}
        {{!-- Not Commonly Used --}}

        {{!-- image, text and lists below --}}
        {{>team-activity-3 widgetConfig=teamActivity3}}

        {{!-- tricky block with bg image --}}
        {{!-- {{>reminders widgetClass="-reminders" widgetConfig=reminders}} --}}

        {{!-- {{>widget-ad widgetClass="-jld-ad-event" widgetConfig=advertisements.event}} --}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.internal}}
    </td>
  </tr>
{{/table}}
