---
subject: "[Team] The Justia Insider - <%= dateFormat.string %> edition"
---

{{>preheader text="Our monthly employee newsletter with company updates and announcements ----- "}}

{{#table class="internal-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.internal}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>welcome widgetConfig=welcome}}
        
        {{>milestones widgetConfig=milestones}}
        
        {{>birthday widgetConfig=birthday}}

        {{>our-blog}}

        {{>widget-ad widgetClass="-jld-ad-quote" widgetConfig=advertisements.quote}}
        
        {{>holidays widgetConfig=holidays}}

        {{>new-people}}

        {{>team-activity widgetConfig=teamActivity}}

        {{>widget-ad widgetClass="-jld-ad-event" widgetConfig=advertisements.event}}

        {{>blast-past widgetConfig=blastPast}}

        {{>take-pause widgetConfig=takePause}}
        
        {{>reviews widgetConfig=reviews}}
        
        {{!-- {{>teammates widgetConfig=teammates}} --}}
        
        {{!-- {{>wellness widgetConfig=wellness}} --}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.internal}}
    </td>
  </tr>
{{/table}}
