---
subject: "[Team] The Justia Insider - <%= dateFormat.string %> edition"
---

{{>preheader text="Our monthly employee newsletter with company updates and announcements ----- "}}

{{#table class="internal-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.internal}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>welcome widgetConfig=welcome}}
        
        {{>milestones widgetClass="-blue-bg" widgetConfig=milestones}}
        
        {{>portal-news widgetConfig=portalNews}}

        {{>our-blog widgetClass="-blue-bg"}}
        
        {{>birthday widgetConfig=birthday}}

        {{!-- image and text aside, can be use for one to + 2 people --}}
        {{!-- {{>new-people-2 widgetClass="-blue-bg" widgetConfig=newPeople2}} --}}

        {{>widget-image-description widgetClass="-jld-ad-quote" widgetConfig=quote}}

        {{!-- {{>widget-ad widgetClass="-jld-ad-quote -blue-bg" widgetConfig=advertisements.quote}} --}}
        {{>widget-image-description widgetClass="-pets-1" widgetConfig=pets}}
        
        {{!-- image and text aside, can be use for one to + 2 holidays --}}
        {{!-- {{>widget-image-description widgetClass="-holidays-2 -blue-bg" widgetConfig=holidays2}} --}}

        {{!-- 2 columns, for 2 people --}}
        {{!-- {{>new-people widgetClass="-blue-bg" widgetConfig=newPeople}} --}}
        
        {{!-- 2 columns, for 2 people --}}
        {{!-- {{>holidays widgetClass="-blue-bg" widgetConfig=holidays}} --}}

        {{!-- supports image on top or/and bottom delete the one not needed --}}
        {{!-- {{>widget-image-description widgetClass="-blast-past" widgetConfig=blastPast}} --}}

        {{!-- supports image on top or/and bottom delete the one not needed --}}
        {{!-- change tje widgetConfig depending on the json that contains the info you need --}}
        {{>widget-image-description widgetClass="-team-activity-01 -blue-bg" widgetConfig=teamActivity}}

        {{!-- Same layout as Milestones --}}
        {{!-- {{>wellness-items widgetClass="-blue-bg" widgetConfig=wellnessItems}} --}}
        
        {{!-- {{>reviews widgetClass="" widgetConfig=reviews}} --}}

        {{!-- image and text aside --}}
        {{!-- {{>team-activity-2 widgetClass="-blue-bg" widgetConfig=teamActivity2}} --}}

        {{!-- E X T R A S --}}
        {{!-- Not Commonly Used --}}

        {{!-- image, text and lists below --}}
        {{!-- {{>team-activity-3 widgetClass="-blue-bg" widgetConfig=teamActivity3}} --}}

        {{!-- tricky block with bg image --}}
        {{!-- {{>reminders widgetClass="-reminders -blue-bg" widgetConfig=reminders}} --}}

        {{!-- {{>widget-ad widgetClass="-jld-ad-event -blue-bg" widgetConfig=advertisements.event}} --}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.internal}}
    </td>
  </tr>
{{/table}}
