---
subject: <%= dateFormat.string %> edition - Justia’s exclusive newsletter!
---

{{>preheader text="News and developments from Justia and the tech world ----- "}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>welcome widgetConfig=welcome.jld}}

        {{>featured-news widgetUtmVars=featuredNews.utm.jld}}

        {{>tip-month widgetConfig=tipMonth.jld}}

        {{!
        // TODO: Apply this change in the templates: `singleSite=true`
        }}
        {{>featured-site-month singleSite=true addDescription=true}}

        {{>widget-ad widgetClass="-book" widgetConfig=advertisements.jld.book}}

        {{>tech-news}}

        {{!-- {{>did-you-know widgetConfig=didYouKnow.jld}} --}}

        {{>seo-news}}

        {{>answers-leaderboard}}

        {{>legal-industry-news}}

        {{>featured-lawyer}}

        {{>jobs-subscribe}}

        {{>social-media-news}}

        {{>inside-justia}}

        {{>events-we-attended}}

        {{>internet-stats}}

        {{>widget-ad widgetClass="-jld-ad" widgetConfig=advertisements.jld.ad1}}

        {{>jurispro}}

        {{>law-events}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
