---
subject: <%= dateFormat.string %> edition - Justia’s exclusive newsletter!
---

{{>preheader text="News and developments from Justia and the tech world ----- "}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>welcome widgetConfig=welcome.jld}}

        {{>featured-news widgetUtmVars=featuredNews.utm.jld}}

        {{!-- {{>tip-month widgetConfig=tipMonth.jld}} --}}

        {{>featured-site-month listSites=true}}

        {{>ad-jld-01}}

        {{>tech-news}}

        {{>did-you-know widgetConfig=didYouKnow.jld}}

        {{>seo-news}}

        {{>answers-leaderboard}}

        {{>legal-industry-news}}

        {{>annotator}}

        {{>jobs-subscribe}}

        {{>social-media-news}}

        {{>inside-justia}}

        {{>events-we-attended}}

        {{>internet-stats}}

        {{>ad-jld-02 widgetConfig=advertisements.jld.ad2}}

        {{>jurispro}}

        {{>law-events}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
