---
layout: responsive-opensans.hbs
subject: <%= currentMonthString %> <%= currentYear %> edition - Justia’s exclusive newsletter!
---

{{>preheader text="News and developments from Justia and the tech world ----- "}}

<!-- jld-newsletter -->
{{#table class='jld-newsletter' align=''}}

  <tr>
    <!-- align-center valign-top -->
    <td height="100%" width="100%" class="align-center valign-top">
      {{>main-header
        withDate=true
        logoName='insights'
        logoLink=default.header.logo.link.jld.url
        logoUtmVars=default.header.logo.link.jld.utm
      }}
    </td>
  </tr>

  <tr>
    <!-- align-center valign-top -->
    <td height="100%" width="100%" class="align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>welcome jldNewsletter=true}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>featured-news jldNewsletter=true}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>featured-site-month listSites=true}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>jld-advertisement-01}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>tech-news}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>seo-news}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>answers-leaderboard}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>social-media-news}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>legal-industry-news}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>annotator}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>tip-month jldNewsletter=true}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>did-you-know}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>meet-our-team}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>pugs-tale}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>jld-advertisement-02}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>internet-stats}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>jurispro}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>law-events}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>

  <tr>
    <!-- align-center valign-top -->
    <td height="100%" width="100%" class="align-center valign-top">
      {{>main-footer
        socialOnTop=true
        lookAndFeel='light-bright'
        logoName='insights'
        logoLink=default.footer.logo.link.jld.url
        logoUtmVars=default.footer.logo.link.jld.utm
        navigationElements=default.footer.navigation.items
        disclaimerText=default.footer.disclaimer.jld
        addressElements=default.footer.address.jld
      }}
    </td>
  </tr>

{{/table}}
