---
layout: responsive.hbs
subject: <%= currentMonthString %> <%= currentYear %> edition - Justia’s exclusive newsletter!
---

{{>preheader text="News and developments from Justia and the tech world ----- "}}

{{#table class="jld-newsletter" align=""}}

  <tr>
    <td height="100%" width="100%" class="align-center valign-top">
      {{>main-header
        withDate=true
        logoName="insights"
        logoLink=default.header.logo.link.jld.url
        logoUtmVars=default.header.logo.link.jld.utm
      }}
    </td>
  </tr>

  <tr>
    <td height="100%" width="100%" class="align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>welcome widgetConfig=welcome.jld}}
      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>

  <tr>
    <td height="100%" width="100%" class="align-center valign-top">
      {{>main-footer
        socialOnTop=true
        lookAndFeel="light-bright"
        logoName="insights"
        logoLink=default.footer.logo.link.jld.url
        logoUtmVars=default.footer.logo.link.jld.utm
        navigationElements=default.footer.navigation.items
        disclaimerText=default.footer.disclaimer.jld
        addressElements=default.footer.address
      }}
    </td>
  </tr>

{{/table}}
