---
layout: blast.hbs
subject: BLAST
---

<tr class="jobs">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="main-image">
          <a href="#" target="_blank">
            <img alt="[placeholder]" src="{{default.imageDirSrc}}/jobs-main-image-01.png" tabindex="0"
              border="0" class="image">
          </a>
        </td>
      </tr>
      <tr>
        <td class="main-content">
          <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td class="title">
                <strong>Employment Opportunities for <br/>Lawyers, Law Students and Legal Professionals</strong>
              </td>
            </tr>
            <tr>
              <td class="intro">
                <p>The Justia Legal Jobs newsletter is a free service that features employment opportunities from across the nation for lawyers, law students and legal professionals. Each month, we will highlight private practice, corporate, in-house, and public service job openings that span a broad range of practice areas and industries. This is free for job seekers!</p>
              </td>
            </tr>
            <tr>
              <td class="examples-text">
                <p>Subscribe to our newsletter to see more listings like the ones below:</p>
              </td>
            </tr>
            <tr>
              <td class="jobs-listing">
                <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                    <td class="location-title">
                      <img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-location-01.png" alt="Location Pin">
                      <strong>CA - Los Angeles</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="location-jobs">
                      <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                          <td class="job-info">
                            <a href="#" class="job-title">
                              <span>Counsel, Content Intellectual Property</span>
                            </a>
                            <br/>
                            <a href="#" class="company">
                              <span>Netflix</span>
                            </a>
                          </td>
                          <td class="job-details-btn">
                            {{> ui-real-text-button buttonLink="#" buttonText="VIEW DETAILS" }}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="jobs-listing">
                <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                    <td class="location-title">
                      <img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-location-01.png" alt="Location Pin">
                      <strong>DC - Washington</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="location-jobs">
                      <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                          <td class="job-info">
                            <a href="#" class="job-title">
                              <span>Counsel, Criminal Justice</span>
                            </a>
                            <br/>
                            <a href="#" class="company">
                              <span>Lawyers’ Committee for Civil Rights Under Law</span>
                            </a>
                          </td>
                          <td class="job-details-btn">
                            {{> ui-real-text-button buttonLink="#" buttonText="VIEW DETAILS" }}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="jobs-listing">
                <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                    <td class="location-title">
                      <img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-location-01.png" alt="Location Pin">
                      <strong>NY - New York City</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="location-jobs">
                      <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                          <td class="job-info">
                            <a href="#" class="job-title">
                              <span>Attorney, Voting Rights & Elections</span>
                            </a>
                            <br/>
                            <a href="#" class="company">
                              <span>Brennan Center for Justice at NYU School of Law</span>
                            </a>
                          </td>
                          <td class="job-details-btn">
                            {{> ui-real-text-button buttonLink="#" buttonText="VIEW DETAILS" }}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="-red -large cta-button">
                {{> ui-real-text-button buttonLink="#" buttonText="Subscribe Now" }}
              </td>
            </tr>
            <tr>
              <td class="contactus">
                <p class="tagline">Justia Legal Jobs Team</p>
                <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
              </td>
            </tr>
            <tr>
              <td class="footer">
                <p>
                  Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="#" target="_blank"><strong>Learn More »</strong></a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
