---
subject: "JUSTIA Lawyer Directory"
---

{{>preheader text="Justia Lawyer Directory"}}

{{#table class="blast luck-marketing" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{#table class="blast-content set-max-width"}}
        <tr>
          <td class="-cell">
            {{#table class="blast-content set-max-width"}}
              <tr>
                <td class="content -description -idx-top" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides {{this.responsive}}">
                  <p><strong>We’re sorry.</strong><br>The other day we sent an email that did not give you the ability to contact us. Please disregard the previous email and use this version for reference.</p>
                </td>
              </tr>
            {{/table}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>blast-content widgetConfig=luckMarketing
      }}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
