---
layout: default.hbs
subject: September
---


<tr>
    <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
        <tr>
            <td width="100%" align="center" valign="top">
                <a href="#" style="text-decoration:none;">
                    <img alt="Sample" src="{{default.image_dir_src}}/newyear-background-01.jpg" tabindex="0" width="600" height="446" border="0" style="display:block;">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:25px 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:18px; line-height:1.5; margin:0; Margin:0; color:#000000;"><strong>Here’s Some Helpful Tips for More Exposure</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:0 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#000000;"><strong>Participate in the legal community</strong></p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#000000;">Answer questions in <a target="_blank" href="#" style="text-decoration:none; color:#0a56c6;">Ask a Lawyer</a> — Earn points and badges while gaining exposure to potential clients.
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:0 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#000000;"><strong>Focus your marketing efforts</strong></p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#000000;"><a target="_blank" href="#" style="text-decoration:none; color:#0a56c6;">Additional Premium Placements</a> can increase visibility. We offer different levels of placements that may be tailored to your specific marketing goals.
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:0 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#000000;">
                If you have any questions, please feel free to call us or fill out <a target="_blank" href="#" style="text-decoration:none; color:#0a56c6;">this form.</a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding:0 30px 22px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#3c3b3b;">Justia Lawyer Directory Team</p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:17px; line-height:1.4; margin:0; Margin:0; color:#3c3b3b;"><strong><a href="tel:8885878421" target="_blank" style="text-decoration:none; color:#0a56c6;">(888) 587-8421</a></strong></p>
            </td>
        </tr>
    </table>
</tr>
