---
layout: default.hbs
subject: October
---


<tr>
    <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
        <tr>
            <td width="100%" align="center" bgcolor="#0072bc">
                <img alt="Can Potential Clients Reach You?" src="{{default.image_dir_src}}/nov-contactinfo-banner-01.png" tabindex="0" width="600" height="250" border="0" style="display:block;">
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:24px 30px 12px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:18px; line-height:1.4; margin:0; Margin:0; color:#02337c;"><strong>Here is what is currently listed on your profile:</strong></p>
            </td>
        </tr>

        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:0 30px 30px;">
                
                <table border="0" cellpadding="0" cellspacing="0" width="540">
                    <tr>
                        <td valign="top" width="340" align="left" style="padding:18px 5px 18px 15px; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>Name</strong></p>
                        </td>
                        <td valign="top" width="740" align="left" style="padding:18px 15px 18px 0; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">John Doe</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="340" align="left" style="padding:18px 5px 18px 15px; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>Firm</strong></p>
                        </td>
                        <td valign="top" width="740" align="left" style="padding:18px 15px 18px 0; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">Parr Richey Obremskey Frandsen & Patterson LLP</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="340" align="left" style="padding:18px 5px 18px 15px; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>Contact Information</strong></p>
                        </td>
                        <td valign="top" width="740" align="left" style="padding:18px 15px 18px 0; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">Main Office</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">210 E 3rd St #204</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">Royal Oak, MI 48067</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">USA</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>Telephone:</strong> (248) 544-0888</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>Fax:</strong> (248) 544-3111</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="340" align="left" style="padding:18px 5px 18px 15px; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>Practice Areas</strong></p>
                        </td>
                        <td valign="top" width="740" align="left" style="padding:18px 15px 18px 0; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">Medical Malpractice, Personal Injury, DUI & DWI, Products Liability, Criminal Law, Traffic Tickets</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="340" align="left" style="padding:18px 5px 18px 15px; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>Jurisdictions</strong></p>
                        </td>
                        <td valign="top" width="740" align="left" style="padding:18px 15px 18px 0; border-bottom:1px solid #d6dce2;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">New Jersey</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">New York</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">U.S. District Court - Eastern District of New York</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">U.S. District Court - Southern District of New York</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">U.S. District Court for the District of New Jersey</p>
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:1.5; margin:0; Margin:0; color:#02337c;">U.S. Supreme Court</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding:0 30px 36px;">
                <a href="#" style="text-decoration:none; display:block;">
                    <img alt="Update Your Contact Info Now" src="{{default.image_dir_src}}/nov-contactinfo-button-01.png" tabindex="0" width="368" height="60" border="0" style="display:block;">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding:0 30px 30px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.4; margin:0; Margin:0; color:#02337c;">Our research shows that lawyers who complete their free profiles in our lawyer directory receive 76 times more client contacts than those with incomplete profiles.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding:0 30px 34px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.4; margin:0; Margin:0; color:#02337c;">Justia Lawyer Directory Team</p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:18px; line-height:1.3; margin:0; Margin:0; color:#02337c;"><strong><a href="tel:8885878421" target="_blank" style="text-decoration:none; color:#02337c!important;">(888) 587-8421</a></strong></p>
            </td>
        </tr>
    </table>
</tr>
