---
subject: <%= dateFormat.string %>
---

{{>preheader text=""}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-ad widgetClass="-missed-webinar" widgetConfig=advertisements.combined}}
        {{>widget-ad widgetClass="-missed-webinar" widgetConfig=webinar-recording.webinar-1}}
        {{>widget-ad widgetClass="-missed-webinar -light-bg" widgetConfig=webinar-recording.webinar-2}}
        {{>widget-title-btn widgetClass="-w-text-btn" widgetConfig=webinar-recording.onDemand}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.basic}}
    </td>
  </tr>
{{/table}}
