---
subject: Welcome - [NAME] - Team
---

{{>preheader text="Please join us and Welcome our new member [NAME]! ---- "}}

{{#table align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.newIntern}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{#table class="widget set-max-width"}}
          <tr>
            <td class="wrapper" responsive="mobile-padding-horizontal-sides">

              {{#table class="w-new-employee set-max-width"}}
                <tr>
                  <td class="title -first align-center" responsive="mobile-padding-horizontal-sides">
                    <p><strong>We Want to Welcome <br>Our New Team Member!</strong></p>
                  </td>
                </tr>
                <tr>
                  <td class="image align-center" responsive="mobile-padding-horizontal-sides">
                    {{>img src="new-team-member.png" alt="New Employee"}}
                  </td>
                </tr>
                <tr>
                  <td class="text -last align-center" responsive="mobile-padding-horizontal-sides">
                    <p>
                      <strong>[NAME]</strong><br>
                      <strong>[TEAM]</strong><br>
                      [DESCRIPTION] <br>
                      <br>
                      Contact information: <br>
                      <strong>email/IM:</strong> <strong><a href="mailto:[EMAIL]" target="_blank">[EMAIL]</a></strong>
                    </p>
                  </td>
                </tr>
              {{/table}}

            </td>
          </tr>
        {{/table}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
{{/table}}
