---
subject: Welcoming our new team member, Jorge Contreras!
---

{{>preheader text="Please join us in welcoming Jorge to Justia! ---- "}}

{{#table align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.newIntern}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{#table class="widget set-max-width"}}
          <tr>
            <td class="wrapper" responsive="mobile-padding-horizontal-sides">

              {{#table class="w-new-employee set-max-width"}}
                <tr>
                  <td class="title -first align-center" responsive="mobile-padding-horizontal-sides">
                    <p><strong>Welcome to Justia!</strong></p>
                  </td>
                </tr>
                <tr>
                  <td class="image align-center" responsive="mobile-padding-horizontal-sides">
                    {{>img src="https://justatic.com/v/1/emails/images/events/new-members/jorge-contreras.png" alt="Photo of the new team member"}}
                  </td>
                </tr>
                <tr>
                  <td class="text -last align-center" responsive="mobile-padding-horizontal-sides">
                    <p>
                      <strong>Jorge Contreras</strong><br>
                      <strong>Help Desk - Intern</strong><br>
                      <br>
                      Jorge Contreras is joining us as an Intern for the Help Desk team. He will help us provide daily support to our clients’ requests.<br>
                      He is currently working at Costco as a Cashier Supervisor and is about to graduate from the Instituto Tecnologico de Saltillo with a major in Computer Systems Engineering.<br>
                      <br>
                      Contact information:<br>
                      <strong>email/IM:</strong> <strong><a href="mailto:jorge.contreras@justia.com" target="_blank">jorge.contreras@justia.com</a></strong><br>
                      <br>
                      Welcome Jorge! Expect to be learning a lot and having some fun.<br>
                      <br>
                      The Justia Team
                    </p>
                  </td>
                </tr>
              {{/table}}

            </td>
          </tr>
        {{/table}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
{{/table}}
