---
subject: [Name], How Are You Promoting Your Law Firm?
---

{{>preheader text="Grow your online presence by focusing on online marketing."}}

{{#table class="old-way" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-ad widgetClass="-jld-ad-01" widgetConfig=advertisements.jld.ad1}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
