---
subject: Welcome Aboard, Jorge!
---

{{>preheader text="Congratulations on being part of the Justia team! ---- "}}

{{#table align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.onboarding}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{#table class="widget set-max-width"}}
          <tr>
            <td class="wrapper" responsive="mobile-padding-horizontal-sides">

              {{#table class="w-onboarding set-max-width"}}
                <tr>
                  <td class="title -first align-center" responsive="mobile-padding-horizontal-sides">
                    <p><strong>Welcome Aboard!</strong></p>
                  </td>
                </tr>
                <tr>
                  <td class="image align-center" responsive="mobile-padding-horizontal-sides">
                    {{>img src="happy-anniversary.png" alt="Work Anniversary"}}
                  </td>
                </tr>
                <tr>
                  <td class="text align-center" responsive="mobile-padding-horizontal-sides">
                    <p>
                      <strong>Dear Jorge,</strong><br>
                      <br>
                      We are very happy to have you join our team. As agreed, your start date is <strong>January 11th</strong>. We've planned out your first day to help you get acclimated a bit easier. Below is the agenda for your first day. Please note that your first meeting will start at <strong>9:00 AM</strong>.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="title align-center" responsive="mobile-padding-horizontal-sides">
                    <p><strong>Agenda</strong></p>
                  </td>
                </tr>
                <tr>
                  <td class="list" responsive="mobile-padding-horizontal-sides">
                    {{#table class="set-max-width"}}
                      <tr>
                        <td class="hour" responsive="mobile-padding-20-right">09:00 CT</td>
                        <td class="event" responsive="mobile-padding-horizontal-sides">New Orientation with Ale</td>
                      </tr>
                      <tr><td class="sep" colspan="2"></td></tr>
                      <tr>
                        <td class="hour" responsive="mobile-padding-20-right">10:30 CT</td>
                        <td class="event -even" responsive="mobile-padding-horizontal-sides">Meeting with Hector.</td>
                      </tr>
                      <tr><td class="sep" colspan="2"></td></tr>
                      <tr>
                        <td class="hour" responsive="mobile-padding-20-right">11:00 CT</td>
                        <td class="event" responsive="mobile-padding-horizontal-sides">Define working Schedule with Meztli</td>
                      </tr>
                      <tr><td class="sep" colspan="2"></td></tr>
                      <tr>
                        <td class="hour" responsive="mobile-padding-20-right">11:30 CT</td>
                        <td class="event -even" responsive="mobile-padding-horizontal-sides">Welcome to Help Desk Presentation</td>
                      </tr>
                      <tr><td class="sep" colspan="2"></td></tr>
                      <tr>
                        <td class="hour" responsive="mobile-padding-20-right">12:00 CT</td>
                        <td class="event" responsive="mobile-padding-horizontal-sides">Introduce Account Managers and Help Desk team members.</td>
                      </tr>
                      <tr><td class="sep" colspan="2"></td></tr>
                      <tr>
                        <td class="hour" responsive="mobile-padding-20-right">13:00 CT</td>
                        <td class="event -even" responsive="mobile-padding-horizontal-sides">Team Meeting</td>
                      </tr>
                      <tr><td class="sep" colspan="2"></td></tr>
                    {{/table}}
                  </td>
                </tr>
                <tr>
                  <td class="text -last align-center" responsive="mobile-padding-horizontal-sides">
                    <p>
                      <strong>email/IM:</strong> <strong><a href="mailto:jorge.contreras@justia.com" target="_blank">jorge.contreras@justia.com</a></strong> &nbsp;
                      <strong>Pw: [PASSWORD]</strong><br>
                      <br>
                      Please sign up on your new computer and change your password to a safe one. We added the New hire orientation to your calendar; please @ 9:00 join the Google Meet link in the calendar event. Also you should see the team meeting on your calendar. Meztli Vergara will message you during the day so you can join the meetings and other training even.<br>
                      <br>
                      If you have any questions, we will be happy to answer. Please don’t hesitate to contact us by email or phone.<br>
                      <br>
                      We look forward to seeing you soon.<br>
                      <br>
                      The Justia Team
                    </p>
                  </td>
                </tr>
              {{/table}}

            </td>
          </tr>
        {{/table}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
{{/table}}
