---
subject:
---

{{>preheader text=""}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetClass="-extended-banner" widgetConfig=header.extended-banner}}
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-ad widgetClass="-jld-ad-01" widgetConfig=advertisements.jld.ad1}}
        {{>widget-ad widgetClass="-jld-ad-02" widgetConfig=advertisements.jld.ad2}}
        {{>widget-ad widgetClass="-jld-ad-03" widgetConfig=advertisements.jld.ad3}}
        {{>widget-ad widgetClass="-jld-ad-04" widgetConfig=advertisements.jld.ad4}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
