---
subject: "Justia & LII Lawyer Directory Featured Lawyer"
---

{{>preheader text="Justia & LII Lawyer Directory Featured Lawyer"}}

{{#table class="closed-won -platinum" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>blast-content widgetConfig=platinumClosedWon }}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
