---
layout: blast.hbs
subject: BLAST
---

<tr class="platinum">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="block-1 main-image">
          <a href="#" target="_blank">
            <img alt="[placeholder]" src="{{default.imageDirSrc}}/platinum-main-image-01.png" tabindex="0" border="0" class="image">
          </a>
        </td>
      </tr>
      <tr>
        {{> ui-background
          classes="main-content"
          image="platinum-background-01.png"
          bgColor="#292d32"
          dimensions="width:600px; height:785px;"
          bgStart=true
          content=true
        }}
          <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td class="block block-2 title">
                <a href="#" target="_blank">
                  <span>Introducing</span>
                  <br />
                  <strong>Platinum Placements</strong>
                </a>
              </td>
            </tr>
            <tr>
              <td class="block block-3 intro-text">
                <p>
                  <a href="#" target="_blank">
                    Platinum placements are a <strong>limited-inventory product</strong>. Unlike gold placements, which rotate, platinum placements always remain at the top. Get one while they are available!
                  </a>
                </p>
              </td>
            </tr>
            <tr>
              <td class="block block-4 animation">
                <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                    {{> ui-background
                      classes="dvbg"
                      image="platinum-animation-bg-01.png"
                      bgColor="#323437"
                      dimensions="width:414px; height:386px;"
                      bgStart=true
                      content=true
                    }}
                      <a href="#" target="_blank">
                        <img alt="[placeholder]" src="{{default.imageDirSrc}}/platinum-animation-01.gif" tabindex="0" border="0" class="image">
                      </a>
                    {{> ui-background bgEnd=true }}
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="block block-5 btn -red -large">
                {{> ui-real-text-button buttonLink="#" buttonText="I Want My Platinum Placement" }}
              </td>
            </tr>
            <tr>
              <td class="block block-6 contactus">
                <p class="tagline">Justia Lawyer Directory Team</p>
                <p class="phone">
                  <strong>
                    <a href="tel:8885878421" target="_blank">(888) 587-8421</a>
                  </strong>
                </p>
              </td>
            </tr>
          </table>
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <td class="block block-7 learn-more">
          <p>Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="#" target="_blank"><strong>Learn More »</strong></a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
