---
subject: <%= dateFormat.string %>
---

{{>preheader text=""}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-ad widgetClass="webinar-07" widgetConfig=advertisements.jld.webinar-07}}

        {{>webinar-details widgetConfig=webinar-details.webinar-07}}


      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
