---
subject: Your Justia Lawyer Directory Monthly Snapshot
---

{{>preheader text="Take a look at your report."}}

{{#table}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>

  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{#table class="top-container-wrapper set-max-width"}}
          <tr>
            {{>ui-background
              backgroundBehavior="cell"
              backgroundStart=true
              bgImage="fade-background-01.png"
              bgColor="#f2f2f2"
              bgWidth="600"
              bgCellClasses="blocks-wrapper"
              bgCellResponsiveClasses="mobile-padding-horizontal-sides"
            }}
              {{>welcome premium=true}}
              {{>widget-gap}}
              {{>profile-info premium=true}}
              {{>widget-gap}}
              {{>profile-stats premium=true}}
              {{>widget-gap}}
              {{>rating premium=true}}
              {{>widget-gap}}
              {{>contact-info premium=true}}
              {{>widget-gap}}
              {{>ad premium=true}}
            {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
          </tr>
        {{/table}}
      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>

  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
