---
layout: default.hbs
subject: BLAST
---


<tr class="premium-membership">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
            <tr>
              <td class="block-1">
                <img alt="[placeholder]" src="{{default.image_dir_src}}/premium-membership-title-01.png" tabindex="0" border="0" class="image">
              </td>
            </tr>
            <tr>
              {{> background classes="dvbg" image="premium-membership-background-01.png" bgColor="#06357a" dimensions="width:100%; height:365px;" bgStart=true content=true }}
                <img src="{{default.image_dir_src}}/premium-membership-animation-01.gif" tabindex="0" border="0">
              {{> background bgEnd=true }}
            </tr>
            <tr>
              <td class="block-2">
                <p><strong>Premium Members receive higher placements in the <br />Justia & LII Lawyer Directories.</strong></p>
                <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" class="button-gold-upgrade">
                      <tr>
                          <td align="center">
                              <a target="_blank" href="mailto:support@justia.com" Subject="Upgrade to Premium Membership" bgcolor="#edaa00">Upgrade to Premium Membership</a>
                          </td>
                      </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="block-3">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr class="list-title">
                    <td>
                      <p><strong>Other benefits of Premium Membership include:</strong></p>
                    </td>
                  </tr>
                  <tr class="item">
                    <td>
                      <p><img src="{{default.image_dir_src}}/premium-membership-bullet-01.png" tabindex="0" border="0"><span class="text"><strong>Increased Interaction with Potential Clients</strong> — Premium Profiles feature contact forms. Competitor ads are also removed from your profile.</span></p>
                    </td>
                  </tr>
                  <tr class="item">
                    <td>
                      <p><img src="{{default.image_dir_src}}/premium-membership-bullet-01.png" tabindex="0" border="0"><span class="text"><strong>Access to Traffic Statistics</strong> — View traffic stats of your visibility on the Justia & LII lawyer directories and legal portals.</span></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="block-4 contactus">
                <p>
                  Justia Lawyer Directory Team <br />
                  <strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
