---
layout: blast.hbs
subject: BLAST
---

<tr class="price-increase">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        {{> ui-background classes="dvbg" image="price-increase-background-01.gif" bgColor="#4c6b97" dimensions="width:600px; height:500px;" bgStart=true content=true }}
          <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
            <tr>
              <td class="block-1">
                <p><a href="#"><strong>[Name], thank you for being a loyal member of the Justia Lawyer Directory.</strong></a></p>
              </td>
            </tr>
            <tr>
              <td class="block-2">
                <p><a href="#">We wanted to let our Premium Members know that <strong>prices are increasing</strong> for additional placements.*</a></p>
              </td>
            </tr>
          </table>
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <td class="block-3">
          <p>Now is your chance to buy more placements <strong>before prices go up!</strong></p>
        </td>
      </tr>
      <tr>
        <td class="block-4">
          {{> ui-real-text-button classes="contact-button" buttonText="Save Now" buttonLink="#" }}
        </td>
      </tr>
      <tr>
        <td class="block-5">
          <p><strong>Don’t worry</strong> — the prices for your current placements will not be affected by the increase.</p>
        </td>
      </tr>
      <tr>
        <td class="block-6">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <p>Premium Membership Benefits Include:</p>
              </td>
            </tr>
            <tr>
              <td class="star-icon">
                <img src="{{default.imageDirSrc}}/premium-membership-bullet-01.png" tabindex="0" border="0">
              </td>
              <td class="list-text">
                <p><strong>Premium Placements</strong> - enhance your visibility for your practice area(s) across an entire metro area on the Justia & LII lawyer directories.</p>
              </td>
            </tr>
            <tr>
              <td class="star-icon">
                <img src="{{default.imageDirSrc}}/premium-membership-bullet-01.png" tabindex="0" border="0">
              </td>
              <td class="list-text">
                <p><strong>Premium Profile</strong> - features a contact form to increase client interaction. Competitor ads are also removed from the profile.</p>
              </td>
            </tr>
            <tr>
              <td class="star-icon">
                <img src="{{default.imageDirSrc}}/premium-membership-bullet-01.png" tabindex="0" border="0">
              </td>
              <td class="list-text">
                <p><strong>Traffic Statistics</strong> - view traffic stats of your visibility on the Justia & LII lawyer directories and legal portals.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-7 contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
      <tr>
        <td class="block-8">
          <p>* Premium Membership prices will increase on October 1st, 2018 at 12:00 a.m. PDT</p>
        </td>
      </tr>
      <tr>
        <td class="block-9">
          <p>Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="#" target="_blank">Learn More »</a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
