---
layout: default.hbs
subject: Proposal
---

{{!-- HEADER --}}
{{> proposalHeader }}

<div class="main-content set-max-width">
    <h4>Dear [Name],</h4>
    <p>We appreciate your interest in premium membership in the Justia and Legal Information Institute (LII) Lawyer Directories. Premium membership gives you increased visibility, enhanced profile features, and traffic statistics.</p>
    <p>Each year, the Justia (https://lawyers.justia.com) and LII (https://lawyers.law.cornell.edu/) Lawyer Directories help several million visitors find lawyers. Our lawyer directories, in conjunction with our website and blog solutions, offer services that assist attorneys in reaching and retaining clients.</p>
</div>
