---
layout: default.hbs
subject: BLAST
---


<tr class="questions-light">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td class="block-1">
                    <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.image_dir_src}}/questions-light-tagline-01.png" tabindex="0" border="0" class="image tagline"></a>
                </td>
            </tr>
            <tr>
                <td class="block-2">
                    <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td class="right">
                                <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.image_dir_src}}/questions-light-button-01.png" tabindex="0" border="0" class="image button"></a>
                            </td>
                            <td class="left">
                                <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.image_dir_src}}/questions-light-main-image-01.png" tabindex="0" border="0" class="image"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="block-3">
                    <p>Answering questions in Justia’s <a href="#" target="_blank"><strong>Ask a Lawyer</strong></a> is a great way to gain exposure to potential clients. Thousands of lawyers are strengthening their reputations by answering legal questions from their local communities. These lawyers are also receiving points and increasing their visibility in the Justia and LII Lawyer Directories.</p>
                </td>
            </tr>
            <tr>
                <td class="block-4 contactus">
                    <p class="tagline">Justia Lawyer Directory Team</p>
                    <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
