---
subject: "Remove your competitors now"
---

{{>preheader text="Get ahead of your competition"}}

{{#table class="remove-competitors -v1" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>blast-content widgetConfig=removeCompetitors}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>about-justia}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
