---
layout: default.hbs
subject: BLAST
---


<tr class="schema">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td class="main-image">
                    <img alt="[placeholder]" src="{{default.image_dir_src}}/schema-main-image-01.png" tabindex="0" border="0" class="image">
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                        <tr>
                            <td class="block-1 greetings">
                                <p>Hi [Client],</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-2 introduction">
                                <p>
                                    We are making some changes to help your Justia website perform even better.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-3 explanation">
                                <p>
                                    Your Justia website already contains special code called schema markup that helps search engines obtain specific information about your firm and deliver it directly to users. In particular, we will be updating the schema markup for Reviews & Ratings so that your website has a better chance to have rich snippets displayed on search results including stars and other summary information from reviews or ratings (see screenshot below).
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-4 image-01">
                                <img alt="[placeholder]" src="{{default.image_dir_src}}/schema-search-results-01.png" tabindex="0" border="0" class="image">
                            </td>
                        </tr>
                        <tr>
                            <td class="block-5 explanation">
                                <p>
                                    In implementing this new code, we are also required by Google to add an additional testimonial-review contact form to your website (see screenshot).
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-6 image-02">
                                <img alt="[placeholder]" src="{{default.image_dir_src}}/schema-review-form-01.png" tabindex="0" border="0" class="image">
                            </td>
                        </tr>
                        <tr>
                            <td class="block-97 explanation">
                                <p>We will not be monitoring reviews that are submitted via this contact form. However, if you receive a review that should be added to your testimonials page, please feel free to let us know, and we will add it to that page.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-8 explanation">
                                <p>
                                    Schema markup is constantly evolving, so the presence as well as the look and feel of the stars and reviews on the search engine results may change in the future, depending on changes that Google might make. It is quite possible that at some point, Google will disallow or change the conditions of allowing stars on listing pages. As always, we will stay current on the latest trends among search engines and ensure that your website takes full advantage of new features, such as this one.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-9 explanation">
                                <p>If you have any questions about the implementation of the Reviews & Ratings schema markup, please don't hesitate to <a href="mailto:support@justia.com">contact us</a>.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-10 explanation">
                                <p>Thanks,</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="block-11 explanation">
                                <p>[Account Manager]</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
