---
subject: <%= dateFormat.string %> edition - Justia’s exclusive newsletter!
---

{{>preheader text="News and developments from Justia and the tech world ----- "}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{!-- {{>widget-ad widgetClass="-jld-ad-01" widgetConfig=advertisements.jld.ad1}} --}}

        {{>widget-ad widgetClass="-jld-ad-02" widgetConfig=advertisements.jld.ad2}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
