---
layout: default.hbs
subject: BLAST
---


<tr class="stats-v2">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description bg-blue">    
            <tr>
                {{> background classes="dvbg block-1 bg-blue align-center" image="stats-v2-button.png" bgcolor="#278dcf" dimensions="width:600px; height:246px;" bgStart=true content=true }}
                    <a href="#" target="_blank">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="animated-wrapper">
                                    <img alt="[placeholder]" src="{{default.image_dir_src}}/stats-v2-animated.gif" tabindex="0" border="0" class="image">
                                </td>
                            </tr>
                        </table>
                    </a>
                {{> background bgEnd=true }}
            </tr>
            <tr>
                <td class="block-2 bg-blue align-center">
                    <img alt="[placeholder]" src="{{default.image_dir_src}}/stats-v2-main-image.png" tabindex="0" border="0" class="image">
                </td>   
            </tr>
            <tr>
                <td class="block-3 bg-blue-dark align-center">
                    <p><strong>BECOME A <span>PREMIUM MEMBER</span> NOW</strong></p>
                    <p><strong>AND VIEW <span>YOUR STATS</span> EVERY DAY</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-4 bg-blue-dark align-center">
                    <p>Call Us Today and Ask About a Special Offer</p>
                </td>
            </tr>
            <tr>
                <td class="block-5 bg-blue-dark contactus">
                    <p class="tagline">Justia Lawyer Directory Team</p>
                    <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-6 bg-blue-dark expiration">
                    <p><em>* Free access to your stats will expire 24 hours after this email was sent.</em></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
