---
layout: default.hbs
subject: BLAST
---


<tr class="stats-kc-v1">
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
        <tr>
            <td class="block-1 bg-white align-center">
                <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.image_dir_src}}/stats-kc-v1-button.png" tabindex="0" border="0" class="image"></a>
            </td>
        </tr>
        <tr>
            <td class="block-2 bg-white align-center">
                <img alt="[placeholder]" src="{{default.image_dir_src}}/stats-kc-v1-main-image.png" tabindex="0" border="0" class="image">
            </td>
        </tr>
        <tr>
            <td class="block-3 align-center">
                <p>Premium members receive access to their profile statistics in the</p>
                <p>Justia Lawyer Directory and across the Justia portal properties.</p>
                <p>Become a premium member today and save 15%.</p>
            </td>
        </tr>
        <tr>
            <td class="block-4 contactus">
                <p class="tagline">Justia Lawyer Directory Team</p>
                <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
            </td>
        </tr>
        <tr>
            <td class="block-5 expiration">
                <p><em>* Free access to your stats will expire 24 hours after this email was sent.</em></p>
            </td>
        </tr>
    </table>
</tr>
