---
layout: blast.hbs
subject: BLAST
---

<tr class="template-2">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        {{> ui-background classes="dvbg" image="taxes-blue-background-01.png" bgColor="#4c6b97" dimensions="width:100%; height:365px;" bgStart=true content=true }}
          <img src="{{default.imageDirSrc}}/taxes-blue-animation-01.gif" tabindex="0" border="0">
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <td class="block-2">
          <p><strong>Become a Premium Member before the end of the year to get your tax savings.</strong></p>
        </td>
      </tr>
      <tr>
        <td class="block-3">
          <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" class="button-red-contact">
                <tr>
                    <td align="center">
                        <a target="_blank" href="#" Subject="Contact Us Now" bgcolor="#edaa00">CONTACT US NOW</a>
                    </td>
                </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-4">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <p><strong>Premium Membership offers multiple benefits:</strong></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img src="{{default.imageDirSrc}}/taxes-star-bullet-01.png" tabindex="0" border="0">Access to Traffic Statistics. View traffic stats of your visibility on the Justia &amp; LII lawyer directories and legal portals.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img src="{{default.imageDirSrc}}/taxes-star-bullet-01.png" tabindex="0" border="0">Increased Exposure. Premium Placements enhance your visibility for your practice area(s) across an entire metro area on the Justia &amp; LII lawyer directories.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img src="{{default.imageDirSrc}}/taxes-star-bullet-01.png" tabindex="0" border="0">Increased Interaction with Potential Clients. Premium Profiles feature contact forms. Competitor ads are also removed from your profile.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-5">
          <p>Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere. Est, ut dicis, inquam.</p>
        </td>
      </tr>
      <tr>
        <td class="block-6 contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
