---
layout: default.hbs
subject: BLAST
---


<tr class="template-1">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                {{> background classes="dvbg" image="screenshot-background-01.png" bgcolor="#052a61" dimensions="width:600px; height:420px;" bgStart=true content=true }}
                    <a href="#" target="_blank">
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                            <tr>
                                <td class="block-1">
                                    <img alt="Get More Clients From Your Website" src="{{default.image_dir_src}}/screenshot-desc-01.png" tabindex="0" border="0">
                                </td>
                            </tr>
                            <tr>
                                <td class="block-2">
                                    <img alt="[client-name]" src="{{default.image_dir_src}}/screenshot.png" tabindex="0" border="0">
                                </td>
                            </tr>
                        </table>
                    </a>
                {{> background bgEnd=true }}
            </tr>
            <tr>
                <td class="text t1">
                    <p><b>Page Speed:</b> Your website’s mobile load time is slow.</p>
                </td>
            </tr>
            <tr>
                <td class="text t2">
                    <p><b>Accelerated Mobile Pages:</b> Your website does not use AMP or has a problem with its AMP implementation.</p>
                </td>
            </tr>
            <tr>
                <td class="text t3">
                    <p><b>Security:</b> Your website is NOT secured with HTTPS.</p>
                </td>
            </tr>
            <tr>
                <td class="button">
                    <img alt="[client-name]" src="{{default.image_dir_src}}/button.png" tabindex="0" border="0">
                </td>
            </tr>
        </table>
    </td>
</tr>