---
layout: blast.hbs
subject: BLAST
---

<tr class="template-1">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        {{> ui-background classes="animation-banner" image="newyear-banner-static-01.png" bgColor="#06357a" dimensions="width:600px; height:367px;" bgStart=true content=true }}
          <a href="#" target="_blank">
            <table border="0" cellspacing="0" cellpadding="0" align="center" class="banner-gif">
              <tr>
                <td class="gif-wrapper">
                  <img alt="[placeholder]" src="{{default.imageDirSrc}}/newyear-banner-animation-01.gif" tabindex="0" border="0" class="image">
                </td>
              </tr>
            </table>
          </a>
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <td class="inner-content text-1">
          <p>Become a <strong>Premium Member</strong> and receive even more benefits, including:</p>
        </td>
      </tr>
      <tr>
        <td class="inner-content text-2">
          <p><strong>Premium Placements</strong> - enhance your visibility for your practice area(s) across an entire metro area on the Justia & LII lawyer directories.</p>
        </td>
      </tr>
      <tr>
        <td class="inner-content text-3">
          <p><strong>Premium Profile</strong> - features a contact form to increase client interaction. Competitor ads are also removed from the profile.</p>
        </td>
      </tr>
      <tr>
        <td class="inner-content text-4">
          <p><strong>Traffic Statistics</strong> - view traffic stats of your visibility on the Justia & LII lawyer directories and legal portals.</p>
        </td>
      </tr>
      <tr>
        <td class="inner-content red-button">
          <strong><a target="_blank" href="#" subject="Click Here For More Info">CLICK HERE FOR MORE INFO</a></strong>
        </td>
      </tr>
      <tr>
        <td class="inner-content contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
