---
layout: blast.hbs
subject: BLAST
---

<tr class="tips-06 tips">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="block-1">
          <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.imageDirSrc}}/tips-main-image-06.png" tabindex="0" border="0" class="image"></a>
        </td>
      </tr>
      <tr>
        <td class="block-8">
          <strong class="block-title">The Justia Lawyer Directory now features<br>attorney reviews and ratings!</strong>
          <p>Any verified lawyer with a Justia account can write a review for another lawyer, provided that they are personally familiar with the attorney’s work.</p>
          <p>The more reviews you receive, the greater your online reputation and your standing in the community. Showcase your badge with your Justia Lawyer Rating on your websites, blogs, and other properties.</p>
          <strong class="subtitle">It’s easy to request peer reviews:</strong>
          <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" class="ordered-list">
            <tr class="first-row">
              <td>1 -</td>
              <td>Direct your colleague to the <strong>"Rate this Lawyer"</strong> button under your name on your <strong><a href="#" target="_blank">profile page</a></strong>.</td>
            </tr>
            <tr class="second-row">
              <td>2 -</td>
              <td>We'll notify you once you receive a review(s).</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-3">
          <strong class="block-title">Be the first lawyer in your area to get a perfect 10!</strong>
          <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" class="new-red-button">
                <tr>
                    <td align="center">
                        <a target="_blank" href="#" Subject="Learn more about the Justia Lawyer Rating" bgcolor="#e2231a">Learn more about the Justia Lawyer Rating</a>
                    </td>
                </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-9">
          <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
            <tr>
              <td>
                <p><strong>Disclaimer:</strong> Justia is not a law firm and cannot provide legal advice. Be sure to check your state bar rules to confirm that asking for and posting peer reviews is ethically permissible in your jurisdiction.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-4">
          <p><strong class="block-title">Complete your profile</strong></p>
          <p>Your profile is 90% complete. Here are some ways to get to 100%:</p>
          <table border="0" cellpadding="0" cellspacing="0" align="center" class="list-01">
            <tr>
              <td>
                <p><img src="{{default.imageDirSrc}}/tips-blue-bullet-01.png" tabindex="0" border="0"><strong>Add certifications</strong></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img src="{{default.imageDirSrc}}/tips-blue-bullet-01.png" tabindex="0" border="0"><strong>Include your speaking engagements</strong></p>
              </td>
            </tr>
          </table>
          <p>Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles.</p>
        </td>
      </tr>
      <tr>
        <td class="block-10">
          <table class="table-wrap">
            <tr>
              <td>
                <table>
                  <tr>
                    <td class="column-photo"><img src="{{default.imageDirSrc}}/tips-placements-01.png" tabindex="0" border="0"></td>
                    <td class="column-text">
                      <p><strong class="block-title">Focus your marketing efforts.</strong></p>
                      <p><strong><a href="https://www.justia.com/marketing/lawyer-directory/" target="_blank">Additional Premium Placements</a></strong> will increase your visibility. We offer different levels of placements to maximize your marketing goals. Be featured in all the practice areas and localities that matter to you.</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-6 contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
      <tr>
        <td class="block-7">
          <p>Your lawyer profile appears on the websites of <strong>Justia</strong> and Cornell Law School's Legal Information Institute where millions of users search for laws, legal resources, and lawyers.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
