---
layout: blast.hbs
subject: BLAST
---

<tr class="tips-04 tips">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="block-1">
          <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.imageDirSrc}}/tips-main-image-04.png" tabindex="0" border="0" class="image"></a>
        </td>
      </tr>
      <tr>
        <td class="block-2">
          <strong class="block-title">Show potential clients that you’re the best choice.</strong>
          <p>We noticed that your profile is missing a biography that highlights your interests and qualifications.</p>
          <p>Create a narrative about your entire practice that persuades potential clients to choose you over other attorneys listed on our directories.</p>
        </td>
      </tr>
      <tr>
        <td class="block-3">
          <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" class="button-red">
                <tr>
                    <td align="center">
                        <a target="_blank" href="#" Subject="Update my Biography" bgcolor="#e2231a">Update my Biography</a>
                    </td>
                </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-4">
          <p><strong class="block-title">Complete your profile</strong></p>
          <p>Your profile is 90% complete. Here are some ways to get to 100%:</p>
          <table border="0" cellpadding="0" cellspacing="0" align="center" class="list-01">
            <tr>
              <td>
                <p><img src="{{default.imageDirSrc}}/tips-blue-bullet-01.png" tabindex="0" border="0"><strong>Add certifications</strong></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img src="{{default.imageDirSrc}}/tips-blue-bullet-01.png" tabindex="0" border="0"><strong>Include your speaking engagements</strong></p>
              </td>
            </tr>
          </table>
          <p>Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles.</p>
        </td>
      </tr>
      <tr>
        <td class="block-5">
          <table>
            <tr>
              <td class="column-photo"><img src="{{default.imageDirSrc}}/tips-placements-01.png" tabindex="0" border="0"></td>
              <td class="column-text">
                <p><strong class="block-title">Focus your marketing efforts.</strong></p>
                <p><strong><a href="https://www.justia.com/marketing/lawyer-directory/" target="_blank">Additional Premium Placements will</a></strong> increase your visibility. We offer different levels of placements to maximize your marketing goals. Be featured in all the practice areas and localities that matter to you.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="block-6 contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
      <tr>
        <td class="block-7">
          <p>Your lawyer profile appears on the websites of <strong>Justia</strong> and Cornell Law School's Legal Information Institute where millions of users search for laws, legal resources, and lawyers.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
