---
layout: blast.hbs
subject: BLAST
---

<tr class="unclaimed">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        {{> ui-background classes="dvbg main-image" image="unclaimed-background-01.png" bgColor="#06357a" bgStart=true content=true }}
          {{> ui-real-text-button buttonLink="https://www.justia.com/" buttonText="Get More Contacts Now!" }}
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <td class="intro-text">
          <p>
            Hi [name],<br/>
            We encourage you to take a moment to review your free profile. Lawyers who complete their free profiles in our lawyer directory receive 76 times more client contacts than those with incomplete profiles, and it takes just 60 seconds!
          </p>
        </td>
      </tr>
      <tr>
        <td class="btn-container">
          <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td>
                {{> ui-real-text-button buttonLink="https://www.justia.com/" buttonText="Complete My Profile" }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="badge">
          <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td class="image">
                <img alt="[placeholder]" src="{{default.imageDirSrc}}/unclaimed-badge-01.png" tabindex="0" border="0">
              </td>
              <td class="text">
                <img alt="[placeholder]" src="{{default.imageDirSrc}}/unclaimed-label-01.png" tabindex="0" border="0">
                <p>
                  The Justia Lawyer Directory now features attorney reviews and ratings. Don’t miss out on your chance to showcase your Justia Lawyer Rating badge on your websites, blogs, and other properties!
                </p>
                <a href="https://lawyers.justia.com/about-the-justia-lawyer-rating-reviews">Learn more ›</a>
              </td>
            </tr>
        </td>
      </tr>
      <tr>
        <td class="block-6 contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
