---
layout: default.hbs
subject: BLAST
---


<tr class="update-photo">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td class="img-first-impression block-1">
                    <img alt="[placeholder]" src="{{default.image_dir_src}}/photo-text-01.png" tabindex="0" border="0" class="image">
                </td>
            </tr>
            <tr>
                <td class="img-update-photo block-2">
                    <img alt="[placeholder]" src="{{default.image_dir_src}}/update-photo-text-01.png" tabindex="0" border="0" class="image">
                </td>
            </tr>
            <tr>
                <td class="img-button block-3">
                    <a href="profile.extra_info.urls.edit" target="_blank">
                        <img alt="[placeholder]" src="{{default.image_dir_src}}/update-photo-button-01.png" tabindex="0" border="0" class="image">
                    </a>
                </td>
            </tr>
            <tr>
                {{> background classes="dvbg" image="update-photo-background-01.png" bgcolor="#008fb6" dimensions="width:600px; height:265px;" bgStart=true content=true }}
                <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
                    <tr>
                        <td class="img-animation block-4">
                            <img alt="[placeholder]" src="{{default.image_dir_src}}/update-photo-animation-01.gif" tabindex="0" border="0" class="image">
                        </td>
                    </tr>
                </table>
            {{> background bgEnd=true }}
            </tr>
            <tr>
                <td class="text-centered block-5">
                    <p>
                        Potential clients should see you at your very best!  A professional-looking photo will increase your profile views and make your profile stand out.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="text-centered block-6">
                    <p>Update your photo now and receive a <strong>15% discount</strong> on Premium Membership.</p>
                </td>
            </tr>
            <tr>
                <td class="block-7 contactus">
                    <p class="tagline">Justia Lawyer Directory Team</p>
                    <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-8 expiration">
                    <p><em>*Discount valid on any new yearly or three year premium placement subscriptions.</em></p>
                </td>
            </tr>
            <tr>
                <td class="block-9 expiration">
                    <p><em>This offer expires two weeks from receipt of this email.</em></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
