---
layout: default.hbs
subject: v1
---

<table border="0" cellpadding="0" cellspacing="0" width="100%">

    <tr>
        <td align="left" height="100%" width="100%" valign="top">
            <!-- email-signature -->
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="email-signature">
                <tr>
                    <td class="logo-name-v1">

                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="inner-wrapper">
                            <tr>
                                <td class="logo">
                                    <a href="https://www.justia.com/" target="_blank"><img src="https://justatic.com/v/20160219c/branding/logos/emails/justia-blue.png" alt="Justia" border="0"></a>
                                </td>

                                <td class="name-block">
                                    <p class="name"><strong>Miguel Berlanga</strong></p>
                                    <p class="team-position">Web Development Team</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="extra-info">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="inner-wrapper">
                            <tr>
                                <td class="contact-info">
                                    <p>
                                        <span class="email"><strong>e</strong>&nbsp;miguel.berlanga@justia.com</span>
                                    </p>
                                    <p>
                                        <span class="phones -p"><strong>p</strong>&nbsp;888.888.8888</span>&nbsp;&nbsp; 
                                        <span class="phones -f"><strong>f</strong>&nbsp;888.888.8888</span>
                                    </p>
                                        {{!-- <span class="phones -m"><strong>p</strong>&nbsp;888.888.8888</span>&nbsp;  --}}
                                    <p>
                                        <span class="address">1380 Pear Ave. Suite 2B Mountain View, CA 94043</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="disclaimer">
                                    <p>Justia provides legal and government information, including free access to codes, regulations, case law, dockets, forms, trademarks, patents, and government research reports, to the online community. Justia offers website design and state-of-the-art marketing solutions, catering specifically to lawyers and law firms.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="extra-links">
                                    <p>
                                        <a href="https://www.justia.com/lawyers" target="_blank">Find a Lawyer</a>
                                        <span class="vline">&#183;</span>
                                        <a href="https://answers.justia.com/" target="_blank">Ask a Lawyer</a>
                                        <span class="vline">&#183;</span>
                                        <a href="#" target="_blank">Research the Law</a>
                                        <span class="vline">&#183;</span>
                                        <a href="#" target="_blank">Legal Marketing</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
