---
layout: default.hbs
subject: v2
---

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        {{!-- <td>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque placerat semper. Etiam ex felis, mattis quis tempus vel, tincidunt efficitur mauris. Nam condimentum fermentum erat. In at metus quis enim scelerisque imperdiet. Cras eu nunc in tellus cursus convallis vitae nec velit. Suspendisse nec augue a enim ultricies porta. Fusce at dolor hendrerit, feugiat nulla a, laoreet nisl. Vivamus sapien augue, rhoncus pharetra varius at, ultrices quis purus. Donec non nisi in quam lacinia efficitur ac in enim. Sed vitae ex imperdiet, maximus ligula ut, maximus nisl. Donec non gravida felis, non viverra orci. Morbi turpis ipsum, tincidunt vitae arcu eu, interdum porttitor tellus. Duis facilisis posuere justo, quis faucibus lorem blandit vel. Mauris eleifend, odio nec mollis varius, ex lorem rhoncus velit, nec consectetur ligula augue eget sem.
            <p>Cras quis sagittis sem. Nam ultrices, erat vitae laoreet pellentesque, nunc lorem cursus eros, vitae fermentum augue turpis non diam. Aenean urna nibh, posuere pulvinar urna vitae, accumsan fringilla ipsum. Quisque gravida erat a semper bibendum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus tincidunt euismod ligula sed placerat. Fusce ut odio porta, fringilla nisl non, vestibulum sem. Duis dapibus efficitur eros sit amet blandit. Morbi pulvinar tellus in pulvinar tristique.</p>
            <p>Phasellus id tellus ex. In nisi est, iaculis et posuere placerat, lobortis non turpis. Pellentesque ut leo sodales, porttitor lorem sit amet, varius leo. Maecenas eu lorem quis magna gravida congue in non leo. Phasellus ut placerat velit. Nullam ex lacus, interdum ut volutpat et, suscipit ac felis. Mauris id purus semper, mollis velit sed, gravida ante. Aliquam lacinia fermentum nibh, sed lobortis lacus finibus tempus. Etiam pretium maximus sem a pellentesque. Nam sodales tincidunt venenatis. Aliquam non lectus et lectus ullamcorper dapibus a a ligula. In tellus odio, semper non pulvinar ut, cursus in magna. Nulla nisi nunc, hendrerit tristique aliquam sed, iaculis non risus. Suspendisse tincidunt venenatis massa, et interdum mi ultrices nec.</p>
            <p>Praesent bibendum lobortis placerat. In quis nunc sit amet libero sagittis feugiat. Phasellus nec risus mollis nibh rutrum convallis. Aliquam vel risus id ipsum faucibus dignissim nec quis ante. Cras condimentum accumsan nulla eget mattis. Nulla nunc urna, tincidunt nec sodales in, consectetur non dui. Donec ac est pellentesque, pellentesque diam sed, maximus magna. Cras convallis eget orci sit amet ornare. Vivamus lacus purus, semper sed dui non, congue viverra enim. Pellentesque at velit justo. Quisque quis elit a felis interdum scelerisque. Vestibulum cursus nibh vestibulum odio porttitor tincidunt. Phasellus condimentum libero sit amet risus dapibus vestibulum. Curabitur in lectus a ante dictum egestas. Ut vitae elit eget purus pretium commodo.</p>
            <p>Etiam enim orci, pretium eu pretium sollicitudin, pharetra non lacus. Cras convallis mauris vitae lacus interdum, non imperdiet diam cursus. Quisque sit amet pulvinar sem. Cras nec orci nisi. Ut fringilla auctor ex. Nullam est ipsum, gravida vel dignissim ac, mollis eget turpis. Quisque molestie justo tortor, rhoncus consequat lacus ultrices ac. In posuere tellus eu aliquam rhoncus. Fusce nisl diam, pharetra nec pulvinar eu, tristique quis metus. In vel bibendum velit. Phasellus sit amet rhoncus mauris. Vestibulum convallis quis tortor quis vulputate. Nullam tempus erat non dictum facilisis. Maecenas pharetra lacus ac nisl scelerisque, et interdum mauris aliquet. Cras vel leo facilisis mauris porta malesuada vitae sit amet ante. Vestibulum sodales suscipit tellus eget mattis.</p></p>
        </td> --}}
        <td>
            <br><br><br>
        </td>
    </tr>


    <tr>
        <td align="left" height="100%" width="100%" valign="top">
            <!-- email-signature -->
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="email-signature">
                <tr>
                    <td class="logo-name-v4">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="inner-wrapper">
                            <tr>
                                <td class="logo">
                                    <a href="https://www.justia.com/" target="_blank"><img src="https://justatic.com/v/20160219c/branding/logos/emails/justia-blue.png" alt="Justia" border="0"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="name-block">
                                    <p class="name"><strong>Miguel Berlanga</strong></p>
                                    <p class="team-position">Conversion Team</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="extra-info">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="inner-wrapper">
                            <tr>
                                <td class="contact-info">
                                    <p>
                                        <span class="email"><strong>e:</strong>&nbsp;miguel.berlanga@justia.com</span>&nbsp;
                                        <span class="phones -personal"><strong>p:</strong>&nbsp;888.888.8888</span>
                                    </p>
                                    <p>
                                        <span class="address">1380 Pear Ave. Suite 2B Mountain View, CA 94043</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="disclaimer">
                                    <p>Justia provides legal and government information, including free access to codes, regulations, case law, dockets, forms, trademarks, patents, and government research reports, to the online community. Justia offers website design and state-of-the-art marketing solutions, catering specifically to lawyers and law firms.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="extra-links">
                                    <p>
                                        <a href="https://www.justia.com/lawyers" target="_blank">Find a Lawyer</a>
                                        <span class="vline">&#183;</span>
                                        <a href="https://answers.justia.com/" target="_blank">Ask a Lawyer</a>
                                        <span class="vline">&#183;</span>
                                        <a href="#" target="_blank">Research the Law</a>
                                        <span class="vline">&#183;</span>
                                        <a href="#" target="_blank">Legal Marketing</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
