---
subject: <%= dateFormat.string %> edition - Justia’s exclusive client newsletter!
---

{{>preheader text="News and developments from Justia and the tech world ----- "}}

{{#table class="view-stats -v1" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>blast-content}}

      {{>ui-layout-hack tableMiddleSeparator=true}}
        {{>about-justia}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
