---
subject: <%= dateFormat.string %>
---

{{>preheader text=""}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        {{>widget-ad widgetClass="" widgetConfig=webinar-newsletter.main-banner}}
        {{>widget-ad widgetClass="-ad-image -w-text-btn" widgetConfig=webinar-newsletter.webinar-1}}
        {{>widget-ad widgetClass="" widgetConfig=webinar-newsletter.justia-videos-banner}}
        {{>widget-ad widgetClass="-ad-image -w-text-btn -webinar-3" widgetConfig=webinar-newsletter.webinar-3}}
        {{>explore-webinars widgetClass="-w-text-btn" widgetConfig=exploreWebinars}}
        {{>widget-ad widgetClass="" widgetConfig=webinar-newsletter.justia-connect-banner}}

        {{>marketing-solutions widgetClass="-w-text-btn" widgetConfig=marketingSolutions}}
      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.basic}}
    </td>
  </tr>
{{/table}}
