---
subject: "JUSTIA Lawyer Directory"
---

{{>preheader text="Justia Lawyer Directory"}}

{{#table class="blast welcome welcome-7" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}
        <!-- CONTENT -->

        {{#table class="blast-content set-max-width"}}
        <tr>
          <td class="main-title" responsive="mobile-padding-horizontal-sides">
              <p>
                <a href="#" target="_blank">
                    Justia Legal Jobs<br>
                    <span><span>7 of 7</span></span>
                </a>
              </p>
          </td>
        </tr>

        <tr>
          <td class="content -image-text -idx-1 -first" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides">
            <table {{{tableAttr}}}>
              <tr>
                <td class="image" responsive="collapse-one mobile-no-padding">
                  <a href="#">
                      {{>img src="welcome-7-01.png" alt="" responsive="mobile-align-center"}}
                  </a>
                </td>
                <td class="text" responsive="collapse-one mobile-no-padding">
                  <p responsive="mobile-fz-18">
                    <a href="#">
                      Justia is developing new services to help lawyers <strong>find jobs</strong> and legal employers <strong>find candidates</strong>.
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="content -two-cols -idx-2">
            <table {{{tableAttr}}}>
              <tr>
                <td class="col -col-1" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides collapse-one mobile-reset-width mobile-no-border">
                  <a href="#">
                    {{>img src="welcome-7-02.png" alt="" responsive="mobile-align-center"}}
                  </a>
                  <p>
                    <a href="#">
                      <strong>Job Seekers</strong>
                    </a>
                  </p>
                  <p>
                    <a href="#">
                      Click here to subscribe to our free Legal Jobs newsletter, with 20+ new listings per issue.
                    </a>
                  </p>
                </td>
                <td class="col -col-2" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides collapse-one mobile-reset-width">
                  <a href="#">
                    {{>img src="welcome-7-03.png" alt="" responsive="mobile-align-center"}}
                  </a>
                  <p>
                    <a href="#">
                      <strong>Employers</strong>
                    </a>
                  </p>
                  <p>
                    <a href="#">
                      Hiring? Click here to have your job included in the next issue of our Legal Jobs newsletter.
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="content -image-text -idx-3" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides">
            <table {{{tableAttr}}}>
              <tr>
                <td class="image" responsive="collapse-one mobile-reset-width mobile-padding-bottom">
                  <a href="mailto:legaljobs@justia.com">
                    {{>img src="welcome-7-04.png" alt="" responsive="mobile-align-center"}}
                  </a>
                </td>
                <td class="text" responsive="collapse-one mobile-reset-width">
                  <p>
                    <a href="mailto:legaljobs@justia.com">
                      Justia wants to hear from you as we build our services for legal jobs! Do you have an idea or suggestion?
                    </a>
                  </p>
                  <p>
                    <a href="mailto:legaljobs@justia.com">
                      Send and e-mail to us at legaljobs@justia.com
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="content -idx-4 -last" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides">
            <p>Your lawyer profile appears on the websites of <strong>JUSTIA</strong> and Cornell Law School’s Legal Information Institute where millions of users search for laws, legal resources and lawyers.</p>
          </td>
        </tr>
        {{/table}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer}}
    </td>
  </tr>
{{/table}}
