---
subject: Welcome Email Series
---

{{>preheader text=""}}

{{#table class="jld-newsletter" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-block-first widgetClass="-jld-ad-01" widgetConfig=blockFirst.welcome.email1}}

        {{>welcome-columns widgetConfig=welcomeColumns.email1}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
