---
subject: Welcome Email Series
---

{{>preheader text=""}}

{{#table class="-blast-5-3" align=""}}
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-header widgetConfig=header.jld}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>ui-layout-hack tableStart=true}}

        {{>widget-block-first widgetClass="-first-block" widgetConfig=blockFirst.welcome.email53}}

        {{>welcome-columns widgetConfig=welcomeColumns.email53}}

        {{>widget-block-bottom widgetClass="-email-5-3" widgetConfig=blockBottom.welcome.email53}}

      {{>ui-layout-hack tableEnd=true}}
    </td>
  </tr>
  <tr>
    <td class="full-size align-center valign-top">
      {{>main-footer widgetConfig=footer.jld}}
    </td>
  </tr>
{{/table}}
