
// ----------------------------------------------------------------------------------------------------------
// O P I N I O N S   W I D G E T
// ----------------------------------------------------------------------------------------------------------


.w-tech-news {
  background-color: plt('white');

  .main-article-title {
    padding: 45px $padding 20px;

    .widget-main-title {

      a {
        color: plt('black');
        text-decoration: none;
      }
    }
  }

  .article-div {
    padding: 0 $padding;
    vertical-align: top;
  }

  .items-list {
    padding: 0 $padding 20px;

    &.-last {
      padding: 0 $padding;
    }

    &.-verylast {
      padding: 0 $padding 45px;
    }

    a {
      font-family: $sans-serif-font-family;
      font-size: 16px;
      text-decoration: none;
      line-height: 22px;
    }

    ul,
    ol {
      padding-left: 18px;
    }
  }

  .hr-separator {
    height: 1px;
    border: 0;
    margin-top: 25px;
    background: plt('silver');
    color: plt('silver');
    font-size: 0;
  }
}
