<table class="label-divider {{ class }} divider-{{ color }}" cellpadding="0" cellspacing="0" border="0" align="center">
{{#unless firstLabel }}
    <tr>
        <td colspan="2" style="height:30px; font-size:0;">&nbsp;</td>
    </tr>
{{/unless}}
    <tr>
        <td class="label align-center"><span>{{ text }}</span></td>
        <td class="empty-space"></td>
    </tr>
    <tr>
        <td colspan="2" style="height:30px; font-size:0;">&nbsp;</td>
    </tr>
</table>