
// ----------------------------------------------------------------------------------------------------------
// F O O T E R
// ----------------------------------------------------------------------------------------------------------

$social-icons--total: 2;
$social-icons-v1--size: 32px;
$social-icons-v1--gap: 4px;

$footer-logo--dimensions: image-dimensions('src/img/footer-logo.png');


// ----------------------------------------------------------------------------------------------------------

.main-footer {
    clear: both;
    background-color: plt('white');

    a {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: none;
    }

    .logo-footernav {
        padding: 32px $padding;
        background-color: plt('blumine');

        .logo,
        .footernav {
            width: percentage(1 / 2);
            vertical-align: middle;
        }

        .logo {

            img {
                display: block;
                width: nth($footer-logo--dimensions, 1);
                max-width: none;
                height: nth($footer-logo--dimensions, 2);
            }
        }

        .footernav {

            span,
            a,
            p {
                color: plt('white');
                font: 14px/1.3 $sans-serif-font-family;
            }

            .vline {
                margin: 0 6px;
            }
        }
    }

    .disclaimer p,
    span,
    a {
        font: 14px/1.3 $sans-serif-font-family;
    }

    .disclaimer {
        padding: 0 $padding floor($padding * 3);

        p {
            color: plt('scorpion');
        }
    }

    .social {
        overflow: hidden;
        padding: $padding $padding 25px;

        table {
            width: (($social-icons-v1--size * $social-icons--total) + ($social-icons-v1--gap * ($social-icons--total - 1))) !important;

            td {
                width: ($social-icons-v1--size + $social-icons-v1--gap);
                height: $social-icons-v1--size;
                text-align: left;
                vertical-align: top;

                &:last-child {
                    width: $social-icons-v1--size;
                }
            }
        }

        a {
            display: inline-block !important;
            vertical-align: middle;

            img {
                width: $social-icons-v1--size;
                height: $social-icons-v1--size;
            }
        }
    }
}
