
// ----------------------------------------------------------------------------------------------------------
// H E A D E R
// ----------------------------------------------------------------------------------------------------------

$header-log-v3-width: 370px;
$header-logo-v3-height: 33px;


// ----------------------------------------------------------------------------------------------------------

.main-header-v3 {
    background: plt('white');

    .view-in-browser {
        padding: 17px $padding;
        border-bottom: 1px solid plt('black-haze');
        background-color: plt('alabaster');
        text-align: center;
        vertical-align: top;

        p {
            font: 12px/1.38 $sans-serif-font-family;
        }
    }

    .logo {
        padding: 15px $padding;
        text-align: center;
        vertical-align: middle;

        img {
            display: block;
            width: $header-log-v3-width;
            max-width: 100%;
            margin: 0;
        }
    }
}
