/// ---------------------------
// 
// Version: 1.0.0
// 
/// ---------------------------


// ----------------------------------------------------------------------------------------------------------
// H E A D E R
// ----------------------------------------------------------------------------------------------------------

$header-logo-width: 380px;
$header-logo-height: 27px;


// ----------------------------------------------------------------------------------------------------------

.main-header {
    background: plt('white');

    .logo {
        width: 100%;
        padding: 20px $padding 15px;
        text-align: center;

        img {
            display: inline-block;
            max-width: none;
            width: $header-logo-width;
            height: $header-logo-height;
        }
    }
}

