
// ----------------------------------------------------------------------------------------------------------
// B O D Y   &   C O N T A I N E R
// ----------------------------------------------------------------------------------------------------------

body {
    background-color: plt('mercury');
}

.body {
    width: 100%;
    background-color: plt('mercury');
}

// Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something
.container {
    display: block;
    width: auto;
    max-width: $max-width;
    padding: 10px 0;
    Margin: 0 auto !important; /* makes it centered */
}

// This should also be a block element, so that it will fill 100% of the .container
.content {
    display: block;
    max-width: $max-width;
    padding: 0;
    margin: 0 auto;
    Margin: 0 auto !important;
    background-color: plt('white');
}



// ----------------------------------------------------------------------------------------------------------
// M A I N
// ----------------------------------------------------------------------------------------------------------

.article-div {
    padding: 0 $padding;
    vertical-align: top;
}

.oyez-cases {
    background-color: plt('white');

    .text {
        margin-bottom: 1em !important;

        &.-last {
            margin-bottom: 0 !important;
        }
    }

    .items-list {
        padding: 0 $padding 20px;

        &.-last {
            padding: 0 $padding;
        }

        a {
            font-family: $sans-serif-font-family;
            font-size: 16px;
            text-decoration: none;
            line-height: 22px;
        }

        ul,
        ol {
            padding-left: 18px;
        }
    }

    .subject {
        margin-bottom: 0.4em;
        font-size: 14px !important;
    }

    .dates {
        margin: 0.4em 0;

        p {
            font-size: 14px !important;
        }
    }

    .hr-separator {
        height: 1px;
        border: 0;
        margin-top: 25px;
        background: plt('silver');
        color: plt('silver');
        font-size: 1px;
    }
}

.widget {
    border-bottom: 1px solid plt('alto');
    background-color: plt('white');

    .widget-title td {
        padding: 40px $padding 20px;
    }

    &-main-title {
        color: plt('black');
        font: $font-weight--bold 20px/1.2 $sans-serif-font-family;
    }

    &-type-name {
        padding: 2px 0 0;
        color: plt('black');
        font: 16px/1.2 $sans-serif-font-family;
    }
}
