/// ---------------------------
// 
// Version: 1.0.0
// 
/// ---------------------------


// ----------------------------------------------------------------------------------------------------------
// B O D Y   &   C O N T A I N E R
// ----------------------------------------------------------------------------------------------------------

body {
    width: 100%;
    background-color: plt('mercury');
}


// Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something
// .container {
//     display: block;
//     width: auto !important;
//     width: $max-width;
//     max-width: $max-width;
//     padding: 10px 0;
//     margin: 0 auto !important; /* makes it centered */
// }

// // This should also be a block element, so that it will fill 100% of the .container
// .content {
//     display: block;
//     max-width: $max-width;
//     padding: 0;
//     margin: 0 auto;
//     background-color: plt('white');
// }

// .spacer {
//     width: $inner-max-width;
//     height: 1px !important;
//     opacity: 0;
//     display: block;
//     font-size: 0 !important;
//     margin: 0;
// }



// ----------------------------------------------------------------------------------------------------------
// M A I N
// ----------------------------------------------------------------------------------------------------------

// .widget {

//     &-type-name {
//         color: plt('shuttle-gray');
//         font-size: 14px;
//         font-weight: $font-weight--bold;
//         text-transform: uppercase;
//         line-height: 14px;
//         padding: 0 0 5px;
//     }

//     &-main-title {
//         color: plt('black');
//         font-size: 29px;
//         font-weight: $font-weight--normal;
//         line-height: 37px;
//     }
// }

.column {
    float: left;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.columns-p1,
.columns-p2 {
    overflow: hidden;
}

.columns-p1 {

    .cl-1 {
        width: 40%;
        padding-right: 5%;
    }

    .cl-2 {
        width: 55%;
    }
}

.columns-p2 {

    .cl-1 {
        width: 60%;
        padding-right: 5%;
    }

    .cl-2 {
        width: 35%;
    }
}

.columns-p3 {

    .cl-1 {
        width: 40%;
        padding-right: 5%;
    }

    .cl-2 {
        width: 55%;
    }
}

.main-content {
    background-color: plt('white');
    padding: 10px 50px $padding;
    font-family: $serif-font-family;
    font-size: 12pt;
    // font-size: pt-to-px(12);
    line-height: 1.4;

    // p {
    //     margin: 0 0 1em;
    // }
}

