
// ----------------------------------------------------------------------------------------------------------
// H E A D E R
// ----------------------------------------------------------------------------------------------------------

$header-log-v1-width: 208px;
$header-logo-v1-height: 56px;


// ----------------------------------------------------------------------------------------------------------

.main-proposal-header {
    background: plt('white');

    .logo-tag {
        overflow: hidden;
        width: 100%;
        padding: 0 50px 30px;
    }


    .logo,
    .tagline {
        float: left;
        width: percentage(1 / 2);
    }

    .logo {

        img {
            float: left;
            display: block;
            width: $header-log-v1-width;
            margin: 0;
        }
    }

    .tagline {

        p {
            display: block;
            margin: 0;
            font-family: $sans-serif-font-family;
            font-size: 18pt;
            // font-size: pt-to-px(18);
            line-height: 1.2;
        }
    }
}

