/* stylelint-disable selector-class-pattern */

.preview-interface-view {
  
  // Basic elements
  body {
    background: #ffffff;
    color: #333333;
    font: normal 14px/1.4 Helvetica, Arial, sans-serif;
  }

  a {
    color: #000000;
    text-decoration: none;

    &:hover {
      color: #348eda;
    }
  }

  iframe {
    width: 100%;
    border: 0;
  }

  // Header
  .header {
    position: relative;
    z-index: 2;
    display: table;
    width: 100%;
    box-shadow: 0 0 5px rgba(#000000, 0.4);

    > div {
      display: table-cell;
      padding: 8px 20px;
      vertical-align: middle;
    }
  }

  .header--brand {
    font-size: 22px;
  }

  .header--select {
    text-align: right;
  }

  // Preview Screens
  .preview-ui--full,
  .preview-ui--mobile,
  .preview-ui--mobile__container {
    transition-property: margin, padding, width, opacity;
    transition-duration: $drawer-animation-duration;
    transition-timing-function: linear;
  }

  .preview-ui {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .preview-ui--full {
    float: left;
    width: 100%;
    padding-right: 500px;
  }

  .preview-ui--mobile {
    position: relative;
    float: right;
    width: 500px;
    margin-left: -500px;
    background: #333333;
    text-align: center;

    iframe {
      width: 320px;
      height: 461px;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      margin: 129px 0 0 23px;
    }
  }

  .preview-ui--mobile__container {
    opacity: 1;
    width: 363px;
    height: 711px;
    margin: 20px auto 0;
    background: transparent url('../img/phone.png') no-repeat 50% 0;
    background-size: 363px 711px;
    text-align: left;
  }

  .preview-ui--mobile__toggle {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  // Layout elemnts when mobile drawer is hidden
  .mobile-drawer-hidden {

    .preview-ui--full {
      padding-right: 60px;
    }

    .preview-ui--mobile {
      width: 60px;
      margin-left: -60px;
    }

    .preview-ui--mobile__container {
      opacity: 0;
    }
  }

  // Drawer open toggle (phone)
  .toggle-drawer-open {
    z-index: -1;
    opacity: 0;
    background: transparent url('../img/phone-icon.png') no-repeat 50% 50%;
    background-size: 40px 40px;
    transition: all $drawer-animation-duration ease-in-out;
  }

  .mobile-drawer-hidden {

    .toggle-drawer-open {
      z-index: 2;
      opacity: 1;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  
  // Drawer close toggle (x)
  .toggle-drawer-close {
    z-index: 1;

    &:hover {
      opacity: 0.8;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 4px;
      height: 40px;
      background: #ffffff;
      transition: all $drawer-animation-duration ease-in-out;
      content: '';
    }

    &::before {
      left: 18px;
      transform: rotate(45deg);
    }

    &::after {
      right: 18px;
      transform: rotate(-45deg);
    }
  }

  .mobile-drawer-hidden {

    .toggle-drawer-close {

      &::before,
      &::after {
        opacity: 0;
        width: 1px;
        transform: rotate(0deg);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }
}
