// Some vars here are fine.
$justia-blue: #06357a;
$light-blue: #00b3e3;

// Janky, basic needs reset
@import 'reset-ish';

// Preivew User Interface
@import 'ui';

// Preview "Welcome (default) Screen"
@import 'welcome';

.mockup-mask {
  position: absolute;
  z-index: 10;
  top: $header-size;
  left: 0;
  opacity: 0.3;
  width: 100vw;
  height: calc(100vh - #{$header-size});
  transition: opacity $transition-duration linear;
  user-select: none;
  pointer-events: none;

  &.-hide {
    opacity: 0;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
