
// ----------------------------------------------------------------------------------------------------------
// B U T T O N S
// ----------------------------------------------------------------------------------------------------------

$button-1--dimensions: 240px 64px;
$button-2--dimensions: 420px 64px;

// ----------------------------------------------------------------------------------------------------------

.btn {
    display: inline-block;

    img,
    a {
        display: block;
        width: (nth($button-1--dimensions, 1) / 2);
        height: (nth($button-1--dimensions, 2) / 2);
        margin: 0;
    }

    &.-large {
        img,
        a {
            width: (nth($button-2--dimensions, 1) / 2);
            height: (nth($button-2--dimensions, 2) / 2);
        }
    }

    a {
        text-decoration: none;
    }
}
