// ----------------------------------------------------------------------------------------------------------
// S I M P L E   T E X T   W I D G E T S
// ----------------------------------------------------------------------------------------------------------

$simple-image-size: 150px;

// ----------------------------------------------------------------------------------------------------------

.w-simple-text {
  $_real-desc-width: $simple-image-size + $padding;

  &.-with-image {

    .description {
      width: $inner-max-width - $_real-desc-width;
      padding: 0 0 45px $padding;
    }

    .image {
      width: $_real-desc-width;
      padding: 0 $padding 45px 0;
      text-align: right;
      vertical-align: top;

      img {
        width: $simple-image-size;
      }
    }
  }
}
