---
layout: default.hbs
subject: Proposal
---

{{!-- HEADER --}}
{{> proposalHeader }}

<div class="page set-max-width">    
  <div class="main-content">
    <h4>Dear [Name],</h4>
    <p>We appreciate your interest in premium membership in the Justia and Legal Information Institute (LII) Lawyer Directories. Premium membership gives you increased visibility, enhanced profile features, and traffic statistics.</p>
    <p>Each year, the Justia (https://lawyers.justia.com) and LII (https://lawyers.law.cornell.edu/) Lawyer Directories help several million visitors find lawyers. Our lawyer directories, in conjunction with our website and blog solutions, offer services that assist attorneys in reaching and retaining clients.</p>
    <br>
  </div>
  <div class="main-content cols-pnt-1">
    <h2>Premium Memberships Include:</h2>
    <div class="cols">
      <div class="col cl-1">
        <h4>1. Premium Placements</h4>
        <p>Premium Members receive premium placements that appear above and among the free listings in the Justia and LII directories for heightened visibility. Premium placements are featured for a practice area throughout an entire metro area.</p>
        <p>We offer three levels of premium placement - Gold, Silver, and Bronze - that may be tailored to your specific marketing goals.</p>
      </div>
      <div class="col cl-2">
        <img src="{{ default.image_dir_src }}/proposal-premium-placement-01.png" border="0" width="581" alt="Premium Placements">
      </div>
    </div>
    <br clear="all">
  </div>
  <div class="main-content cols-pnt-2">
    <div class="cols">
      <div class="col cl-1">
        <h4>2. Premium Profile</h4>
        <p>Premium Members receive an upgraded profile with a prominent contact form to make it easy for potential clients to reach you. Competitor ads, which appear in free profiles, are removed from premium profiles.</p>
      </div>
      <div class="col cl-2">
        <img src="{{ default.image_dir_src }}/proposal-premium-profile-02.png" border="0" width="416" alt="Premium Profile">
      </div>
    </div>
    <br clear="all">
  </div>
  <div class="main-content cols-pnt-3">
    <div class="cols">
      <div class="col cl-1">
        <h4>3. Traffic Statistics</h4>
        <p>Lawyers with premium memberships have the ability to view their traffic statistics on the Justia & LII lawyer directories and legal portals.</p>
      </div>
      <div class="col cl-2">
        <img src="{{ default.image_dir_src }}/proposal-traffic-statistics-03.png" border="0" width="563" alt="Traffic Statistics">
      </div>
    </div>
    <br clear="all">
  </div>
  <div class="main-content">
    <br>
    <p>Please feel free to contact me with any questions.</p>
    <p>Thank You! <br> [NAME] <br> Justia & LII Lawyer Directories Team <br> 650­-810-­1990</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>Recommendations for Justia & LII Premium Placements</h2>
    <h4>Option 1 Summary</h4>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="summary-table">
      <thead>
        <tr>
          <th align="left">Items</th>
          <th align="left">Level</th>
          <th align="left">Practice Area</th>
          <th align="left">Metro Area</th>
          <th align="left">Monthly</th>
          <th align="left">Yearly</th>
          <th align="left">3 Years</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>1</td>
          <td>Gold</td>
          <td>Criminal Law</td>
          <td>Longview, TX</td>
          <td align="right">$117.19</td>
          <td align="right">$703.14</td>
          <td align="right">$1,406.28</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Gold</td>
          <td>Estate Planning</td>
          <td>Longview, TX</td>
          <td align="right">58.60</td>
          <td align="right">351.60</td>
          <td align="right">703.20</td>
        </tr>
        <tr class="odd">
          <td>1</td>
          <td>Gold</td>
          <td>Probate</td>
          <td>Longview, TX</td>
          <td align="right">58.60</td>
          <td align="right">351.60</td>
          <td align="right">703.20</td>
        </tr>
        <tr>
          <td colspan="4" align="right">Subtotal</td>
          <td align="right">234.39</td>
          <td align="right">1,406.34</td>
          <td align="right">2,812.68</td>
        </tr>
        <tr class="odd">
          <td>1 Free</td>
          <td>Gold</td>
          <td>Probate</td>
          <td>Longview TX</td>
          <td align="right">(58.60)</td>
          <td align="right">(351.60)</td>
          <td align="right">(703.20)</td>
        </tr>
        <tr class="odd">
          <td colspan="4" align="right">Multi-Badge Discount Subtotal</td>
          <td align="right">175.79</td>
          <td align="right">1,054.74</td>
          <td align="right">2,109.48</td>
        </tr>
        <tr>
          <td colspan="4" align="right">One Time $ Discount | Additional XX% Discount</td>
          <td align="right"><strong>(100)</strong></td>
          <td align="right"><strong>(100)</strong></td>
          <td align="right"><strong>(100)</strong></td>
        </tr>
        <tr>
          <td colspan="4" align="right">Total</td>
          <td align="right"></td>
          <td align="right"></td>
          <td align="right"></td>
        </tr>
        <tr>
          <td colspan="4" align="right"><strong>(IF DIFFERENT THAN TOTAL) Renewal Total</strong></td>
          <td align="right"><strong>$175.79</strong></td>
          <td align="right"><strong>$1,054.74</strong></td>
          <td align="right"><strong>$2,109.48</strong></td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <h4>One Year and Three Year Savings</h4>
    <p><strong>One Year Fees</strong> ($1,054.74) are a savings of <strong>50%</strong> over the Total <strong>Monthly Fees</strong> paid for 12 months ($2,109.48)</p>
    <p><strong>Three Year Fees</strong> ($2,109.48) are a savings of <strong>33%</strong> over the <strong>Yearly Fees</strong> paid for 3 years ($3164.22) and <strong>66.6%</strong> savings over the <strong>Monthly Fees</strong> paid for 36 months ($6,328.44).</p>
    <br>
    <h4>Metro Areas Included Counties</h4>
    <p><strong>Longview, TX Metro Area</strong> includes: Gregg, Rusk, & Upshur Counties</p>
  </div>
</div>
