{{!
  Notification Block
  Params:
    date:   (string) unescaped Date of the current newslatter
}}
<div class="main-proposal-header set-max-width">
  <div class="logo-tag">
    <div class="logo">
      <a href="https://www.justia.com/" target="_blank"><img src="{{ default.header.logo.url }}" alt="{{ default.header.logo.alt }}" border="0" width="208" /></a>
    </div>
    <div class="tagline align-right">
      <p><strong>Justia & LII Directories</strong></p>
      <p><strong>Services Proposal</strong></p>
    </div>
  </div>
</div>
