<div class="btn {{class}}">
    <a href="{{url}}" target="_blank">
        {{#if moreWhite}}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-more-01.png" alt="Read More" border="0" />
        {{/if}}
        {{#if moreBlue}}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-more-02.png" alt="Read More" border="0" />
        {{/if}}
        {{#if mailusWhite}}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-mailus-01.png" alt="Mail Us" border="0" />
        {{/if}}
        {{#if mailusBlue}}
        <img src="https://justatic.com/v/1/emails/images/newsletters/common/button-mailus-02.png" alt="Mail Us" border="0" />
        {{/if}}
    </a>
</div>