{{!--
    Version: 1.0.0
--}}


<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/print.css" rel="stylesheet" type="text/css" data-embed />
<link href="../src/css/main.css" rel="stylesheet" type="text/css" data-embed />
</head>
<body>
    {{ body }}
</body>
</html>
