{{!--
    Version: 1.0.0
--}}


<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<stylecustom type="text/css">
/* CLIENT-SPECIFIC STYLES */
body,
table,
td,
a {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

table,
td {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}

img {
    -ms-interpolation-mode: bicubic;
}

/* RESET STYLES */
img {
    max-width: 100%;
    border: 0;
    line-height: 100%;
    outline: none;
    text-decoration: none;
}

table {
    border-collapse: collapse !important;
}

body {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

.ios-links-black a {
    color: #000000 !important;
    text-decoration: none !important;
}
.ios-links-white a {
    color: #ffffff !important;
    text-decoration: none !important;
}

a[href^=tel] {
    color: currentColor !important;
    text-decoration: none !important;
}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] {
    margin: 0 !important;
}

/* EXTERNAL CLASS FIX FOR Outlook.com */
.ExternalClass {
    width: 100%;
    line-height: 100%;
}

.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
    line-height: 100%;
}
</stylecustom>
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    {{ body }}
</body>
</html>
