
<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/preserve.css" rel="stylesheet" type="text/css" data-embed />
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
<link href="../src/css/OpenSansFamily.css" rel="stylesheet" type="text/css" data-embed />
{{!-- <!--[if !mso]><!-- -->
<linkcustom href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<!--<![endif]--> --}}
</head>
<body>
    {{ body }}
</body>
</html>
