// ----------------------------------------------------------------------------------------------------------
// T E C H   N E W S   W I D G E T
// ----------------------------------------------------------------------------------------------------------

$news-widgets: (
  'tech-news': plt('bright-green'),
  'seo-news': plt('bright-blue'),
  'social-media-news': plt('orange'),
  'legal-industry-news': plt('mail', 'shamrock')
);

// ----------------------------------------------------------------------------------------------------------

.w-stories-list {
  @each $widget-class, $color in $news-widgets {

    &.-#{$widget-class} {
      @include change-widget-title-style($color, false);

      a {
        color: $color;
      }
    }
  }

  &.-jurispro {

    sup {
      @include mail-font($line-height: 1);
    }

    .featured-story {
      padding: 0 $padding 45px;

      .description,
      .image {
        padding: 0 0 45px;
        border-bottom: 1px solid plt('mail', 'black-haze');
        vertical-align: middle;
      }

      .description p {
        @include mail-font(20px);
      }
    }
  }
}
