
// ----------------------------------------------------------------------------------------------------------
// G L O B A L   R E S E T S
// ----------------------------------------------------------------------------------------------------------

body {
    -webkit-font-smoothing: antialiased;
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
    font-family: $sans-serif-font-family;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: plt('science-blue');
}

img {
    display: block;
}

.set-max-width {
    width: 100%;
    max-width: $max-width;
}

.contactus {
    padding: 0 $padding 20px;
    text-align: center;

    // .tagline { }

    .phone {
        line-height: 1.3 !important;
        font-size: 18px !important;
    }
}

.expiration {
    padding: 0 $padding 25px;
    text-align: center;
    
    p {
        font-size: 12px !important;
    }
}
