
// ----------------------------------------------------------------------------------------------------------
// G L O B A L   R E S E T S
// ----------------------------------------------------------------------------------------------------------

body {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
    font-family: $sans-serif-font-family;
    -webkit-font-smoothing: antialiased;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    td {
        text-align: left;
    }
}

h1,
h2,
h4 {
    margin: 0;
}

p {
    margin: 0;
    // font: $font-weight--normal 16px/22px $sans-serif-font-family;
    font: 16px/1.5 $sans-serif-font-family;
}

a {
    color: plt('catalina-blue');
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
}

.set-max-width {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}

.contactus {
    padding: 0 $padding 20px;
    text-align: center;

    // .tagline { }

    .phone {
        font: 18px/1.3 $sans-serif-font-family !important;
    }
}

.expiration {
    padding: 0 $padding 25px;
    text-align: center;

    p {
        font: 12px/1.5 $sans-serif-font-family !important;
    }
}
