   
// ----------------------------------------------------------------------------------------------------------
// G R A N T E D   C A S E S
// ----------------------------------------------------------------------------------------------------------

.w-cases {

    .widget-content {

        > td {
            padding: 0 $padding 40px;
        }
    }

    .cases {
        table-layout: fixed;

        .-info,
        .-subject {

            p {
                font: 14px/1.5 $sans-serif-font-family;
            }
        }

        .-info {

            td {
                padding-bottom: $padding;
            }

            &.last {
                td {
                    padding-bottom: 0;
                }
            }

            hr {
                display: block;
                height: 1px;
                border: 0;
                margin-top: $padding;
                background: plt('silver');
                color: plt('silver');
                font-size: 1px;
            }
        }

        .-desc {

            td {
                padding: 10px 0;
            }
        }

        .last-case {

            td {
                padding-top: $padding;
                padding-bottom: 0;
            }
        }
    }
}
