
// ----------------------------------------------------------------------------------------------------------
// D I V I D E R S
// ----------------------------------------------------------------------------------------------------------

.label-divider {
    width: 100%;

    .label {
        padding: 20px 0 15px;
    }

    p {
        color: plt('black');
        font: $font-weight--bold 22px/22px $sans-serif-font-family !important;
    }
}
