
// ----------------------------------------------------------------------------------------------------------
// H E A D L I N E S
// ----------------------------------------------------------------------------------------------------------

.headline {
    width: 100%;

    .label {
        width: 100%;
        padding: 30px 0 5px;
    }

    p {
        color: plt('tundora');
        font-family: $sans-serif-font-family;
        font-size: 22px;
        font-weight: $font-weight--bold;
        line-height: 24px;
    }
}

.intro--message {

    a {
        text-decoration: none;
    }

    p {
        margin-bottom: $padding;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
