/// ---------------------------
// 
// Version: 1.0.0
// 
/// ---------------------------


// ----------------------------------------------------------------------------------------------------------
// D I V I D E R S
// ----------------------------------------------------------------------------------------------------------

$divider-selector: '.divider';

// ----------------------------------------------------------------------------------------------------------

.label-divider {
    width: 100%;

    .label {
        padding: 20px 0 15px;
    }

    p {
        font-family: $sans-serif-font-family;
        font-size: ft-exist(22px);
        font-weight: $font-weight--bold;
        line-height: 22px;
        color: plt('black');
    }
}
